body, html {
    width: 100% !important;
    height: auto !important;
}

.not-for-screen {
    display: block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white !important;
}

#header, #leftBar, .hideInPrint {
    display: none !important;
}

.dhis2-table-striped-border {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
  table-layout: fixed;
}

.dhis2-table-striped-border tr th {
  border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
  border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
  background-color: #ebf0f6
}

.dhis2-table-striped>thead>tr,
.dhis2-table-striped>tbody>tr,
.dhis2-table-striped>tfoot>tr,
.dhis2-table-striped>thead>tr,
.dhis2-table-striped>tbody>tr,
.dhis2-table-striped>tfoot>tr {
  border-bottom: 1px solid #cad5e5;
}

.dhis2-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
  background-color: #ebf0f6
}

.dhis2-list-table-striped {
  width: 100%;
  padding: 5px 10px;
  table-layout: fixed;
}

.dhis2-list-table-striped>thead>tr,
.dhis2-list-table-striped>tbody>tr,
.dhis2-list-table-striped>tfoot>tr,
.dhis2-list-table-striped>thead>tr,
.dhis2-list-table-striped>tbody>tr,
.dhis2-list-table-striped>tfoot>tr {
  border: none;
}

.dhis2-list-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
  background-color: #ebf0f6
}

table.table-striped tr.selected > td {
  background-color: #d9edf7;;
}

table.table-striped tr td.optionset {
  padding-left: 0px;
  padding-right: 0px;
}

.vertical-spacing{
  margin-top: 50px;
  margin-bottom: 50px;
}


.align-center {
  text-align: center;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc
}

.section {
  font-size: 20px;
}

.attritbute-name {
  width:50%;
}