.ux-ic-icon-0 {
    background-image:url(ux-ic-icon-0.png) ! important;
}
.ux-ic-icon-0-title {
    background:url(ux-ic-icon-0.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-1 {
    background-image:url(ux-ic-icon-1.png) ! important;
}
.ux-ic-icon-1-title {
    background:url(ux-ic-icon-1.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-2 {
    background-image:url(ux-ic-icon-2.png) ! important;
}
.ux-ic-icon-2-title {
    background:url(ux-ic-icon-2.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-3 {
    background-image:url(ux-ic-icon-3.png) ! important;
}
.ux-ic-icon-3-title {
    background:url(ux-ic-icon-3.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-4 {
    background-image:url(ux-ic-icon-4.png) ! important;
}
.ux-ic-icon-4-title {
    background:url(ux-ic-icon-4.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-5 {
    background-image:url(ux-ic-icon-5.png) ! important;
}
.ux-ic-icon-5-title {
    background:url(ux-ic-icon-5.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-6 {
    background-image:url(ux-ic-icon-6.png) ! important;
}
.ux-ic-icon-6-title {
    background:url(ux-ic-icon-6.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-7 {
    background-image:url(ux-ic-icon-7.png) ! important;
}
.ux-ic-icon-7-title {
    background:url(ux-ic-icon-7.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-8 {
    background-image:url(ux-ic-icon-8.png) ! important;
}
.ux-ic-icon-8-title {
    background:url(ux-ic-icon-8.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-9 {
    background-image:url(ux-ic-icon-9.png) ! important;
}
.ux-ic-icon-9-title {
    background:url(ux-ic-icon-9.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-10 {
    background-image:url(ux-ic-icon-10.png) ! important;
}
.ux-ic-icon-10-title {
    background:url(ux-ic-icon-10.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-11 {
    background-image:url(ux-ic-icon-11.png) ! important;
}
.ux-ic-icon-11-title {
    background:url(ux-ic-icon-11.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-12 {
    background-image:url(ux-ic-icon-12.png) ! important;
}
.ux-ic-icon-12-title {
    background:url(ux-ic-icon-12.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 5px 50%;
    width: 22px;
    height: 16px;
}
.ux-icon-combo-input {
    color: #ffffff;
    z-index: -1;
    padding-left: 8px;
}

.x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 5px 50% ! important;
    color: #f6f6f6;
    height: 16px;
    padding-left: 50px;
}
