#set( $size = $object.size() )
{ "maps": [
#foreach( $map in $object )
  {
    "id": $!{map.id},
    "mapLayerPath": "$!encoder.jsonEncode( ${map.mapLayerPath} )",
    "organisationUnitLevel": $!{map.organisationUnitLevel.level}
  }#if( $velocityCount < $size ),#end
#end
] }