#set( $size = $object.size() )
{ "periodTypes": [
#foreach( $periodType in $object )
  {
    "id": $!{periodType.id},
    "name": "$!encoder.jsEncode( ${periodType.name} )"
  }#if( $velocityCount < $size ),#end
#end
] }
