#set( $size = $object.size() )
{ "periods": [
#foreach( $period in $object )
  {
    "id": $!{period.id},
    "startDate": "$!format.formatDate( ${period.startDate} )",
    "endDate": "$!format.formatDate( ${period.endDate} )"
  }#if( $velocityCount < $size ),#end    
#end
] }
