#set( $size = $object.size() )
{ "indicators": [
#foreach( $indicator in $object )
  {
    "id": "$!{indicator.id}",
    "name": "$!encoder.jsEncode( ${indicator.name} )",
    "shortName": "$!encoder.jsEncode( ${indicator.shortName} )"
  }#if( $velocityCount < $size ),#end
#end
] }