#set( $size = $object.size() )
{ "indicators": [
#foreach( $indicator in $object )
  {
    "id": $!{indicator.id},
    "name": "$!encoder.jsEncode( ${indicator.name} )"
  }#if( $velocityCount < $size ),#end
#end
] }