
<h3>$i18n.getString( "data_locking_form" ) #openHelp( "dataLocking" )</h3>
	
<form id="lockingForm" name="lockingForm" action="collectiveDataLocking.action" method="post" onsubmit="return validateCollectiveDataLockingForm()">
	<table>
		<tr>
			<td valign="top">
				<table valign="top">
					<tr><th>$i18n.getString( "period_type" )</th></tr>
					<tr>
						<td>
							<select id="periodTypeId" name="periodTypeId" style="min-width:325px" onchange="getPeriods()">
								<option value="null">[ $i18n.getString( "select_period_type_all" ) ]</option>
								#foreach ( $periodType in $periodTypes )
								  <option value="$periodType.name"#if( $currentPeriodTypeId == $type.name ) selected="selected"#end>$periodType.name</option>
								#end
							</select>
						</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr><th>$i18n.getString( "available_periods" )</th></tr>
					<tr>	
						<td>	
							<select id="periodId" name="periodId" multiple="multiple" style="min-width:325px;height:11.25em" disabled="true">
							</select>
						</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr><th>$i18n.getString( "available_datasets" )</th></tr>
					<tr>
						<td>
							<select id="dataSetIds" name="dataSetIds" multiple="multiple" style="min-width:325px;height:12.5em" ondblclick="#" disabled="true"></select>				
						</td>
					</tr>
				</table>
			</td>	  
			<td>&nbsp;</td>
			<td>
				<table>
					<tr><th>$i18n.getString('organisation_unit')</th></tr>
					<tr>
						<td>
							<input type="submit" value="$i18n.getString( "select_all_at_level" )" onclick="setClickedButtonElementValue(this)" style="width:12em">
							<select id="levelId" name="levelId" style="width:12em" >
                                #foreach ( $orgUnitLevel in $orgUnitLevels )
                                   <option value="$orgUnitLevel.level" >$orgUnitLevel.name</option>
                                #end
                            </select>
							<input type="submit" value="$i18n.getString( "unselect_all_at_level" )" onclick="setClickedButtonElementValue(this)" style="width:12em">
							 <select id="selectionValue" name="selectionValue" onlclick="" enabled="true">
                                        <option value="selected" selected>Selected</option>
                                        <option value="Childtree">Child Tree</option>
                             </select>   							    
						</td>							
					</tr>
					<tr>
						<td>
							<input type="submit" value="$i18n.getString( "select_all_in_group" )" onclick="setClickedButtonElementValue(this)" style="width:12em">
							<select id="orgGroup" name="orgGroup" style="width:12em" >
								 #foreach ( $orgUnitGroup in $orgUnitGroups )
									 <option value="$orgUnitGroup.id">$orgUnitGroup.name</option>
								 #end
							</select>
							<input type="submit" value="$i18n.getString( "unselect_all_in_group" )" onclick="setClickedButtonElementValue(this)" style="width:12em">
						</td>
		
					</tr>
				<tr>
					<td>
					<div id="selectionTree" style="width:45em;height:28em;overflow:auto;border:1px solid #cccccc"></div>	
					</td>
				</tr>	
				<tr>
					<td>
						<input type="submit"   onclick="setClickedButtonElementValue(this)" id="Lock" name ="Lock"  value="$i18n.getString( "lock" )" style="width:10em" disabled="true">
                        <input type="submit" onclick="setClickedButtonElementValue(this)" id="Unlock"  name ="Unlock"    value="$i18n.getString( "unlock" )"  style="width:10em" disabled="true"> 
					</td>
				</tr>
				<tr>
					<td>
						 <span id="message"></span>
						 <input type="hidden" id="selectBetweenLockUnlock" name="selectBetweenLockUnlock">
					</td>
				</tr>							
			</table>		
		</td>			
	</tr>
</table>		
</form>
							 
<script type="text/javascript">
    selectionTreeSelection.setMultipleSelectionAllowed( true );
    selectionTreeSelection.setOnSelectFunction( treeClicked );
    selectionTreeSelection.setListenerFunction( selectCompleted );
    selectionTree.clearSelectedOrganisationUnits();
    selectionTree.buildSelectionTree();

	var i18n_loading = '$encoder.jsEncode( $i18n.getString( "loading" ) )';
	var i18n_organisation_unit_not_selected = '$encoder.jsEscape( $i18n.getString( "organisation_unit_not_selected" ) , "'")';
	var i18n_period_not_selected = '$encoder.jsEscape( $i18n.getString( "period_not_selected" ) , "'")';
	var i18n_dataset_not_selected = '$encoder.jsEscape( $i18n.getString( "dataset_not_selected" ) , "'")';
	var i18n_lock = '$encoder.jsEscape( $i18n.getString( "lock" ) , "'")';
	var i18n_unlock = '$encoder.jsEscape( $i18n.getString( "unlock" ) , "'")';
	var i18n_select_all_at_level = '$encoder.jsEscape( $i18n.getString( "select_all_at_level" ) , "'")';
	var i18n_unselect_all_at_level = '$encoder.jsEscape( $i18n.getString( "unselect_all_at_level" ) , "'")';
	var i18n_select_all_at_group = '$encoder.jsEscape( $i18n.getString( "select_all_in_group" ) , "'")';
    var i18n_unselect_all_at_group = '$encoder.jsEscape( $i18n.getString( "unselect_all_in_group" ) , "'")';
</script>
