<style>

	div#drillDownMenu
	{
	  position: absolute;
	  display: none;
	}
	
	th.formatLabel
	{
	  text-align: center;
	}

</style>

<h3>$!encoder.htmlEncode( $grid.title )</h3>

<h5>$!encoder.htmlEncode( $grid.subtitle )</h5>

<h6>$i18n.getString( "navigation" )</h6>

<!-- ORGANISATIONUNIT -->
#if ( $mode == "OU" )
<div>
	<a href="displayDataBrowserForm.action">$i18n.getString( "start" )</a>
	#foreach( $parent in $BreadCrumbOrgUnit )
		#if( $parent.name == $ParentName )
			&raquo; <span style="font-weight:bold;">$parent.name</span>
		#else
			&raquo; <a style="$tmpStyle" href="?mode=$mode&amp;periodTypeId=$periodTypeId&amp;fromDate=$fromDate&amp;toDate=$toDate&amp;showZeroCheckBox=$!showZeroCheckBox&amp;selectedUnitChanger=$parent.id">$parent.name</a>
		#end
	#end
</div>

<!-- DATAELEMENTGROUP -->
#elseif ( $mode == "DEG" )
<div>
	<div style="margin:0 0 10px 0;">
	<a href="displayDataBrowserForm.action">$i18n.getString( "start" )</a>
	#if( $parent != "" )
		&raquo; <a style="$tmpStyle" href="?mode=DEG&amp;periodTypeId=$periodTypeId&amp;fromDate=$fromDate&amp;toDate=$toDate&amp;showZeroCheckBox=$!showZeroCheckBox">$i18n.getString( "data_element_group_list" )</a>
		&raquo; <span style="font-weight:bold;">$ParentName</span>
	#else
		&raquo; <span style="font-weight:bold;">$i18n.getString( "data_element_group_list" )</span>
	#end
	</div>
</div>

<!-- ORGANISATIONUNITGROUP -->
#elseif ( $mode == "OUG" )
<div>
	<div style="margin:0 0 10px 0;">
	<a href="displayDataBrowserForm.action">$i18n.getString( "start" )</a>
	#if( $parent != "" )
		&raquo; <a style="$tmpStyle" href="?mode=OUG&amp;periodTypeId=$periodTypeId&amp;fromDate=$fromDate&amp;toDate=$toDate&amp;showZeroCheckBox=$!showZeroCheckBox">$i18n.getString( "orgunit_group_list" )</a>
		&raquo; <span style="font-weight:bold;">$ParentName</span>
	#else
		&raquo; <span style="font-weight:bold;">$i18n.getString( "orgunit_group_list" )</span>
	#end
	</div>
</div>

<!-- DATASET -->
#elseif ( $mode == "DS" )
<div>
	<div style="margin:0 0 10px 0;">
	<a href="displayDataBrowserForm.action">$i18n.getString( "start" )</a> 
	#if( $parent != "" )
		&raquo; <a style="$tmpStyle" href="?mode=DS&amp;periodTypeId=$periodTypeId&amp;fromDate=$fromDate&amp;toDate=$toDate&amp;showZeroCheckBox=$!showZeroCheckBox">$i18n.getString( "data_set_list" )</a>
		&raquo; <span style="font-weight:bold;">$ParentName</span>
	#else
		&raquo; <span style="font-weight:bold;">$i18n.getString( "data_set_list" )</span>
	#end
	</div>
</div>

#else
<div>
	<a href="displayDataBrowserForm.action">$i18n.getString( "start" )</a>
</div>
#end

<div>
	<form id="exportForm" method="get" action="exportResult.action">
		$i18n.getString( "export_to" ):
		<select id="type" name="type">
			<option value="csv">$i18n.getString( "CSV" )</option>
			<option value="pdf" selected="selected">$i18n.getString( "PDF" )</option>
			<option value="xls">$i18n.getString( "Excel" )</option>
		</select>
		<input type="submit" value="$i18n.getString( 'export' )" style="width:100px"/>
	</form>
</div>
<br/>
<!-- Data Browser Grid -->

#parse( "/dhis-web-maintenance-dataadmin/dataBrowserGrid.vm" )