
<h3>$i18n.getString( "data_administration" )</h3>

<ul class="introList">
    #introListItem( "displayDataBrowserForm.action" "data_browser" )
    #introListItem( "displayDataIntegrityForm.action" "data_integrity" )
    #introListItem( "displayMaintenanceForm.action" "maintenance" )
    #introListItem( "displayResourceTableForm.action" "resource_table" )
    #introListItem( "displayOrganisationUnitMergeForm.action" "organisation_unit_merge" )
    #introListItem( "displayDuplicateDataEliminationForm.action" "duplicate_data_elimination" )
    #introListItem( "viewStatistics.action" "data_statistics" )
    #introListItem( "displayLockingForm.action" "data_locking" )
    #introListItem( "zeroValueStorageManagement.action" "dataelement_zero_storage_management" ) 
    #introListItem( "showCache.action" "cache_statistics" )
</ul>
    