<h3>$i18n.getString( "data_locking_form" )</h3>

<span id="message"></span>	

<form id="lockingForm" name="lockingForm" action="defineLockOnDataSetOrgunitAndPeriod.action" method="post">
	
<table width="730">
    
    <colgroup>
        <col width="325">
        <col width="80">
        <col width="325">
    </colgroup>
       
    <!-- Period type -->
    
    <tr>
        <th>$i18n.getString( "period_type" )</th>
        <td></td>
        <th>$i18n.getString( "available_periods" )</th>
    </tr>
    <tr>
        <td>
            <select id="periodTypeId" name="periodTypeId" style="min-width:325px" onchange="getPeriods()">
                <option value="null">[ $i18n.getString( "select_period_type_all" ) ]</option>
                #foreach ( $type in $periodTypes )
                    <option value="$type.name"#if( $currentPeriodTypeId == $type.name ) selected="selected"#end>$type.name</option>
                #end
            </select>
        </td>
        <td></td>
        <td>
            <select id="periodId" name="periodId" style="min-width:325px" onchange="getDataSets()" disabled="true">
                <option value="null">[ $i18n.getString( "select_period_all" ) ]</option>                
            </select>
        </td>
    </tr>
    <tr>
        <td height="5px"></td>
    </tr>
    <tr>
        <td height="5px"></td>
    </tr>
    
    <!-- DataSets -->
    
    <tr>
        <th>$i18n.getString( "unlocked_datasets" )</th>
        <td></td>
        <th>$i18n.getString( "locked_datasets" )</th>
    </tr>  
    <tr>        
        <td>
            <select id="unlockedDataSets" name="unlockedDataSets" multiple="multiple" style="min-width:325px;height:8em" ondblclick="moveSelectedById( 'unlockedDataSets', 'lockedDataSets' )" disabled="true">
                #foreach( $dataSet in $unlockedDataSets )
                    <option value="$dataSet.id">$dataSet.name</option>
                #end
            </select>
        </td>
        <td align="center">
            <input type="button" id="button1"  value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:40px" onclick="moveSelectedById( 'unlockedDataSets', 'lockedDataSets' )"><br>
            <input type="button" id="button2"  value="&lt;" title="$i18n.getString( 'move_all' )" style="width:40px" onclick="moveSelectedById( 'lockedDataSets', 'unlockedDataSets' )"><br>      
            <input type="button" id="button3"  value="&gt;&gt;" title="$i18n.getString( 'remove_selected' )" style="width:40px" onclick="moveAllById( 'unlockedDataSets', 'lockedDataSets' )"><br>
            <input type="button" id="button4"  value="&lt;&lt;" title="$i18n.getString( 'remove_all' )" style="width:40px" onclick="moveAllById( 'lockedDataSets', 'unlockedDataSets' )">
        </td>
        <td>
            <select id="lockedDataSets" name="lockedDataSets" multiple="multiple" style="min-width:325px;height:8em" ondblclick="LoadOrgUnitTree()" disabled="true">
                #foreach( $dataSet in $lockedDataSets )
                    <option value="$dataSet.id">$dataSet.name</option>
                #end
            </select>
        </td>
    </tr> 
    
    <!-- OrganisationUnit -->
	<tr>
        <td colspan="3" height="15"></td>
    </tr>
	<tr>
    	<table> 
			<tr>
				<td>
                	<input type="button" id="button5" value="$i18n.getString( "apply_lock_on_all" )" onclick="ApplyAll()" style="width:11em" disabled="true">                
    				<input type="button" id="button6" value="$i18n.getString( "remove_all" )" onclick="RemoveAll()" style="width:11em" disabled="true">             
    				<input type="button" id="button7" value="$i18n.getString( "select_all_at_level" )" onclick="lockAllAtLevel()" style="width:12em" disabled="true">      		
                    <select id="levelList" name="levelList" style="width:13em" disabled="true">
                    	#foreach( $level in $levels )
                    		<option value="$level.level" #if ( $selectLevel == $level.level )selected="selcted"#end>$encoder.htmlEncode( $level.name )</option>
                    	#end
                    </select> 			
                	<input type="button" id="button8" value="$i18n.getString( "unselect_all_at_level" )" onclick="unLockAllAtLevel()" style="width:12em" disabled="true">      		
				</td>
			</tr>
			<tr>
				<td>
					<input type="button" id="submitButton" value="$i18n.getString( 'save' )" style="width:30em"  onclick="updateDataSetsOrgunitwise()" disabled="true">									
					<input type="button" id="button9" value="$i18n.getString( 'cancel' )" style="width:30em"  onclick="cancilSelection()" disabled="true">
				</td>
			</tr>
            <tr>
                <td colspan="3" height="15"></td>
            </tr>
            <tr>
                <th colspan="3">$i18n.getString( "organisation_units_lock" )</th>
            </tr>
            <tr>
                <td colspan="3">
                    <iframe name="iframeForOUTree" id="iframeForOUTree" width="740px" height="230px" frameborder="0">	   
					</iframe>          
                </td>
            </tr>
        </table>
	</tr>
     
</table>
</form>

