<script type="text/javascript">
	jQuery(document).ready( function(){
		// Override the listener after tree loaded succesfully
		selectionTreeSelection.setListenerFunction( treeSelected );
	});

	var i18n_confirmation = '$encoder.jsEscape( $i18n.getString( "prune_organisation_unit_confirmation" ), "'" )';
    var i18n_pruning = '$encoder.jsEscape( $i18n.getString( "pruning" ), "'" )';
	var i18n_not_selected = '$encoder.jsEscape( $i18n.getString( "not_selected" ), "'" )';
    var i18n_pruning_done = '$encoder.jsEscape( $i18n.getString( "pruning_done" ), "'" )';
    var i18n_pruning_interrupted = '$encoder.jsEscape( $i18n.getString( "pruning_interrupted" ), "'" )';
</script>

<h3>$i18n.getString( "organisation_unit_pruning" )</h3>

<table>
	<tr><td>#organisationUnitSelectionTree( true, false, false )</td></tr>
</table>
<br/>
<table>
    <col style="width:2em"/>
    <col/>
    <tr>
        <td rowspan="3" style="text-align:center;background-color:#ccffcc"></td>
        <th>$i18n.getString( "select_the_org_unit_to_keep" )</th>
    </tr>
    <tr>
        <td><span id="keepNameField">[$i18n.getString( "not_selected" )]</span></td>
    </tr>
    <tr>
        <td><input id="pruneButton" type="button" value="$i18n.getString( 'prune' )" onclick="pruneOrganisationUnit()" style="width:10em" disabled="disabled" /></td>
    </tr>
</table>

<p><span id="message"></span></p>
