<?xml version="1.0" encoding="UTF-8"?>
<dataelements>
  <dataelement>
    <organisationUnitName>$organisationUnit.getName()</organisationUnitName>
    <organisationUnitId>$organisationUnit.getId()</organisationUnitId>
  </dataelement>
</dataelements>