<?xml version="1.0" encoding="UTF-8"?>
<attribute>
  <id>$attribute.id</id>
  <name>$encoder.xmlEncode( $attribute.name )</name>
  <valueType>$encoder.xmlEncode( $attribute.valueType )</valueType>
  <mandatory>$attribute.mandatory</mandatory>
  <dataelement>$attribute.dataElement</dataelement>
  <indicator>$attribute.indicator</indicator>
  <organisationunit>$attribute.organisationUnit</organisationunit>
</attribute>
