
<h3>$i18n.getString( "search_results_for" ) $searchOption ${parentName}</h3>

    <span id="info">
    	$i18n.getString( "request_returned_in" ): ${requestTime} $i18n.getString( "ms" ). 
    	$i18n.getString( "query_took" ): ${queryTime} $i18n.getString( "ms" ). 
    	$i18n.getString( "number_of_queries_executed" ): ${queryCount}.
    </span>
	
    <p>
        <input type="button" onclick="javascript: history.go(-1)" value="$i18n.getString( 'back' )" style="width:120px">
    </p>
    
	<p>
	#if ( $fromDate == "" || $toDate == "" )
	    <strong>$i18n.getString( "from_date" ):</strong> $i18n.getString( "earliest" ) 
	    <strong>$i18n.getString( "to_date" ):</strong> $i18n.getString( "latest" ) 
	    <strong>$i18n.getString( "period_type" ):</strong> $periodTypeId
	#else
	    <strong>$i18n.getString( "from_date" ):</strong> $fromDate
	    <strong>$i18n.getString( "to_date" ):</strong> $toDate 
	    <strong>$i18n.getString( "period_type" ):</strong> $periodTypeId
	#end
	</p>
	
#if ( $allCounts.isEmpty() )
	<br/><br/>
	$i18n.getString( "no_data_found" )
#else	
	<table>
	<thead>
		<tr>
		#foreach ( $col in $allColumns )
			<th title="$col.metaValue">$col.name</th>
		#end
		</tr>
	</thead>
	<tbody>
		#set ( $rowIt = $rowNamesIterator )
		#foreach ( $col in $allCounts )
			#set ( $rowMeta = $rowIt.next() )
			<tr>
			#if ( $rowMeta.id && !$tmpParent && $searchOption!="OrganisationUnit")
				<td style="min-width:200px"><a href="searchResult.action?searchOption=$searchOption&parent=$rowMeta.id&periodType=$periodTypeId&toDate=$toDate&fromDate=$fromDate">$rowMeta.name</a></td>
			#else
				<td style="min-width:200px">$rowMeta.name</td>
			#end
			#foreach ( $rowItem in $col )
				<td style="min-width:80px">#if ( $rowItem > 0 )$rowItem #else<span style="color:red;font-weight:bold;">$rowItem</span> #end</td>
			#end
			</tr>
		#end
	</tbody>
	</table>	
#end
  
