<script type="text/javascript">
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_sqlview" ) , "'")';
</script>

<h3>$encoder.htmlEncode( $i18n.getString( "sql_view_management" ) ) #openHelp( "sqlView" )</h3>
<table>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td>$i18n.getString( "filter_by_name" ): <form style="display:inline" action="none" onsubmit="return false"><div style="inline"><input type="text" onkeyup="filterValues( this.value )" style="width:300px"/></div></form></td>
					<td align="right"><input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddSqlViewForm.action'" style="width:100px"/></td>
				</tr>
			</table>
			<table width="100%" class="listTable">
				<thead>		
					<tr>
						<th style="width:70em;">$i18n.getString( "sql_statement" )</th>
						<th style="width:145px;">$i18n.getString( "operations" )</th>
					</tr>
				</thead>
				<tbody id="list">
					#foreach( $sqlViewObject in $sqlViewObjectList )
					<tr id="tr${sqlViewObject.id}">
						<td onclick="showSqlViewDetails( $sqlViewObject.id )">$!encoder.htmlEncode( $sqlViewObject.sqlQuery )</td>
						<td><a href="javascript:runSqlViewQuery( $sqlViewObject.id )" title="$i18n.getString( 'run' )"><img src="../images/start_process.png" alt="$i18n.getString( 'run' )"/></a>
						<a href="javascript:showDataSqlViewForm( $sqlViewObject.id )" title="$i18n.getString( 'view' )"><img src="../images/view_sections.png" alt="$i18n.getString( 'view' )"/></a>
						<a href="showUpdateSqlViewForm.action?id=$sqlViewObject.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"/></a>
						<a href="javascript:removeSqlViewObject( $sqlViewObject.id, '$encoder.jsEncode( $sqlViewObject.name )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/></a>
						<a href="javascript:showSqlViewDetails( $sqlViewObject.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"/></a></td>
					</tr>
					#end
				</tbody>                
			</table>

		</td>
		<td style="width:10em; padding-left:2em; vertical-align:top">
			
			<div id="detailsInfo" style="display:none;">
				<table width="100%">
					<tr style="background-color:#3F5D8E; color:#FFFFFF">
						<td colspan='2'><strong>$i18n.getString('details')</strong>
						<a href="javascript:hideById('detailsInfo'); unLockScreen();" title="$i18n.getString( 'hide_details' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_details' )" align="right"/></a>
						</td>
					</tr>
					<tr>
						<td><strong>$i18n.getString( "name" ):</strong></td>
						<td id="nameField"></td>
					</tr>
					<tr>
						<td><strong>$i18n.getString( "description" ):</strong></td>
						<td id="descriptionField"></td>
					</tr>
					<tr>
						<td><strong>$i18n.getString( "sql_statement" ):</strong></td>
						<td id="sqlQueryField"></td>
					</tr>
				</table>
			</div>
			
			<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
				<div style="float:right">
					<a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_warning' )"/></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>

		</td>
	</tr>
</table>
