<script type="text/javascript">
	jQuery(document).ready(	function()
	{
		var rules = getValidationRules("attributeOption");

		validation2( 'updateAttributeOptionForm', function( form ){ form.submit(); },
		{
			'rules': rules
		});

		checkValueIsExist( "name", "validateAttributeOption.action", {id: $attributeOption.id} );
	});
</script>

<h3>$i18n.getString( "edit_attribute_option" )</h3>

<form id="updateAttributeOptionForm" action="updateAttributeOption.action" method="post" >
<input type="hidden" id="id" name="id" value="$!attributeOption.id"/>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $!attributeOption.name )" style="width:20em"/></td>
	</tr>

	<tr>
		<td colspan="2">
			<input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='attributeOption.action'" style="width:10em"/>
		</td>
	</tr>
</table>

</form>
