<script type="text/javascript" src="javascript/lockException.js"></script>

<h3>$i18n.getString( "edit_lock_exception" )</h3>

<form id="updateLockExceptionForm" action="updateLockException.action" method="post" >
<input type="hidden" id="lockExceptionId" name="lockExceptionId" value="$lockException.id"/>
<input type="hidden" id="organisationUnitId" name="organisationUnitId" value="$lockException.organisationUnit.id"/>

<table>
	<col style="width: 100px"/>
	<col/>

    <tr>
        <td>#organisationUnitSelectionTree( false, false, true )</td>
    </tr>

    <tr>
        <td>
            <select id="dataSets" name="dataSetId" style="width: 100%;">
                #foreach( $dataSet in $dataSets )
                    #if( $dataSet.id == $lockException.dataSet.id )
                        <option selected="selected" value="$dataSet.id">$encoder.htmlEncode( $!dataSet.name )</option>
                    #else
                        <option value="$dataSet.id">$encoder.htmlEncode( $!dataSet.name )</option>
                    #end
                #end)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <select id="periods" name="periodId" style="width: 100%;">
                #foreach( $period in $periods )
                    #if( $period.externalId == $lockException.period.externalId )
                        <option selected="selected" value="$period.externalId">$encoder.htmlEncode( $!period.name )</option>
                    #else
                        <option value="$period.externalId">$encoder.htmlEncode( $!period.name )</option>
                    #end
                #end)
            </select>
        </td>
    </tr>

	<tr>
		<td colspan="2">
			<br/>
			<input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='lockException.action'" style="width:10em"/>
		</td>
	</tr>
</table>

</form>
