<script type="text/javascript">
jQuery(function() {
	/* make sure that the leftBar is always visible when entering page. */
	leftBar.showAnimated()
});
</script>

<h3>$i18n.getString( "settings" )</h3>

<ul class="introList">
    #introListImgItem( "userGeneralSettings.action" "user_general_settings" "usersettings" )
    #introListImgItem( "userMessageSettings.action" "user_message_settings" "usersettings" )
</ul>
    
