{
"applicationTitle": "$!encoder.htmlEncode( $!translations.get( "applicationTitle" ) )",

#set($strKeyApplicationIntro =  $!translations.get( "keyApplicationIntro" ) )
#set($strKeyApplicationIntro = $strKeyApplicationIntro.replaceAll( "'", '&#39;' ) )
"keyApplicationIntro": "$!encoder.jsEncode( $strKeyApplicationIntro )",

#set($strKeyApplicationNotification =  $!translations.get( "keyApplicationNotification" ) )
#set($strKeyApplicationNotification = $strKeyApplicationNotification.replaceAll( "'", '&#39;' ) )
"keyApplicationNotification": "$!encoder.jsEncode( $strKeyApplicationNotification )",

#set($strKeyApplicationFooter =  $!translations.get( "keyApplicationFooter" ) )
#set($strKeyApplicationFooter = $strKeyApplicationFooter.replaceAll("'", '&#39;') )
"keyApplicationFooter": "$!encoder.jsEncode( $strKeyApplicationFooter )"
}
