<table cellspacing="0" cellpadding="0">
<tr>

#if( $maintenanceModules && $maintenanceModules.size() > 0 )
<td valign="top">
<ul class="introList" style="width:340px; margin-top:0px; margin-right:15px;">
#foreach( $module in $maintenanceModules )
	#if( $module.name!='dhis-web-dataentry-hospital' )
		#introListImgItem( "${module.defaultAction}" "${module.name}" "${module.name}" )
	#end
#end
</ul>
</td>
#end

#if( $serviceModules && $serviceModules.size() > 0 )
<td valign="top">
<ul class="introList" style="width:340px; margin-top:0px;">
#foreach( $module in $serviceModules )
	#if( $module.name!='dhis-web-dataentry-hospital' )
		#introListImgItem( "${module.defaultAction}" "${module.name}" "${module.name}" )
	#end
#end
</ul>
</td>
#end

</tr>
</table>
