<!DOCTYPE HTML>
<html>
    <head>
        <title>$!encoder.htmlEncode( ${applicationTitle} )</title>
        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="../javascripts/jQuery/jquery.cookie.js"></script>
        <script type="text/javascript" src="login.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/widgets.css">
        <link type="text/css" rel="stylesheet" href="../css/login.css">
    </head>
    <body>
    	<h1 style="display:none">$!encoder.htmlEncode( ${applicationTitle} )</h1>
    	<div style="display:none">DHIS 2</div>
        <div>       
        #if ( $keyFlag )
            <img id="flagArea" src="../flags/$!{keyFlagImage}">
        #end
        #if ( $applicationTitle )
            <span id="titleArea">$!encoder.htmlEncode( ${applicationTitle} )</span>
        #end        
        #if ( $keyApplicationIntro )
            <span id="introArea">$!{keyApplicationIntro}</span>
        #end
        </div>
        #if ( $keyConfig.selfRegistrationAllowed() )
        <div id="accountArea">
        	<a id="createAccountButton" class="greenButtonLink" href="account.action">Create an account</a>
        </div>
        #end
        <div id="loginField">
            <div id="bannerArea"><a href="http://www.dhis2.org"><img src="logo_front.png" style="border:none"></a></div>
            
            <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
                <div>
                    <div><label id="usernameLabel" for="j_username">Username</label></div>
                    <div><input type="text" id="j_username" name="j_username"></div>
                    <div><label id="passwordLabel" for="j_password">Password</label></div>
                    <div><input type="password" id="j_password" name="j_password" autocomplete="off"></div>
                </div>
                <div id="submitDiv">
                	<input id="submit" class="button" type="submit" value="Login">
                	#if( $keyAccountRecovery )<a id="forgotPasswordLink" href="recovery.action" style="padding-left: 18px">Forgot password?</a>#end
                </div>
                <div style="padding-top: 10px">                	
                	#if( $keyConfig.selfRegistrationAllowed() )<a id="createAccountLink" href="account.action">Create an account</a>#end
                </div>
            </form>
            #if( $failed == true )
            <span id="loginMessage">Wrong username or password</span>
            #end
            #if ( $keyApplicationNotification )
            <div id="notificationArea">$!{keyApplicationNotification}</div>
            #end
        </div>
        <div id="footerArea">
        	<span id="poweredByLabel">Powered by</span>
        	<a href="http://www.dhis2.org">DHIS 2</a>&nbsp;
        	$!{keyApplicationFooter}

        	<select id="localeSelect" onchange="login.localeChanged()" style="margin-left: 30px">
        		<option value="">[ Change language ]</option>
        		#foreach( $locale in $availableLocales )
        		<option value="${locale.language}">${locale.displayLanguage}</option>
		        #end
	        </select>

        </div>
    </body>
</html>
