<html>

<head>
<title>DHIS 2</title>

<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" href="../css/login_mobile.css" />

</head>

<body>

<div id="wrap">

<div id="header">
	<img src="logo_banner.png" alt="DHIS2" width="120" height="36">
</div>

<div id="content">
<form id='loginForm' action="../../dhis-web-commons-security/login.action" method="POST">

<div class="header-box">
	<h3>Login</h3>
	<p>
		<label>Username</label> <input type="text" id="j_username" name="j_username" size="24"> <br />
		<label>Password</label> <input type="password" id="j_password" name="j_password" size="24"> <br />
	</p>
</div>

<div class="header-box">
	<p>
		<input type="submit" style="width: 48%" value="Login"/>
		<input type="reset" style="width: 48%" value="Reset"/>
	</p>
</div>

</form>
</div>
</div>

#if( $failed == true )
<p style="color: #eee;">
	Wrong username or password. Please try again.
</p>
#end

</body>
</html>
