<body onLoad="javascript:init();">
<input id="mapFileName" type="hidden" value="$mapFile.mapFile"/>
<div id="mapDiv" >
	<div id="topMapMenu">		
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:showHideLabel();">[Label]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:showHideDiv('legend');">[Legend]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomIn();" title="Zoom In">[ + ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomOut();" title="Zoom Out">[ - ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:retoreZoom();" title="Retore">[ ~ ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="#" onclick="showDropDown('mapRender');" title="$i18n.getString( 'map_render' )">[ < ]</a>	
	</div>
	<div id="divMap">
	 <embed id="map" src="map/$mapFile.mapFile" name="map" type="image/svg+xml" align="center"/>
	</div>	
</div>	

<script type="text/javascript">
		
	var paddingTop = document.getElementById( "mapDiv" ).offsetTop;
	
	var windowHeight = window.innerHeight;
	
	var windowWidth = window.innerWidth;
	
	var frameHeight = windowHeight - paddingTop - 10;	
	
	document.getElementById( "mapDiv" ).style.height = frameHeight +"px";		
		
</script>
<div id='information'>		
	<div class="closeButton" onclick="hideById('information');">[x]</div>	
	<div id='informationDetails' ></div>
</div>
	
<div id="mapRender">
	<div class="closeButton" onclick="hideDropDown();">[x]</div>
	<table width="100%">					
		<tr>
			<td><label>$i18n.getString( "indicator_group" )</label></td>
			<td colspan=2>
					<select id="indicatorGroupId" name="indicatorGroupId" style="max-width:200px;min-width:200px" onChange="javascript:getIndicators();" #if(!$organisationUnit) disabled="disabled" #end>
						<option value="all">[$i18n.getString( "ALL" )]</option>
						#foreach( $indicatorGroup in $indicatorGroups)
							<option value="$indicatorGroup.id" #if( $indicatorGroupId && $indicatorGroup.id == $indicatorGroupId ) selected="selected" #end>$encoder.htmlEncode( $indicatorGroup.name )</option>
						#end
					</select>
			</td>
		
		</tr>
		<tr>
			<td><label>$i18n.getString( "indicator" )</label></td>
			<td colspan=2>
					<select id="indicatorId" name="indicatorId" style="max-width:200px;min-width:200px" #if(!$organisationUnit) disabled="disabled" #end>									
					
					</select>
			</td>		
		</tr>
		#if($getIndicatorFrom=='aggregation_service')
		<tr>
			<td><label>$i18n.getString( "start_date" )</label></td>
			<td>
				<input type="text" id="startDate" name="startDate" style="width:200px"/>
				<img src="../images/calendar_icon.gif" width="16" height="16" id="startDateButton" style="cursor: pointer;" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
			</td>
		</tr>
		<tr>
			<td><label>$i18n.getString( "end_date" )</label></td>
			<td>
				<input type="text" id="endDate" name="endDate" style="width:200px"/>
				<img src="../images/calendar_icon.gif" width="16" height="16" id="endDateButton" style="cursor: pointer;" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
			</td>
		</tr>
		<script>
			Calendar.setup({
			inputField     :    "startDate",      // id of the input field
			ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
			button         :    "startDateButton"   // trigger for the calendar (button ID)
			});
			
			Calendar.setup({
				inputField     :    "endDate",      // id of the input field
				ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
				button         :    "endDateButton"   // trigger for the calendar (button ID)
			});
		</script>
		#else		
		<tr>
			<td><label>$i18n.getString( "period_type" )</label></td>
			<td>
				<select id="periodTypeId" name="periodType" style="max-width:200px;min-width:200px" onChange="javascript:getPeriods();" #if(!$organisationUnit) disabled="disabled" #end>
					<option value="ALL">[$i18n.getString( "ALL" )]</option>
					#foreach( $pt in $periodTypes)
					<option value="$pt.name" #if( $periodType && $periodType.name == $pt.name ) selected="selected" #end>$encoder.htmlEncode( $pt.name )</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<td><label>$i18n.getString( "period" )</label></td>
			<td>
				<select id="periodId" name="periodId" style="max-width:200px;min-width:200px" #if(!$organisationUnit) disabled="disabled" #end>									
					#foreach( $pe in $periods)
						<option value="$pe.id" #if( $period && $period.id == $pe.id ) selected="selected" #end >
						$format.formatPeriod( $pe )</option>
					#end
				</select>
			</td>
		</tr>		
		#end	
		
	</table>
	<p align="center">
		<input type='button' class="mapButton" value="$i18n.getString( 'map_render' )" onClick="javascript:renderMap();" #if(!$organisationUnit) disabled="disabled" #end/>
		<input id="image" type='button' class="mapButton" disabled="true" onclick="javascript:exportRaster();" title="$i18n.getString( 'image' )" value="$i18n.getString( 'image' )"/>
		<input id="excel" type='button' class="mapButton" disabled="true" onclick="javascript:exportExcel();" title="$i18n.getString( 'excel' )" value="$i18n.getString( 'excel' )"/>
	</p>	
</div>

<div id="legend">
	<div class="closeButton" onclick="showHideDiv('legend');">[x]</div>
	<div id="legendDetails"></div>
</div>

<script type="text/javascript">			
			
		getIndicators();		
		
		var indicatorValueFrom = '$getIndicatorFrom';
		var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete" ) , "'" )';
		var i18n_startdate_null = '$encoder.jsEscape( $i18n.getString( "startdate_null" ) , "'" )';
		var i18n_enddate_null = '$encoder.jsEscape( $i18n.getString( "endate_null" ) , "'" )';
		var i18n_organisation = '$encoder.jsEscape( $i18n.getString( "organisation_unit" ) , "'" )';
		var i18n_indicator = '$encoder.jsEscape( $i18n.getString( "indicator" ) , "'" )';
		var i18n_startdate = '$encoder.jsEscape( $i18n.getString( "start_date" ) , "'" )';
		var i18n_enddate = '$encoder.jsEscape( $i18n.getString( "end_date" ) , "'" )';
		var i18n_value = '$encoder.jsEscape( $i18n.getString( "value" ) , "'" )';
		var i18n_indicator_null = '$encoder.jsEscape( $i18n.getString( "indicator_null" ) , "'" )';
		var i18n_period_null = '$encoder.jsEscape( $i18n.getString( "period_null" ) , "'" )';
		
		
		
		
		 $(document).ready(function(){
			$("#mapRender").draggable(); 
			$("#legend").draggable(); 
			$("#information").draggable(); 
			
		});
		
		var left = windowWidth - 400 - 20;
	
		byId('mapRender').style.left = left + "px";	
		
		function organizationUnitSelected( orgUnits )
		{
		   window.location.reload();
		}

		selection.setListenerFunction( organizationUnitSelected );
		
</script>

	

<div id="alert" style="position:absolute;background-color:#FFFFFF;border:thin #0000FF solid;height:100px;width:200px;display:none;z-index:1;">
<table width="100%" height="100%" border="0">
  <tr align="center">
    <td></td>
  </tr>
</table>
</div>
</body>
   


