<div id="topMapMenu">
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:popupAsignMap();">[$i18n.getString( 'assignunit_map' )]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:showHideLabel();">[Label]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomIn();" title="Zoom In">[ + ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomOut();" title="Zoom Out">[ - ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:retoreZoom();" title="Retore">[ ~ ]</a>
	</div>
<div id="mapDiv" >	
	<div id="divMap">
	 <embed id="map" src="" name="map" type="image/svg+xml" align="center"/>
	</div>		
</div>
<script type="text/javascript">
		
	var paddingTop = document.getElementById( "mapDiv" ).offsetTop;
	
	var windowHeight = window.innerHeight;
	
	var windowWidth = window.innerWidth;
	
	var frameHeight = windowHeight - paddingTop - 10;	
	
	document.getElementById( "mapDiv" ).style.height = frameHeight +"px";			
			
</script>


<script language="javascript">
	getSVGFileByOrganisation();
	
	selection.setListenerFunction( getSVGFileByOrganisation );
	
	function popupAsignMap(){
	
		window.location = "popupAsignWindow.action";
	}	
	
</script>




