
<h3>$i18n.getString('view_report')</h3>
	
<form id="reportForm" name="reportForm" action="" method="post">	

<table width="430">

  <colgroup>
  	<col width="170">
 	<col width="230">
 	<col width="30">
  </colgroup>	

  <tr>
  	<td><label for="reportType">$i18n.getString( "report_type" )</label></td>
  	<td><input type="radio" id="reportType" name="reportType" value="0" onclick="listDesigns()"#if ( $reportType == 0 ) checked#end> $i18n.getString( "generic_standard" )<br>
  	  	<input type="radio" id="reportType" name="reportType" value="1" onclick="listDesigns()"#if ( $reportType == 1 ) checked#end> $i18n.getString( "organisation_unit_spesific" )</td>
  	<td></td>
  </tr>
  
  <tr>
  	<td><label for="report">$i18n.getString( "design" )</label></td>
  	<td>
  	  <select id="report" name="report" style="width:230px">
    	<option value="">[ $i18n.getString( "select_design" ) ]</option>>
		<option value="hcm_quan_huyen">$i18n.getString( "hcmc_mother_program_district" )</option>
		<option value="hcm_benh_vien">$i18n.getString( "hcmc_mother_program_hospital" )</option>
		<option value="hcm_nhi_thang">$i18n.getString( "hcmc_monthly_child_program" )</option>
		<option value="hcm_nhi_quy">$i18n.getString( "hcmc_quaterly_child_program" )</option>
		<option value="hcm_nhi_nam">$i18n.getString( "hcmc_yearly_child_program" )</option>
		#foreach ( $design in $designs )
	  	  <option value="$design"
	  	  #if ( $report == $design ) selected="selected"#end
	  	  >$encoder.htmlEncode( $design )</option>
    	#end
  	  </select>
	</td>
	<td></td>
  </tr>
  
  <tr>
  	<td><label for="startDate">$i18n.getString('start_date') ($i18n.getString( "format.date.label" ))</label></td>
  	<td><input type="text" id="startDate" name="startDate" value="$!startDate" style="width:230px"></td>  	
	<td><img src="../images/calendar_icon.gif" width="16" height="16" id="getStartDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''"></td>
  </tr>
  
  <tr>
  	<td><label for="endDate">$i18n.getString('end_date') ($i18n.getString( "format.date.label" ))</label></td>
  	<td><input type="text" id="endDate" name="endDate" value="$!endDate" style="width:230px"></td>
	<td><img src="../images/calendar_icon.gif" width="16" height="16" id="getEndDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''"></td>
  </tr>
  
  <script type="text/javascript">
    Calendar.setup({
        inputField     :    "startDate",      // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getStartDate"   // trigger for the calendar (button ID)
    });
	
	Calendar.setup({
        inputField     :    "endDate",      // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getEndDate"   // trigger for the calendar (button ID)
    });
  </script>
  
  <tr>
  	<td></td>
  	<td><input type="button" value="$i18n.getString( "preview" )" style="width:115px" onclick="previewReport()"><input type="button" value="$i18n.getString( "generate" )" style="width:115px" onclick="generateReport()"></td>
  	<td></td>
  </tr>
  
  <tr>
  	<td colspan="3" height="40"></td>
  </tr>

</table>

</form>

<span id="message"#if ( $message ) style="display:block"#end>$!message</span>
