
<h3>$i18n.getString('manage_report')</h3>

<form id="reportForm" name="reportForm" action="" method="post">
  	
  <input type="hidden" id="report" name="report">
  
  <table width="500">
  	
  	<colgroup>
  	  <col width="170">  		
	  <col width="330">
  	</colgroup>
		
  	<tr>
  	  <td><label for="reportName">$i18n.getString('report_name')</label></td>
  	  <td><input type="text" id="reportName" name="reportName" style="width:230px"></td>
  	</tr>
  	<tr>
  	  <td><label for="reportType">$i18n.getString( "report_type" )</label></td>
  	  <td><input type="radio" id="reportType" name="reportType" value="0" checked> $i18n.getString( "generic_standard" )<br>
  	  	  <input type="radio" id="reportType" name="reportType" value="1"> $i18n.getString( "organisation_unit_spesific" )</td>
	</tr>
  	<tr>
  	  <td></td>
  	  <td><input type="button" value="$i18n.getString('add_report')" style="width:230px" onclick="addReport()"></td>
	</tr>
  	
  	<tr>
  	  <td height="30" colspan="2"></td>	
	</tr>
	
  </table>
  
  <table width="500">
  	
    <colgroup>
  	  <col width="410">
      <col width="45">
      <col width="45">
    </colgroup>
      
    <tr>
      <th>$i18n.getString('report')</th>
      <th colspan="2">$i18n.getString('operation')</th>
    </tr>
		
    #foreach ( $rep in $reports )
    <tr #if( $mark ) style="background-color:#dddddd" #end>
      <td height="20">$encoder.htmlEncode( $rep )</td>
      <td align="center"><a href="#" onclick="loadReport('$encoder.jsEncode( $rep )')"><img src="../images/design.png" border="0" alt=""></a></td>	      
      <td align="center"><a href="#" onclick="deleteReport('$encoder.jsEncode( $rep )')"><img src="../images/delete.png" border="0" alt=""></a></td>
    </tr>
		
    #if( $mark )
      #set( $mark = false )
    #else
      #set( $mark = true )
    #end		
	#end
	
  </table>
  
</form>

<script type="text/javascript">
	var confirm_to_delete_report = '$encoder.jsEscape( $i18n.getString( "confirm_to_delete_report" ) , "'" )';
</script>