<div id="excelformula" style="display:none">
	<textarea id="elementSelect" cols="90" rows="15"></textarea>	
	<br>
	<br>
	<center>
		<input type="button" value="$i18n.getString('ok')" onclick="updateExExpression()" style="width:100px"/>		
		<input type="button" value="$i18n.getString('cancel')" onclick="hideById('excelformula'); unLockScreen();" style="width:100px"/>
	</center>
</div>

<script>
	function updateExExpression()
	{
		expression = jQuery( '#excelformula textarea[id=elementSelect]' ).val();		
		hideById('excelformula'); 
		unLockScreen();
	}
	
	function excelFormulaExpressionBuilderForm()
	{		
		setFieldValue( 'excelformula textarea[id=elementSelect]', getFieldValue('expression') );
		
		showPopupWindowById( 'excelformula', 500, 290 );
	}	
	
</script>
