
/*----------------------------------------------------------------------------*/
/* Dashboard                                                                  */
/*----------------------------------------------------------------------------*/

.contentProviderTable
{
  width:305px;
}

.contentProviderTable td
{
  padding-top:3px;
  padding-bottom:3px;
  border-bottom:1px solid #cad5e5;
}

.linkArea
{
  border:1px solid #d0d0d0;
  padding:1px;
  height:196px;
  width:305px;
  overflow:hidden;
  margin-bottom:15px;
}

.linkArea div
{
  position:absolute;
}

.linkArea div
{
  position:absolute;
}

.chartArea
{
  border:1px solid #d0d0d0;
  padding:1px;
  height:310px;
  width:310px;
  overflow:hidden;
  margin-bottom:15px;
}

.chartArea div
{
  position:absolute;
}

.buttonArea
{
  margin-bottom:2px;
}

.labelText
{
  color:#888;
  padding:3px;
}

/*----------------------------------------------------------------------------*/
/* Message                                                                    */
/*----------------------------------------------------------------------------*/

.plainList
{
  border-collapse:collapse;
}

.plainList td
{
  border-bottom:1px solid #c0c0c0;
  cursor:pointer;
}

.unread td
{
  background-color:#ebf0f6;
}

.messageDiv
{
  width:50%;
  border-bottom:1px solid #cccccc; 
  margin-bottom:15px;
  padding-bottom:15px;
}

.messageBottomDiv
{
  width:50%;
  border-top:1px solid #cccccc; 
  margin-top:20px;
  padding-top:15px;
  margin-bottom:20px;
  padding-bottom:15px;
}

.page a
{
  text-decoration:none;
  color:#3567cd;
}

.page a:hover
{
  text-decoration:underline;
}

.page a:visited
{
  color:#3567cd;
}

div#selectionTree 
{
  height:200px;
}

.grey
{
  color: #555;
}

/*----------------------------------------------------------------------------*/
/* Interpretation                                                             */
/*----------------------------------------------------------------------------*/

#interpretationFeed
{
  width: 550px;
  border-top: 1px solid #ccc;
}

#shareLink
{
  color: #777;
  font-size: 11pt;
  margin-bottom: 9px;
}

.interpretation
{
  width: 550px;
  border-bottom: 1px solid #ccc;
  padding: 22px 10px 16px 10px;
}

.interpretationName
{
  margin-bottom: 7px;
}

.interpretationText
{
  margin-bottom: 18px;
}

.interpretationChart
{
  margin-bottom: 12px;
}

.interpretationCommentArea
{
  margin-top: 10px;
  padding: 18px 20px 14px 20px;
  background-color: #f2f3f4;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.commentArea
{
  height: 18px;
  width: 370px;
  border: 1px solid #ccc;
  resize: none;
  overflow: auto;
  padding: 4px 0px 0px 6px;
}

.commentButton
{
  width: 120px;
  height: 24px;
  margin: 1px 0 0 5px;
  float: right;
}

.pointer
{
  cursor:pointer;
}

