<script>
    $(function () {
        $('.activateButton').click(function () {
            if (confirm('Are you sure you want to activate this facility?')) {
                var id = $(this).parent().parent().find('.facility-id').text();

                $.ajax({
                    url: 'facility-service/' + id + '/activate',
                    type: 'POST',
                    async: false
                }).complete(function () {
                    window.location.reload();
                });
            }
        });

        $('.deactivateButton').click(function () {
            if (confirm('Are you sure you want to de-activate this facility?')) {
                var id = $(this).parent().parent().find('.facility-id').text();

                $.ajax({
                    url: 'facility-service/' + id + '/deactivate',
                    type: 'POST',
                    async: false
                }).complete(function () {
                    window.location.reload();
                });
            }
        });
    });
</script>

<style>
/*
    .table > tbody > tr:hover {
        background-color : #f5f5f5;
    }
*/
</style>

<div class="btn-group pull-right">
    <a href="facilities.json" class="btn btn-small btn-info" style="margin-bottom: 5px;">
        <span class="icon-white icon-download-alt"> </span> JSON
    </a>

    <!-- future feature
    <button id="mapFacilities" disabled="disabled" class="btn btn-small btn-info" style="margin-bottom: 5px;">
        <span class="icon-white icon-map-marker"> </span> Show in map
    </button>
    -->
</div>

<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
        #foreach( $facility in $entity.facilities )
        <tr>
            <td class="facility-name"><a href="$facility.url">$facility.name</a></td>

            <td class="facility-actions" style="width: 1px;">
                <div class="btn-group">
                    #if( $facility.active )
                        <button style="width: 44px;" class="deactivateButton btn btn-mini btn-success" title="Deactivate Facility">
                            <span class="icon-white icon-ok-circle"> </span>
                        </button>
                    #else
                        <button style="width: 44px;" class="activateButton btn btn-mini btn-inverse" title="Activate Facility">
                            <span class="icon-white icon-ban-circle"> </span>
                        </button>
                    #end
                    <button disabled="disabled" style="width: 42px;" class="deleteButton btn btn-mini btn-danger" title="Delete Facility">
                        <span class="icon-white icon-trash"> </span>
                    </button>
                </div>
            </td>
        </tr>
        #end
    </tbody>
</table>
