
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    #foreach( $facility in $entity.facilities )
    <tr>
        <td>$facility.id</td>
        <td>$facility.name</td>
        <td>$facility.active</td>
        <td>[ ACTIONS ]</td>
    </tr>
    #end
    </tbody>
</table>
