
<script type="text/javascript" >
	jQuery(document).ready( function(){
		document.getElementById("amountAvail").value = '$amountAvailable';
		adjustPer();
	});
	var total = 0.0;
	
</script>

<script >

</script>
<style >
	.mandatory
	{
		color:red;
		font-size: 1.5em;
	}
</style>

<input type="hidden" id="dataElementId" name="dataElementId" value="$!selecteddataElement.id"/>
<div style="width:95%;" id="paymentTable">
<table style="width:100%;" id="paymentDetails" name="paymentDetails" cellspacing="0" class="formSection">
	<thead >
		<tr bgcolor="#CBDDEB">
			<th >$i18n.getString( "indicator" )</th>
			<th >$i18n.getString( "quantity_for" )</th>
			<th >$i18n.getString( "Tariff" )</th>			
			<th >$i18n.getString( "amount" )</th>
			<th >$i18n.getString( "amount_including_quality" )</th>
			<th >$i18n.getString( "adjusted_per" )</th>
			<th >$i18n.getString( "adjusted_per" )</th>
        </tr>
	</thead>
	<tbody>
		#set( $mark = false )
		
		#foreach( $dataElement in $dataElements )
			#if( $mark )
                #set( $mark = false )
			#else
				#set( $mark = true )
			#end
			
            <tr #if( $mark ) bgcolor = "#FFFFFF" #else bgcolor="#E0ECF8" #end>
				<td>$!dataElement.name</td>
				<td>$!pbfQtyMap.get( $dataElement.id )</td>
				<td>$!pbfTariffMap.get( $dataElement.id )</td>
				#set( $tariffVal = $!pbfQtyMap.get( $dataElement.id ) * $!pbfTariffMap.get( $dataElement.id ) )
				<td>$tariffVal</td>
				<td>$!overAllQualityScore</td>
				<td id="adjusted_$dataElement.uid">&nbsp;</td>
	            <td>&nbsp;</td>		            		
        </tr>
        <script>
        	function calValue()
        	{
        		var adjusted = $("#adjustment").val();
        		var amount = '$!pbfTariffMap.get( $dataElement.id )';
        		var adjustedPer = 0.0;
        		adjustedPer = (parseFloat(amount)/parseFloat(adjusted))*100
        		$('#adjusted_$dataElement.uid').text(adjustedPer.toFixed(2));
        	}
        	calValue();
        </script>
		#end
		<tr>
			<td>&nbsp; </td>						
			<td colspan="2" >Unadjusted Amount </td>
			<td colspan="2"><input type="text" name="total" id="total" value="$!unAdjustedAmount"/></td>			
			<td>&nbsp; </td>
			<td>&nbsp; </td>
		</tr>
    </tbody>
</table>
</div>