
<script type="text/javascript" >
	jQuery(document).ready( function(){
		document.getElementById("amountAvail").value = '$amountAvailable';
		adjustPer();
	});
	var total = 0.0;
	
</script>

<script >

</script>
<style >
	.mandatory
	{
		color:red;
		font-size: 1.5em;
	}
</style>

<input type="hidden" id="dataElementId" name="dataElementId" value="$!selecteddataElement.id"/>
<div style="width:95%;" id="paymentTable">
<table style="width:100%;" id="paymentDetails" name="paymentDetails" cellspacing="0" class="formSection">
	<thead >
		<tr bgcolor="#CBDDEB">
			<th >$i18n.getString( "indicator" )</th>
			<th >$i18n.getString( "quantity_for" )</th>
			<th >$i18n.getString( "Tariff" )</th>			
			<th >$i18n.getString( "amount" )</th>
			<th >$i18n.getString( "amount_including_quality" )</th>
			<th >$i18n.getString( "adjusted_tariff" )</th>
			<th >$i18n.getString( "adjusted_amount" )</th>
			<th >$i18n.getString( "adjusted_amount_including_quality" )</th>
        </tr>
	</thead>
	<tbody>
		#set( $mark = false )
		
		#foreach( $dataElement in $dataElements )
			#if( $mark )
                #set( $mark = false )
			#else
				#set( $mark = true )
			#end
			
            <tr #if( $mark ) bgcolor = "#FFFFFF" #else bgcolor="#E0ECF8" #end>
				<td>$!dataElement.name</td>
				<td id="pbfQty_$dataElement.id" align="center">$!pbfQtyMap.get( $dataElement.id )</td>
				<td id="pbfTariff_$dataElement.id" align="center">$!pbfTariffMap.get( $dataElement.id )</td>
				#set( $tariffVal = $!pbfQtyMap.get( $dataElement.id ) * $!pbfTariffMap.get( $dataElement.id ) )
				<td id="pbfAmt_$dataElement.id" align="center">$tariffVal</td>
				#set( $pbfAmtIncQS = ( $!tariffVal * $!overAllQualityScore )/100 )
				<td id="pbfAmtIncQS_$dataElement.id" align="center">$!pbfAmtIncQS</td>				
				<td id="adjusted_$dataElement.uid">&nbsp;</td>
	            <td align="center">&nbsp;</td>
	            <td align="center">&nbsp;</td>
            </tr>        
		#end
		
		<tr>
			<td>$i18n.getString( "quality_score" ) : $!overAllQualityScore</td>						
			<td colspan="2">$i18n.getString( "unadjusted_amount" )</td>
			<td><input type="text" name="total" id="total" readonly value="$!unAdjustedAmount"/></td>			
			<td>&nbsp;</td>
			<td colspan="2">$i18n.getString("total_amt_to_pay")</td>
			<td><input type="text" name="total_amt_to_pay" id="total_amt_to_pay" readonly /></td>
		</tr>
    </tbody>
</table>
</div>