<script type="text/javascript" src="/dhis-web-commons/javascripts/feedbackForm.js"></script>
<script type="text/javascript">
	var i18n_enter_message = '$encoder.jsEscape( $i18n.getString( "enter_message" ) , "'")';
</script>

<h3>$i18n.getString( "send_feedback" )</h3>

<form id="messageForm" action="sendFeedback.action" method="post">

<h4>$i18n.getString( "message_to_the_dhis2_development_team" )</h4>

<p><textarea id="userMessage" name="userMessage" style="width:500px; height:140px"></textarea></p>

<h4>$i18n.getString( "error_message_stack_trace" )</h4>

<p><textarea id="stackTrace" name="stackTrace" style="width:500px; height:150px"></textarea></p>

<p>
<table>
<tr>
<td><input type="button" value="$i18n.getString( 'send' )" onclick="validateForm()" style="width:140px"/></td>
<td><input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='$!backUrl'" style="width:140px"/></td>
</tr>
</table>
</p>

</form>

<span id="message"></span>
