
<div class="headerDiv"><span class="header">DHIS 2</span></div>

<!-- Charts -->

<div class="contentDiv">
#foreach( $id in $charts )
<div class="contentChartDiv"><img src="getChart.action?id=${id}" style="width:100%"></div>
#end
</div>

<!-- Report tables -->

<div class="headerDiv"><span class="header">Report tables</span></div>

<div class="contentDiv">
#foreach( $table in $reportTables )
<div class="contentItemDiv" id="reportTable${table.id}" onclick="getReportParams( '${table.id}' )">$encoder.htmlEncode( $table.name )</div>
#end
</div>

<!-- Documents -->

<div class="headerDiv"><span class="header">Documents</span></div>

<div class="contentDiv">
#foreach( $doc in $documents )
#if( $doc.external )
#set( $link = $doc.url )
#else
#set( $link = "../dhis-web-commons-stream/loadDocument.action?id=${doc.id}" )
#end

<div class="contentItemDiv" onclick="javascript:window.location.href='${link}'">$encoder.htmlEncode( $doc.name )</div>
#end
</div>
