
#if( $dataSet.alternativeName )
    #set( $dataSetName = $dataSet.alternativeName )
#else
    #set( $dataSetName = $dataSet.name )
#end

<h2>$encoder.htmlEncode( $dataSetName )</h2>

<div class="header-box" align="center">
#if( $complete == true )
    <h3 style="text-align: left;">$i18n.getString( "form_complete" )</h3>
#end
</div>

#if( $validated == true )
<div class="header-box" align="center">
    <h3 style="text-align: left;">$i18n.getString( "successfully_saved_section" )</h3>
</div>
#end

#*
#if( $validationRuleViolations.size() > 0 )
<div class="header-box" align="center">
    <h3 style="text-align: left; background-color: #990000; color: white;">$i18n.getString("validation_rule_violation_warnings")</h3>
    <p style="text-align: left;">
        #foreach( $validationRuleViolation in $validationRuleViolations )
            $validationRuleViolation <br />
        #end
    </p>
</div>
#end
*#

#if( $complete != true)
<p>
    <ul>
    #if( $dataSet.sections.size() > 0 )
        #foreach( $section in $dataSet.sections )
            <li>
                <a href="dataEntrySection.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSetId&periodId=$periodId&sectionId=$section.id">$i18n.getString( $section.name )</a>
            </li>
        #end
    #else
        <a href="dataEntrySection.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSetId&periodId=$periodId">$i18n.getString( "Default" )</a>
    #end
    </ul>
</p>
#else
<br />
#end

<form method="GET" action="dataEntry.action">

<input type="hidden" id="organisationUnitId" name="organisationUnitId" value="$organisationUnitId" />
<input type="hidden" id="dataSetId" name="dataSetId" value="$dataSetId" />
<input type="hidden" id="periodId" name="periodId" value="$periodId" />

#if( $complete == false )
<div class="header-box" align="center">
    <p>
            <input type="hidden" name="formComplete" value="true" />
            <input type="submit" style="width: 100%;" value="$i18n.getString("form_complete")" />
    </p>
</div>
#end

</form>

<div id="footer">
    <h2>$i18n.getString( "navigate_to" )</h2>
    <ul>
        <li><a href="selectPeriod.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSetId&periodId=$periodId">$i18n.getString("available_periods")</a></li>
        <li><a href="index.action">$i18n.getString("home")</a></li>
    </ul>
</div>
