
<h2>$dataSet.name</h2>

<form action="saveSectionForm.action" method="POST">

<input type="hidden" id="organisationUnitId" name="organisationUnitId" value="$organisationUnitId" />
<input type="hidden" id="dataSetId" name="dataSetId" value="$dataSetId" />
<input type="hidden" id="periodId" name="periodId" value="$periodId" />
<input type="hidden" id="validated" name="validated" value="#if($validated)true#{else}false#end" />

#foreach( $section in $dataSet.sections )
<div class="header-box">
	<h3>$section.name</h3>
	<p>
		#foreach( $dataElement in $section.dataElements)
			#foreach( $optionCombo in $section.categoryCombo.optionCombos )
			#set( $key = "DE${dataElement.id}OC${optionCombo.id}" )
			<label>$dataElement.name $optionCombo.name</label> <input type="number" size="24" name="$key" value="$dataValues.get($key)" /> <br />
			#end
		#end
	</p>
</div>
#end

<div class="header-box">
	<p>
		<input type="checkbox" id="complete" name="complete" value="true" #if($complete)checked="true"#end style="width: 15px;" />
		<label for="complete">DataSet is complete</label>
	</p>
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="Save"/> <br />
	</p>
</div>

</form>
