<html>

<head>
<title>DHIS 2</title>
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<link rel="stylesheet" href="style/light.css" />
</head>

<body>

<div id="wrap">

<div id="header">
	<img src="../dhis-web-commons/security/logo_banner.png" alt="DHIS2" width="120" height="36">
</div>

<div id="content">

#parse( $page )

</div>

<div id="footer">
	<ul>
		<li><a href="../dhis-web-commons-security/logout.action">Logout</a></li>
	</ul>
</div>

</div>

</body>

