<html>

<head>
<title>$i18n.getString("DHIS_2")</title>
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<link rel="stylesheet" href="style/light.css" />
</head>

<body>

<div id="wrap">

<div id="header">
	<a href="index.action" tabindex="-1"><img src="../dhis-web-commons/security/logo_mobile.jpg" alt="DHIS2" width="47" height="20"></a>
</div>

<div id="content" align="center" style="text-align: left;">

#parse( $page )

</div>

<div id="footer">
	<ul>
		<li><a href="../dhis-web-commons-security/logout.action">$i18n.getString("logout")</a></li>
	</ul>
</div>

</div>

</body>

