
<h2>$i18n.getString("menu")</h2>
    

<p>
    <ul>
        <li><a href="dashboard.action">$i18n.getString("dashboard")</a></li>
        <li><a href="selectOrganisationUnit.action">$i18n.getString("data_entry")</a></li>
    </ul>
</p>


<div id="footer">
<ul>
		<li><a href="../dhis-web-commons-security/logout.action">$i18n.getString("logout")</a></li>
	</ul>
</div>