
<h2>$i18n.getString( "menu" )</h2>

<p>
<ul>
    <li><a href="selectOrganisationUnit.action">$i18n.getString( "data_entry" )</a></li>
    <li><a href="dashboard.action">$i18n.getString( "dashboard" )</a></li>
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="../dhis-web-dashboard-integration/index.action">$i18n.getString("desktop_version")</a></li>
	<li><a href="../dhis-web-commons-security/logout.action">$i18n.getString("logout")</a></li>
</ul>
</div>
