
<h2>Available DataSets</h2>

<p>
	<ul>
		#foreach( $dataSet in $dataSets )
		<li><a href="selectPeriod.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSet.id">$!encoder.jsonEncode( ${dataSet.name} )</a></li>
		#end
	</ul>
</p>
