
<h2>Available Periods</h2>

<p>
	<ul>
		#foreach( $period in $periods )
		<li>
			<a href="dataEntry.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSetId&periodId=$period.getExternalId()">$!encoder.jsonEncode( ${period.name} )</a>
			#if( $periodCompletedMap.get($period) )<img src="images/check.jpg" />#end
		</li>
		#end
	</ul>
</p>
