<h2>$i18n.getString( "sms_functions" )</h2>
<ul>
    <li><a href="showSendingSMSForm.action">$i18n.getString( "show_send_sms_form" )</a></li>
	<li><a href="testSMS.action">$i18n.getString( "test_sms_input" )</a></li>
</ul>