{
  "dataElement":
  {
    "name": "$!{encoder.jsEncode( ${dataElement.name} )}",
    "shortName": "$!{encoder.jsEncode( ${dataElement.shortName} )}",
    "code": "$!{encoder.jsEncode( ${dataElement.code} )}",
    "alternativeName": "$!{encoder.jsEncode( ${dataElement.alternativeName} )}",
    "domainType": "$!{encoder.jsEncode( ${dataElement.domainType} )}",
    "type": "$!{encoder.jsEncode( ${dataElement.type} )}",
    "aggregationOperator": "$!{encoder.jsEncode( ${dataElement.aggregationOperator} )}",
    "url": "$!{encoder.jsEncode( ${dataElement.url} )}"    
  }
}