<!DOCTYPE HTML>
<html>
  <head>
    <title>DHIS2 Web API</title>
  </head>
  <body>
    <h1>DHIS2 Web API</h1>
  
    <p><b>Warning: This API is in no way ready for public consumption. Radical changes must be expected at any time!</b></p>

	<p>The api currently supports a specific pilot use case for posting of data value sets.

	<h2>Posting data value sets</h2>
	<p>To find the needed information about the data sets you want to post data about, go to <a href="dataSets">the data set list</a>.</p>

	<p>If you don't want org units listed by data set, there is also the <a href="orgUnits">full list of org units</a></p> 

    <p>Post according to the following template <a href="/api/dataValueSets/">/api/dataValueSets/</a></p>
	<pre>&lt;dataValueSet xmlns="http://dhis2.org/schema/dxf/2.0-SNAPSHOT"
    dataSet="dataSet UUID"
    period="periodInIsoFormat"
    orgUnit="unit UUID"&gt;
    &lt;dataValue dataElement="data element UUID" categoryOptionCombo="UUID, only specify if used" storedBy="string" value="value" /&gt;
    &lt;/dataValueSet&gt;</pre>
  </body>
</html>