<div class="panel panel-default" ng-controller="SchedulingMessagingController" ng-show="schedulingPossible || messagingPossible">
    <div class="panel-heading handle bold">
        <span class="nav-pills" ng-if="schedulingPossible">
            <a href ng-click="showScheduling()" title="{{'show_hide_scheduling'| translate}}">
                <span class="bold" ng-class="{'text-primary': showSchedulingDiv}">{{'scheduling'| translate}}</span>
            </a>
        </span>
        <span class="nav-pills" ng-if="messagingPossible">
            <span ng-if="schedulingPossible">|</span> <a href ng-click="showMessaging()" title="{{'show_hide_messaging'| translate}}">
                <span class="bold" ng-class="{'text-primary': showMessagingDiv}">{{'messaging'| translate}}</span>
            </a>
        </span>

        <span class="pull-right">
            <a class="small-horizonal-spacing" href ng-click="expandCollapse(schedulingMessagingWidget)">
                <span ng-show="schedulingMessagingWidget.expand"><i class="fa fa-chevron-up" title="{{'collapse'| translate}}"></i></span>
                <span ng-show="!schedulingMessagingWidget.expand"><i class="fa fa-chevron-down" title="{{'expand'| translate}}"></i></span>
            </a>
            <a class="small-horizonal-spacing" href ng-click="removeWidget(schedulingMessagingWidget)" title="{{'remove'| translate}}"><i class="fa fa-times-circle"></i></a>            
        </span>        
    </div>

    <div ng-show="schedulingMessagingWidget.expand" class="panel-body dashboard-element-container">        
        <div ng-if="!selectedEnrollment" class="alert alert-warning">{{'not_yet_enrolled_scheduling'| translate}}</div>        
        <div class="remove-default-padding" ng-if="showSchedulingDiv && schedulingPossible">
            <div ng-switch="dhis2Events.length">
                <div ng-switch-when="0" class="alert alert-warning">
                    {{'no_event_to_schedule'| translate}}
                </div>
                <div ng-switch-default>
                    <table class="table table-striped dhis2-table-hover">
                        <tr>
                            <th>{{'event_name'| translate}}</th>
                            <th>{{'due_date'| translate}}</th>
                        </tr>
                        <tr ng-click="showSchedulingDetails(dhis2Event)" ng-repeat="dhis2Event in dhis2Events">                   
                            <td>{{dhis2Event.name}}</td>
                            <td>{{dhis2Event.dueDate}}</td>
                        </tr>
                    </table>
                    <div ng-if="showEventSchedulingDiv">
                        <pre>{{currentEvent}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="remove-default-padding" ng-if="showMessagingDiv && messagingPossible">            
            <div ng-switch="dhis2Events.length">
                <div ng-switch-when="0" class="alert alert-warning add-default-padding">
                    {{'no_event_to_schedule'| translate}}
                </div>
                <div ng-switch-default>
                    <table class="table table-striped dhis2-table-hover">
                        <tr>
                            <th>{{'event_name'| translate}}</th>
                            <th>{{'due_date'| translate}}</th>
                        </tr>
                        <tr ng-click="showSchedulingDetails(dhis2Event)" ng-repeat="dhis2Event in dhis2Events">                   
                            <td>{{dhis2Event.name}}</td>
                            <td>{{dhis2Event.dueDate}}</td>
                        </tr>
                    </table>
                    <div ng-if="showEventSchedulingDiv">
                        <pre>{{currentEvent}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>