<h3>$i18n.getString( "define_associations" )</h3>
<h4>$encoder.htmlEncode( $excelItemGroup.getName() )</h4>
<form name="excelItemGroupAssociation" action="updateExcelItemGroupAssociations.action" method="POST">
<input type="hidden" name="excelItemGroupId" value="$excelItemGroup.id">

	#organisationUnitSelectionTree( false, true, true )	
	<input type="submit" id="submitButton" value="$i18n.getString( "save" )" style="width:10em">
	<input type="button" onclick="window.location.href='listAllExcelItemGroup.action'" value="$i18n.getString( "cancel" )" style="width:10em"></p>
</form>