<h3>$i18n.getString('dataelement_groups')</h3>
<div id="tooltip"></div>
<h4><font color="green">$!encoder.htmlEncode($!importReport.name)</font></h4>
<p></p>
<table width="800px">
	<tr>
		<td colspan=2>
			<input type="button" onclick="openAddDataElementGroupOrder()" value="$i18n.getString('add')" style="width:100px"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location='listAllImportReport.action'" style="width:100px"/>
		</td>
		<td width="100px">
			<input type="button" value="$i18n.getString( 'update_order' )" onclick="updateDataElementGroupOrder()" style="width:150px"/>
		</td>
	</tr>
	<tr>
		<th>$i18n.getString('name')</th>	
		<th width="100px">$i18n.getString('code')</th>			
		<th width="100px">$i18n.getString('operations')</th>		
	</tr>	
</table>

<ul id="sortable"> 
#foreach($group in $importReport.dataElementOrders)
	<li class="ui-state-default" name="dataElementGroupOrder" value="$group.id" title="$i18n.getString( 'sort_order_help' )">		
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>$encoder.htmlEncode( $group.name )</td>
				<td width="100px">$encoder.htmlEncode( $group.code )</td>
				<td width="100px">
					<a href="javascript:deleteDataElementGroupOrder('$group.id');" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/></a>
					<a href="javascript:openUpdateDataElementOrder( '$group.id' );" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"/></a>
					<a href="openSortDataElementForCategory.action?id=$group.id" title="$i18n.getString( 'sort_dataelement' )"><img src="../images/sort.png" border="1px"/></a>
				</td>
			</tr>
		</table>
	</li> 	
#end
</ul> 

<form name="dataElementGroups" method="post">
<input type="hidden" name="id" id="id" value="$importReport.id"/>
<input type="hidden" name="dataElementGroupOrderId" id="dataElementGroupOrderId"/>
<div id="dataElementGroups" style="position:fixed;display:none;width:680px;z-index:10001;background-color: white;border: medium solid silver;height:280px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('dataElementGroups');deleteDivEffect();">[x]</div>	
	<table>
		<tr>
			<td>$i18n.getString('name')</td>
			<td><input type="text" style="width:350px" id="name" name="name" /></td>
		</tr>
		<tr>
			<td>$i18n.getString('code')</td>
			<td><input type="text" style="width:350px" id="code" name="code"/></td>
		</tr>
	</table>		
	
	<br/>
	<div style="width:100%;overflow:auto">
	<table width="100%">		
		<tr>
			<td colspan="3">
				<select id="availableDataElementGroups" onchange="getDataElementsByGroup(this.value)" style="width:400px"></select>				
			</td>			
		</tr>
		<tr>
			<td width="31%">
				<select id="availableDataElements" multiple size=10 style="width:300px" onMouseOut="javascript: hideToolTip();" ondblclick="moveSelectedById('availableDataElements','dataElementIds'); showText('dataElementIds')"></select>
			</td>
			<td width="5%" align="center">
				<input type="button" value="&gt;" onclick="moveSelectedById('availableDataElements','dataElementIds');" style="width:50px"/><br/>
				<input type="button" value="&lt;" onclick="moveSelectedById('dataElementIds' , 'availableDataElements' );" style="width:50px"/><br/>
				<input type="button" value="&gt;&gt;" onclick="moveAllById('availableDataElements' , 'dataElementIds' );" style="width:50px"/><br/>
				<input type="button" value="&lt;&lt;" onclick="moveAllById('dataElementIds' , 'availableDataElements' );" style="width:50px"/>
			</td>
			<td width="64%">
				<select id="dataElementIds" name="dataElementIds" onMouseOut="javascript: hideToolTip();"  multiple size=10 style="width:300px" ondblclick="moveSelectedById('dataElementIds' , 'availableDataElements' ); ; showText('availableDataElements')" ></select>
			</td>
		</tr>
	</table>
	</div>
	
	<p align=center>
		<input type="button" value="$i18n.getString( 'save' )" style="width:130px" onclick="submitDataElementGroupOrder()"/>		
	</p>
</div>	
</form>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="javascript:hideById(this.id);"></span>

<script>
	var i18n_confirm_delete = '$encoder.jsEscape($i18n.getString( 'confirm_delete' ) , "'")';	
	var i18n_name_is_null = '$encoder.jsEscape($i18n.getString( 'i18n_name_is_null' ) , "'")';		
	var importReportId = $importReport.id;
	$(function() {
		$("#sortable").sortable({
			placeholder: 'ui-state-highlight'
		});
		$("#sortable").disableSelection();
		
	});
</script>