<script>
	jQuery(document).ready(	function(){
		validation( 'updateExcelItemGroupForm', function( form ){ form.submit() } );
		checkValueIsExist( "name", "validateExcelItemGroup.action", {id: "$excelItemGroup.id"} );
	});	
</script>
<h3>$i18n.getString('excelitem_group') : $i18n.getString('update')</h3>

<form id="updateExcelItemGroupForm" method="POST" action="updateExcelItemGroup.action">
<input type="hidden" id="id" name="id" value="$excelItemGroup.id" >
<table>
	<tr>
		<td><label>$i18n.getString('name')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name"  style="width:20em" class="{validate:{required:true,minlength:2,maxlength:160}}" value="$excelItemGroup.name"/></td>
	</tr>
	<tr>
		<td><label>$i18n.getString('import_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="type" name="type" style="min-width:20em">
				<option value='NORMAL' #if($excelItemGroup.type ==  "NORMAL") selected="selected" #end>$i18n.getString('NORMAL')</option>					
				<option value='CATEGORY' #if($excelItemGroup.type == "CATEGORY") selected="selected" #end >$i18n.getString('CATEGORY')</option>					
				<option value='ORGANIZATION_GROUP_LISTING' #if($excelItemGroup.type == "ORGANIZATION_GROUP_LISTING") selected="selected" #end>$i18n.getString('ORGANIZATION_GROUP_LISTING')</option>									
			</select>
		</td>
	</tr>	
	<tr>
		<td><label>$i18n.getString('periodType')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="periodTypeName" name="periodTypeName" style="min-width:20em">
				#foreach ( $periodType in $periodTypes )
            		 <option value="$periodType.name" #if( $excelItemGroup.periodType.name.equals($periodType.name)) selected="selected" #end>$i18n.getString( $periodType.name )</option>
           		#end						
			</select>
		</td>
	</tr>	
	<tr>
		<td></td>
		<td>
			<input type="submit" value="$i18n.getString('ok')" style="width:120px"/>
			<input type="button" value="$i18n.getString('cancel')" style="width:120px" onclick="window.location.href='listAllExcelItemGroup.action'"/>
		</td>
	</tr>
</table>
</form>