<h3>$i18n.getString( "chart" )</h3>
<br>
<form name="chart">
<div id="container">
	<div id="tabs-chart-type">
		<div id="tab-chart-type" class="tab-item">			
			<table width="100%" >
				<tr align="center">
					<td><img src="images/pie_chart.png"/></td>
					<td><img src="images/line_chart.png"/></td>		
					<td><img src="images/column_chart.png"/></td>	
					<td><img src="images/full_chart.png"/></td>
				</tr>					
				<tr align="center">
					<td><div id="pie"/></td>
					<td><div id="line"/></td>		
					<td><div id="column"/></td>	
					<td><div id="full"/></td>	
				</tr>	
				<tr align="center">
					<td>$i18n.getString( 'pie_char' )</td>
					<td>$i18n.getString( 'line_chart' )</td>		
					<td>$i18n.getString( 'column_chart' )</td>	
					<td>$i18n.getString( 'full_style_chart' )</td>
				</tr>						
			</table>				
		</div>
	</div>	
	<br/>
    <div id="tabs">
		<div id="bookmark" class="tab-item">
			<div id="bookmark-content">
			</div>
		</div>
		<div id='data-element-chart' class="tab-item">				
			<fieldset class="fieldset">
				<legend>
					<b>$i18n.getString( 'axis_x' ): </b>
					<a href="javascript:switchAxisxDeIn('axis-x-de','axis-x-in')">
						<img src="../images/arrow_double_clockwise_y.png" align="absmiddle" title="$i18n.getString( 'dataelement' )/$i18n.getString( 'indicator' )"/>
					</a>
				</legend>
				<div id="axis-x-de">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'dataelement_groups' )</td>
							<td><input id="data-element-groups"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'dataelement' )</td>
							<td><div id='data-elements'></div></td>
						</tr>					
					</table>
				</div>
				<div id="axis-x-in">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'indicator_groups' )</td>
							<td><input id="indicator-groups"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'indicator' )</td>
							<td><div id='indicators'></div></td>
						</tr>					
					</table>
				</div>
			</fieldset>
			
			<fieldset class="fieldset">
				<legend><b>$i18n.getString( 'axis_y' )</b></legend>
				<table width="100%">
					<col width="150px"/>				
					<tr>					
						<td>$i18n.getString( 'period_type' )</td>
						<td><input id="period-types"/></td>					
					</tr>
					<tr>
						<td>$i18n.getString( 'period' )</td>
						<td><input id="periods"/></td>					
					</tr>					
				</table>
			</fieldset>			
			<div id="view-dataelement-chart" align="right"/>
			
		</div>
		<div id="period-chart"  class="tab-item ">
			<fieldset class="fieldset">
				<legend><b>$i18n.getString( 'axis_x' )</b></legend>
				<table width="100%">
					<col width="150px"/>				
					<tr>					
						<td>$i18n.getString( 'period_type' )</td>
						<td><input id="period-types-pc"/></td>					
					</tr>
					<tr>
						<td>$i18n.getString( 'period' )</td>
						<td><div id="periods-pc" style="width:300"/></td>					
					</tr>					
				</table>
			</fieldset>	
			<fieldset class="fieldset">
				<legend>
					<b>$i18n.getString( 'axis_y' ): </b>
					<a href="javascript:switchAxisxDeIn('axis-x-de-pc','axis-x-in-pc')">
						<img src="../images/arrow_double_clockwise_y.png" align="absmiddle" title="$i18n.getString( 'dataelement' )/$i18n.getString( 'indicator' )"/>
					</a>
				</legend>
				<div id="axis-x-de-pc">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'dataelement_groups' )</td>
							<td><input id="data-element-groups-pc"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'dataelement' )</td>
							<td><input id='data-elements-pc'></div></td>
						</tr>					
					</table>
				</div>
				<div id="axis-x-in-pc" style="display:none">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'indicator_groups' )</td>
							<td><input id="indicator-groups-pc"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'indicator' )</td>
							<td><input id='indicators-pc'></div></td>
						</tr>					
					</table>
				</div>
			</fieldset>
			<div id="view-period-chart" align="right"/>
		</div>
		
		<div id="organisation-chart"  class="tab-item ">
			
			<fieldset class="fieldset">
				<legend>
					<b>$i18n.getString( 'axis_x' ): </b>
				</legend>
				<table width="100%">
						<col width="180px"/>
						<tr>
							<td>$i18n.getString( 'organisation' )</td>
							<td><div id='organisation-units-oc'></div></td>
						</tr>					
					</table>
			</fieldset>	
			<fieldset class="fieldset">
				<legend>
					<b>$i18n.getString( 'axis_y' ): </b>
					<a href="javascript:switchAxisxDeIn('axis-x-de-oc','axis-x-in-oc')">
						<img src="../images/arrow_double_clockwise_y.png" align="absmiddle" title="$i18n.getString( 'dataelement' )/$i18n.getString( 'indicator' )"/>
					</a>
				</legend>
				<div id="axis-x-de-oc">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'dataelement_groups' )</td>
							<td><input id="data-element-groups-oc"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'dataelement' )</td>
							<td><input id='data-elements-oc'></div></td>
						</tr>					
					</table>
				</div>
				<div id="axis-x-in-oc" style="display:none">
					<table width="100%">
						<col width="180px"/>	
						<tr>
							<td>$i18n.getString( 'indicator_groups' )</td>
							<td><input id="indicator-groups-oc"/></td>					
						</tr>
						<tr>
							<td>$i18n.getString( 'indicator' )</td>
							<td><input id='indicators-oc'></div></td>
						</tr>					
					</table>
				</div>
			</fieldset>
			<fieldset class="fieldset">
				<legend>
					<b>$i18n.getString( 'period' ): </b>
				</legend>
				<table width="100%">
					<col width="180px"/>				
					<tr>					
						<td>$i18n.getString( 'period_type' )</td>
						<td><input id="period-types-oc"/></td>					
					</tr>
					<tr>
						<td>$i18n.getString( 'period' )</td>
						<td><input id="periods-oc"/></td>					
					</tr>					
				</table>
			</fieldset>	
			<div id="view-organisation-chart" align="right"/>
		</div>
		
	</div>
</div>

</form>

<script>
	var i18n_chart = "$encoder.jsEscape($i18n.getString( 'chart' ) , "'")";
	var i18n_selection = "$encoder.jsEscape($i18n.getString( 'selection' ) , "'")";
	var i18n_dataelement_groups = "$encoder.jsEscape($i18n.getString( 'dataelement_groups' ) , "'")";	
	var i18n_dataelements = "$encoder.jsEscape($i18n.getString( 'dataelement' ) , "'")";	
	var i18n_de_in_chart = "$encoder.jsEscape($i18n.getString( 'de_in_chart' ) , "'")";	
	var i18n_period_type = "$encoder.jsEscape($i18n.getString( 'period_type' ) , "'")";	
	var i18n_period = "$encoder.jsEscape($i18n.getString( 'period' ) , "'")";
	var i18n_period_chart = "$encoder.jsEscape($i18n.getString( 'period_chart' ) , "'")";	
	var i18n_select_chart_type = "$encoder.jsEscape($i18n.getString( 'select_chart_type' ) , "'")";	
	var i18n_indicators = "$encoder.jsEscape($i18n.getString( 'indicator' ) , "'")";	
	var i18n_indicator_groups = "$encoder.jsEscape($i18n.getString( 'indicator_groups' ) , "'")";	
	var i18n_organisation_chart = "$encoder.jsEscape($i18n.getString( 'organisation_chart' ) , "'")";
	var i18n_organisation = "$encoder.jsEscape($i18n.getString( 'organisation' ) , "'")";
	var i18n_bookmark_chart = "$encoder.jsEscape($i18n.getString( 'bookmark_chart' ) , "'")";
	
	
	
	var ORGANISATION_UNIT = '$!encoder.jsEncode( ${organisationUnit.name} )';
	var PARENT = '$!encoder.jsEncode( ${parent.name} )';
	var SELECTED_ORGID = '$!{organisationUnit.id}';
	
	function organisationUnitSelected( orgUnits )
	{
		SELECTED_ORGID = orgUnits;
		
		if( orgUnits!='' ){
			Ext.Ajax.request({
				url: path + 'getOrganisationUnitAndParent' + type,
				method: 'POST',
				params: { id: orgUnits },
				success: function(r) {
					ORGANISATION_UNIT = Ext.util.JSON.decode(r.responseText).organisationUnit.name;	
					PARENT = Ext.util.JSON.decode(r.responseText).parent.name;	
					
					var hasChild = Ext.util.JSON.decode(r.responseText).hasChild;
					if( hasChild ) tabs.get(3).enable();
					else tabs.get(3).disable();
					
					var isRoot = Ext.util.JSON.decode(r.responseText).isRoot;
					if( isRoot ) fullChartRadio.disable();
					else fullChartRadio.enable();
					
					enableTabs();
				}
			});
						
			organisationUnitStoreOc.reload();
			
		}else{
			disableTabs();
		}
	}

	selection.setListenerFunction( organisationUnitSelected );
	
	
	var selectionTabs = new Ext.TabPanel({
		renderTo: 'tabs-chart-type',
		width:'100%',
		activeTab: 0,
		frame:true,
		defaults:{autoHeight: true, autoScroll: true},
		items:[
			{contentEl:'tab-chart-type', title: i18n_select_chart_type}
		]
	});


	var tabs = new Ext.TabPanel({
		renderTo: 'tabs',
		width:'100%',
		activeTab: 3,
		frame:true,		
		autoTabs : true,
		defaults:{autoHeight: true, autoScroll: true},
		items:[			
			{contentEl:'bookmark', title: i18n_bookmark_chart},
			{contentEl:'data-element-chart', title: i18n_de_in_chart},	            			
			{contentEl:'period-chart', title: i18n_period_chart},
			{contentEl:'organisation-chart', title: i18n_organisation_chart}		
			
		]
	});
	
	function disableTabs()
	{
		tabs.disable();
		selectionTabs.disable();
	}
	
	function enableTabs()
	{
		tabs.enable();
		selectionTabs.enable();	
	}
	
	Ext.onReady(function()	
	{
		
		tabs.activate(3);	
		tabs.activate(2);
		tabs.activate(1);
		tabs.activate(0);
	
		#if(!$!organisationUnit)			
			disableTabs();
		#else if(!$organisationUnit.hasChild())
			tabs.get(3).disable();
		#end
		
		#if($root)
			fullChartRadio.disable();
		#end	

		getAllBookmartChart();	
		
	});	
	
	
	
</script>
