<h3>$i18n.getString( "dataset_completed_report" )</h3>
<table>
	<tr>
		<td><label>$i18n.getString('organisation')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td width="25em"><input type="text" id="organisation" value="$!organisationUnit.name" #if(!$organisationUnit) disabled #end style="width:20em"></td>	
		<td>
			<label>$i18n.getString('view_by')</label>
			<select type="text" id="viewby" name="viewBy" style="min-width:20em" onchange="changeViewBy()" #if(!$organisationUnit) disabled #end>
				<option value="period">$i18n.getString('period')</period>
				<option value="dataset">$i18n.getString('dataset')</period>
			</select>
		</td>			
	</tr>
	<tr>
		<td><label>$i18n.getString('period_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="periodType" name="periodType" style="min-width:20em" onchange="getDataSetAndPeriod()" #if(!$organisationUnit) disabled #end>
				#foreach($periodType in $periodTypes)
					<option value='$periodType.name'>$i18n.getString( $periodType.name )</option>				
				#end
			</select>
		</td>
		
	</tr>
</table>
<hr>
<table>	
	<tr>
		<th>$i18n.getString('dataset')</th>
		<th></th>
		<th>$i18n.getString('selected_dataset')</th>
	</tr>	
	
	<tr>		
		<td>
			<select type="text" size=10 id="dataSet" #if(!$organisationUnit) disabled #end name="dataSets" style="min-width:20em" ondblclick="moveSelectedById('dataSet','selectedDataSets')">
			
			</select>
		</td>
		<td>
			<input type="button" value=" > " onclick="moveSelectedById('dataSet','selectedDataSets');" #if(!$organisationUnit) disabled #end/><br>
			<input type="button" value=" < " onclick="moveSelectedById('selectedDataSets','dataSet');" #if(!$organisationUnit) disabled #end/>
		</td>
		<td>
			<select type="text" size=10 id="selectedDataSets" #if(!$organisationUnit) disabled #end name="selectedDataSets" style="min-width:20em" ondblclick="moveSelectedById('selectedDataSets','dataSet')">
			
			</select>
		</td>	
	</tr>
	
	<tr>
		<th>$i18n.getString('period')</th>
		<th></th>
		<th>$i18n.getString('selected_period')</th>
	</tr>	
	
	<tr>
		
		<td>
			<select type="text" id="period" #if(!$organisationUnit) disabled #end name="periods" style="min-width:20em" size=10 ondblclick="moveSelectedById('period','selectedPeriods');">
			
			</select>
		</td>
		<td>
			<input type="button" value=" > " onclick="moveSelectedById('period','selectedPeriods');" #if(!$organisationUnit) disabled #end/><br>
			<input type="button" value=" < " onclick="moveSelectedById('selectedPeriods','period');" #if(!$organisationUnit) disabled #end/>
		</td>
		<td>
			<select type="text" id="selectedPeriods" name="selectedPeriods" style="min-width:20em" #if(!$organisationUnit) disabled #end size=10 ondblclick="moveSelectedById('selectedPeriods','period');">
			
			</select>
		</td>
	</tr>
</table>
<hr>
<p><input id="viewButton" type="button" value="$i18n.getString('view')" onclick="viewDataSetCompleted();" #if(!$organisationUnit) disabled #end/><p>
<script>
	function viewDataSetCompleted(){	
	
		var params = "viewBy=" + byId('viewby').value;
		
		var selectedDataSets = document.getElementById( 'selectedDataSets' );

		for ( var i = 0; i < selectedDataSets.options.length; ++i)
		{
			params += '&selectedDataSets=' + selectedDataSets.options[i].value;
		} 
		
		var selectedPeriods = document.getElementById( 'selectedPeriods' );

		for ( var i = 0; i < selectedPeriods.options.length; ++i)
		{
			params += '&selectedPeriods=' + selectedPeriods.options[i].value;
		} 	
	
		var url = "viewDataSetCompleted.action?"+params;
		window.open(  url , '_blank', 'width='+document.documentElement.clientWidth+',height='+document.documentElement.clientHeight+',scrollbars=yes' );
		
	}
	function organisationUnitSelected( orgUnits )
	{	
		window.location.reload();
	}
	function organisationUnitSelectedCompleted(xmlObject){
		if(xmlObject.getAttribute('null')=='true'){	
			disable('viewButton');
		}else{
			enable('viewButton');
			setFieldValue('organisation',getElementValue(xmlObject, 'name'));
		}
			
	}

selection.setListenerFunction( organisationUnitSelected );
	
	function viewDataSetCompletedReceived( xmlObject ){
	}
	getDataSetAndPeriod();
	changeViewBy();
</script>