<h3>$i18n.getString( "dataset_completed_report" ) #openHelp( "excelReportingIndividualReport" )</h3>
<br>
<div id="container" style="width:100%;">
	<div id="bookmark-tab">
	</div>
	<div id="period-tab">
		<table width="100%" style="padding:10px;">
			<col width="150px"/>
			<tr>
				<td>$i18n.getString( 'period_type' )</td>	
				<td><input id="period-types-p"/></td>	
			</tr>
			<tr>					
				<td>$i18n.getString( 'period' )</td>				
				<td><div id="periods-p"></div></td>				
			</tr>
			<tr>
				<td>$i18n.getString( 'dataset' )</td>
				<td><input id='dataset-p'/></td>					
			</tr>			
		</table>
		<div id="view-by-period" align="right" style="padding:2px;"/>
	</div>	
	<div id="dataset-tab">
		<table width="100%" style="padding:10px;">
			<col width="150px"/>
			<tr>
				<td>$i18n.getString( 'period_type' )</td>	
				<td><input id="period-types-d"/></td>	
			</tr>
			<tr>					
				<td>$i18n.getString( 'period' )</td>	
				<td><input id='periods-d'/></td>
			</tr>
			<tr>
				<td>$i18n.getString( 'dataset' )</td>				
				<td><div id="dataset-d"></div></td>					
			</tr>			
		</table>
		<div id="view-by-dataset" align="right" style="padding:2px;"/>
	</div>
</div>

<script>

var i18n_period_type = "$encoder.jsEscape($i18n.getString( 'period_type' ) , "'")";	

var i18n_period = "$encoder.jsEscape($i18n.getString( 'period' ) , "'")";

var i18n_dataset = "$encoder.jsEscape($i18n.getString( 'dataset' ) , "'")";

var i18n_bookmark = "$encoder.jsEscape($i18n.getString( 'bookmark' ) , "'")";

var i18n_bookmark_success = "$encoder.jsEscape($i18n.getString( 'bookmark_success' ) , "'")";

var i18n_loading = "$encoder.jsEscape($i18n.getString( 'please_wait' ) , "'")";

var i18n_period_is_null = "$encoder.jsEscape($i18n.getString( 'period_is_null' ) , "'")";

var i18n_dataset_is_null = "$encoder.jsEscape($i18n.getString( 'dataset_is_null' ) , "'")";

var i18n_description = "$encoder.jsEscape($i18n.getString( 'description' ) , "'")";

var i18n_confirm_delete = "$encoder.jsEscape($i18n.getString( 'confirm_delete' ) , "'")";






Ext.onReady(function()
{
	var tabs = new Ext.TabPanel({
        renderTo: 'container',
        width:'100%',
        activeTab: 2,
        frame:true,
        defaults:{autoHeight: true},
        items:[
			{contentEl:'bookmark-tab', title: '$i18n.getString('bookmark')'},
            {contentEl:'period-tab', title: '$i18n.getString('view_by') $i18n.getString('period')'},
            {contentEl:'dataset-tab', title: '$i18n.getString('view_by') $i18n.getString('dataset')'}
        ]
    });
	tabs.activate(1);
	tabs.activate(0);
	
	#if(!$!organisationUnit || !$organisationUnit.hasChild())			
		tabs.disable();
	#end
	
	function organisationUnitSelected( orgUnits )
{		
	if( orgUnits!='' ){
		Ext.Ajax.request({
			url: path + 'getSelectedOrganisationUnit' + type,
			method: 'POST',
			params: { id: orgUnits },
			success: function(r) {				
				
				var hasChild = Ext.util.JSON.decode(r.responseText).organisationUnit.hasChild;
				if( hasChild ) tabs.enable();
				else tabs.disable();
				
			}
		});		
		
	}else{
		tabs.disable();
	}
}

selection.setListenerFunction( organisationUnitSelected );

getALLBookmarkCompletedReport();
});

</script>

