<h2>$i18n.getString('excelitem_group')</h2>
<p><input type="button" onclick="mode='add'; openAddExcelItemGroup()" value="$i18n.getString('add')" style="width:100px"/>
<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location='administration.action'" style="width:100px"></p>

<table width="100%">
	<tr>
		<th>$i18n.getString('name')</th>
		<th>$i18n.getString('type')</th>
		<th>$i18n.getString('excel_template')</th>		
		<th width="200px">$i18n.getString('operations')</th>		
	</tr>
	#set( $mark = false )
	#foreach($excelItemGroup in $excelItemGroups)
		<tr #alternate( $mark )>
			<td>$encoder.htmlEncode( $excelItemGroup.name )</td>
			<td>$i18n.getString($excelItemGroup.type)</td>
			<td>$encoder.htmlEncode( $excelItemGroup.excelTemplateFile )</td>
			<td align="left">
				<a href="openExcelItemGroupAssociations.action?excelItemGroupId=$excelItemGroup.id" title="$i18n.getString( 'define_associations' )"><img src="../images/assign.png" alt="$i18n.getString( 'define_associations' )"></a>
				<a href="listExcelItems.action?excelItemGroupId=$excelItemGroup.id" title="$i18n.getString( 'excel_item' )"><img src="../images/add_section.png" alt="$i18n.getString( 'excelitem' )"></a>
				<a href="javascript:deleteExcelItemGroup('$excelItemGroup.id');" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
				<a href="javascript:mode = 'edit'; openUpdateExcelItemGroup( '$excelItemGroup.id' );" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
				<a href="openUpdateOrgnisationUnitGroupForExcelItemGroup.action?id=$excelItemGroup.id" title="$i18n.getString( 'organisation_unit_group' )"><img src="images/group_1.jpg"/></a>
				<!-- #if($report.isOrganisationUnitGroupListing())
				<a href="openUpdateOrgnisationUnitGroupListingReport.action?id=$report.id" title="$i18n.getString( 'organisation_unit_group' )"><img src="images/group_1.jpg"/></a>
				#end 
				#if($report.isCategory())				
				<a href="listDataElementGroupOrder.action?id=$report.id" title="$i18n.getString( 'dataelement_groups' )"><img src="images/group.jpg"/></a>
				
				#end-->

			</td>
		</tr>
		
		#if( $mark )
			#set( $mark = false )
		#else
			#set( $mark = true )
		#end
	#end
</table>

<div id="divExcelitemGroup" style="position:fixed;display:none;width:450px;z-index:11;background-color: white;border: medium solid silver;height:150px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('divExcelitemGroup');deleteDivEffect();">[x]</div>
	<input type="hidden" value="" id="id"/>
	<table>
		<tr>
			<td><label>$i18n.getString('name')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="name"  style="width:20em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('excel_template')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="excelTemplateFile"  style="width:20em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('report_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td>
				<select type="text" id="type" name="type" style="min-width:20em">
					<option value='NORMAL'>$i18n.getString('NORMAL')</option>					
					<option value='CATEGORY'>$i18n.getString('CATEGORY')</option>					
					<option value='PERIOD_COLUMN_LISTING'>$i18n.getString('PERIOD_COLUMN_LISTING')</option>	
					<option value='ORGANIZATION_GROUP_LISTING'>$i18n.getString('ORGANIZATION_GROUP_LISTING')</option>									
				</select>
			</td>
		</tr>	
		
	</table>
	<p align="center">
	<input type="button" value="$i18n.getString('ok')" id="excelitemGroupAddUpdateButton" onClick="validateExcelItemGroup()"/>
	<input type="button" value="$i18n.getString('cancel')" onclick="hideById('divExcelitemGroup');deleteDivEffect();"/>
	</p>
</div>
<script language="javascript">
	var mode = 'add';
	var i18n_confirm_delete = '$encoder.jsEscape($i18n.getString( 'confirm_delete' ) , "'")';
</script>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="javascript:hideById(this.id);"></span>




