<link rel="stylesheet" href="css/ex.css" type="text/css">
<style type="text/css">
div#tipDiv {
    color:#000; font-size:11px; line-height:1.2;
    background-color:#E1E5F1; border:1px solid #667295; 
    width:210px; padding:4px;
}
</style>
<script src="js/dw_event.js" type="text/javascript"></script>
<script src="js/dw_viewport.js" type="text/javascript"></script>
<script src="js/dw_tooltip.js" type="text/javascript"></script>
<script src="js/dw_tooltip_aux.js" type="text/javascript"></script>
<script type="text/javascript">

dw_Tooltip.content_vars = {
    L1: 'Some text in the tooltip for link 1',
    L2: 'The tooltip can contain <strong><em>Rich HTML</em></strong>',
    L3: '<div style="text-align:center"><img src="images/dot-com-btn.gif" /></div>',
    L4: 'You can have a tooltip pop up when hovering over an image too of course!'
}


</script>

<h3>$i18n.getString( "fast_report_excel" )</h3>

<form id="editDataSetForm" name="editDataSetForm" method="post" onsubmit="submitForm(); return validateEditDataSet()">
  <div style="display:inline">
  <input type="hidden" id="dataSetId" name="dataSetId" value="$dataSet.id">
  </div>
  
  <table id="detailsList">
    <col> ## Labels
    <col> ## Input
    <thead>
    </thead>
    <tbody>
     
      <tr>
        <td>
          <!--
            Combobox with all available period types (registration frequencies.
          -->
        </td>
      </tr>	  
      
    </tbody>
  </table>

  <table id="dataElementSelectionArea">
    <col> ## Available DataElements
    <col> ## Filter
    <col> ## Selected DataElements
    <thead>
	  <tr>
	  	<td><strong>Select data element</strong></td>
	  </tr>
      <tr>
        <th>$i18n.getString( "available_data_elements" )</th>
		<th>$i18n.getString( "filter" )</th>
        <th>$i18n.getString( "selected_data_elements" )</th>
      </tr>
    </thead>
    <tbody>
    	
      <tr>
        <td>
          <select id="availabeldataElementGroups" name="availabeldataElementGroups" style="width:30em ; z-index:0"
              onchange="javascript:filterByDataElementGroup( this.options[this.selectedIndex].value )">
            <option value="ALL" selected="selected">$i18n.getString( "all" )</option>
            #foreach ( $dataElementGroup in $dataElementGroups )
              <option value="$dataElementGroup.id" >$encoder.htmlEncode( $dataElementGroup.name )</option>
            #end
          </select>
        </td>
        <td>&nbsp;</td>
        <td></td>
      </tr>
      
      <tr>
        <td><input type="text" id="availableDataElementsFilter" name="availableDataElementsFilter" onKeyUp="filterAvailableDataElements()" style="width:30em"> </td>
        <td>&nbsp;</td>
      	<td><input type="text" id="dataSetMembersFilter"  name="dataSetMembersFilter" onkeyup="filterDataSetMembers()" style="min-width:20em"></td>        
      </tr>
      
      <tr>
        <td>
          <!-- List of all available DataElements -->
		 
          <select size="15"  id="availableDataElements" name="availableDataElements" style="max-width:30em;min-width:30em;height:10em" onChange="getOptionCombos();">
          </select>
		  <br>$i18n.getString('option_combo')<br>
		  <select size="15" id="availableOptionCombos" name="availableOptionCombos" style="max-width:30em;min-width:30em;height:10em" ondblclick="addDataSetMembers();">
          </select>
</td>
        <td>
          <input type="button" value="&gt;" title="$i18n.getString('move_selected')" onclick="addDataSetMembers();">
          <br>
          <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onclick="removeDataSetMembers();">
        </td>
        <td>
          <!-- List of all selected DataElements -->
          <select  size="15" id="selectedDataElements" name="selectedDataElements" style="min-width:20em;height:20em" ondblclick="removeDataSetMembers();">
          </select>
        </td>
      </tr>
	  <tr>
	  	<td>Select period</td>
	  </tr>
	  <tr>
        <th>$i18n.getString( "available_periods" )</th>
		<th>$i18n.getString( "filter" )</th>
        <th>$i18n.getString( "selected_periods" )</th>
      </tr>
		<tr>
        <td>
          <select id="availabelPeriodTypes" name="availabelPeriodTypes" style="min-width:20em" onChange="javascript: getPeriods();">
            
            #foreach ( $periodType in $periodTypes )
              
            <option value="$periodType.name" >$i18n.getString( $periodType.name )</option>
            
            #end
          
          </select>
        </td>
        <td>&nbsp;</td>
        <td></td>
      </tr>
	  <tr>
        <td>
          <!-- List of all available DataElements -->
          <select size="15" id="availablePeriods" name="availablePeriods" multiple="multiple" style="min-width:20em;height:20em" ondblclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' );">            
          </select>
        </td>
        <td>
          <input type="button" value="&gt;" title="$i18n.getString('move_selected')" onclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' );">
          <br>
          <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' );">
        </td>
        <td>
          <!-- List of all selected DataElements -->
          <select id="selectedPeriods" name="selectedPeriods" multiple="multiple" style="min-width:20em;height:20em" ondblclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' );">
          </select>
        </td>
      </tr>
	  
      <tr>
        <td colspan="3">
          <input type="button" value="$i18n.getString( "generate" )" style="width:10em" onClick="generateIndividualReportExcel();">
		  <input type="button" value="$i18n.getString( "bookmark" )" style="width:10em">
		  <input type="button"
            onclick="window.location.href='index.action'" value="$i18n.getString( "cancel" )" style="width:10em">
        </td>
      </tr>
      
    </tbody>
  </table>
</form>

<span id="message"></span>
<span id="loading" style="display:none;position:fixed;"><img src="../images/ajax-loader.gif" /></span>

<script type="text/javascript">

	var dataSetMembers = new Object();
	//#foreach ( $dataElement in $dataSetDataElements )
		//dataSetMembers['$dataElement.id'] = '$encoder.jsEscape( $dataElement.name, "'" )';
	//#end

	var availableAllDataElements = new Object();	
	#foreach ( $availableDataElement in $dataElements )
		availableAllDataElements['$availableDataElement.id'] = '$encoder.jsEscape( $availableDataElement.name, "'" )';
	#end

	initLists();

</script>
