#set( $size = $periodTypes.size() )
{ "periodTypes": [
#foreach( $periodType in $periodTypes )
  {
    "id": $velocityCount,
    "name": "$!encoder.jsEncode( $i18n.getString($periodType.name) )"
  }#if( $velocityCount < $size ),#end
#end
] }
