#set( $size = $keys.size() )
{ "data": [
#foreach( $value in $keys )
  {    	
    "name": "$!encoder.jsEncode( $value )",
	"value":  $values.get( $value ).get(0),
	"total":  #if($values.get( $value ).get(1)) $values.get( $value ).get(1) #else 0 #end
  }#if( $velocityCount < $size ),#end
#end
] }