<h2>$i18n.getString( "report_design" )</h2>
<ul>
	<li><a href="administration.action">$i18n.getString( "administration" )&nbsp;</a></li>	
</ul>
<h2>$i18n.getString( "generate_report" )</h2>
<ul>
	<li><a href="selectReportParamerter.action">$i18n.getString( "generate_report" )&nbsp;</a></li>	
	<li><a href="getExcelFileByOrganisationUnit.action">$i18n.getString( "import_excel_file_manager" )&nbsp;</a></li>	
	<li><a href="selectDataSetCompletedReport.action">$i18n.getString( "dataset_completed_report" )&nbsp;</a></li>	
</ul>

<script type="text/javascript">
	var i18n_deleted_file = '$encoder.jsEncode( $i18n.getString( "deleted_file" ) )';
	var i18n_name = '$encoder.jsEncode( $i18n.getString( "name" ) )';
	var i18n_size = '$encoder.jsEncode( $i18n.getString( "size" ) )';
	var i18n_create_date = '$encoder.jsEncode( $i18n.getString( "create_date" ) )';	
	
</script>
