<h3>$i18n.getString('reports') #openHelp( "excelReportingListOfReports" )</h3>
<table width=100%>
	<tr>
		<td>
			$i18n.getString( "filter_by_name" ): <input type="text" onkeyup="filterValues( this.value , 1)" style="width:300px"/>
		</td>
		<td align=right>			
			<input type="button" onclick="window.location = 'addReportExcelForm.action'" value="$i18n.getString('add')" style="width:100px"/>
			<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location='administration.action'" style="width:100px">			
		</td>
	</tr>
</table>
<table width="100%" class="listTable" id="listTable">
	<thead>
		<tr>
			<th>$i18n.getString('name')</th>
			<th>$i18n.getString('report_type')</th>
			<th>$i18n.getString('excel_template')</th>		
			<th width="150px" class="{sorter: false}">$i18n.getString('basic')</th>
			<th width="100px" class="{sorter: false}">$i18n.getString('advanced')</th>			
		</tr>
	</thead>	
	<tbody id="list">	
	#foreach($report in $reports)
		<tr id="tr${report.id}">
			<td>$encoder.htmlEncode( $report.name )</td>
			<td>$i18n.getString($report.reportType)</td>
			<td>
				<a href="downloadExcelTemplate.action?fileName=$encoder.htmlEncode( $report.excelTemplateFile )" title="download">$encoder.htmlEncode( $report.excelTemplateFile )</a>
			</td>
			<td align="left">
				<a href="openDefineAssociationsForm.action?reportId=$report.id" title="$i18n.getString( 'define_associations' )"><img src="../images/assign.png" alt="$i18n.getString( 'define_associations' )"></a>
				<a href="openReportExcelUserRole.action?id=$report.id" title="$i18n.getString( 'update_reportexcel_userrole' )"><img src="images/user_32.png" alt="$i18n.getString( 'update_reportexcel_userrole' )"></a>				
				<a href="updateReportExcelForm.action?id=$report.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>				
				<a href="javascript:removeItem( $report.id, '$report.name', '$i18n.getString( 'confirm_delete' )', 'deleteReportExcel.action');" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
				<a href="javascript:translate( '$report.getClass().getSimpleName()', '$report.id' )" title="$i18n.getString( "translation_translate" )"><img src="../images/i18n.png" alt="$i18n.getString( "translation_translate" )"></a>
			</td>
			<td>	
				<a href="listReportExcelItemAction.action?reportId=$report.id" title="$i18n.getString( 'report_item' )"><img src="../images/add_section.png" alt="$i18n.getString( 'report_item' )"></a>
				#if($report.isOrganisationUnitGroupListing())
				<a href="openUpdateOrgnisationUnitGroupListingReport.action?id=$report.id" title="$i18n.getString( 'organisation_unit_group' )"><img src="images/group_1.jpg"/></a>
				<a href="organisationUnitAtLevels.action?id=$report.id" title="$i18n.getString( 'set_organisationunit_group_level' )"><img src="images/organisationunitlevel.png" alt="$i18n.getString( 'set_organisationunit_group_level' )"/></a>				
				#end
				#if($report.isCategory())
					<a href="listDataElementGroupOrder.action?id=$report.id" title="$i18n.getString( 'dataelement_groups' )"><img src="images/group.jpg" alt="$i18n.getString( 'dataelement_groups' )"/></a>				
				#end
				
				#if($report.isPeriodColumnListing())
				<a href="periodColumns.action?id=$report.id" title="$i18n.getString( 'period_columns' )"><img src="images/calendar.png"/></a>
				#end

			</td>
		</tr>		
	#end
	</tbody>
</table>


<script>
	jQuery(document).ready(function(){	  
		tableSorter( 'listTable' );	
    });
	
</script>