<h2>$i18n.getString( "generate_report" )</h2>
<table>	
	<tr>
		<td><label>$i18n.getString('organisation')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><span id="selectedOrganisationUnit"></span></td>
    </tr>
	<tr>
		<td><label>$i18n.getString('group')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td >
			<select type="text" id="group" name="group" style="min-width:20em" onchange="getReportExcelsByGroup()" >
				#foreach($group in $groups)
					<option value='$group' #if( $group == $reportGroup ) selected="selected" #end>$encoder.htmlEncode( $group )</option>				
				#end
			</select>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('reports')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="report" name="report" style="min-width:20em" >

			</select>
		</td>
    </tr>
	<tr>
		<td></td>
		<td>
			<input type="button" value="<<" onclick="lastPeriod();" id="lastPeriod"/><input type="button" value=">>"  onclick="nextPeriod()" id="nextPeriod"/>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('period')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="period" style="min-width:20em" >
				#foreach($period in $periods)
					<option value='$period.id'>$format.formatPeriod( $period )</option>				
				#end
			</select>
		</td>
    </tr>
</table>

<div id="actions" style="width:200px text-align:right">

</div>

<div id="orgUnitTree">
	
</div>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="hideById(this.id);"></span>
<br/>
<hr/>
<p>
<input type="button" value='$i18n.getString( "preview_report" )' onclick="previewReport();" id="previewButton"/>
<input name="generate_report" id="generate_report"  type="button" onClick="generateReportExcel();" value='$i18n.getString( "generate_report" )' />
</p>

<div id="previewDiv">

</div>

<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)">
	
</span>

<span id="processing" style="display:none;position:fixed;"><img src="../images/ajax-loader-preview.gif" /></span>

<script>

	var i18n_value_rounded = '$encoder.jsEscape( $i18n.getString("value_rounded"), "'" )';

	#if ( $organisationUnit )
		
		$(document).ready(function() {
		
			getReportExcelsByGroup();
		});
	
	#end
</script>