<h3>$i18n.getString( "define_associations" )</h3>
<h4>$encoder.htmlEncode( $report.getName() )</h4>
<form name="reportAssociation" action="updateDefineAssociations.action" method="POST">
<input type="hidden" name="reportId" value="$report.id">

#organisationUnitSelectionTree( false, true, true )		

<input type="submit" id="submitButton" value="$i18n.getString( "save" )" style="width:10em">
<input type="button" onclick="window.location.href='listReportExcel.action'" value="$i18n.getString( "cancel" )" style="width:10em"></p>
</form>