<h2>$i18n.getString( "generate_report" )</h2>
<table>	
	<tr>
		<td><label>$i18n.getString('group')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="group" name="group" style="min-width:20em" onchange="getReportByGroup()" #if(!$organisationUnit) disabled #end>
				#foreach($group in $groups)
					<option value='$group'>$encoder.htmlEncode( $group )</option>				
				#end
			</select>
		</td>
	</tr>
	<tr>
		<td><label>$i18n.getString('reports')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="report" name="report" style="min-width:20em" #if(!$organisationUnit) disabled #end>
				#foreach($report in $reports)
					<option value='$report.id'>$encoder.htmlEncode( $report.name )</option>				
				#end
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="button" value="<<" onclick="lastYear();" #if(!$organisationUnit) disabled #end/><input type="button" value=">>" #if(!$organisationUnit) disabled #end onclick="nextYear()"/>
		</td>
	</tr>
	<tr>
		<td><label>$i18n.getString('period')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="period" style="min-width:20em" #if(!$organisationUnit) disabled #end>
				#foreach($period in $periods)
					<option value='$period.id'>$format.formatPeriod( $period )</option>				
				#end
			</select>
		</td>
	</tr>	
</table> 
<div id="orgUnitTree">
	
</div>
<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="hideById(this.id);"></span>
<br>
<hr>
<p>
<input type="button" value='$i18n.getString( "preview_report" )' onclick="javascript: generic_type = 'preview'; var message = '$!i18n.getString("please_wait")'; validateGenerateReport(message);" #if(!$organisationUnit) disabled #end/>
<input type="button" value='$i18n.getString( "generate_report" )' onclick="javascript: generic_type = ''; var message = '$!i18n.getString("please_wait")'; validateGenerateReport(message);" #if(!$organisationUnit) disabled #end/>
</p>
<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)"></span>

<script>
#if($organisationUnit)
	getReportExcelsByGroup();
#end
</script>