<h2>$i18n.getString('reports')</h2>
<table width=100%>
	<tr>
		<td>
			$i18n.getString( "filter_by_name" ): <input type="text" onkeyup="filterValues( this.value , 1)" style="width:300px"/>
		</td>
		<td align=right>
			<form name="fileName" action="uploadBackupFile.action" method="post" enctype="multipart/form-data">
				<input type="button" onclick="openAddReportExcel()" value="$i18n.getString('add')" style="width:100px"/>
				<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location='administration.action'" style="width:100px">     
				<!--
				<input type="file" id="upload" name="upload"/>
				<input name="submit" type="submit" value="$i18n.getString( 'Upload' )" />
				<input type="button" value="$i18n.getString( 'import' )" onclick="restoreReportExcel()"/>
				-->
			</form>
		</td>
	</tr>
</table>
<table width="100%">	
	<tr>
		<th>$i18n.getString('name')</th>
		<th>$i18n.getString('report_type')</th>
		<th>$i18n.getString('excel_template')</th>		
		<th width="170px">$i18n.getString('operations')</th>		
	</tr>
	<tbody id="list">
	#set( $mark = false )
	#foreach($report in $reports)
		<tr #alternate( $mark )>
			<td>$encoder.htmlEncode( $report.name )</td>
			<td>$i18n.getString($report.reportType)</td>
			<td>$encoder.htmlEncode( $report.excelTemplateFile )</td>
			<td align="left">
				<a href="openDefineAssociationsForm.action?reportId=$report.id" title="$i18n.getString( 'define_associations' )"><img src="../images/assign.png" alt="$i18n.getString( 'define_associations' )"></a>
				<a href="listReportExcelItemAction.action?reportId=$report.id" title="$i18n.getString( 'report_item' )"><img src="../images/add_section.png" alt="$i18n.getString( 'report_item' )"></a>
				<a href="javascript:deleteReportExcel($report.id);" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
				<a href="javascript:openUpdateReportReportExcel( $report.id );" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
				<!--
				<a href="javascript:backupReportExcel( $report.id );" title="$i18n.getString( 'backup' )"><img src="../images/open.png" alt="$i18n.getString( 'backup' )"></a>
				-->
				#if($report.isOrganisationUnitGroupListing())
				<a href="openUpdateOrgnisationUnitGroupListingReport.action?id=$report.id" title="$i18n.getString( 'organisation_unit_group' )"><img src="images/group_1.jpg"/></a>
				<a href="organisationUnitAtLevels.action?id=$report.id" title="$i18n.getString( 'set_organisationunit_group_level' )"><img src="images/organisationunitlevel.png" alt="$i18n.getString( 'set_organisationunit_group_level' )"/></a>				
				#end
				#if($report.isCategory())				
				<a href="listDataElementGroupOrder.action?id=$report.id" title="$i18n.getString( 'dataelement_groups' )"><img src="images/group.jpg"/></a>				
				#end
				
				#if($report.isPeriodColumnListing())
				<a href="periodColumns.action?id=$report.id" title="$i18n.getString( 'period_columns' )"><img src="images/calendar.png"/></a>
				#end

			</td>
		</tr>
		#if( $mark )
			#set( $mark = false )
		#else
			#set( $mark = true )
		#end
	#end
	</tbody>
</table>
<div id="dataElementGroups" style="position:fixed;display:none;width:600px;z-index:10001;background-color: white;border: medium solid silver;height:250px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('dataElementGroups');deleteDivEffect();">[x]</div>
	<table width="100%">
		<tr>
			<th>$i18n.getString('available_dataelementgroups')</th>
			<td></td>
			<th>$i18n.getString('selected_dataelementgroups')</th>
		</tr>
		<tr>
			<td>
				<select id="availableDataElementGroups" size="13" style="width:100%" multiple ondblclick="moveSelectedById('availableDataElementGroups', 'selectedDataElementGroups' )">
				</select>
			</td>
			<td align="center">
				<input type="button" value=">" onclick="moveSelectedById('availableDataElementGroups','selectedDataElementGroups');"/><br>
				<input type="button" value="<" onclick="moveSelectedById('selectedDataElementGroups' , 'availableDataElementGroups' );"/><br>
				<input type="button" value=">>" onclick="moveAllById('availableDataElementGroups' , 'selectedDataElementGroups' );"/><br>
				<input type="button" value="<<" onclick="moveAllById('selectedDataElementGroups' , 'availableDataElementGroups' );"/>
			</td>
			<td>
				<select id="selectedDataElementGroups" name ="selectedDataElementGroups" size="13" style="width:100%" multiple ondblclick="moveSelectedById('selectedDataElementGroups','availableDataElementGroups' )">
				</select>
			</td>
			<td>
				<a href="javascript:moveSelectedOptionToTop( 'selectedDataElementGroups' );"><img align="absmiddle" src="../images/move_top.png" style="cursor:pointer;width:20px;"></a><br><br>			
				<a href="javascript:moveUpSelectedOption( 'selectedDataElementGroups' );"><img align="absmiddle" src="../images/move_up.png" style="cursor:pointer;width:20px;"></a><br><br>		
				<a href="javascript:moveDownSelectedOption( 'selectedDataElementGroups' );"><img align="absmiddle" src="../images/move_down.png" style="cursor:pointer;width:20px;"></a><br><br>		
				<a href="javascript:moveSelectedOptionToBottom( 'selectedDataElementGroups' );"><img align="absmiddle" src="../images/move_bottom.png" style="cursor:pointer;width:20px;"></a>			
			</td>
		</tr>
	</table>
	<p align=center>
		<input type="button" value="$i18n.getString( 'save' )" style="width:130px" onclick="updateDataElementGroupOrder()">		
	</p>
</div>



<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape($i18n.getString( 'confirm_delete' ) , "'")';	
	
	function openAddOrgUnitForm( id ){  	 	 	
	
		document.getElementById('orgUnitId').value = id;
		
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( openAddOrgUnitFormReceived );
		request.send( "openAddUnitGroupForReportListing.action?id=" + id );
		
	}
	
	function openAddOrgUnitFormReceived( xmlObject ){
	
		var availableList = byId('availableGroups');
		availableList.options.length = 0;
	
		var availabelGroups = xmlObject.getElementsByTagName('availabelGroups')[0].getElementsByTagName('group');
		
		for(var i=0;i<availabelGroups.length;i++){
			var group = availabelGroups.item(i);
			var id = group.getElementsByTagName('id')[0].firstChild.nodeValue;
			var name = group.getElementsByTagName('name')[0].firstChild.nodeValue;
			
			availableList.add(new Option(name, id),null);
			
		}
		
		var selectedGroups = byId('selectedGroups');
		selectedGroups.options.length = 0;
		
		var reportOrganisationGroups = xmlObject.getElementsByTagName('reportOrganisationGroups')[0].getElementsByTagName('group');
		
		for(var i=0;i<reportOrganisationGroups.length;i++){
			var group = reportOrganisationGroups.item(i);
			var id = group.getElementsByTagName('id')[0].firstChild.nodeValue;
			var name = group.getElementsByTagName('name')[0].firstChild.nodeValue;
			
			selectedGroups.add(new Option(name, id),null);
			
		}
		
		setPositionCenter( 'organisationUnitGroup' );
		showDivEffect();		
		showById( 'organisationUnitGroup' );
	}
	
	
	
	
	
</script>
<div id="report" style="position:fixed;display:none;width:450px;z-index:11;background-color: white;border: medium solid silver;height:250px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('report');deleteDivEffect();">[x]</div>
	<input type="hidden" value="" id="id"/>
	<table>
		<tr>
			<td><label>$i18n.getString('name')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="name"  style="width:20em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('excel_template')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="excelTemplateFile"  style="width:20em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('report_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td>
				<select type="text" id="reportType" name="reportType" style="min-width:20em">
					<option value='NORMAL'>$i18n.getString('NORMAL')</option>					
					<option value='CATEGORY'>$i18n.getString('CATEGORY')</option>					
					<option value='PERIOD_COLUMN_LISTING'>$i18n.getString('PERIOD_COLUMN_LISTING')</option>	
					<option value='ORGANIZATION_GROUP_LISTING'>$i18n.getString('ORGANIZATION_GROUP_LISTING')</option>									
				</select>
			</td>
		</tr>	
		<tr>		
			<td><label>$i18n.getString('group')</label></td>
			<td><input type="text" id="group" style="width:20em"/></td>
		<td>		
		<tr>
			<td><label>$i18n.getString('period_postion_row')</label></td>
			<td><input type="text" id="periodRow"   style="width:10em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('period_postion_column')</label></td>
			<td><input type="text" id="periodColumn" style="width:10em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('organisation_position_row')</label></td>
			<td><input type="text" id="organisationRow" style="width:10em"/></td>
		</tr>

		<tr>		
			<td><label>$i18n.getString('organisation_position_column')</label></td>
			<td><input type="text" id="organisationColumn" style="width:10em"/></td>
		<td>
		
	</table>
	<p align="center">
	<input type="button" value="$i18n.getString('ok')" id="reportExcelAddUpdateButton" />
	<input type="button" value="$i18n.getString('cancel')" onclick="hideById('report');deleteDivEffect();"/>
	</p>
</div>

<script>
	$(document).ready(function(){
        $("#group").autocomplete("getReportExcelGroups.action", {
            width: 260,
            formatItem:function (row){
                return row[0];
            },
            formatResult:function (row){
                return row[0];
            },
            selectFirst: true
		});
    });
	
	
	
	
</script>


<!-- HIEU DONE -->
<div id="dataelementCategoryReportDiv" style="position:fixed;display:none;width:1170px;z-index:10001;background-color: white;border: medium solid silver;height:590px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('dataelementCategoryReportDiv');deleteDivEffect();">[x]
	</div>
	
	<h3>$i18n.getString( "dataelement_use_for_categoryreport" )</h3>
	<span id="message_report" onmouseover="javascript:showById(this.id);"></span>
	
	<form id="addDataElementForm" action="addReportExcelForm.action" method="post" onsubmit="return validateAddDataElementAndCateCombo( '$!report.getId()' );">
	
	
	<div id="hiddenDiv">
		<input type="hidden" value="" id="hiddenId"/>
	</div>
	
	
	<table>
		<tr>
			<th colspan="6">$i18n.getString( 'details' )</th>
		</tr>

		<tr>
			<td>$i18n.getString( 'filter_by_group' ):</td>
			<td>
				<div style="inline">
					&nbsp;</div>
			</td>
			
			<td>$i18n.getString( 'select_categorycombo' ):</td>
			<td>
				<div style="inline">
					&nbsp;</div>
			</td>
			<td>$i18n.getString( 'category_list' ):</td>
		</tr>
		
		<tr>
			<td colspan="2" height="15px">

					<select id="dataElementGroupList" name="dataElementGroupList" onchange="javascript:getAvailableDataElements(this.id);" style="min-width:200px">
						<option value="-1">[ $i18n.getString( 'all' ) ]</option>
					</select>
			</td>
					
				<td colspan="1" height="15px">
					<select id="categoryComboList" name="categoryComboList" onchange="javascript:getCategories(this.id);" style="min-width:200px">

					</select>
				</td>
				
				<td colspan="2" height="15px">
					<select id="categoryList" name="categoryList" multiple="3" style="min-width:200px">

					</select>
				</td>
		</tr>
		<tr>
			<td colspan="6" height="15px"></td>
		</tr>
	</table>

	<table>
		<tr>
			<th>$i18n.getString( 'available_data_elements' )</th><td></td><th>$i18n.getString( 'selected_data_elements' )</th>
		</tr>
		<tr>
			<td><input type="text" id="availableDataElementsFilter" onkeyup="javascript:filterList( this.value, 'availableDataElements' );" style="width:25em"/></td>
			<td style="text-align:center">&lt; $i18n.getString( 'filters' ) &gt;</td>
			<td><input type="text" id="selectedDataElementsFilter" onkeyup="javascript:filterList( this.value, 'selectedDataElements' );" style="width:25em"/></td>
		</tr>
		<tr>
			<td>
				<select size="15" multiple="multiple" id="availableDataElements" name="availableDataElements" style="width:100%" ondblclick="moveSelectedById( 'availableDataElements', 'selectedDataElements' )">
			
				</select>
			</td>
			
			<td style="text-align:center">
			
				<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:50px" onclick="moveSelectedById( 'availableDataElements', 'selectedDataElements' )"/><br>
				<input type="button" value="&lt;" title="$i18n.getString('remove_available')" style="width:50px" onclick="moveSelectedById( 'selectedDataElements', 'availableDataElements' )"/><br>		
				<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveAllById( 'availableDataElements', 'selectedDataElements' )"/><br>
				<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'selectedDataElements', 'availableDataElements' )"/>
				
			</td>
		
			<td>
				<select size="15" multiple="multiple" id="selectedDataElements" name="selectedDataElements" style="width:100%" ondblclick="moveSelectedById( 'selectedDataElements', 'availableDataElements' )">
			
				</select>
			</td>
		</tr>
	</table>
	
	<input type="submit" value="$i18n.getString('save')"/>
	<input type="button" value="$i18n.getString('cancel')" onclick="javascript:hideById('dataelementCategoryReportDiv');deleteDivEffect();"/>
	</form>
</div>



<div id='organisationUnitGroup' style="position:fixed;display:none;width:450px;z-index:10001;background-color: white;border: medium solid silver;height:200px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="javascript:hideById('organisationUnitGroup');deleteDivEffect();">[x]</div>
	<input type="hidden" value="" id="orgUnitId" name="orgUnitId"/>
<h3>$i18n.getString( 'org_unit_group_management' )</h3>
<table>
	<colgroup>
  		<col width="325px">
  		<col width="80px">
 		<col width="325px">
  	</colgroup>
	
  	<tr>
  		<th>$i18n.getString( 'available_groups' )</th>
  		<td></td>
  		<th>$i18n.getString( 'selected_groups' )</th>
	</tr>
	
	<tr>
		<td>
			<select multiple size="6" id="availableGroups" name="availableGroups" style="width:100%" ondblclick="javascript:moveSelectedById( 'availableGroups', 'selectedGroups' );">
			
			</select>
		</td>
		<td style="text-align:center">
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:50px" onclick="moveSelectedById( 'availableGroups', 'selectedGroups' )"/><br>
			<input type="button" value="&lt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveSelectedById( 'selectedGroups', 'availableGroups' )"/><br>		
			<input type="button" value="&gt;&gt;" title="$i18n.getString('remove_selected')" style="width:50px" onclick="moveAllById( 'availableGroups', 'selectedGroups' )"/><br>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'selectedGroups', 'availableGroups' )"/>
		</td>
		<td>
			<select multiple size="6" id="selectedGroups" name="selectedGroups" style="width:100%" ondblclick="moveSelectedById( 'selectedGroups', 'availableGroups' )">
				
			</select>
		</td>
	</tr>

</table>
<p>
<input type="button" value="$i18n.getString( 'save' )" onClick="javascript: updateOrgUnitByReport();deleteDivEffect();hideById('organisationUnitGroup');"/>
<input name="button" type="button" onClick="javascript:deleteDivEffect();hideById('organisationUnitGroup');" value="$i18n.getString( 'cancel' )"/>		
</p>

</div>

<span id="message" style="top:100px;right:5px;position:absolute;width:200px;z-index:10002" onclick="javascript:hideById(this.id);"></span>




