<h2>$!encoder.htmlEncode($!reportExcel.name)</h2>
<table width="100%">
<tr>
<td>
	<input type="button" onclick="copySelectedItem()" value="$i18n.getString('copy_selected_item_to')"/>
</td>
<td align="right">
	$i18n.getString('filter_by_sheet')
	<select id="sheetNoFilter" onchange="getReportItemBySheet();">
		<option value="" >--- ALL ---</option>
		#foreach($sheet in $sheets)
		<option value="$sheet" #if($sheetNo==$sheet) selected #end >$sheet</option>
		#end
	</select>	
	<input type="button" onclick="openAddReportItemForm()" value="$i18n.getString('add')" style="width:100px"/>
	<input type="button" onclick="window.location='listReportExcel.action'" value="$i18n.getString('cancel')" style="width:100px"/>
</td>
</tr>
</table>
<table width="100%">
	<tr>
		<th><input type="checkbox" onclick="selectALL(this.checked)"/></th>
		<th>$i18n.getString('name')</th>
		<th>$i18n.getString('item_type')</th>
		<th>$i18n.getString('period_type')</th>
		<th>$i18n.getString('row')</th>		
		<th>$i18n.getString('column')</th>		
		<th>$i18n.getString('expression')</th>		
		<th width="70px">$i18n.getString('operations')</th>		
	</tr>
	#set( $mark = false )
	#foreach($reportItem in $reportItems)
		<tr #alternate( $mark )>
			<td align=center><input type="checkbox" value="$reportItem.id" name="reportItemCheck"/></td>
			<td>$encoder.htmlEncode( $reportItem.name )</td>
			<td>$i18n.getString( $reportItem.itemType )</td>
			<td>$i18n.getString( $reportItem.periodType )</td>
			<td>$encoder.htmlEncode( $reportItem.row )</td>
			<td>$encoder.htmlEncode( $reportItem.column )</td>
			<td>$encoder.htmlEncode( $reportItem.expression )</td>
			
			<td align="center">				
				<a href="javascript:deleteReportExcelItem('$reportItem.id');" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
				<a href="javascript:openUpdateReportItem( '$reportItem.id' );" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
			</td>
		</tr>
		#if( $mark )
			#set( $mark = false )
		#else
			#set( $mark = true )
		#end
	#end
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape($i18n.getString( "confirm_delete" ) , "'")';	
	var mode = null;
</script>
<form name="reportItem" method="post">
<div id="report" style="position:fixed;display:none;width:450px;z-index:10001;background-color: white;border: medium solid silver;height:200px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('report');deleteDivEffect();">[x]</div>
	<input type="hidden" id="reportId" name="reportId" value="$!reportExcel.id"/>
	<input type="hidden" value="" id="id" name="id"/>
	<table>
		<tr>
			<td><label>$i18n.getString('name')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="name" name="name" style="width:20em"/></td>
		</tr>		
		<tr>
			<td><label>$i18n.getString('item_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td>
				<select type="text" id="itemType" name="itemType" style="min-width:20em" onchange="selectItiemType(this.value);">					
					#if($!reportExcel.isCategory())
					<option value='dataelement'>$i18n.getString('dataelement')</option>					
					<option value='dataelement_code'>$i18n.getString('dataelement_code')</option>
					<option value='dataelement_name'>$i18n.getString('dataelement_name')</option>	
					<option value='serial'>$i18n.getString('serial')</option>					
					#end
					#if($!reportExcel.isNormal())					
					<option value='dataelement'>$i18n.getString('dataelement')</option>
					<option value='formulaexcel'>$i18n.getString('formulaexcel')</option>					
					<option value='indicator'>$i18n.getString('indicator')</option>									
					#end
					#if($!reportExcel.isOrganisationUnitGroupListing())		
					<option value='organisation'>$i18n.getString('organisation')</option>
					<option value='dataelement'>$i18n.getString('dataelement')</option>
					<option value='formulaexcel'>$i18n.getString('formulaexcel')</option>					
					<option value='indicator'>$i18n.getString('indicator')</option>		
					<option value='serial'>$i18n.getString('serial')</option>	
					#end
					#if ($!reportExcel.isPeriodColumnListing())					
					<option value='dataelement'>$i18n.getString('dataelement')</option>							
					<option value='indicator'>$i18n.getString('indicator')</option>				
					#end
					
				</select>
			</td>
		</tr>
		<tr>
			<td><label>$i18n.getString('period_type')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td>
				<select type="text" id="periodType" name="periodType" style="min-width:20em">
					<option value='selected_month'>$i18n.getString('selected_month')</option>
					<option value='last_3_month'>$i18n.getString('last_3_month')</option>
					<option value='last_6_month'>$i18n.getString('last_6_month')</option>
					<option value='so_far_this_year'>$i18n.getString('so_far_this_year')</option>
					<option value='quaterly'>$i18n.getString('quaterly')</option>
					<option value='6_month'>$i18n.getString('six_monthly')</option>
					<option value='yealy'>$i18n.getString('yearly')</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>$i18n.getString('expression')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td>
				<input type="text" id="expression" name="expression" style="width:20em"/>
				<input type="button" value="$i18n.getString('expression')" onclick="openExpressionBuild();"/>			
			</td>
			
		</tr>	
		<tr>
			<td><label>$i18n.getString('sheet_no')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="sheetNo" name="sheetNo"  style="width:10em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('row')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="row" name="row"  style="width:10em"/></td>
		</tr>
		<tr>
			<td><label>$i18n.getString('column')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="column" name="column" style="width:10em"/></td>
		</tr>			
	</table>
	<p align="center">
	<input type="button" value="$i18n.getString('ok')" id="reportItemButton"/>
	<input type="button" value="$i18n.getString('cancel')" onclick="hideById('report');deleteDivEffect();"/>
	</p>
</div>
</form>

<!-- This form use for  dataelement -->

<div id="normal" style="position:fixed;display:none;width:800px;z-index:10002;background-color: white;border: medium solid silver;height:300px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="$('#normal').hide();deleteDivEffect();">[x]</div>
	<table width="100%">
		<tr>
			<th>$i18n.getString( "formula" )</th>
			<th></th>
			<th>$i18n.getString( "dataelement" )</th>
		<tr>
		<tr valign="top">
			<td>
				<textarea id="formula" cols="15" rows="11" style="width:250px; height:180px" wrap="virtual">$encoder.htmlEncode( $formula )</textarea><br>
				<a href="#" onclick="insertOperation( 'formula','(' )"><img src="images/left_parent.png" alt="$i18n.getString( 'left_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formula',')' )"><img src="images/right_parent.png" alt="$i18n.getString( 'right_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formula','*' )"><img src="images/multiply.png" alt="$i18n.getString( 'multiply' )"></a>
				<a href="#" onclick="insertOperation( 'formula','/' )"><img src="images/divide.png" alt="$i18n.getString( 'divide' )"></a>
				<a href="#" onclick="insertOperation( 'formula','+' )"><img src="images/plus.png" alt="$i18n.getString( 'plus' )"></a>
				<a href="#" onclick="insertOperation( 'formula','-' )"><img src="images/minus.png" alt="$i18n.getString( 'minus' )"></a>
			</td>
			<td valign="bottom">
				<input type="button" value="<" onclick="insertDataElementId()"/>
			</td>
			<td>	
				<select id="dataElementGroup" style="min-width:500px" onchange="getDataElementsByGroup()"></select>				
				<select id="availableDataElements" size="11" style="min-width:500px"></select>	
				<select id="optionCombos" size=4 style="min-width:500px"></select>	
			</td>
		</tr>	
	</table>	
	<p>
	<input type="button" value="$i18n.getString('ok')" onclick="$('#expression').val($('#formula').html());$('#normal').hide();"/>
	<input type="button" value="$i18n.getString('clean')" onclick="$('#formula').html('')"/></p>
</div>
<!-- This form use for indicator-->

<div id="indicatorForm" style="position:fixed;display:none;width:800px;z-index:10002;background-color: white;border: medium solid silver;height:300px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="$('#indicatorForm').hide();deleteDivEffect();">[x]</div>
	<table width="100%">
		<tr>
			<th>$i18n.getString( "formula" )</th>
			<th>$i18n.getString( "indicators" )</th>
		<tr>
		<tr valign="top">
			<td>
				<textarea id="formulaIndicator" cols="15" rows="11" style="width:250px; height:180px" wrap="virtual">$encoder.htmlEncode( $formula )</textarea><br>
				<a href="#" onclick="insertOperation( 'formulaIndicator','(' )"><img src="images/left_parent.png" alt="$i18n.getString( 'left_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formulaIndicator',')' )"><img src="images/right_parent.png" alt="$i18n.getString( 'right_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formulaIndicator','*' )"><img src="images/multiply.png" alt="$i18n.getString( 'multiply' )"></a>
				<a href="#" onclick="insertOperation( 'formulaIndicator','/' )"><img src="images/divide.png" alt="$i18n.getString( 'divide' )"></a>
				<a href="#" onclick="insertOperation( 'formulaIndicator','+' )"><img src="images/plus.png" alt="$i18n.getString( 'plus' )"></a>
				<a href="#" onclick="insertOperation( 'formulaIndicator','-' )"><img src="images/minus.png" alt="$i18n.getString( 'minus' )"></a>
			</td>
			<td>	
				<select id="indicatorGroups" style="min-width:450px" onchange="filterIndicators()"></select>				
				<select id="availableIndicators" size="11" style="min-width:450px" ondblclick="insertFormulaText(this.id, 'formulaIndicator');"></select>
			</td>
		</tr>
		
	</table>	
	<p>
	<input type="button" value="$i18n.getString('ok')" onclick="$('#expression').val($('#formulaIndicator').html());$('#indicatorForm').hide();"/>
	<input type="button" value="$i18n.getString('clean')" onclick="$('#formulaIndicator').html('')"/></p>
</div>

<!-- This form use for  category report -->

<div id="category" style="position:fixed;display:none;width:800px;z-index:10002;background-color: white;border: medium solid silver;height:300px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="$('#category').hide();deleteDivEffect();">[x]</div>
	<table width="100%">
		<tr>
			<th>$i18n.getString( "formula" )</th>
			<th></th>
			<th>$i18n.getString( "dataelement" )</th>
		<tr>
		<tr valign="top">
			<td>
				<textarea id="categoryFormula" cols="15" rows="11" style="width:250px; height:180px" wrap="virtual">$encoder.htmlEncode( $formula )</textarea><br>
				<a href="#" onclick="insertOperation( 'formula','(' )"><img src="images/left_parent.png" alt="$i18n.getString( 'left_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formula',')' )"><img src="images/right_parent.png" alt="$i18n.getString( 'right_brackets' )"></a>
				<a href="#" onclick="insertOperation( 'formula','*' )"><img src="images/multiply.png" alt="$i18n.getString( 'multiply' )"></a>
				<a href="#" onclick="insertOperation( 'formula','/' )"><img src="images/divide.png" alt="$i18n.getString( 'divide' )"></a>
				<a href="#" onclick="insertOperation( 'formula','+' )"><img src="images/plus.png" alt="$i18n.getString( 'plus' )"></a>
				<a href="#" onclick="insertOperation( 'formula','-' )"><img src="images/minus.png" alt="$i18n.getString( 'minus' )"></a>
			</td>
			<td valign="bottom">
				<input type="button" value="<" onclick="insertDataElementId_()"/>
			</td>
			<td>	
				<select id="dataElementGroup_" style="min-width:500px" onchange="getDataElementGroupOrder()"></select>				
				<select id="availableDataElements_" size="11" style="min-width:500px"></select>	
				<select id="optionCombos_" size=4 style="min-width:500px"></select>	
			</td>
		</tr>	
	</table>	
	<p>
	<input type="button" value="$i18n.getString('ok')" onclick="$('#expression').val($('#categoryFormula').html());$('#category').hide();"/>
	<input type="button" value="$i18n.getString('clean')" onclick="$('#categoryFormula').html('')"/></p>
</div>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10004" onclick="hideById(this.id);"></span>
<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)"></span>

<script type="text/javascript">

	var reportId = $!reportExcel.id;
	var sheetNo = "$sheetNo";
	var reportItemId;

	var dataElementGroups = new Object();
	#foreach( $dataElementGroup in $dataElementGroups )
		dataElementGroups['$dataElementGroup.id'] = '$encoder.jsEscape( $dataElementGroup.name, "'" )';
	#end
	
	var indicatorGroups = new Object();
	#foreach( $indicatorGroup in $indicatorGroups )
		indicatorGroups['$indicatorGroup.id'] = '$encoder.jsEscape( $indicatorGroup.name, "'" )';
	#end
	
	function selectItiemType( value ){	
		if(value=='serial'){
			$('#expression').val(value);
		}		
		if(value=='dataelement_code'){
			$('#expression').val(value);
		}
		if(value=='dataelement_name'){
			$('#expression').val(value);
		}
		if(value=='organisation'){
			$('#expression').val(value);
		}
		
	}

	function openExpressionBuild() {		
		var itemTypeValue = $("#itemType").val();
		var reportType = '$!reportExcel.getReportType()';
		if(reportType=='CATEGORY'){
			if(itemTypeValue=='dataelement'){
				openCategoryExpression();
			}else{
				$("#expression").val(itemTypeValue);
			}			
		}else {			
			if(itemTypeValue=='dataelement'){
				openDataElementExpression();
			}else if(itemTypeValue=='indicator'){
				openIndicatorExpression();
			}
		}		
	}
	
</script>
<div id="copyTo" style="position:fixed;display:none;width:450px;z-index:10001;background-color: white;border: medium solid silver;padding:20px;">
<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onclick="hideById('copyTo');">[x]</div>
<table width="100%">
	<tr>
		<td>$i18n.getString('reports')</td>
		<td>
			<select id="targetReport">
			</select>
		</td>
	</tr>
	<tr>
		<td>$i18n.getString('sheet_no')</td>
		<td><input id="targetSheetNo" type="text"/></td>
	</tr>	
</table>
<p align="center">
<input type="button" value="$i18n.getString('ok')" onclick="saveCopyItems();"/>
<input type="button" value="$i18n.getString('cancel')" onclick="hideById('copyTo');"/>
</p>
</div>
