<link type="text/css" href="style/ui.all.css" rel="stylesheet" />

<script type="text/javascript" src="javascript/jquery-ui-1.7.2.custom.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#tabs").tabs({collapsible : true});
	});
</script>

<h2>$i18n.getString( "generate_report" )</h2>
<table>	
	<tr>
		<td><label>$i18n.getString('group')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td >
			<select type="text" id="group" name="group" style="min-width:20em" onchange="getReportExcelsByGroup()" #if(!$organisationUnit) disabled #end>
				#foreach($group in $groups)
					<option value='$group' #if( $group == $reportGroup ) selected="selected" #end>$encoder.htmlEncode( $group )</option>				
				#end
			</select>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('reports')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="report" name="report" style="min-width:20em" onchange="javascript: reportChanged()" #if(!$organisationUnit) disabled #end>

			</select>
		</td>
    </tr>
	<tr>
		<td></td>
		<td>
			<input type="button" value="<<" onclick="lastPeriod();" #if(!$organisationUnit) disabled #end/><input type="button" value=">>" #if(!$organisationUnit) disabled #end onclick="nextPeriod()"/>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('period')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="period" style="min-width:20em" #if(!$organisationUnit) disabled #end>
				#foreach($period in $periods)
					<option value='$period.id'>$format.formatPeriod( $period )</option>				
				#end
			</select>
		</td>
    </tr>
</table> 
<div id="actions" style="width:200px text-align:right">

</div>
<div id="orgUnitTree">
	
</div>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="hideById(this.id);"></span>
<br/>
<hr/>
<p>
<input type="button" value='$i18n.getString( "preview_report" )' onclick="javascript: generic_type= 'preview'; validateExportReport();" #if(!$organisationUnit) disabled #end/>
<input name="generate_report" id="generate_report"  type="button" onClick="javascript: generic_type= 'normal'; validateExportReport()" value='$i18n.getString( "generate_report" )' #if(!$organisationUnit) disabled #end/>
</p>

<!-- Preview Report Excel -->
<div id="tabs" style="display:none">

	#if( $!collectSheets && $!mapSheets )
		<ul>
		#foreach( $i in $!collectSheets )
			<li><a href="#fragment-$i">$!mapSheets.get($i)</a></li>
		#end
		</ul>
		
		#foreach( $i in $!collectSheets  )
		<div id="fragment-$i"></div>
		#end
	#end
	
</div>

<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)">
	
</span>

<span id="loading" style="display:none;position:fixed;"><img src="../images/ajax-loader.gif" /></span>

<span id="loadingPreview" style="display:none;position:fixed;"><img src="../images/ajax-loader-preview.gif" /></span>

<script>

var selectedReport = '$reportId';
var i18n_select_report = '$encoder.jsEscape( $i18n.getString( "report_is_null" ) , "'")';

#if ( $organisationUnit )
	
	$(document).ready(function() {
	
		getReportExcelsByGroup();
		getPeriodsByPeriodTypeName();
	});
	
#end

</script>