<?xml version="1.0" encoding="UTF-8"?>
<excelItemValues>
#foreach($excelItemValue in $excelItemValues)
	<excelItemValue>
		<id>$!excelItemValue.excelItem.id</id>
		<name>$encoder.xmlEncode($!excelItemValue.excelItem.name)</name>
		<value>$excelItemValue.value</value>
	</excelItemValue>
#end
</excelItemValues>