<?xml version="1.0" encoding="UTF-8"?>
<reportItemValues>
#foreach($reportItemValue in $reportItemValues)
	<reportItemValue>
		<id>$encoder.xmlEncode($reportItemValue.reportItem.id)</id>
		<name>$encoder.xmlEncode($reportItemValue.reportItem.name)</name>
		<value>$reportItemValue.value</value>
	</reportItemValue>
#end
</reportItemValues>