<?xml version="1.0" encoding="UTF-8"?>
<reports>	
	<organisationUnit>$!encoder.xmlEncode($organisationUnit.name)</organisationUnit>
	#foreach($report in $reports)
	<report>
		<id>$report.id</id>
		<name>$!encoder.xmlEncode($report.name)</name>
	</report>
	#end
</reports>