<?xml version="1.0" encoding="UTF-8"?>
<reportItems>
#foreach($reportItem in $reportItems)
	<reportItem>
		<id>$reportItem.id</id>
		<name>$encoder.xmlEncode( $reportItem.name )</name>
		<row>$reportItem.row</row>
		<column>$reportItem.column</column>
	</reportItem>
#end
</reportItems>