<?xml version="1.0" encoding="UTF-8"?>
<excelItemValueByOrgUnits>
#foreach($excelItemValueByOrgUnit in $excelItemValueByOrgUnits)
	<excelItemValueByOrgUnit>
		<orgUnit>
			<id>$excelItemValueByOrgUnit.organisationUnit.id</id>
			<name>$excelItemValueByOrgUnit.organisationUnit.name</name>
		</orgUnit>
		<excelItemValues>
			#foreach($excelItemValue in $excelItemValueByOrgUnit.excelItemValues)
			<excelItemValue>
				<id>$excelItemValue.excelItem.id</id>
				<name>$encoder.xmlEncode($excelItemValue.excelItem.name)</name>
				<value>$excelItemValue.value</value>
			</excelItemValue>
			#end
		</excelItemValues>
	</excelItemValueByOrgUnit>
#end
</excelItemValueByOrgUnits>