<?xml version="1.0" encoding="UTF-8"?>
<reportItem>
	<id>$reportItem.id</id>
	<name>$encoder.xmlEncode( $reportItem.name )</name>
	<periodType>$reportItem.periodType</periodType>	
	<itemType>$reportItem.itemType</itemType>
	<row>$reportItem.row</row>	
	<column>$reportItem.column</column>
	<expression>$encoder.xmlEncode( $reportItem.expression )</expression>
	<sheetNo>$reportItem.sheetNo</sheetNo>
	<textualFormula>$encoder.xmlEncode( $textualFormula )</textualFormula>
</reportItem>