
<div id="showSheetDiv">
	<label class='formatLabel'>$i18n.getString('sheet_of_excel_file')</label>
	<select id="sheetNoExcelFile" name="sheetNoExcelFile" onchange="javascript: previewReport('$!reportId', '$!periodId', this.value, '$!orgunitGroupId', '$!i18n.getString("working_in_progress")');">
	</select>
</div>
<br/>
<div id="previewContentDiv">
</div>

<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="hideById(this.id);"/>

<script>
	getNoSheetsOfReportExcel( '$!reportId' );
	previewReport('$!reportId', '$!periodId', '$!sheetId', '$!orgunitGroupId', '$!i18n.getString("working_in_progress")');
</script>