<h3>$i18n.getString( "administration" )</h3>
<ul>
	<li><a href="getConfiguration.action">$i18n.getString( "configuration" )&nbsp;</a></li>	
	<li><a href="getAdminOptions.action">$i18n.getString( "report_roles" )&nbsp;</a></li>	
	<li><a href="listReportExcel.action">$i18n.getString( "reports" )&nbsp;</a></li>		
	<li><a href="listDataEntryStatus.action">$i18n.getString( "data_status" )&nbsp;</a></li>		
</ul>

<script>
	function go(action){
		window.location = action;
	}
	function cleanUp(){
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( cleanUpCompleted );
		request.send( 'cleanTempDirectory.action' );
	}
	
	function cleanUpCompleted( xmlObject ){	
		alert("Clean up");
	}
</script>