<h3>$i18n.getString( "administration" )</h3>

<ul class="introList">
    #introListItem( "getConfiguration.action" "configuration" )
    #introListItem( "listReportExcel.action" "reports" )
    #introListItem( "listDataEntryStatus.action" "data_status" )
	#introListItem( "listAllExcelItemGroup.action" "excel_item" )
    #introListItem( "listAllExcelTemplates.action" "excel_template_management" )
	#introListItem( "javascript: cleanUp();" "clean_up" )

</ul>
<script>
	function go(action){
		window.location = action;
	}
	function cleanUp(){
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( cleanUpCompleted );
		request.send( 'cleanUpReportExcel.action' );
	}
	
	function cleanUpCompleted( xmlObject ){	
		setMessage(xmlObject.firstChild.nodeValue);
	}
</script>
<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10002" onclick="hideById(this.id);"></span>
