#parse( "/dhis-web-dataentry/select.vm" )

#set( $marker = 0 )

#set( $tabIndex = 1 )

#foreach( $section in $sections)	
	
	#if( $marker == 1 )
		#set( $marker = 0 )
		
	#else
		#set( $marker = 1 )
	#end
		
	<div style="border:thin solid; #if( $marker == 0 ) background-color:#ebf0f6 #end">            
    	<table class="mainPageTable">    		
   			<tr>		   
       			<td onclick="openCloseSection( $section.id )" onmouseover="style.backgroundColor='#baffbc';" onmouseout="#if( $marker == 0 ) style.backgroundColor='#ebf0f6' #else style.backgroundColor='#FFFFFF' #end">
       				<div id="$section.id:name" style="text-align:center"><h3>$encoder.htmlEncode( $section.name )</h3></div>
       			</td>       				   			        		  
    		</tr>    	
    		<tr>
       			<td>        	
           			<div id="$section.id" style="display:block">        				
              				
            			#set( $isMultiDimensional = $sectionIsMultiDimensional.get( $section.id ) )
               				
            			#if($isMultiDimensional == true )
               				#parse( "/dhis-web-dataentry/section/multiDimensionalDataElement.vm" )
           				#else
                			#parse( "/dhis-web-dataentry/section/dataElement.vm" )
               			#end
               				               				
           			</div>
       			</td>
    		</tr>    		    		    	    	
		</table>
	</div>
	
	<br>		
	
#end

#parse( "/dhis-web-dataentry/completeRegistration.vm" )

<script type="text/javascript">
	
	var i18n_value_of_data_element_less = '$encoder.jsEscape( $i18n.getString( "value_of_data_element_less" ) , "'")';
	var i18n_value_of_data_element_greater = '$encoder.jsEscape( $i18n.getString( "value_of_data_element_greater" ) , "'")';
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
	var i18n_saving_comment_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_comment_failed_status_code" ) , "'")';
	var i18n_saving_minmax_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_minmax_failed_error_code" ) , "'")';
	
	var calculatedDataElementMap = {
	   #set( $count = 1 )
	   #foreach( $cde in $calculatedDataElementMap.keySet() )
	       #set( $innerCount = 1 )
	       #set( $factorMap = $calculatedDataElementMap.get($cde) )
	       $cde.id : {
	           #foreach ( $de in $factorMap.keySet() )
                    $de.id : $factorMap.get($de) #if ( $innerCount < $factorMap.size() ),#end
                    #set( $innerCount = $innerCount + 1 )
	           #end
            } #if ( $count < $calculatedDataElementMap.size() ),#end
            #set( $count = $count + 1 )
	   #end
    }
    
</script>
