
<a href="index.action"><h2>Data Entry and Reports&nbsp;</h2></a>
<ul>
    <li><a href="reportSelect.action">Summary reports&nbsp;</a></li>
    <li><a href="visitplan.action">Visit Plans&nbsp;</a></li>
    <li><a href = "nbitsReportsAnalyser.action">Programs Excel Reports</a></li>
</ul>

<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<script type="text/javascript">

    function orgUnitHasBeenSelected( orgUnitIds )
    {
        document.reportForm.ouIDTB.value = orgUnitIds;

        if(orgUnitIds == null || orgUnitIds == "" )
        {
			document.reportForm.ouNameTB.value = "";
            return;
        }

        if( orgUnitIds != null )
        {
            getSelectedOrgUnit( orgUnitIds );
        }
    }

    selection.setListenerFunction( orgUnitHasBeenSelected );

</script>