
<h2>$i18n.getString("available_single_events")</h2>

<p>
<ul>
#foreach( $singleEvent in $singleEvents )
		<li>
			<a href="getSingleEventChoices.action?organisationUnitId=$organisationUnitId&singleEventId=$singleEvent.getId()">
				$singleEvent.getName()
			</a>
		</li>
#end
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="selectOrgUnitSingleEvents.action">$i18n.getString("available_organisation_units")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
