
<h3>$i18n.getString( "messages" )</h3>

<div style="margin-bottom:15px"><input type="button" value="$i18n.getString( 'new_message' )" onclick="window.location.href='showSendMessage.action'"></div>

<table class="listTable" style="width:75%">
	<tr>
		<th>$i18n.getString( "sender" )</th>
		<th>$i18n.getString( "date" )</th>
		<th>$i18n.getString( "subject" )</th>
		<th></th>
	</tr>
	#foreach( $message in $messages )
	<tr>
		<td style="width:28%">$encoder.htmlEncode( $message.message.sender )</td>
		<td style="width:10%">$format.formatDate( $message.messageDate )</td>
		<td style="width:70%">$encoder.htmlEncode( $message.message.subject )</td>
		<td style="width:2%"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/>
	</tr>
	#end
</table>