<script type="text/javascript">
	var i18n_confirm_delete_message = '$encoder.jsEscape( $i18n.getString( "confirm_delete_message" ) , "'" )';
</script>

<h3>$i18n.getString( "messages" )</h3>

<div style="margin-bottom:15px"><input type="button" value="$i18n.getString( 'new_message' )" onclick="window.location.href='showSendMessage.action'">
<br><input type="button" value="$i18n.getString( 'new_feedback' )" onclick="window.location.href='showSendFeedback.action'"></div>

<table style="width:90%" class="plainList">
	<tr>
		<th>$i18n.getString( "sender" )</th>
		<th>$i18n.getString( "subject" )</th>
		<th>$i18n.getString( "date" )</th>
		<th>$i18n.getString( "operations" )</th>
	</tr>
	#foreach( $message in $messages )
	<tr id="tr${message.id}" #if( !$message.read )class="unread"#end>
		<td style="width:200px" onclick="read( '${message.id}' )">$encoder.htmlEncode( $message.message.sender.name )</td>
		<td onclick="read( '${message.id}' )">$encoder.htmlEncode( $message.message.subject )</td>
		<td onclick="read( '${message.id}' )" style="width:80px">$format.formatDate( $message.messageDate )</td>
		<td style="width:70px; text-align:center;">
			<a href="readMessage.action?id=${message.id}"><img src="../images/read.png" title="$i18n.getString( 'read' )"></a>
			<a href="javascript:removeMessage( '${message.id}' )"><img src="../images/delete.png" title="$i18n.getString( 'delete' )"></a>
		</td>
	</tr>
	#end
</table>
