
<h3>$!encoder.htmlEncode( $user.firstName ) $!encoder.htmlEncode( $user.surname  )</h3>

<div class="userRow"><div class="userLabel">$i18n.getString( "introduction" )</div><div class="userInfo">$!encoder.htmlEncode( $user.introduction )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "works_as" )</div><div class="userInfo">$!encoder.htmlEncode( $user.jobTitle )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "employed_at" )</div><div class="userInfo">$!encoder.htmlEncode( $user.employer )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "education" )</div><div class="userInfo">$!encoder.htmlEncode( $user.jobTitle )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "interested_in" )</div><div class="userInfo">$!encoder.htmlEncode( $user.jobTitle )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "speaks" )</div><div class="userInfo">$!encoder.htmlEncode( $user.languages )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "birthday" )</div><div class="userInfo">$!format.formatDate( $user.birthday )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "gender" )</div><div class="userInfo">$!encoder.htmlEncode( $user.gender )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "nationality" )</div><div class="userInfo">$!encoder.htmlEncode( $user.nationality )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "email" )</div><div class="userInfo">$!encoder.htmlEncode( $user.email )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "phone_number" )</div><div class="userInfo">$!encoder.htmlEncode( $user.phoneNumber )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "org_units" )</div><div class="userInfo">$!encoder.htmlEncode( $user.getOrganisationUnitsName() )</div></div>
<div class="userRow"><div class="userLabel">$i18n.getString( "user_roles" )</div><div class="userInfo">$!encoder.htmlEncode( $user.getOrganisationUnitsName() )</div></div>
