
<h3>$encoder.htmlEncode( $message.message.subject )</h3>

<div class="messageDiv"><span style="font-weight:bold;">$encoder.htmlEncode( $message.message.sender.name )</span>&nbsp;
<span style="color:#606060">$format.formatDate( $message.messageDate )</span></div>

<div style="margin-bottom:20px; width:50%;">$encoder.htmlEncode( $message.message.text )</div>

<div>
<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='message.action'" style="width:120px">
<input type="button" value="$i18n.getString( 'mark_unread' )" onclick="window.location.href='unreadMessage.action?id=${message.id}'" style="width:120px">
<input type="button" value="$i18n.getString( 'remove' )" onclick="window.location.href='removeMessageRedirect.action?id=${message.id}'" style="width:120px">
</div>