<script type="text/javascript">
var i18n_enter_subject = '$encoder.jsEscape( $i18n.getString( "enter_subject" ), "'")';
var i18n_enter_text = '$encoder.jsEscape( $i18n.getString( "enter_text" ), "'")';
var i18n_select_one_or_more_recipients = '$encoder.jsEscape( $i18n.getString( "select_one_or_more_recipients" ), "'")';
var i18n_select_users_and_user_groups = '$encoder.jsEscape( $i18n.getString( "select_users_and_user_groups" ), "'")';

jQuery(function() {
    $('#additionalUsers').select2({
       placeholder: i18n_select_users_and_user_groups,
       minimumInputLength: 2,
       multiple: true,
       width: "545px",
       ajax: {
           url: 'getMessageRecipients.action',
           dataType: 'json',
           data: function(term, page) {
                return {
                    filter: term
                }
           },
           results: function(data, page) {
               return { results: data.matches }
           }
       },
       formatResult: formatItem,
       formatSelection: formatItem
    });
});
</script>

<h3>$i18n.getString( "write_new_message" )</h3>

<form action="sendMessage.action" method="post" onsubmit="return validateMessage()">

<table>

<tr>
<td style="width:80px" rowspan="2">$i18n.getString( "recipients" )</td>
<td>
#organisationUnitSelectionTree( true true false )
</td>
</tr>
<td>
<input type="hidden" name="additionalUsers" id="additionalUsers" style="width:545px; padding:4px; border:1px solid grey;"/>
</td>
</tr>

<tr>
<td>$i18n.getString( "subject" )</td>
<td><input type="text" id="subject" name="subject" style="width:615px; padding:4px; border:1px solid grey !important;"></td>
</tr>

<tr>
<td>$i18n.getString( "text" )</td>
<td><textarea id="text" name="text" style="width:619px; height:220px; border:1px solid grey !important;"></textarea></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="$i18n.getString( 'send' )" style="width: 120px;">
<input type="button" value="$i18n.getString( 'discard' )"  style="width: 120px;" onclick="window.location.href='message.action'"></td>
</tr>

</table>

</form>
