<div id="contextMenu" class="contextMenu">
    <ul id="contextMenuItems" class="contextMenuItems">
        <li data-enabled="canManage"><a data-target-fn="showSharingDialogWithContext"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "sharing_settings" )</a></li>
        <li data-enabled="canUpdate"><a data-target-fn="showUpdateDataElementForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
        <li data-enabled="canUpdate"><a data-target-fn="translateWithContext"><i class="fa fa-globe"></i>&nbsp;&nbsp;$i18n.getString( "translation_translate" )</a></li>
        <li data-enabled="canDelete"><a data-target-fn="removeDataElement"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
        <li><a data-target-fn="showDataElementDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
    </ul>
</div>

<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top">
            <div id="content">
                <table class="listTable dhis2-table-striped dhis2-table-hover" id="dhis2EventList">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="max-column-width" ng-click="sortEventGrid(eventTableHeader)" ng-repeat="eventTableHeader in eventTableHeaders">
                                {{eventTableHeader.name}}
                                <i ng-show="sortHeader == eventTableHeader.id && !reverse" class="fa fa-sort-desc"></i>
                                <i ng-show="sortHeader == eventTableHeader.id && reverse" class="fa fa-sort-asc"></i>
                            </th>
                            <th>{{'operations'| translate}}</th>            
                        </tr>
                    </thead>
                    <tbody id="list">
                        <tr id="tr{{dhis2Event.event}}" ng-repeat="dhis2Event in dhis2Events| paginate:rowsPerPage| orderBy:sortHeader:reverse" ng-click="showContextMenu(dhis2Event)">
                            <td>{{($index + 1) + (paginator.getPage() * paginator.rowsPerPage)}}</td>                                                        
                            <td class="max-column-width" ng-hide="eventUnderEditing == dhis2Event" ng-repeat="eventTableHeader in eventTableHeaders">
                                {{dhis2Event[eventTableHeader.id]}}                                              
                            </td>
                            <td class="max-column-width" ng-show="eventUnderEditing == dhis2Event" ng-repeat="eventDataValue in dhis2Event.dataValues">
                                <input type="text" style="width:90%;" ng-model="eventDataValue.value" value="eventDataValue.value"/>                                              
                            </td>
                            <td>
                                <span ng-hide="eventUnderEditing == dhis2Event">
                                    <a href ng-click="editEvent(dhis2Event)" title="{{'edit'| translate}}"><span class='anchor-color'><i class="fa fa-pencil-square-o fa-2x"></i></span></a>
                                    <a href ng-click="deleteEvent(dhis2Event)" title="{{'delete'| translate}}"><span class='red'><i class="fa fa-trash-o fa-2x"></i></span></a>       
                                </span>
                                <span ng-show="eventUnderEditing == dhis2Event">
                                    <a href ng-click="updateEvent(dhis2Event)" title="{{'update'| translate}}"><span class='anchor-color'><i class="fa fa-floppy-o fa-2x"></i></span></a>
                                    <a href ng-click="cancelEditing(dhis2Event)" title="{{'cancel'| translate}}"><span class='red'><i class="fa fa-undo fa-2x"></i></span></a>       
                                </span>
                            </td>
                        </tr>
                    </tbody>        
                </table>
                <p></p>
                <paginator></paginator>    
            </div>
        </td>
    </tr>
</table>    
