<!DOCTYPE html>
<html manifest="event-capture.appcache" ng-app="eventCapture">
    <head>
        <title>Event Capture</title>

        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">              

        <script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/ui/jquery-ui-1.9.1.custom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../dhis-web-commons/javascripts/jQuery/ui/css/redmond/jquery-ui-1.9.1.custom.css">       

        <script type="text/javascript" src="../dhis-web-commons/bootstrap/js/bootstrap.min.js"></script>
                
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/angular.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/angular-resource.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/angular-route.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/angular-cookies.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/angular-animate.js"></script>        
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/ui-bootstrap-tpls-0.10.0.js"></script>

        <script type="text/javascript" src="../dhis-web-commons/javascripts/moment/moment-with-langs.min.js"></script>          

        <script type="text/javascript" src="../dhis-web-commons/javascripts/underscore.min.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.util.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/commons.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/commons.ajax.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/lists.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/periodType.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/date.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/json2.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/validationRules.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.array.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.select.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.comparator.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.availability.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.trigger.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.sharing.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.validation.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.storage.ss.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.storage.ls.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.storage.idb.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.storage.memory.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.storage.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.contextmenu.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/dhis2/dhis2.appcache.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/ouwt/ouwt.js"></script>
        
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/plugins/angularLocalStorage.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/plugins/angular-translate.min.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/plugins/angular-translate-loader-static-files.min.js"></script>
        <script type="text/javascript" src="../dhis-web-commons/javascripts/angular/plugins/angular-translate-loader-url.min.js"></script>

        <script type="text/javascript" src="scripts/event-capture.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/services.js"></script>
        <script type="text/javascript" src="scripts/directives.js"></script>
        <script type="text/javascript" src="scripts/controllers.js"></script>
        <script type="text/javascript" src="scripts/filters.js"></script>

        <link type="text/css" rel="stylesheet" href="../dhis-web-commons/font-awesome/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" media="screen,print" href="../dhis-web-commons/css/light_blue/light_blue.css"/>
        <link type="text/css" rel="stylesheet" media="screen,print" href="../dhis-web-commons/css/widgets.css"/>
        
        <link type="text/css" rel="stylesheet" href="styles/style.css">

    </head>

    <body>
        <div id="header" ng-controller="HeaderController">
            <div class="container-heading">
                <img ng-click="home()" id="headerBanner" src="../dhis-web-commons/css/light_blue/logo_banner.png" style="cursor:pointer" title="{{'dhis2_home'| translate}}">                    
            </div>
            <div id="headerMessage" class="bold"></div>
        </div>

        <div ng-controller="MainController">
            
            <div id="leftBar">                
                <div id="orgUnitTree">
                    <ul>
                    </ul>
                </div>
                <img id="ouwt_loader" src="../images/ajax-loader-bar.gif"/>
            </div>
            
            <div class="page" id="mainPage">
                <h1>
                    {{'event_capture'| translate}}
                    <a href ng-click="getHelpContent()" title="{{'help'| translate}}"><i class="fa fa-question-circle"></i></a>
                </h1>
                
                <!-- selection begins-->
                <div>
                    <table>
                        <tr>
                            <td><label>{{'registering_unit'| translate}}</label></td>
                            <td><input type="text" selected-org-unit ng-model="selectedOrgUnit.name" value="{{selectedOrgUnit.name || 'please_select'| translate}}" disabled=""></td>
                        </tr>
                        <tr>
                            <td><label>{{'program'| translate}}<em title="{{'required'| translate}}" class="required">*</em></label></td>
                            <td>
                                <select id="programId" 
                                        name="programId" 
                                        ng-model="pr" 
                                        ng-options="program as program.name for program in programs | orderBy: 'name'" 
                                        ng-change="loadEvents(pr)"
                                        ng-disabled="eventRegistration || editingEventInFull || editingEventInGrid">
                                    <option value="">{{'please_select'| translate}}</option>
                                </select>      
                            </td>
                            <td style='padding-left: 20px;'>
                                <button class="button"
                                        ng-show="selectedProgramStage" 
                                        ng-click="showEventRegistration()" 
                                        ng-disabled="eventRegistration || editingEventInFull || editingEventInGrid">
                                    {{'register_new_event'| translate}}
                                </button>  
                            </td>
                        </tr>                       
                    </table>
                </div>
                <!-- selection ends -->

                <!-- event grid begins -->
                <div id="listDiv" ng-show="selectedProgramStage && !eventRegistration && !editingEventInFull">                    
                    
                    <!-- show/hide grid column begins -->
                    <div class="right" ng-show="dhis2Events.length">
                        <accordion>
                            <accordion-group>
                                <accordion-heading>
                                    {{'show_hide_columns' | translate}}
                                </accordion-heading>
                                <table width='100%'>                                    
                                    <tr ng-repeat="eventGridColumn in eventGridColumns">
                                        <td>
                                            {{eventGridColumn.name}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="eventGridColumn.hide" ng-change="showHideColumns(eventGridColumn,false)" ng-disabled="hiddenGridColumns + 1 == eventGridColumns.length && !eventGridColumn.hide">
                                        </td>
                                    </tr>                                    
                                </table>
                                <button ng-click="showHideColumns(null,true)" ng-disabled="hiddenGridColumns < 1">{{'show_all'| translate}}</button>
                            </accordion-group>
                        </accordion>
                    </div>
                    <!-- show/hide grid column ends -->
                                        
                    <h2>
                        {{'registered_events'| translate}}                                                 
                    </h2>               

                    <div ng-switch="dhis2Events.length">

                        <div ng-switch-when="undefined">
                            <p>
                                {{'empty_event_list'| translate}}
                            </p>
                        </div>
                        
                        <div ng-switch-when="0">
                            <p>
                                {{'empty_event_list'| translate}}
                            </p>
                        </div>

                        <div ng-switch-default>

                            <!-- context menu for event grid -->
                            <div id="contextMenu" class="contextMenu" style="width: 180px;">
                                <ul id="contextMenuItems" class="contextMenuItems">
                                    <li><a href ng-click="showEditEventInFull()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit'| translate}}</a></li>
                                    <li><a href ng-click="showEditEventInGrid()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit_in_grid'| translate}}</a></li>
                                    <li><a href ng-click="removeEvent()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{'remove'| translate}}</a></li>                                       
                                </ul>
                            </div>
                            <!-- context menu ends -->

                            <!-- grid begins -->
                            <form name="outerForm" novalidate>                              

                                <table class="listTable dhis2-table-striped-border dhis2-table-hover">                    
                                    <thead>                        
                                        <tr>
                                            <th ng-show="!eventGridColumn.hide" 
                                                class="max-column-width"                                                
                                                ng-repeat="eventGridColumn in eventGridColumns">
                                                
                                                <!-- sort icon begins -->
                                                <span ng-hide="eventGridColumn.showFilter" class="bold" ng-click="sortEventGrid(eventGridColumn)">
                                                    <i ng-show="sortHeader == eventGridColumn.id && !reverse" class="fa fa-sort-desc"></i>
                                                    <i ng-show="sortHeader == eventGridColumn.id && reverse" class="fa fa-sort-asc"></i>
                                                    {{eventGridColumn.name}}
                                                </span>
                                                <!-- sort icon ends -->
                                                
                                                <!-- filter icon begins -->
                                                <span class='pull-right'>
                                                    <span ng-show="eventGridColumn.type !=='date'">
                                                        <a href ng-click="searchInGrid(eventGridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [filterText[eventGridColumn.id] == undefined || filterText[eventGridColumn.id] == '']"><i class="fa fa-search"></i></span></a>
                                                    </span>
                                                    <span ng-show="eventGridColumn.type ==='date'">
                                                        <a href ng-click="searchInGrid(eventGridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [(filterText[eventGridColumn.id].start == 'undefined' || filterText[eventGridColumn.id].start == '') && (filterText[eventGridColumn.id].end == 'undefined' || filterText[eventGridColumn.id].end == '')]"><i class="fa fa-search"></i></span></a>
                                                    </span>                                                    
                                                </span>
                                                <!-- filter icon ends -->
                                                
                                                <!-- filter input field begins -->
                                                <div ng-show="eventGridColumn.showFilter">
                                                    <span ng-show="eventGridColumn.type !=='date'">
                                                        <input type="text" ng-model="filterText[eventGridColumn.id]" ng-blur="searchInGrid(eventGridColumn)">
                                                    </span>                                                    
                                                    <span ng-show="eventGridColumn.type ==='date'">
                                                        <input placeholder="{{'start_date' | translate}}" type="text" ng-model="filterText[eventGridColumn.id].start" data-ng-date readonly="readonly">
                                                        <span ng-hide="filterText[eventGridColumn.id].start == 'undefined' || filterText[eventGridColumn.id].start == ''">
                                                            <a href ng-click='removeStartFilterText(eventGridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                                        </span>
                                                        <input placeholder="{{'end_date' | translate}}" type="text" ng-model="filterText[eventGridColumn.id].end" data-ng-date readonly="readonly">
                                                        <span ng-hide="filterText[eventGridColumn.id].end == 'undefined' || filterText[eventGridColumn.id].end == ''">
                                                            <a href ng-click='removeEndFilterText(eventGridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                                        </span>
                                                    </span>
                                                </div>
                                                <!-- filter input field ends -->
                                                
                                            </th>
                                            <th></th>
                                        </tr>                        
                                    </thead>
                                    <tbody id="list">
                                        <tr ng-repeat="dhis2Event in dhis2Events | paginate:rowsPerPage | orderBy:sortHeader:reverse | gridFilter:filterText:programStageDataElements" 
                                            ng-click="showContextMenu(dhis2Event)">

                                            <!-- Visible when event is not under editing -->
                                            <td dhis-context-menu 
                                                selected-item={{dhis2Event}} 
                                                class="max-column-width" 
                                                ng-hide="(currentEvent.event == dhis2Event.event) || eventGridColumn.hide" 
                                                ng-repeat="eventGridColumn in eventGridColumns">                                                
                                                {{dhis2Event[eventGridColumn.id]}}                                                
                                            </td>

                                            <!-- Visible when event is under editing - in grid -->
                                            <td class="max-column-width"
                                                style="cursor:default;"                                                
                                                ng-show="(currentEvent.event == dhis2Event.event) && !eventGridColumn.hide" 
                                                ng-repeat="eventGridColumn in eventGridColumns">
                                                <ng-form name="innerFormGrid">
                                                    <div ng-switch="eventGridColumn.type">
                                                        <div ng-switch-when="int">
                                                            <input type="number" 
                                                                   input-validator
                                                                   program-stage-data-element={{programStageDataElements[eventGridColumn.id]}}
                                                                   ng-model="dhis2Event[eventGridColumn.id]" 
                                                                   ng-blur="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                                   ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                   name="foo" 
                                                                   style="width:98%;"
                                                                   ng-class="{true: 'input-error', false: 'input-success'} [outerForm.submitted]"/>
                                                                   <!--ng-class="{'input-error': (outerForm.submitted && innerFormGrid.foo.$invalid), 'input-success': (outerForm.submitted && innerFormGrid.foo.$valid)}/>"-->                                                                   
                                                            <span ng-show="outerForm.submitted && innerFormGrid.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                        </div>
                                                        <div ng-switch-when="string">                                        
                                                            <div class="container-fluid">
                                                                <input type="text" 
                                                                       ng-model="dhis2Event[eventGridColumn.id]" 
                                                                       ng-blur="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                                       typeahead="option for option in programStageDataElements[eventGridColumn.id].dataElement.optionSet.options | filter:$viewValue | limitTo:20" 
                                                                       typeahead-open-on-focus
                                                                       ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                       name="foo" 
                                                                       style="width:98%;"
                                                                       />                                            
                                                                <span ng-show="outerForm.submitted && innerFormGrid.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                            </div>
                                                        </div>
                                                        <div ng-switch-when="bool">
                                                            <select ng-model="dhis2Event[eventGridColumn.id]" 
                                                                    ng-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                                    ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                    name="foo" 
                                                                    style="width:98%;">
                                                                <option value="">{{'please_select'| translate}}</option>                        
                                                                <option value="0">{{'no'| translate}}</option>
                                                                <option value="1">{{'yes'| translate}}</option>
                                                            </select>
                                                            <span ng-show="outerForm.submitted && innerFormGrid.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                        </div>
                                                        <div ng-switch-when="date">
                                                            <input type="text" 
                                                                   placeholder="yyyy-mm-dd" 
                                                                   ng-date 
                                                                   ng-model="dhis2Event[eventGridColumn.id]"
                                                                   blur-or-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                                   ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                   name="foo" 
                                                                   style="width:98%;"/>
                                                            <span ng-show="outerForm.submitted && innerFormGrid.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                        </div>
                                                    </div>
                                                </ng-form>
                                                <!--<span ng-show="(currentEvent.event == dhis2Event.event) && (($index +1 ) === eventGridColumns.length)">
                                                    <a href ng-click="showEventList()" title="{{'close_editing'| translate}}"><span class='black'><i class="fa fa-times-circle-o fa-2x"></i></span></a>                                                    
                                                </span>-->
                                            </td>
                                           <td>                                
                                                <span ng-show="currentEvent.event == dhis2Event.event">
                                                    <a href ng-click="showEventList()" title="{{'close_editing'| translate}}"><span class='black'><i class="fa fa-times-circle-o fa-2x"></i></span></a>                                                    
                                                </span>
                                            </td>                           
                                        </tr>
                                    </tbody>        
                                </table>
                                <paginator></paginator>
                            </form>
                            <!-- grid ends -->
                        </div>
                    </div>
                </div> 
                <!-- event grid ends -->

                <!-- event update in full begins-->
                <div ng-show="editingEventInFull">
                    <h2>
                        {{'update_event'| translate}}                                                 
                    </h2>                                           
                    <div class="bordered-div" style="width:50%;">
                        <form name="outerForm" novalidate>
                            <table class="dhis2-list-table-striped">                    
                                <thead>                        
                                    <tr>
                                        <th>
                                            {{'data_element'| translate}}                    
                                        </th>
                                        <th>
                                            {{'value'| translate}}                    
                                        </th>         
                                    </tr>                        
                                </thead>
                                <tbody id="list">
                                    <tr ng-repeat="eventGridColumn in eventGridColumns">
                                        <td class="max-column-width">
                                            {{eventGridColumn.name}}                                              
                                        </td>
                                        <td class="max-column-width">
                                            <ng-form name="innerFormUpdate">
                                                <div ng-switch="eventGridColumn.type">
                                                    <div ng-switch-when="int">
                                                        <input type="number" 
                                                               ng-model="currentEvent[eventGridColumn.id]" 
                                                               ng-blur="updateEventDataValue(currentEvent, eventGridColumn.id)" 
                                                               ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                               name="foo" 
                                                               style="width:98%;"
                                                               />
                                                        <span ng-show="outerForm.submitted && innerFormUpdate.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                    <div ng-switch-when="string">                                        
                                                        <div class="container-fluid">
                                                            <input type="text" 
                                                                   ng-model="currentEvent[eventGridColumn.id]" 
                                                                   ng-blur="updateEventDataValue(currentEvent, eventGridColumn.id)" 
                                                                   typeahead="option for option in programStageDataElements[eventGridColumn.id].dataElement.optionSet.options | filter:$viewValue | limitTo:20" 
                                                                   typeahead-open-on-focus
                                                                   ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                   name="foo" 
                                                                   style="width:98%;"/>                                            
                                                            <span ng-show="outerForm.submitted && innerFormUpdate.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                        </div>
                                                    </div>
                                                    <div ng-switch-when="bool">
                                                        <select ng-model="currentEvent[eventGridColumn.id]"
                                                                ng-change="updateEventDataValue(currentEvent, eventGridColumn.id)"
                                                                ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                name="foo" 
                                                                style="width:98%;">
                                                            <option value="">{{'please_select'| translate}}</option>                        
                                                            <option value="0">{{'no'| translate}}</option>
                                                            <option value="1">{{'yes'| translate}}</option>
                                                        </select>
                                                        <span ng-show="outerForm.submitted && innerFormUpdate.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                    <div ng-switch-when="date">
                                                        <input type="text" 
                                                               placeholder="yyyy-mm-dd" 
                                                               ng-date 
                                                               ng-model="currentEvent[eventGridColumn.id]"
                                                               blur-or-change="updateEventDataValue(currentEvent, eventGridColumn.id)"
                                                               ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                               name="foo" 
                                                               style="width:98%;"/>
                                                        <span ng-show="outerForm.submitted && innerFormUpdate.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                </div>
                                            </ng-form>
                                    </td>
                                </tr>
                                </tbody>        
                            </table>                            
                            <button ng-click="showEventList()" class="button">{{'back'| translate}}</button>  
                        </form>    
                    </div>
                </div>
                <!-- event update ends -->

                <!-- event registration begins -->
                <div ng-show="eventRegistration">
                    <h2>
                        {{'new_event'| translate}}                                                 
                    </h2>   
                    <div class="bordered-div" style="width:50%;">
                        <form name="outerForm" novalidate>
                            <table class="dhis2-list-table-striped">
                             <tbody id="list"> 
                                 <tr>
                                     <td>
                                         {{selectedProgram.dateOfIncidentDescription}}
                                     </td>
                                     <td>
                                         <input type="text" 
                                                placeholder="yyyy-mm-dd" 
                                                ng-date 
                                                ng-model="currentEvent.eventDate" 
                                                ng-required="true" 
                                                name="eventDate" 
                                                style="width:98%;">
                                         <span ng-show="outerForm.submitted && outerForm.eventDate.$invalid" class="red">{{'required'| translate}}</span>
                                     </td>
                                 </tr>                                     
                             </tbody>
                            </table>
                            <hr>
                            <table class="dhis2-list-table-striped">                    
                                <thead>                        
                                    <tr>
                                        <th>
                                            {{'data_element'| translate}}                    
                                        </th>
                                        <th>
                                            {{'value'| translate}}                    
                                        </th>         
                                    </tr>                        
                                </thead>
                                <tbody id="list">
                                    <tr ng-repeat="eventGridColumn in eventGridColumns">
                                        <td class="max-column-width">
                                            {{eventGridColumn.name}}                                              
                                        </td>
                                        <td class="max-column-width">
                                            <ng-form name="innerFormAdd">
                                                <div ng-switch="eventGridColumn.type">
                                                    <div ng-switch-when="int">
                                                        <input type="number" 
                                                               ng-model="currentEvent[eventGridColumn.id]" 
                                                               ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                               name="foo" 
                                                               style="width:98%;"/>
                                                        <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                    <div ng-switch-when="string">                                        
                                                        <div class="container-fluid">
                                                            <input type="text" 
                                                                   ng-model="currentEvent[eventGridColumn.id]" 
                                                                   typeahead="option for option in programStageDataElements[eventGridColumn.id].dataElement.optionSet.options | filter:$viewValue | limitTo:20" 
                                                                   typeahead-open-on-focus
                                                                   ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                   name="foo" 
                                                                   style="width:98%;">                                            
                                                            <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                        </div>
                                                    </div>
                                                    <div ng-switch-when="bool">
                                                        <select ng-model="currentEvent[eventGridColumn.id]" 
                                                                ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                                name="foo" 
                                                                style="width:98%;">
                                                            <option value="">{{'please_select'| translate}}</option>                        
                                                            <option value="0">{{'no'| translate}}</option>
                                                            <option value="1">{{'yes'| translate}}</option>
                                                        </select>
                                                        <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                    <div ng-switch-when="date">
                                                        <input type="text" 
                                                               placeholder="yyyy-mm-dd" 
                                                               ng-date 
                                                               ng-model="currentEvent[eventGridColumn.id]" 
                                                               ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                               name="foo" 
                                                               style="width:98%;">
                                                        <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                                    </div>
                                                </div>
                                            </ng-form>
                                        </td>
                                    </tr>
                                </tbody>        
                            </table>

                            <button ng-click="addEvent(true)" class="button">{{'save_and_add_new'| translate}}</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button ng-click="addEvent()" class="button">{{'save_and_close'| translate}}</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button ng-click="showEventList(null)" class="button">{{'close'| translate}}</button>
                        </form>
                    </div>
                </div>                
                <!-- event registration ends -->                 
                
            </div>           
        </div>

    </body>
</html>