
<script type="text/javascript">
#if ( $startModule && $auth.hasAccess( $startModule, "index" ) )
	window.location.href = "../${startModule}/index.action";
#else
    window.location.href = "intro.action";
#end
</script>

<p>$i18n.getString( "loading" )...</p>