
<script type="text/javascript">
function redirect()
{
#if ( $startModule && $auth.hasAccess( $startModule, "index" ) )
	window.location.href = "../${startModule}/index.action";jy
#else
    window.location.href = "intro.action";
#end
}

#if ( !$inMemoryDatabase )
redirect();
#end
</script>

<span id="info">$i18n.getString( "in_memory_notification" )</span>

<p><input type="button" value="$i18n.getString( 'proceed' )" onclick="redirect()"></p>