<link type="text/css" rel="stylesheet" media="screen" href="../dhis-web-commons/util/css/redmond/jquery-ui.css">
<script type="text/javascript" src="../dhis-web-commons/util/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#antDiv").hide();
        $("#accordion").accordion();
    });

    function showPathField(){
        $("#antDiv").toggle(200);
    }
</script>

<h1>Create Mobile Application</h1>
<div id="antStatusDiv">
    #set ($path = "$!antPath")
    #if($path != "")
        #set ($status = "$!antStatus")
        #if($status != "")
            <span style="color:red">$status</span> <br/>
        #end
        <img src="../images/check.png" alt="" /> Using Ant found in PATH at $path (<a href="javascript: showPathField()">Change</a>)<br/><br/>
        <div id="antDiv"><form method="post">
            Enter Ant Folder Path: <input name="antPath" type="text" value="$!antPath" maxlength="30" />
            <input type="submit" value="Submit" />
        </form></div>
    #else
        #set ($status = "$!antStatus")
        #if($status != "")
            <span style="color:red">$status</span>
        #end
        Ant not found... Please configure Ant location <br/>
        <form method="post">
            Enter Ant Folder Path: <input name="antPath" type="text" value="$!antPath" maxlength="30" />
            <input type="submit" value="Submit" />
        </form>
    #end
</div>
<form action="jarGenerator.action" method="post">
    <input style=" visibility: hidden" name="antBin" value="$path"/>
    <div id="accordion">

        <h3><a href="#">Step 1: Splash Screen Selection</a></h3>
        <div id="splashDesigner">
            <table>
                <tr>
                    <td>
                        <div style=" width: 100px; height: 160px; border: dotted; text-align: center;">
                            <img style="margin-top: 45px" alt="" src="images/intro.gif" width="80" height="80"/>
                            <input style="bottom: 5px" type="checkbox" />
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" name="upload" value="Upload Image" /></td>
                </tr>
            </table>
        </div>
        <h3><a href="#">Step 2: Dataset Selection</a></h3>
        <div id="dataSetSelector">
            <p>

            </p>
        </div>
        <h3><a href="#">Step 3: Select Language Or Translate Data Elements</a></h3>
        <div id="languageSelector">
            <p>

            </p>
        </div>
        <h3><a href="#">Step 4: Generate Application</a></h3>
        <div id="jarGenerator">
            <input type="submit" value="Generate Mobile Application" />
        </div>
    </div>
</form>