{ "user":
  {
    "id": ${userCredentials.id},
    "surname": "$!encoder.jsonEncode( ${userCredentials.user.surname} )",
    "firstName": "$!encoder.jsonEncode( ${userCredentials.user.firstName} )",
    "username": "$!encoder.jsonEncode( ${userCredentials.username} )",
    "email": "$!encoder.jsonEncode( ${userCredentials.email} )",
    "phoneNumber": "$!encoder.jsonEncode( ${userCredentials.phoneNumber} )",
    "lastLogin": "$!format.formatDate( ${userCredentials.lastLogin} )",
	
	#set( $size = ${userCredentials.user.organisationUnits.size()} )
	"orgunits": [
	#foreach( $unit in $userCredentials.user.organisationUnits )
	  { "name": "$!{unit}" }#if( $velocityCount < $size ),#end
	#end
	],
	
	#set( $size = ${userCredentials.userAuthorityGroups.size()} )
	"roles": [
	#foreach( $role in $userCredentials.userAuthorityGroups )
	  { "name": "$!{role.name}" }#if( $velocityCount < $size ),#end
	#end
	]
  }
}