{ "dataSet": 
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsEncode( ${dataSet.name} )",
    "shortName": "$!encoder.jsEncode( ${dataSet.shortName} )",
    "periodTypeId": "$!{dataSet.periodTypeId}"
  }
}
