{ "indicator": 
  {
    "id": $!{indicator.id},
    "name": "$!{indicator.name}",
    "alternativeName": "$!{indicator.alternativeNamee}",
    "shortName": "$!{indicator.shortName}",
    "code": "$!{indicator.code}",
    "annualized": "${indicator.annualized}",
    "indicatorTypeId": "$!{indicator.indicatorType.id}",
    "numerator": "$!{indicator.numerator}",
    "numeratorDescription": "$!{indicator.numeratorDescription}",
    "numeratorAggregationOperator": "$!{indicator.numeratorAggregationOperator}",
    "denominator": "$!{indicator.denominator}",
    "denominatorDescription": "$!{indicator.denominatorDescription}",
    "denominatorAggregationOperator": "$!{indicator.denominatorAggregationOperator}"
  }
}
