{ "indicatorGroup": 
  {
    "id": $!{indicatorGroup.id},
    "name": "$!encoder.jsonEncode( ${indicatorGroup.name} )",
    "alternativeName": "$!encoder.jsonEncode( ${indicatorGroup.alternativeNamee} )",
    "memberCount": "$memberCount"
  }
}
