#set( $size = $organisationUnitGroups.size() )
{ "organisationUnitGroups": [
#foreach( $group in $organisationUnitGroups )
  {    
    "name": "$!encoder.jsEncode( ${group.name} )",
    "id": "$group.id"
  }#if( $velocityCount < $size ),#end    
#end
] }
