#set( $size = $dataSets.size() )
{"dataSets":[#foreach( $dataSet in $dataSets ){"id":$!{dataSet.id},"name":"$!encoder.jsonEncode( ${dataSet.displayShortName} )"}#if( $velocityCount < $size ),#end#end]}