#set( $size = $dataElements.size() )
{ "dataElements": [
#foreach( $dataElement in $dataElements )
  {
    "id":  ${dataElement.id} ,
    "name": "$!encoder.jsonEncode( ${dataElement.name} )",
    "alternativeName": "$!encoder.jsonEncode( ${dataElement.alternativeNamee} )",
    "shortName": "$!encoder.jsonEncode( ${dataElement.shortName} )",
    "code": "$!encoder.jsonEncode( ${dataElement.code} )",
    "type": "$!{dataElement.type}",
    "aggregationOperator": "$!{dataElement.aggregationOperator}",
	"zeroIsSignificant": "$!{dataElement.zeroIsSignificant}"
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
