#set( $size = $indicatorGroups.size() )
{"indicatorGroups":[#foreach( $group in $indicatorGroups ){"id":$!{group.id},"name":"$!encoder.jsonEncode( ${group.name} )"}#if( $velocityCount < $size ),#end#end]}