{ "patientAttribute":
  {
    "id": "${patientAttribute.id}",
	"name": "$!encoder.jsonEncode( ${patientAttribute.name} )",
	"code": "$!encoder.jsonEncode( ${patientAttribute.code} )",
	"description": "$!encoder.jsonEncode( ${patientAttribute.description} )",
	"mandatory":  "$!{patientAttribute.mandatory}",
	"unique":  "$!{patientAttribute.unique}",
	"valueType": "$!patientAttribute.valueType",
	"displayInListNoProgram": "$!patientAttribute.displayInListNoProgram",
	"inherit": "$!patientAttribute.inherit"
  }
}