#set( $size = $dataSets.size() )
{ "dataSets": [
#foreach( $dataSet in $dataSets )
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsEncode( ${dataSet.name} )",
    "shortName": "$!encoder.jsEncode( ${dataSet.shortName} )",
    "periodTypeId": "$!{dataSet.periodTypeId}"
  }#if( $velocityCount < $size ),#end
#end
] }