#set( $size = $organisationUnits.size() )
{ "organisationUnits": [
#foreach ( $unit in $organisationUnits )
  {
    "id": $!{unit.id},
    "name": "$!encoder.jsonEncode( ${unit.name} )",
    "shortName": "$!encoder.jsonEncode( ${unit.shortName} )",
    "code": "$!encoder.jsonEncode( ${unit.code} )",
    "hasChildrenWithCoordinates": $!{unit.hasChildrenWithCoordinates()}
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
