#set( $size = $dataElements.size() )
{"dataElements":[#foreach( $dataElement in $dataElements ){"id":$!{dataElement.id},"shortName":"$!encoder.jsonEncode( ${dataElement.shortName} )"}#if( $velocityCount < $size ),#end#end]}