{ "patientAttribute":
  {
    "id": "${patientAttribute.id}",
	"name": "$!encoder.jsonEncode( ${patientAttribute.name} )",
	"description": "$!encoder.jsonEncode( ${patientAttribute.description} )",
	"mandatory":  "$!{patientAttribute.mandatory}",
	"valueType": "$!encoder.jsonEncode( ${patientAttribute.valueType} )",
	"inherit": "$!encoder.jsonEncode( ${patientAttribute.inherit} )"
  }
}