#set( $size = $categoryOptionCombos.size() )
{ "categoryOptionCombos": [
#foreach( $coc in $categoryOptionCombos )
  {
    "id": $!{coc.id},
    "name": "$!encoder.jsEncode( ${coc.name} )",
	"default": "$coc.isDefault()"
  }#if( $velocityCount < $size ),#end
#end
] }
