{ "section":
  {
    "id": "$!{section.id}",
    "name": "$!encoder.jsonEncode( ${section.name} )",
    "dataSet": "$!encoder.jsonEncode( ${section.dataSet.name} )",
    "categoryCombo": "$!encoder.jsonEncode( ${categoryCombo.name} )",
	"dataElementCount": "$!{sectionDataElements.size()}"
  }
}