{ "dataSet": 
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsonEncode( ${dataSet.name} )",
    "shortName": "$!encoder.jsonEncode( ${dataSet.shortName} )",
    "periodTypeId": "$!{dataSet.periodTypeId}",
	"frequency": "$i18n.getString( $!{dataSet.periodType.name} )",
    "dataElementCount": "$!{dataSet.dataElements.size()}"
    #if( $!{dataSet.dataEntryForm} ),"dataentryform": "$!encoder.jsonEncode( ${dataSet.dataEntryForm.name} )"#end
  }
}
