#set( $size = $indicators.size() )
{ "indicators": [
#foreach( $indicator in $indicators )
#set( $groups = $indicator.groups )
  {
    "id": $!{indicator.id},
    "name": "$!encoder.jsonEncode( ${indicator.name} )",
    "alternativeName": "$!encoder.jsonEncode( ${indicator.alternativeNamee} )",
    "shortName": "$!encoder.jsonEncode( ${indicator.shortName} )",
    "code": "$!encoder.jsonEncode( ${indicator.code} )",
    "annualized": "${indicator.annualized}",
    "indicatorTypeId": $!{indicator.indicatorType.id},
    "groups": [ #foreach( $group in $groups )${group.id}#if( $velocityCount < $groups.size() ),#end#end ]
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}