#set( $size = $operands.size() )
{ "operands": [
#foreach( $operand in $operands )
  {
    "dataElementId": "$!{operand.dataElementId}",
    "optionComboId": "$!{operand.optionComboId}",
    "operandId": "$!{operand.operandId}",
    "operandName": "$!encoder.jsEncode( ${operand.operandName} )"
  }#if( $velocityCount < $size ),#end
#end
] }