{ "indicator": 
  {
    "id": $!{indicator.id},
    "name": "$!encoder.jsEncode( ${indicator.name} )",
    "alternativeName": "$!encoder.jsEncode( ${indicator.alternativeNamee} )",
    "shortName": "$!encoder.jsEncode( ${indicator.shortName} )",
    "code": "$!encoder.jsEncode( ${indicator.code} )",
    "annualized": "${indicator.annualized}",
    "indicatorTypeId": "$!{indicator.indicatorType.id}",
    "numerator": "$!{indicator.numerator}",
    "numeratorDescription": "$!encoder.jsEncode( ${indicator.numeratorDescription} )",
    "numeratorAggregationOperator": "$!{indicator.numeratorAggregationOperator}",
    "denominator": "$!{indicator.denominator}",
    "denominatorDescription": "$!encoder.jsEncode( ${indicator.denominatorDescription} )",
    "denominatorAggregationOperator": "$!{indicator.denominatorAggregationOperator}"
  }
}
