{ "organisationUnit": 
  {
    "id": $!{organisationUnit.id},
    "name": "$!encoder.jsEncode( ${organisationUnit.name} )",
    "shortName": "$!encoder.jsEncode( ${organisationUnit.shortName} )",
    "code": "$!encoder.jsEncode( ${organisationUnit.code} )",
    "openingDate": "$!{organisationUnit.openingDate}",
    "closedDate": "$!{organisationUnit.closedDate}",
    "active": "$!{organisationUnit.active}",
    "comment": "$!encoder.jsEncode( ${organisationUnit.comment} )",
    "geoCode": "$!{organisationUnit.geoCode}",
    "latitude": "$!{organisationUnit.latitude}",
    "longitude": "$!{organisationUnit.longitude}"
  }
}
