#set( $size = $dataSets.size() )
{ "dataSets": [
#foreach( $dataSet in $dataSets )
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsonEncode( ${dataSet.name} )",
    "shortName": "$!encoder.jsonEncode( ${dataSet.shortName} )",
    "periodTypeId": "$!{dataSet.periodTypeId}",
    "version": "$!{dataSet.version}"
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
