#set( $size = $organisationUnits.size() )
{ "organisationUnits": [
#foreach ( $unit in $organisationUnits )
  {
    "id": $!{unit.id},
    "name": "$!encoder.jsEncode( ${unit.name} )",
    "shortName": "$!encoder.jsEncode( ${unit.shortName} )",
    "code": "$!encoder.jsEncode( ${unit.code} )",
    "hasChildrenWithCoordinates": $!{unit.hasChildrenWithCoordinates()}
  }#if( $velocityCount < $size ),#end
#end
] }
 