<?xml version="1.0" encoding="UTF-8"?>
<dataElement>
	<id>$dataElement.id</id>
	<name>$!encoder.xmlEncode( $dataElement.name )</name>
    <alternativeName>$!encoder.xmlEncode( $dataElement.alternativeName )</alternativeName>
	<shortName>$!encoder.xmlEncode( $dataElement.shortName )</shortName>
    <code>$!encoder.xmlEncode( $dataElement.code )</code>
    <description>$!encoder.xmlEncode( $dataElement.description )</description>
    <active>$dataElement.active</active>
    <type>$!encoder.xmlEncode( $dataElement.type )</type>
	<numberType>$!encoder.xmlEncode( $dataElement.numberType )</numberType>
    <aggregationOperator>$!encoder.xmlEncode( $dataElement.aggregationOperator )</aggregationOperator>
</dataElement>
