<input type="hidden" value="$form.id" id="formid" name="formid">
<h2>$!encoder.htmlEncode($!form.name)</h2>
<p align="left"><input type="button" onClick="openAddElementForm()" value="$i18n.getString('add')"/></p>
<table width="100%">
	<tr>
		<th>$i18n.getString('name')</th>
		<th>$i18n.getString('label')</th>
		<th>$i18n.getString('type')</th>		
		<th>$i18n.getString('sortOrder')</th>		
		<th>$i18n.getString('egroup')</th>		
		<th>$i18n.getString('controlType')</th>
		<th>$i18n.getString('required')</th>		
		<th width="5%">$i18n.getString('operations')</th>		
  </tr>
	#set( $mark = false )
	#foreach($element in $elements)
		<tr #alternate( $mark )>
			<td>$i18n.getString( $!element.name )</td>
			<td>$i18n.getString( $!element.label )</td>
			<td>$encoder.htmlEncode( $!element.type )</td>
			<td>$encoder.htmlEncode( $!element.sortOrder )</td>
			<td>$!encoder.htmlEncode( $!element.egroup.name )</td>
			<td>$encoder.htmlEncode( $!element.controlType )</td>
			<td>$encoder.htmlEncode( $!element.required )</td>
			<td>
            	<a href="javascript: openUpdateElementForm($element.id);" title="$i18n.getString('edit')">
                	<img src="../images/edit.png" alt="$i18n.getString('edit')"></a>
    			<a href="javascript: deleteElement($element.id);" title="$i18n.getString('delete')">
                	<img src="../images/delete.png" alt="$i18n.getString('delete')"></a>
            
            </td>
		</tr>
		#if( $mark )
			#set( $mark = false )
		#else
			#set( $mark = true )
		#end
	#end
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape($i18n.getString( "confirm_delete" ) , "'")';
	
	var mode = null;
	
	// --------------------------------------------------------------------------------------
	//  Add Element Form
	// --------------------------------------------------------------------------------------
	
	function openAddElementForm(){
			
		document.getElementById('name').value ="";
		document.getElementById('sortOrder').value ="";
		
		setPositionCenter( 'element' );
		showDivEffect();
		showById( 'element' );
		mode = "ADD";
		enable('name');
	}
	
	// --------------------------------------------------------------------------------------
	//  Update Element Form
	// --------------------------------------------------------------------------------------

	function openUpdateElementForm( id ){
		
		var request = new Request();
		request.setResponseTypeXML( 'element' );
		request.setCallbackSuccess( openUpdateElementReceived );
		
		request.send( "getElementById.action?id=" + id );
	}
	
	function openUpdateElementReceived( element ){		
		
		document.getElementById('id').value = getElementValue(element, 'id');
		
		document.getElementById('name').value = getElementValue(element, 'name');
		
		document.getElementById('label').value = getElementValue(element, 'label');
		
		document.getElementById('type').value = getElementValue(element, 'type');
		
		document.getElementById('controlType').value = getElementValue(element, 'controlType');
		
		document.getElementById('initialValue').value = getElementValue(element, 'initialValue');
		
		document.getElementById('formLink').value = getElementValue(element, 'formLink');
		
		document.getElementById('required').value = getElementValue(element, 'required');
		
		document.getElementById('sortOrder').value = getElementValue(element, 'sortOrder');
		
		setPositionCenter( 'element' );
		
		showDivEffect();
		
		showById( 'element' );
		
		mode = "UPDATE";
		
		disable('name');
	}	
</script>
<form name="elementForm" method="post">
<div id="element" style="position:fixed;display:none;width:320px;z-index:10001;background-color: white;border: medium solid silver;height:300px;padding:20px;">
	<div id="close" style="position:absolute;top:2px;right:2px;cursor: pointer;color:red;" onClick="hideById('element');deleteDivEffect();">[x]</div>
	<input type="hidden" id="id" name="id" value=""/>
	<table>
	<tr>
		<td width="180"><label>$i18n.getString('name')<em title="$i18n.getString( 'name' )" class="required">*</em></lable></td> 
		<td><input type="text" id="name" name="name" style="width:15em"/></td>
	  </tr>
	<tr>
		<td><lable>$i18n.getString('label')<em title="$i18n.getString( 'label' )" class="required">*</em></lable></td>
		<td><input type="text" id="label" name="label" style="width:15em"/></td>
	  </tr>
	</tr>	
		<tr><td><label>$i18n.getString('sortOrder')<em title="$i18n.getString( 'sortOrder' )" class="required">*</em></lable></td>
		  <td><input type="text" id="sortOrder" name="sortOrder" style="width:15em"/></td>
	  </tr>
	<tr>
		<td><label> $i18n.getString('controlType')</lable></td>
		<td>
			<select id="controlType" name="controlType" style="width:5em">
				<option value="textfield" selected>$i18n.getString('textfield')</option>
                <option value="checkbox">$i18n.getString('checkbox')</option>
                <option value="combobox">$i18n.getString('combobox')</option>
                <!-- <option value="autocompleted">$i18n.getString('autocompleted')</option> -->
                <option value="textarea">$i18n.getString('textarea')</option>
                <option value="date">$i18n.getString('date')</option>
		    	<!-- <option value="tree">$i18n.getString('tree')</option> -->
		    	<option value="break">$i18n.getString('break')</option>
		</select>
			<label> $i18n.getString('required') ?</lable>
            <select id="required" name="required" style="width:5em">
              <option value="yes">$i18n.getString('yes')</option>
              <option value="no">$i18n.getString('no')</option>
            </select></td>
	  </tr>		
	<tr>
		<td><lable>$i18n.getString('type')</lable></td>
		<td width="359"><select id="type" name="type" style="width:5em">
          <option value="String">$i18n.getString('string')</option>
		  <option value="Date">$i18n.getString('date')</option>
          <option value="Number">$i18n.getString('number')</option>
		  <option value="Double">$i18n.getString('double')</option>
        </select><br>
<font size="-2"> $i18n.getString('guide_type') </font></td>
	  </tr>
	<tr>
		<td><label> $i18n.getString('formLink')  </lable></td>
		<td>
			<select id="formLink" name="formLink" style="width:15em">
				<option value="" selected></option>
				#foreach($form in $forms)				
  					<option value="$form.id">$form.label</option>
				#end	
			</select>
			</td>
	  </tr>	
	  	<td></td>
	  	<td><font size="-2">$i18n.getString('guide_formLink')</font></td>
	  </tr>				
	<tr>
	  <td>$i18n.getString('initialvalue')</td>
	  <td><textarea id="initialValue" name="initialValue" style="width:15em"></textarea></td>
	  </tr>
	<tr>
		<td>&nbsp;</td>
		<td> <font size="-2">$i18n.getString('guide_initialvalue')</font> </td>
	  </tr>
	</table>
	<p align="center">
	<input type="button" value="$i18n.getString('save')" onClick="javascript: validateElement();"/>
	<input type="button" value="$i18n.getString('cancel')" onClick="hideById('element');deleteDivEffect();"/>
	</p>
</div>
</form>
<span id="message" style="top:100px;right:5px;position:fixed;width:200px;z-index:10004" onclick="hideById(this.id);"></span>
<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)"></span>