<form name="reportAssociation" action="updateDefineAssociations.action" method="POST">
  <div id="selectionTree" style="width:50em;height:30em;overflow:auto;border:1px solid #cccccc"></div>
<span id="message"></span>
</form>
<script type="text/javascript">

	var i18n_loading = '$encoder.jsEncode( $i18n.getString( "loading" ) )';


	selectionTreeSelection.setMultipleSelectionAllowed( false );
	selectionTreeSelection.setOnSelectFunction( treeClicked );
	selectionTreeSelection.setListenerFunction( selectCompleted );
	selectionTree.buildSelectionTree();

	var numberOfSelects = 0;
  
	function treeClicked()
	{
		numberOfSelects++;

		setMessage( i18n_loading );

		document.getElementById( "submitButton" ).disabled = true;
	}

	function selectCompleted( selectedUnits )
	{
		numberOfSelects--;

		if ( numberOfSelects <= 0 )
		{
			hideMessage();
			
			document.getElementById( "submitButton" ).disabled = false;
		}
	}
	function unselectAllAtLevel( id ){
		window.location = 'unselectLevel.action?level=' + getFieldValue('levelList') + '&id=' + id;
	}
	function selectAllAtLevel( id ){
		window.location = 'selectLevel.action?level=' + getFieldValue('levelList') + '&id=' + id;
	}	


</script>
<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)"></span>