.msg body {
	font:normal 11px arial,ubuntu;
    color:#111111;
	padding:20px;
    padding-top:32px;
    font-size:13px;
	background-color:#fff !important;
}
.msg .icon {
    vertical-align:middle;
    padding:0px 8px 0px 0px;
}
.msg .x-box-mc {
    padding:8px 23px 7px 12px;
}
.x-msg-hl {
	font-weight:bold;
	color:#222222;
}
#msg-div {
    display: table;
    margin-left:auto;
    margin-right:auto;
    z-index:20000;
}
