
html, body {
  font-family: arial;
}

body {
  margin: 0px;
  padding: 0px;
}
  
.headerDiv {
  position: relative;
  width: 100%;
  font-size: 2em;
  color: #ffffff;
  background-color: #000000;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #e0e0e0;
}

.header {
  margin: 1em;
}

.contentDiv {
  position: relative;
  width: 100%;
}

.contentChartDiv {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #e0e0e0;
}

.contentItemDiv {
  color: #ffffff;
  font-size: 2em;
  padding: 1.5em;
  border-bottom: 1px solid #e0e0e0;
  background-color: #35699f;
  cursor: pointer;
}
