
html, body {
  font-family: arial;
}

body {
  margin: 0px;
  padding: 0px;
}
  
.headerDiv {
  position: relative;
  width: 96%;
  font-size: 2em;
  color: #ffffff;
  background-color: #32669a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 4%;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.contentDiv {
  position: relative;
  width: 100%;
}

.contentChartDiv {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #c0c0c0;
}

.contentItemDiv {
  font-size: 1.8em;
  margin: 1em;
  padding: 1.5em;
  border: 1px solid #c0c0c0;
  background-color: #d0f6d5;
  cursor: pointer;
}
