<h3>$i18n.getString( "mobile_phones_pattern" )</h3>
<form>
	<table>
		<tr>
			<td>$i18n.getString( "start_with" ) :</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>$i18n.getString( "follow_by" ) :</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>$i18n.getString( "digit_left" ) :</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" value="$i18n.getString( 'save' )"</td>
		</tr>
	</table>
</form>