<script type="text/javascript">
	jQuery(document).ready( function() {
		validation2( "sendSMSForm", function( form )
		{
			sendSMSMessage( form );
		}, {
			'rules' : getValidationRulesForSMSPage()
		} );
	});
</script>

<style type="text/css">
    .statusBar{
        color: white;
        padding: 5px 5px;
        margin: -16px 0 20px -20px;
        font-weight: bold;
        background-color: #8FABC7;
    }
</style>

<h3>Send SMS</h3>
#if ( !$smsServiceStatus )
<form id="sendSMSForm" name="sendSMSForm" action="sendSMS.action">
	<table id="detailsList">
	    <col width="300px"/>
		<col width="80px"/>
		<tbody>
			<tr>
				<th colspan="2">$i18n.getString( "gateway_type" )</th>
			</tr>
			<tr>
				<td><label for="type">$i18n.getString( "type" ):</label></td>
				<td>
				#set( $keys = $!gatewayMap.keySet() )
					<select id="gatewayId" name="gatewayId" style="width: 100%;">
						#foreach( $key in $!keys )
						<option value="$gatewayMap.get( $key )">$i18n.getString( $key )</option>
						#end
					</select>
				</td>
			</tr>
			
			<tr>
				<td>$i18n.getString( "organisation_unit" )</td>
				<td><input type="checkbox" id="sendTypeCB" onchange="toggleSMSGUI( this.checked );"/></td>
			</tr>
			
			<tr><th colspan="2">$i18n.getString( "message" )</th></tr>
			<tr><td colspan="2"><textarea id="smsMessage" name="smsMessage" cols="95" rows="10" class="{validate:{required:true}}"></textarea></td></tr>
		</tbody>
	</table>

	<table id="detailsList">
		<col width="300px"/>
		<col width="80px"/>
		<tbody id="phoneType">
			<tr><th colspan="2">$i18n.getString( "phone" ):</th></tr>
			<tr><td colspan="2"><input type="text" id="recipient" name="recipient" style="width:520px" /></td></tr>
		</tbody>
	
		<tbody id="orgunitType" style="display:none">
			<tr><td>#organisationUnitSelectionTree( true, true, false )</td></tr>
		</tbody>
		
		<tbody>
			<tr><td><input type="submit" name="send" value="$i18n.getString( 'send_sms' )"/></td></tr>
		</tbody>
	</table>
</form>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )
#else
<p>No Sms service available</p>
#end

<script type="text/javascript">

	var isChecked = false;

	function toggleSMSGUI( checked )
	{
		if ( checked ) {
			hideById( 'phoneType' );
			showById( 'orgunitType' );
		} else {
			showById( 'phoneType' );
			hideById( 'orgunitType' );
		}
		
		isChecked = checked;
	}
	
	function sendSMSMessage( _form )
	{
		var params = "";

		if ( !isChecked )
		{
			var list = getFieldValue( "recipient" ).split( ";" )

			for ( var i in list ) {
				params += "recipients=" + list[i] + "&";
			}

			params = "?" + params.substring( 0, params.length - 1 );
		}

		jQuery.postUTF8( _form.action + params,
		{
			smsMessage: getFieldValue( 'smsMessage' )
		}, function ( json )
		{
			if ( json.response == "success" ) {
				showSuccessMessage( json.message );
			}
		} );
	}
	
	function getValidationRulesForSMSPage()
	{
		var rules = {};

		if ( isChecked ) {
			rules = { 'treeSelectedId': { 'required': true } };
		} else {
			rules = { 'recipient': { 'required': true } };
		}
		
		return rules;
	}
</script>