*
{
  font-family: arial, sans-serif;
  -webkit-print-color-adjust: exact;
}

div#header 
{
  display: none;
}

div#leftBar 
{
  display: none;
}

div#headerMessage 
{
  display: none;
}

div#rightBar
{
  display: none;
}
