{
"account_recovery": "$!i18nObject.getString( "account_recovery" )",
"user_name": "$!i18nObject.getString( "user_name" )",
"recover": "$!i18nObject.getString( "recover" )",
"recover_success_message": "$!i18nObject.getString( "recover_success_message" )",
"recover_error_message": "$!i18nObject.getString( "recover_error_message" )"
}
