.ui-normal{ font-weight: bold; color: blue }
.ui-unselected{ font-weight: bold; color: blue; cursor:pointer }
.ui-selected{ background: #F39814; color: white; cursor:pointer }
.ui-mouseover{ background: #FECA40; color: white; cursor:pointer }
