table 
{
 margin-bottom:20px; 
 font-size: 13px; 
 line-height:18px;
}

#patientInfo 
{
  color: black;  
  background-color: #D5FFC5;
  border: 1px solid black;
  font-size: 12px;  
}

#currentSelection 
{
  color: black;  
  background-color: #D5FFC5;
  border: 1px solid black;
  font-size: 12px; 

}

.focusCell{background-color: #AFCCFF}
.errorCell{background-color: #FFCFCF}
.sectionOpen {display: true}
.sectionClose{ display: none}
.togglePanel.open {height:25px;padding-left:25px; background-image:  url(../images/open.gif) ; background-repeat: no-repeat; background-position: top left}
.togglePanel.close {height:25px;padding-left:25px;  background-image:  url(../images/close.gif) ; background-repeat: no-repeat; background-position: top left}

input.inputText{width: 8em}
select.inputText{width: 8.4em}
.inputColumn{ width:170px}

#tooltip {
    color:#000; font-size:11px; line-height:1.2;
    background-color:#FFFFCC; border:1px solid #667295; 
    width:210px; padding:4px;
	z-index: 100000;
	display: none;
	position:absolute;
}

.heading-column { width : 30.5em;}
td.input-column { width : 30.5em;}
td.input-column input, td.input-column select { width: 28.5em;}
td.error {padding-left:1em}

.warnmessage {
	color: red; 
	font-style: italic;
}

#facilityCol
{
	width: 130px;
}

#actions
{
  float: right;
  width:200px;
  text-align: right;
}

td.row
{
	border-bottom-style:dotted;
}

table.history
{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;
}
