/*----------------------------------------------------------------------------*/
/* For GRID form                                                              */
/*----------------------------------------------------------------------------*/

input.button
{
	width:60px; 
}

select[multiple='true']
{
	min-width:250px;
	min-height:250px;
}

input[type="button"], input[type="submit"]
{
	width:150px;
}

.inputCriteria input[type="text"]
{
	width:350px; 
}

.inputCriteria select
{
	width:355px; 
}

.grid input[type="text"] {
  width:75%;
}
  
.filter { background: #cccccc; } 
  
.rowGrid{ background-color:#eee; }
  
.grid th, .grid td
{
  text-align: center;
  width: 150px;
  line-height: 170%;
  border:1px solid #fff;
}

.small-button { font-size: .8em !important; }

.ui-autocomplete { height: 100px; overflow-y: scroll; overflow-x: hidden;}

.hidden 
{
	display: none;
}

.visible
{
	display: block;
}

.stage-object
{
	width: 100px;
	height: 40px;
    white-space: normal;
	border:2px solid; 
	background-color:#ffffff;
	cursor:pointer;
}

.patient-object
{
	width: 100px;
	height: 40px;
    white-space: normal;
	border:2px solid; 
	border-color:#bbbbbb;
	background-color:#cccccc
	cursor:pointer;
}