<!DOCTYPE HTML>
<html>
<body>
    <p>This resource is the place to post data value sets. Take a look at the 
    <a href="${object}">data sets</a> to see what to post.</p>

	<pre>&lt;dataValueSet xmlns="http://dhis2.org/schema/dxf/2.0-SNAPSHOT"
    dataSet="dataSet UUID"
    period="periodInIsoFormat"
    orgUnit="unit UUID"&gt;
    &lt;dataValue dataElement="data element UUID" categoryOptionCombo="UUID, only specify if used" storedBy="string" value="value" /&gt;
    &lt;/dataValueSet&gt;</pre>
</body>
</html>