<!DOCTYPE HTML>
<html>
<body>
<h1>Organisation units</h1> 
<p>See the <a href="orgUnits.xml">xml version</a></p>
<ul>
#foreach( $link in $object )
<li><a href="${link.href}">${link.name}</a></li>
#end
</ul>
</body>
</html>