<script type="text/javascript" src="javascript/addDataDictionaryForm.js"></script>
<script type="text/javascript">
	jQuery(function() {
        $('#deAvailable').selected({
          url: '../api/dataElements.json',
          target: $('#deSelected'),
          search: $('#deAvailableSearch'),
          iterator: 'dataElements'
        });

        $('#inAvailable').selected({
          url: '../api/indicators.json',
          target: $('#inSelected'),
          search: $('#inAvailableSearch'),
          iterator: 'indicators'
        });
	});
</script>

<h3>$i18n.getString( "create_new_data_dictionary" )</h3>

#sharingCreateNotification( "dataDictionary" )

<form id="addDataDictionaryForm" action="addDataDictionary.action" method="post" class="inputForm">

<table>	
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name"/></td>
	</tr>

	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description"></textarea></td>
	</tr>

	<tr>
		<td><label for="region">$i18n.getString( "region" )</label></td>
		<td><input type="text" id="region" name="region"></td>
	</tr>
	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

#jqSelected({
  "prefix": "de",
  "i18n_available": "available_data_elements",
  "i18n_selected": "selected_data_elements"
})

#jqSelected({
  "prefix": "in",
  "i18n_available": "available_indicators",
  "i18n_selected": "selected_indicators"
})

<p>
	<input type="submit" value="$i18n.getString( 'add' )" style="width:10em" />
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'dataDictionary.action' )" style="width:10em" />
</p>

</form>
