<style type="text/css">

.select
{
	border:#666666 thin solid;
	width:300px;
	size:30;
}

#tooltip {
    color:#000; font-size:11px; line-height:1.2;
    background-color:#FFFFCC; border:1px solid #667295; 
    width:210px; padding:4px;
	z-index: 100000;
	display: none;
	position:absolute;
}

</style>

<h3>
	$i18n.getString( "data_element_group_management" ) #openHelp( "dataElementGroupEditor" )
</h3>

<span id='message' style="position:fixed;top:80px;right:5px;" onclick="hideById('message');"/>

<table>
	<tr>
		<th>$i18n.getString( "available_dataelements" )</th>		
		<th><span id="groupNameView" style="display:block;"></span></th>
		<td rowspan="2" style="text-align:center"><a href="dataElementGroupEditor.action" title="$i18n.getString( 'switch_view' )"><img src="../images/arrow_double_clockwise_y.png" title="$i18n.getString( 'switch_view' )"/></a></td>		
		<th>$i18n.getString( "available_groups" )</th>
	</tr>

	<tr>		
		<td><input id="availableDataElementsFilter" type="text" style="width:300px;" onkeyup="filterAvailableDataElements();"/></td>		
		<td><input id="assignedGroupsFilter" type="text" style="width:300px;" onkeyup="filterAssignedGroups();"/></td>
		<td><input id="availableGroupsFilter" type="text" style="width:300px;" onkeyup="filterAvailableGroups();"/></td>		
	</tr>

	<tr>
		<td>
			<select class="select" id="availableDataElements" size="30" onMouseOut="javascript: hideToolTip();" onclick="getAssignedDataElementGroups(this.value)">
			</select>
		</td>
		<td>
			<select class="select" id="assignedGroups" multiple="multiple" size="30" ondblclick="removeSelectedGroups();" onMouseOut="javascript: hideToolTip();">
			</select>
		</td>
		<td>
			<input type="button" value="&lt;" onclick="addSelectedGroups();" style="width:42px"/><br/><br/>
			<input type="button" value="&gt;" onclick="removeSelectedGroups();" style="width:42px"/>
		</td>	
		<td>
          <select name="select" size="30" multiple="multiple" class="select" id="availableGroups" ondblclick="addSelectedGroups()" onmouseout="javascript: hideToolTip();">
          </select>
</td>		
	</tr>
	<tr>
		<td></td>
		<td>			
			<input type="button" value="$i18n.getString( 'assign_groups_for_dataelement' )" onclick="javascript:assignGroupsForDataElement()"/>
		</td>
		<td></td>
		<td>		
			<input type="button" value="$i18n.getString( 'new' )" onclick="javascript:showAddDataElementGroupForm()" style="width:70px"/>
			<input type="button" value="$i18n.getString( 'rename' )" onclick="javascript:showRenameDataElementGroupForm()" style="width:70px"/>
			<input type="button" value="$i18n.getString( 'delete' )" onclick="javascript:deleteDataElementGroup()" style="width:70px"/>
		</td>
	</tr>
</table>

<div id="addDataElementGroupForm" style="position:fixed;background-color:#FFFFFF;border:thin #000000 solid;height:70px;width:450px;display:none;z-index:10000000000;">

<table width="100%" height="100%" border="0" cellpadding="2" cellspacing="2">

  <tr align="center">
    <td>$i18n.getString( "name" )</td>
	<td><input type="text" id="groupName" style="width:20em"/></td>
	<td><input id="addRenameGroupButton" type="button" value="$i18n.getString( 'ok' )">
	<input type="button" onclick="showHideDiv( 'addDataElementGroupForm' ); deleteDivEffect();" value="$i18n.getString( 'cancel' )"/></td>
  </tr>

</table>

</div>

<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
	<div style="float:right">
		<a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_warning' )"/></a>
	</div>
	<p><span id="warningField"></span></p>
</div>

<div id="tooltip"></div>

<script type="text/javascript">
	var i18n_select_dataelement_group = '$encoder.jsEscape( $i18n.getString( "select_dataelement_group" ) , "'")';
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_data_element_group" ) , "'")';
	var i18n_member_of = '$encoder.jsEscape( $i18n.getString( "member_of" ) , "'")';
	var i18n_update_success = '$encoder.jsEscape( $i18n.getString( "update_success" ) , "'")';
	var i18n_select_dataelement = '$encoder.jsEscape( $i18n.getString( "select_dataelement" ) , "'")';

	var availableGroups = new Object();
	#foreach( $availableGroup in $dataElementGroups )
            availableGroups['$availableGroup.id'] = '$encoder.jsEscape( $availableGroup.name, "'" )';
	#end

	var availableDataElements = new Object();
	#foreach( $dataElement in $dataElements )
		availableDataElements['$dataElement.id'] = '$encoder.jsEscape( $dataElement.name, "'" )';
	#end
	var assignedGroups = new Object();

	initAllList();
</script>