<script type="text/javascript" src="../main.js"></script>



<table class="listTable" id="dataElementGroupList">
	<col/>
	<col width="20"/>
	<col width="20"/>
	<col width="20"/>
	<col width="20"/>
	<thead>				
		<tr>
			<th>$i18n.getString( "name" )</th>
			<th colspan="4" class="{sorter: false}">$i18n.getString( "operations" )</th>
		</tr>
	</thead>
	<tbody id="list">
	#foreach( $dataElementGroup in $dataElementGroups )
	<tr id="tr${dataElementGroup.id}">
		<td onclick="showDataElementGroupDetails( $dataElementGroup.id )">$encoder.htmlEncode( $dataElementGroup.name )</td>
		<td style="text-align:center"><a href="showUpdateDataElementGroupForm.action?id=$dataElementGroup.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"/></a></td>
		<td style="text-align:center"><a href="javascript:translate( 'DataElementGroup', '$dataElementGroup.id' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a></td>
		<td style="text-align:center"><a href="javascript:removeDataElementGroup( $dataElementGroup.id, '$encoder.jsEncode( $dataElementGroup.name )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/></a></td>
		<td style="text-align:center"><a href="javascript:showDataElementGroupDetails( $dataElementGroup.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"/></a></td>
	</tr>
	#end
	</tbody>
</table>
<p></p>
#searchingPagination( "searchDataElementGroupPaging" )