<?xml version="1.0" encoding="UTF-8"?>
<indicatorGroup>
	<id>$indicatorGroup.id</id>
	<name>$encoder.xmlEncode( $indicatorGroup.name )</name>
	<memberCount>$memberCount</memberCount>
	<indicators>
	#foreach( $member in $!indicatorGroup.members )
		<indicator>
			<id>$member.id</id>
			<name>$encoder.xmlEncode( $member.name )</name>
		</indicator>
	#end	
	</indicators>
</indicatorGroup>
