<?xml version="1.0" encoding="UTF-8"?>
<indicator>
	<id>$indicator.id</id>
	<name>$encoder.xmlEncode( $indicator.name )</name>
	<shortName>$encoder.xmlEncode( $indicator.shortName )</shortName>
	<alternativeName>$!encoder.xmlEncode( $indicator.alternativeName )</alternativeName>
	<code>$!encoder.xmlEncode( $indicator.code )</code>
	<description>$!encoder.xmlEncode( $indicator.description )</description>
	<annualized>$indicator.annualized</annualized>
	<indicatorTypeName>$encoder.xmlEncode( $indicatorTypeName )</indicatorTypeName>
	<numeratorDescription>$encoder.xmlEncode( $indicator.numeratorDescription )</numeratorDescription>
	<denominatorDescription>$encoder.xmlEncode( $indicator.denominatorDescription )</denominatorDescription>
	<url>$!encoder.xmlEncode( $indicator.url )</url>
    <lastUpdated>$!format.formatDate( $indicator.lastUpdated )</lastUpdated>
</indicator>
