
<h3>$i18n.getString( "data_element_sort_order" )</h3>

<form id="sortOrderForm" action="saveDataElementSortOrder.action" method="post"> 
<table>
	<tr>
		<th>$i18n.getString( "data_element" )</th>
		<th></th>
		<th>$i18n.getString( "data_element_sort_order" )</th>
	</tr>
	<tr>
		<td>
			<select multiple id="sourceSataElements" size="25" ondblclick="moveSelectedById('sourceSataElements','targetDataElements');" style="min-width:400px;">
				#foreach ( $element in $dataElements )
				<option value="$element.id">$element.name</option>
				#end
			</select>
		</td>
		<td>
			<input type="button" value=">" onclick="moveSelectedById('sourceSataElements','targetDataElements');"/><br>
			<input type="button" value="<" onclick="moveSelectedById('targetDataElements' , 'sourceSataElements' );"/><br>
			<input type="button" value=">>" onclick="moveAllById('sourceSataElements' , 'targetDataElements' );"/><br>
			<input type="button" value="<<" onclick="moveAllById('targetDataElements' , 'sourceSataElements' );"/>
		</td>
		<td>
			<select multiple id="targetDataElements" name="dataElements" size="25" style="min-width:400px;" ondblclick="moveSelectedById('targetDataElements' , 'sourceSataElements' );">
				
			</select>
		</td>
	</tr>
</table>


<p>
<input type="button" value="$i18n.getString( 'save' )" style="width:130px" onclick="submitForm()"><input 
type="button" value="$i18n.getString( 'cancel' )" style="width:130px" onclick="window.location.href='dataElement.action'">
</p>

</form>

<script type="text/javascript">
    function submitForm()
    {
		moveAllById('sourceSataElements' , 'targetDataElements' );
        selectAllById( "targetDataElements" );
        document.getElementById( "sortOrderForm" ).submit();
    }
	
</script>
