
<h3>$i18n.getString( "data_element_sort_order" )</h3>

<form id="sortOrderForm" action="saveDataElementSortOrder.action" method="post"> 
<table>
	<tr>
		<th>$i18n.getString( "data_element" )</th>
		<th></th>
		<th>$i18n.getString( "data_element_sort_order" )</th>
	</tr>
	<tr>
		<td>
			<select multiple id="sourceSataElements" size="25" ondblclick="moveSelectedById('sourceSataElements','targetDataElements');" style="min-width:400px;">
				#foreach ( $element in $dataElements )
				<option value="$element.id">$element.name</option>
				#end
			</select>
			<br>
			<a href="javascript:sortList( 'sourceSataElements', 'ASC' );"><img align="absmiddle" src="images/sort_ascending.png" style="border:#666666 thin solid;cursor:pointer;width:20px;"></a>
			<a href="javascript:sortList( 'sourceSataElements', 'DES' );"><img align="absmiddle" src="images/sort_descending.png" style="border:#666666 thin solid;cursor:pointer;width:20px;"></a>			
		</td>
		<td align="center">
			<input type="button" value=">" onclick="moveSelectedById('sourceSataElements','targetDataElements');"/><br>
			<input type="button" value="<" onclick="moveSelectedById('targetDataElements' , 'sourceSataElements' );"/><br>
			<input type="button" value=">>" onclick="moveAllById('sourceSataElements' , 'targetDataElements' );"/><br>
			<input type="button" value="<<" onclick="moveAllById('targetDataElements' , 'sourceSataElements' );"/>
		</td>
		<td>
			<select multiple id="targetDataElements" name="dataElements" size="25" style="min-width:400px;" ondblclick="moveSelectedById('targetDataElements' , 'sourceSataElements' );">		</select>
			<br>
			<a href="javascript:sortList( 'targetDataElements', 'ASC' );"><img align="absmiddle" src="images/sort_ascending.png" style="border:#666666 thin solid;cursor:pointer;width:20px;"></a>
			<a href="javascript:sortList( 'targetDataElements', 'DES' );"><img align="absmiddle" src="images/sort_descending.png" style="border:#666666 thin solid;cursor:pointer;width:20px;"></a>			
		</td>
	</tr>
</table>
<div style="position:fixed;top:200px;right:10px;background-color:#D9F674">
	<a href="javascript:moveSelectedOptionToTop( 'targetDataElements' );"><img align="absmiddle" src="../images/move_top.png" style="cursor:pointer;width:20px;"></a><br><br>			
	<a href="javascript:moveUpSelectedOption( 'targetDataElements' );"><img align="absmiddle" src="../images/move_up.png" style="cursor:pointer;width:20px;"></a><br><br>		
	<a href="javascript:moveDownSelectedOption( 'targetDataElements' );"><img align="absmiddle" src="../images/move_down.png" style="cursor:pointer;width:20px;"></a><br><br>		
	<a href="javascript:moveSelectedOptionToBottom( 'targetDataElements' );"><img align="absmiddle" src="../images/move_bottom.png" style="cursor:pointer;width:20px;"></a>			
</div>

<p>
<input type="button" value="$i18n.getString( 'save' )" style="width:130px" onclick="submitForm()"><input 
type="button" value="$i18n.getString( 'cancel' )" style="width:130px" onclick="window.location.href='dataElement.action'">
</p>

</form>

<script type="text/javascript">
    function submitForm()
    {
		moveAllById('sourceSataElements' , 'targetDataElements' );
        selectAllById( "targetDataElements" );
        document.getElementById( "sortOrderForm" ).submit();
    }
	
</script>
