<script type="text/javascript" src="javascript/updateDataDictionaryForm.js"></script>
<script type="text/javascript">
	jQuery(document).ready(	function(){
        $('#deAvailable').selected({
          url: '../api/dataElements.json',
          target: $('#deSelected'),
          search: $('#deAvailableSearch'),
          iterator: 'dataElements'
        });

        $('#inAvailable').selected({
          url: '../api/indicators.json',
          target: $('#inSelected'),
          search: $('#inAvailableSearch'),
          iterator: 'indicators'
        });

		// checkValueIsExist( "name", "validateDataDictionary.action", {id: $dataDictionary.id});
	});
</script>

<h3>$i18n.getString( "edit_data_dictionary" )</h3>

<form id="updateDataDictionaryForm" action="updateDataDictionary.action" method="post" class="inputForm">

<div>
	<input type="hidden" id="id" name="id" value="$dataDictionary.id"/>
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $dataDictionary.name )"></td>
	</tr>
	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description">$!encoder.htmlEncode( $dataDictionary.description )</textarea></td>
	</tr>
	<tr>
		<td><label for="region">$i18n.getString( "region" )</label></td>
		<td><input type="text" id="region" name="region" value="$!encoder.htmlEncode( $dataDictionary.region )"></td>
	</tr>
	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

#jqSelected({
  "prefix": "de",
  "i18n_available": "available_data_elements",
  "i18n_selected": "selected_data_elements",
  "objects": $dataDictionary.dataElements
})

#jqSelected({
  "prefix": "in",
  "i18n_available": "available_indicators",
  "i18n_selected": "selected_indicators",
  "objects": $dataDictionary.indicators
})

<p>
	<input type="submit" value="$i18n.getString( 'save' )" style="width:10em" />
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'dataDictionary.action' )" style="width:10em" />
</p>

</form>
