
## You don't have to use this template directly if you don't want to
<script type="text/javascript" src="../dhis-web-commons/javascripts/oust/selectionTree.js"></script>
<div id="selectionTree"></div>
