<!DOCTYPE html>
<html manifest="app-cache">
<!-- <html> -->

<head>
	<title>DHIS2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

	<link rel="stylesheet" href="$baseUrl/../dhis-web-mobile-resources/css/jquery.mobile.min.css?v=1.2.0" />

    <script src="$baseUrl/../dhis-web-commons/javascripts/jQuery/jquery.min.js?v=1.7.1"></script>
    <script src="$baseUrl/../dhis-web-commons/javascripts/dhis2/dhis2.util.js"></script>
    <script src="$baseUrl/../dhis-web-commons/javascripts/dhis2/dhis2.array.js"></script>
    <script src="$baseUrl/../dhis-web-mobile-resources/js/underscore.min.js?v=1.3.3"></script>
    <script src="$baseUrl/../dhis-web-mobile-resources/js/jquery.mobile.min.js?v=1.2.0"></script>
    <script src="$baseUrl/../dhis-web-mobile-resources/js/dhis2.storage.js"></script>

    <script>
    $(document).bind('pageinit',function(){
        $.mobile.ajaxEnabled = false;
    });
    </script>
</head>
<body>

#if( !$page )
  <p>$i18n.getString( "no_page_specified" )</p>
#else
  #parse( $page )
#end

</body>
</html>
