
<section data-role="page" id="data-entry-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
        <a href="index" data-icon="back">Back</a>
	</header>

	<section data-role="content">
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>
