<script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/jquery.validate.js"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/jquery.validate.ext.js"></script>
<script type="text/javascript" src="../dhis-web-commons/i18nJavaScript.action"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/jquery.glob.js"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/jQuery/jquery.date.js"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/date.js"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/periodType.js"></script>

<script>
    var Selected = {};
    var periodTypeFactory = new PeriodType();
    var periodType;
    var periodOffset = 0;
    var allowFuturePeriods = false;

    function selectOrganisationUnit( e ) {
        var $this = $(this);
        Selected.orgUnit = $this.data('id');
    }

    function selectDataSet( e ) {
        var $this = $(this);
        Selected.dataSet = $this.data('id');
    }

    function selectPeriod( e ) {
        var $this = $(this);
        Selected.period = $this.data('id');
    }

    function loadOrganisationUnitsPage() {
        $.mobile.showPageLoadingMsg();

        var organisationUnits = fm.organisationUnits();
        var tmpl = $( '#organisation-units-template' ).html();

        $('#organisation-units-page section[data-role="content"]').html(
            _.template( tmpl, { 'organisationUnits': organisationUnits } )
        );

        $('#organisation-unit-list').listview();
        $('#organisation-unit-list li a').bind('click', selectOrganisationUnit);

        $.mobile.hidePageLoadingMsg();
    }

    function loadDataSetsPage() {
        if( Selected.orgUnit === undefined )
        {
            $.mobile.changePage( '#organisation-units-page' );
            return;
        }

        $.mobile.showPageLoadingMsg();

        var organisationUnit = fm.organisationUnit( Selected.orgUnit );
        var tmpl = $( '#data-sets-template' ).html();

        $('#data-sets-page section[data-role="content"]').html(
            _.template( tmpl, { 'dataSets': organisationUnit.dataSets } )
        );

        $('#data-set-list').listview();
        $('#data-set-list li a').bind( 'click', selectDataSet );

        $.mobile.hidePageLoadingMsg();
    }

    function refreshPeriods() {
        var tmpl = $('#period-template').html();

        var periods = periodTypeFactory.get( periodType ).generatePeriods( periodOffset );

        if( !allowFuturePeriods ) {
            periods = periodTypeFactory.filterFuturePeriods( periods );
            $('#next_year').button('disable');
        }

        periods = periodTypeFactory.reverse( periods );

        $( '#period-page section[data-role="content"]' ).html(
            _.template(tmpl, { 'periods' : periods })
        );

        $( '#period-page' ).trigger( 'pagecreate' );
        $( '#period-list' ).listview( 'refresh' );

        if( !allowFuturePeriods ) {
            $('#next_year').button('disable');
        }

        $( '#previous_year' ).bind( 'click', function() {
            periodOffset--;
            refreshPeriods();

            if( periodOffset < 0) {
                $('#next_year').button('enable');
            } else {
                $('#next_year').button('disable');
            }
        });

        $( '#next_year' ).bind( 'click', function() {
            periodOffset++;
            refreshPeriods();

            if( !allowFuturePeriods && periodOffset == 0) {
                $('#next_year').button('disable');
            } else {
                $('#next_year').button('enable');
            }
        });

        $( '#period-list li a' ).bind( 'click', selectPeriod );
    }

    function loadPeriodPage() {
        if( Selected.dataSet === undefined )
        {
            if( Selected.orgUnit === undefined ) {
                $.mobile.changePage( '#organisation-units-page' );
            } else {
                $.mobile.changePage( '#data-sets-page' );
            }

            return;
        }

        $.mobile.showPageLoadingMsg();

        var form = fm.form( Selected.dataSet );
        periodType = form.periodType;
        allowFuturePeriods = form.allowFuturePeriods;
        refreshPeriods();

        $.mobile.hidePageLoadingMsg();
    }

    function loadDataEntryPage() {
        if( Selected.period === undefined && Selected.dataSet === undefined && Selected.orgUnit === undefined )
        {
            $.mobile.changePage( '#organisation-units-page' );
            return;
        }

        if( Selected.period === undefined && Selected.dataSet === undefined && Selected.orgUnit !== undefined )
        {
            $.mobile.changePage( '#data-sets-page' );
            return;
        }

        if( Selected.period === undefined && Selected.dataSet !== undefined && Selected.orgUnit !== undefined )
        {
            $.mobile.changePage( '#periods-page' );
            return;
        }

        $.mobile.showPageLoadingMsg();

        function renderFormTemplate(form) {
            var tmpl = $( '#data-entry-template' ).html();

            $( '#data-entry-page section[data-role="content"]' ).html(
                _.template( tmpl, form )
            );

            $( '#data-entry-page' ).trigger( 'pagecreate' );
            $( '#data-entry-list' ).listview( 'refresh' );
            $( '#send_button' ).bind( 'click', saveValues );
        }

        $.ajax({
            url: '../api/dataSets/' + Selected.dataSet + '/form',
            data: {
                ou: Selected.orgUnit,
                pe: Selected.period
            },
            dataType: 'json'
        }).success(function(form) {
            renderFormTemplate(form);
        }).error(function() {
            var form = fm.form(Selected.dataSet);
            renderFormTemplate(form);
        }).complete(function() {
            $.mobile.hidePageLoadingMsg();
        });
    }

    function saveValues() {
        $.mobile.showPageLoadingMsg();

        var fields = $('#data-entry-form :input[name]');

        var dataValueSet = {
          dataSet: Selected.dataSet,
          orgUnit: Selected.orgUnit,
          period: Selected.period.toString()
        };

        var dataValues = [];

        _.each(fields, function(field) {
           var field = $(field);

           var dataValue = {
            dataElement: field.data('dataelement'),
            categoryOptionCombo: field.data('categoryoptioncombo'),
            value: field.val()
           };

           dataValues.push( dataValue );
        });

        dataValueSet.dataValues = dataValues;

        fm.saveDataValueSet( dataValueSet ).always(function() {
            $.mobile.hidePageLoadingMsg();
            location.href = 'index';
        });
    }

    $(document).bind( 'pagechange', function (event, data) {
        var pageId = data.toPage.attr('id');

        if( pageId == 'organisation-units-page' ) {
            loadOrganisationUnitsPage();
        } else if( pageId == 'data-sets-page' ) {
            loadDataSetsPage();
        } else if( pageId == 'period-page' ) {
            loadPeriodPage();
        } else if( pageId == 'data-entry-page' ) {
            loadDataEntryPage();
        }
    });
</script>

<script id="organisation-units-template" type="text/template">
    <ul id="organisation-unit-list" data-role="listview" data-inset="true">
        <% _( organisationUnits ).each( function(organisationUnit, idx) { %>
        <li><a href="#data-sets-page" data-id="<%= organisationUnit.id %>"><%= organisationUnit.label %></a></li>
        <% }); %>
    </ul>
</script>

<script id="data-sets-template" type="text/template">
    <ul id="data-set-list" data-role="listview" data-inset="true">
        <% _( dataSets ).each( function(dataSet, idx) { %>
        <li><a href="#period-page" data-id="<%= dataSet.id %>"><%= dataSet.label %></a></li>
        <% }); %>
    </ul>
</script>

<script id="period-template" type="text/template">
    <div data-role="controlgroup" data-type="horizontal">
        <button id="previous_year" data-icon="arrow-l">Previous Year</button>
        <button id="next_year" data-icon="arrow-r" data-iconpos="right">Next Year</button>
    </div>
    <ul id="period-list" data-role="listview" data-inset="true">
        <% _( periods ).each( function(period, idx) { %>
        <li><a href="#data-entry-page" data-id="<%= period.iso %>"><%= period.name %></a></li>
        <% }); %>
    </ul>
</script>

<script id="data-entry-template" type="text/template">
    <h1><%= label %></h1>
    <form id='data-entry-form'>
    <ul id="data-entry-list" data-role="listview" data-inset="true">
        <% _( groups ).each( function(group, idx) { %>
            <li data-role="list-divider"><%= group.label %></li>

            <% _( group.fields ).each( function(field, idx) { %>
            <% var fieldId = _.uniqueId('field'); %>
            <% var value = field.value === undefined ? '' : field.value; %>
                <li>
                    <label for='<%= fieldId %>'><%= field.label %></label>

                    <% if( field.type == 'TEXT' ) { %>
                        <input type="text" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } else if( field.type == 'DATE' ) { %>
                        <input type="date" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } else if( field.type == 'BOOLEAN' ) { %>
                        <select type="" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255">
                            <option value="">[ None selected ]</option>
                            <option value="true" <% if( value == "true" ) { %> selected="selected" <% } %>>Yes</option>
                            <option value="false" <% if( value == "false" ) { %> selected="selected" <% } %>>No</option>
                        </select>
                    <% } else if( field.type == 'INTEGER' ) { %>
                        <input type="number" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } else if( field.type == 'INTEGER_POSITIVE' ) { %>
                        <input type="number" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } else if( field.type == 'INTEGER_NEGATIVE' ) { %>
                        <input type="number" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } else if( field.type == 'NUMBER' ) { %>
                        <input type="number" id='<%= fieldId %>' name='<%= fieldId %>' data-dataElement='<%= field.dataElement %>' data-categoryOptionCombo='<%= field.categoryOptionCombo %>' maxlength="255" value="<%= value %>" />
                    <% } %>
                </li>
            <% }); %>

        <% }); %>

        <li><input type="button" id="send_button" value="Send" /></li>
    </ul>
    </form>
</script>

<section data-role="page" id="organisation-units-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
        <a href="index" data-icon="back">Back</a>
	</header>

	<section data-role="content">
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>

<section data-role="page" id="data-sets-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
        <a href="#organisation-units-page" data-icon="back">Back</a>
	</header>

	<section data-role="content">
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>

<section data-role="page" id="period-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
        <a href="#data-sets-page" data-icon="back">Back</a>
	</header>

	<section data-role="content">
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>

<section data-role="page" id="data-entry-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
        <a href="#period-page" data-icon="back">Back</a>
	</header>

	<section data-role="content">
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>
