
<script>
    redirectToLoginIfRequired();

    function redirectToLoginIfRequired() {
        return $.ajax({
            url: '../mobile',
            async: false
        }).complete(function(e) {
            if( e.getResponseHeader('Login-Page') ) {
                document.location = '../mobile';
            }
        });
    }

    function getDashboard() {
        return $.ajax({
            url: '../api/currentUser/dashboard',
            dataType: 'json'
        }).success(function(data) {
            if( data.unreadMessageConversation > 0 ) {
                $('#messages a').append("<span class='ui-li-count'>" + data.unreadMessageConversation + "</span>");
            }
        }).error(function() {
            $('#messages a').append("<span class='ui-li-count'>Offline</span>");
            $.mobile.hidePageLoadingMsg();
        });
    }

    $(document).bind('pagebeforecreate',function(){
        $.mobile.showPageLoadingMsg();

        getDashboard().then(
                fm.getMetaData().then(
                        fm.uploadDataValueSets()).always(function() {
            $('section[data-role="content"] ul').listview('refresh');
            $.mobile.hidePageLoadingMsg();
        }));
    })
</script>

<section data-role="page" id="index-page" data-theme="c">

	<header data-role="header" data-theme="b">
        <h1 align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></h1>
	</header>

	<section data-role="content">
        <ul data-role="listview" data-inset="true">
            <li id="data-entry"><a href="data-entry">Aggregate Reporting</a></li>
            <li id="messages"><a href="messages">Messages</a></li>
            <li id="settings"><a href="settings">User Account</a></li>
        </ul>
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>
