<script>
    var selected = {};

    function displaySelected()
    {
        $('#selection-list').append('<li id="organisation-unit-list" data-role="list-divider">Organisation Units</li>')
        $('#selection-list').append('<li>None selected.</li>');

        $('#selection-list').append('<li id="user-list" data-role="list-divider">Users</li>')
        $('#selection-list').append('<li>None selected.</li>');

        $('#selection-list').append('<li id="user-group-list" data-role="list-divider">Users Groups</li>')
        $('#selection-list').append('<li>None selected.</li>');

        $('#selection-list').listview('refresh');
    }

    function updateRecipientCounter()
    {
        $('#message-recipient-counter').html(selected.length);
    }

    function manageRecipientsPage()
    {
        var fn1 = $('form[role="search"] input:text').data('events')['keyup'][1];
        $('form[role="search"] input:text').unbind('keyup');

        $('form[role="search"] input:text').bind('keyup', function () {
            var search = $('form[role="search"] input:text').val();

            $('#selection-list').children().remove();

            if( search.length == 0)
            {
                displaySelected();
                return;
            }
            else if ( search.length < 3 )
            {
                return;
            }

            $.ajax({
                url  : '$baseUrl/../api/currentUser/recipients',
                type : 'get',
                async: false,
                dataType: 'json',
                data : {
                    'filter' : search
                }
            }).success(function ( data ) {
                if( data.users && data.users.length > 0 )
                {
                    $('#selection-list').append('<li id="user-list" data-role="list-divider">Users</li>')

                    _(data.users).each(function(user) {
                        $('#selection-list').append('<li data-id="' + user.id + '">' + user.name + '</li>');
                    });
                }

                if( data.userGroups && data.userGroups.length > 0 )
                {
                    $('#selection-list').append('<li id="user-group-list" data-role="list-divider">Users Groups</li>')

                    _(data.userGroups).each(function(userGroup) {
                        $('#selection-list').append('<li data-id="' + userGroup.id + '">' + userGroup.name + '</li>');
                    });
                }

                $('#selection-list').listview('refresh');

            });

            $('form[role="search"] input:text').bind('keyup', fn1);
        });

        displaySelected();
    }

    function newMessagePage()
    {
        $('#new-message-form input:submit').bind('click', function () {
            var subject = jQuery('#new-message-subject').val();
            var text = jQuery('#new-message-text').val();

            console.log(subject);
            console.log(text);

            return false;
        });

        updateRecipientCounter();
    }

    jQuery(document).bind('pagechange', function (event, data) {
        var pageId = data.toPage.attr('id');

        if( pageId == 'manage-recipients-page')
        {
            manageRecipientsPage();
        }
        else if( pageId == 'new-message-page')
        {
            newMessagePage();
        }
    });

</script>

<section data-role="page" id="new-message-page" data-theme="c">

	<header data-role="header" data-theme="b">
		<div align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></div>
        <a href="messages" data-icon="delete" class="ui-btn-right">Discard</a>
    </header>

	<section data-role='content'>
        <ul data-role="listview" data-inset="true">
            <li>
                <form id="new-message-form">
                    <label for='new-message-subject'>Subject</label>
                    <input type="text" id='new-message-subject' />
                    <label for='new-message-text'>Text</label>
                    <textarea id='new-message-text'></textarea>
                    <input type="submit" value="Send message" />
                </form>

            </li>
            <li data-icon="gear"><a href="#manage-recipients-page" data-icon="plus">Manage recipients</a> <span id="message-recipient-counter" class='ui-li-count'>0</span></li>
        </ul>

	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>

<section data-role="page" id="manage-recipients-page" data-theme="c">

	<header data-role="header" data-theme="b">
		<div align="center"><img src="$baseUrl/../dhis-web-commons/css/light_blue/logo_banner.png" /></div>
        <a href="#new-message-page" data-icon="delete" class="ui-btn-right">Finish</a>
    </header>

	<section data-role="content">
        <ul id="selection-list" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Enter 3 or more characters to search">
        </ul>
	</section>

    <footer data-role="footer" data-theme="b">
        <h1></h1>
   	</footer>

</section>
