<table>
<!-- Periods -->

<tr>
    <th colspan="2">$i18n.getString( "category_x_available_periods" )</th>
</tr>
<tr>
	<td>
		<input type="button" style="width:60px" value="$i18n.getString( 'prev' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '-1' )" />
		<input type="button" style="width:60px" value="$i18n.getString( 'next' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '1' )" />
		<select id="periodType" name="periodType" style="min-width:478px" onchange="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '0' )">
			<option value="">[ $i18n.getString( "select_period_type_all" ) ]</option>
			#foreach ( $type in $periodTypes )
				<option value="$type.name">$i18n.getString( $type.name )</option>
			#end
		</select>
	</td>
</tr>
<tr>
    <td colspan="2">
        <select multiple size="6" id="availablePeriods" name="availablePeriods" style="min-width:600px" ondblclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' )">
            #foreach ( $period in $availablePeriods )
                <option value="$period.externalId">$format.formatPeriod( $period )</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' )" />
        <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availablePeriods', 'selectedPeriods' )" />
        <input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' )" />
        <input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedPeriods', 'availablePeriods' )" />
    </td>
</tr>
<tr>
    <th colspan="2">$i18n.getString( "category_x_selected_periods" )</th>
</tr>
<tr>
    <td>
        <select size="6" id="selectedPeriods" name="selectedPeriods" style="min-width:600px" multiple ondblclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' )">               
            #foreach ( $period in $selectedPeriods )
                <option value="$period.externalId">$format.formatPeriod( $period )</option>
            #end
        </select>
    </td>
    <td></td>
</tr>
<tr>
    <td colspan="2" style="height:15px"></td>
</tr>

<!-- Relative periods -->

<tr>
	<th colspan="2">$i18n.getString( "relative_periods" )</th>
</tr>
<tr>
	<td>
	    <label for="lastMonth">$i18n.getString( "last_month" )</label>
		<input type="checkbox" id="lastMonth" name="lastMonth" value="true"#if( $chart.relatives.isReportingMonth() ) checked#end>&nbsp;
		<label for="lastQuarter">$i18n.getString( "last_quarter" )</label>
		<input type="checkbox" id="lastQuarter" name="lastQuarter" value="true""#if( $chart.relatives.isReportingQuarter() ) checked#end>&nbsp;
		<label for="lastSixMonth">$i18n.getString( "last_six_month" )</label>
		<input type="checkbox" id="lastSixMonth" name="lastSixMonth" value="true"#if( $chart.relatives.isLastSixMonth() ) checked#end>&nbsp;
		<label for="thisYear">$i18n.getString( "this_year" )</label>
		<input type="checkbox" id="thisYear" name="thisYear" value="true"#if( $chart.relatives.isThisYear() ) checked#end><br>
		
		<label for="last12Months">$i18n.getString( "last_12_months" )</label>
		<input type="checkbox" id="last12Months" name="last12Months" value="true""#if( $chart.relatives.isLast12Months() ) checked#end>&nbsp;
		<label for="last4Quarters">$i18n.getString( "last_4_quarters" )</label>
		<input type="checkbox" id="last4Quarters" name="last4Quarters" value="true"#if( $chart.relatives.isLast4Quarters() ) checked#end>&nbsp;
		<label for="last2SixMonths">$i18n.getString( "last_2_sixmonths" )</label>
		<input type="checkbox" id="last2SixMonths" name="last2SixMonths" value="true"#if( $chart.relatives.isLast2SixMonths() ) checked#end>
		<label for="last5Years">$i18n.getString( "last_5_years" )</label>
		<input type="checkbox" id="last5Years" name="last5Years" value="true"#if( $chart.relatives.isLast5Years() ) checked#end>
    </td>
</tr>
<tr>
    <td style="height:15px"></td>
</tr>

<!-- OrganisationUnit -->

<tr>
    <th colspan="2">$i18n.getString( "filter_available_organisationunits" ) - <a href="javascript:clearListById( 'selectedOrganisationUnits' )">$i18n.getString( 'clear' )</th>
</tr>
<tr>
    <td colspan="2">
        <select id="organisationUnitLevel" name="organisationUnitLevel" style="min-width:600px" onchange="getOrganisationUnitsToSelected()">
            <option value="$ALL">[ $i18n.getString( "select_organisationunit_level_all" ) ]</option>
            #foreach ( $level in $levels )
                <option value="$level.level">$encoder.htmlEncode( $level.name )</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <select id="selectedOrganisationUnits" name="selectedOrganisationUnits" style="min-width:600px">               
            #foreach ( $unit in $selectedOrganisationUnits )
                <option value="$unit.id">$unit.name</option>
            #end
        </select>
    </td>
</tr>
<table>
