<table>
<!-- Relative periods -->

<tr>
	<th colspan="2">$i18n.getString( "relative_periods" )</th>
</tr>
<tr>
	<td>
	    <label for="lastMonth">$i18n.getString( "last_month" )</label>
		<input type="checkbox" id="lastMonth" name="lastMonth" value="true"#if( $chart.relatives.isReportingMonth() ) checked#end>&nbsp;
		<label for="lastQuarter">$i18n.getString( "last_quarter" )</label>
		<input type="checkbox" id="lastQuarter" name="lastQuarter" value="true""#if( $chart.relatives.isReportingQuarter() ) checked#end>&nbsp;
		<label for="lastSixMonth">$i18n.getString( "last_six_month" )</label>
		<input type="checkbox" id="lastSixMonth" name="lastSixMonth" value="true"#if( $chart.relatives.isLastSixMonth() ) checked#end>&nbsp;
		<label for="thisYear">$i18n.getString( "this_year" )</label>
		<input type="checkbox" id="thisYear" name="thisYear" value="true"#if( $chart.relatives.isThisYear() ) checked#end><br>
		
		<label for="last12Months">$i18n.getString( "last_12_months" )</label>
		<input type="checkbox" id="last12Months" name="last12Months" value="true""#if( $chart.relatives.isLast12Months() ) checked#end>&nbsp;
		<label for="last4Quarters">$i18n.getString( "last_4_quarters" )</label>
		<input type="checkbox" id="last4Quarters" name="last4Quarters" value="true"#if( $chart.relatives.isLast4Quarters() ) checked#end>&nbsp;
		<label for="last2SixMonths">$i18n.getString( "last_2_sixmonths" )</label>
		<input type="checkbox" id="last2SixMonths" name="last2SixMonths" value="true"#if( $chart.relatives.isLast2SixMonths() ) checked#end>
		<label for="last5Years">$i18n.getString( "last_5_years" )</label>
		<input type="checkbox" id="last5Years" name="last5Years" value="true"#if( $chart.relatives.isLast5Years() ) checked#end>
    </td>
</tr>
<tr>
    <td style="height:15px"></td>
</tr>
<!-- Indicators -->
    <tr>
        <th colspan="2">$i18n.getString( "value_x_available_indicators" )</th>
    </tr>
    <tr>
        <td colspan="2">
            <select id="indicatorGroupId" name="indicatorGroupId" style="min-width:600px" onchange="getIndicators()">
                <option value="$ALL">[ $i18n.getString( "select_indicatorgroup_all" ) ]</option>
                #foreach ( $group in $indicatorGroups )
                    <option value="$group.id">$group.name</option>
                #end
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <select multiple size="6" id="availableIndicators" name="availableIndicators" style="min-width:600px" ondblclick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )">             
                #foreach ( $indicator in $availableIndicators )
                    <option value="$indicator.id">$indicator.name</option>
                #end
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )" />
            <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableIndicators', 'selectedIndicators' )" />
			<input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )" />
			<input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedIndicators', 'availableIndicators' )" />
        </td>
    </tr>

    <tr>
        <th colspan="2">$i18n.getString( "value_x_selected_indicators" )</th>
    </tr>

    <tr>
        <td>
            <select multiple size="6" id="selectedIndicators" name="selectedIndicators" style="min-width:600px" ondblclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )">
                #foreach( $indicator in $selectedIndicators )
                    <option value="$indicator.id">$indicator.name</option>
                #end
            </select>                  
        </td>
        <td>
            <a href="#" onclick="moveUpSelectedOption( 'selectedIndicators' )"><img src="../images/move_up.png" border="0" alt=""></a><br><br>
            <a href="#" onclick="moveDownSelectedOption( 'selectedIndicators' )"><img src="../images/move_down.png" border="0" alt=""></a>        
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>

<!-- OrganisationUnit -->

<tr>
    <th colspan="2">$i18n.getString( "filter_available_organisationunits" ) - <a href="javascript:clearListById( 'selectedOrganisationUnits' )">$i18n.getString( 'clear' )</a></th>
</tr>

<tr>
    <td colspan="2">
        <select id="organisationUnitLevel" name="organisationUnitLevel" style="min-width:600px" onchange="getOrganisationUnitsToSelected()">
            <option value="$ALL">[ $i18n.getString( "select_organisationunit_level_all" ) ]</option>
            #foreach ( $level in $levels )
                <option value="$level.level">$encoder.htmlEncode( $level.name )</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <select id="selectedOrganisationUnits" name="selectedOrganisationUnits" style="min-width:600px">               
            #foreach ( $unit in $selectedOrganisationUnits )
                <option value="$unit.id">$unit.name</option>
            #end
        </select>
    </td>
</tr>
	
</table>
