<table>

    <col>       
    <col width="16">
    	
    <!-- Data elements -->
    <tr>
        <th colspan="2">$i18n.getString( "value_y_available_dataelements" )</th>
    </tr>
    <tr>
        <td colspan="2">
            <select id="dataElementGroupId" name="dataElementGroupId" style="min-width:600px" onchange="getDataElements()">
                <option value="$ALL">[ $i18n.getString( "select_dataelementgroup_all" ) ]</option>
                #foreach ( $group in $dataElementGroups )
                    <option value="$group.id">$group.name</option>
                #end
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <select multiple size="6" id="availableDataElements" name="availableDataElements" style="min-width:600px" ondblclick="moveSelectedById( 'availableDataElements', 'selectedDataElements' )">             
                #foreach ( $dataElement in $availableDataElements )
                    <option value="$dataElement.id">$dataElement.name</option>
                #end
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableDataElements', 'selectedDataElements' )" />
            <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableDataElements', 'selectedDataElements' )" />
            <input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedDataElements', 'availableDataElements' )" />
			<input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedDataElements', 'availableDataElements' )" />
        </td>
    </tr>

    <tr>
        <th colspan="2">$i18n.getString( "value_y_selected_dataelements" )</th>
    </tr>

    <tr>
        <td>
            <select multiple size="6" id="selectedDataElements" name="selectedDataElements" style="min-width:600px" ondblclick="moveSelectedById( 'selectedDataElements', 'availableDataElements' )">
                #foreach( $dataElement in $selectedDataElements )
                    <option value="$dataElement.id">$dataElement.name</option>
                #end
            </select>                  
        </td>
        <td>
            <a href="#" onclick="moveUpSelectedOption( 'selectedDataElements' )"><img src="../images/move_up.png" border="0" alt=""></a><br><br>
            <a href="#" onclick="moveDownSelectedOption( 'selectedDataElements' )"><img src="../images/move_down.png" border="0" alt=""></a>        
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
    
    <!-- Category -->

    #if ( $dimension == "period_dataElement" )
    	#parse( "dhis-web-reporting/addChartPeriodModeForm.vm" )
    #else
        #parse( "dhis-web-reporting/addChartOrganisationUnitModeForm.vm" )
    #end    
    
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
	
</table>

</form>
