
<!-- OrganisationUnit -->

<tr>
    <th colspan="2">$i18n.getString( "category_x_available_organisationunits" )</th>
</tr>
<tr>
    <td colspan="2">
        <select id="organisationUnitLevel" name="organisationUnitLevel" style="min-width:600px" onchange="getOrganisationUnits()">
            <option value="0">[ $i18n.getString( "select_organisationunit_level_all" ) ]</option>
			#foreach ( $level in $levels )
				#if( $velocityCount == 1 )
				<option value="$level.level" selected="selected">$encoder.htmlEncode( $level.name )</option>
				#else
				<option value="$level.level">$encoder.htmlEncode( $level.name )</option>
				#end
			#end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <select multiple size="6" id="availableOrganisationUnits" name="availableOrganisationUnits" style="min-width:600px" ondblclick="moveSelectedById( 'availableOrganisationUnits', 'selectedOrganisationUnits' )">
            #foreach ( $unit in $availableOrganisationUnits )
                <option value="$unit.id">$unit.name</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableOrganisationUnits', 'selectedOrganisationUnits' )" />
        <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableOrganisationUnits', 'selectedOrganisationUnits' )" />
		<input type="button" value="$i18n.getString( 'add_children' )" title="$i18n.getString( 'add_children' )" style="width:120px" onclick="getOrganisationUnitChildren()" />
		<input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedOrganisationUnits', 'availableOrganisationUnits' )" />
		<input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedOrganisationUnits', 'availableOrganisationUnits' )" />
    </td>
</tr>

<tr>
    <th colspan="2">$i18n.getString( "category_x_selected_organisationunits" )</th>
</tr>

<tr>
    <td>
        <select size="6" id="selectedOrganisationUnits" name="selectedOrganisationUnits" style="min-width:600px" multiple ondblclick="moveSelectedById( 'selectedOrganisationUnits', 'availableOrganisationUnits' )">               
            #foreach ( $unit in $selectedOrganisationUnits )
                <option value="$unit.id">$unit.name</option>
            #end
        </select>
    </td>
    <td>
        <img src="../images/move_up.png" style="cursor: pointer;" border="0" alt="" onclick="moveUpSelectedOption( 'selectedOrganisationUnits' )" /><br/><br/>
        <img src="../images/move_down.png" style="cursor: pointer;" border="0" alt="" onclick="moveDownSelectedOption( 'selectedOrganisationUnits' )" />        
    </td>
</tr>
<tr>
    <td colspan="2" style="height:15px"></td>
</tr>

<!-- Period -->

<tr>
    <th colspan="2">$i18n.getString( "filter_available_periods" )</th>
</tr>
<tr>
	<td>
	    <label for="lastMonth">$i18n.getString( "last_month" )</label>
		<input type="checkbox" id="lastMonth" name="lastMonth" value="true"#if( $chart.relatives.isReportingMonth() ) checked#end>&nbsp;
		<label for="lastQuarter">$i18n.getString( "last_quarter" )</label>
		<input type="checkbox" id="lastQuarter" name="lastQuarter" value="true""#if( $chart.relatives.isReportingQuarter() ) checked#end>&nbsp;
		<label for="lastSixMonth">$i18n.getString( "last_six_month" )</label>
		<input type="checkbox" id="lastSixMonth" name="lastSixMonth" value="true"#if( $chart.relatives.isLastSixMonth() ) checked#end>&nbsp;
		<label for="thisYear">$i18n.getString( "this_year" )</label>
		<input type="checkbox" id="thisYear" name="thisYear" value="true"#if( $chart.relatives.isThisYear() ) checked#end>
    </td>
</tr>