<script type="text/javascript">
	jQuery(document).ready(function() {
		if( jQuery("#targetLine").attr("checked") === undefined )
		{
			jQuery("#targetLineValue").attr("disabled", "disabled");
			jQuery("#targetLineLabel").attr("disabled", "disabled");
		}

		jQuery("#targetLine").change(function() {
			if( jQuery("#targetLine").attr("checked") !== undefined ) {
				jQuery("#targetLineValue").removeAttr("disabled");
				jQuery("#targetLineLabel").removeAttr("disabled");
				jQuery("#targetLineValue").focus();
			} else {
				jQuery("#targetLineValue").attr("disabled", "disabled");
				jQuery("#targetLineLabel").attr("disabled", "disabled");
			}
		});
	});

    var i18n_must_select_at_least_one_indicator = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_indicator" ), "'")';
    var i18n_must_select_at_least_one_dataelement = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_dataelement" ), "'")';
    var i18n_must_select_at_least_one_dataset = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_dataset" ), "'")';
    var i18n_must_select_at_least_one_unit = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_unit" ), "'")';
    var i18n_must_select_at_least_one_period = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_period" ), "'")';
	var i18n_target_line_value_must_be_provided = '$encoder.jsEscape( $i18n.getString( "target_line_value_must_be_provided" ), "'")';
	var i18n_target_line_value_must_be_number = '$encoder.jsEscape( $i18n.getString( "target_line_value_must_be_number" ), "'")';
</script>

#macro ( getHeader )
	#if ( $dimension == "period" )
	    $i18n.getString( "create_period_by_indicator_chart" )
	#elseif( $dimension == "period_dataElement" )
	    $i18n.getString( "create_period_by_dataelement_chart" )
	#elseif ( $dimension == "organisationUnit" )
	    $i18n.getString( "create_indicator_by_organisation_unit_chart" )
	#elseif ( $dimension == "organisationUnit_dataElement" )
	    $i18n.getString( "create_dataelement_by_organisation_unit_chart" )
	#elseif ( $dimension == "indicator" )
		$i18n.getString( "create_indicator_by_period_chart" )
	#elseif ( $dimension == "dataElement_period" )
		$i18n.getString( "create_dataelement_by_period_chart" )
	#end
#end

<h3>#getHeader()</h3>

<form id="chartForm" name="chartForm" method="post" action="saveChart.action">

<input type="hidden" id="id" name="id" value="$!chart.id" />
<input type="hidden" id="dimension" name="dimension" value="$!dimension" />

#if ( $dimension == "period" || $dimension == "period_dataElement" )
	<input type="hidden" name="series" value="PERIOD" />
	<input type="hidden" name="category" value="DATA" />
	<input type="hidden" name="filter" value="ORGANISATIONUNIT" />
#elseif ( $dimension == "indicator" || $dimension == "dataElement_period" )
	<input type="hidden" name="series" value="DATA" />
	<input type="hidden" name="category" value="PERIOD" />
	<input type="hidden" name="filter" value="ORGANISATIONUNIT" />
#elseif ( $dimension == "organisationUnit" || $dimension == "organisationUnit_dataElement" )
	<input type="hidden" name="series" value="DATA" />
	<input type="hidden" name="category" value="ORGANISATIONUNIT" />
	<input type="hidden" name="filter" value="PERIOD" />
#end

<table>
    <tr>
        <th colspan="2">$i18n.getString( "chart" )</th>
    </tr>
    <tr>
        <td><label for="name">$i18n.getString( "title" )</label></td>
        <td><input type="text" id="name" name="name" style="width:300px" value="$!chart.name"></td>
    </tr>
    <tr>
        <td><label for="domainAxisLabel">$i18n.getString( "domain_axis_label_x" )</label></td>
        <td><input type="text" id="domainAxisLabel" name="domainAxisLabel" style="width:300px" value="$!chart.domainAxixLabel"></td>
    </tr>
    <tr>
        <td><label for="rangeAxisLabel">$i18n.getString( "range_axis_label_y" )</label></td>
        <td><input type="text" id="rangeAxisLabel" name="rangeAxisLabel" style="width:300px" value="$!chart.rangeAxisLabel"></td>
    </tr>
    <tr>
        <td><label for="hideSubtitle">$i18n.getString( "hide_subtitle" )</label></td>
        <td><input type="checkbox" id="hideSubtitle" name="hideSubtitle" value="true"#if( $!chart.hideSubtitle ) checked#end></td>
    </tr>
    <tr>
    	<td><label for="type">$i18n.getString( "chart_type" )</label></td>
    	<td>
    		<select id="type" name="type" style="width:300px">
    			<option value="BAR"#if ( $!chart.type == "bar" ) selected#end>$i18n.getString( "bar_chart" )</option>
    			<option value="LINE"#if ( $!chart.type == "line" ) selected#end>$i18n.getString( "line_chart" )</option>
    			<option value="PIE"#if ( $!chart.type == "pie" ) selected#end>$i18n.getString( "pie_chart" )</option>
    			<option value="STACKEDBAR"#if ( $!chart.type == "stackedBar" ) selected#end>$i18n.getString( "stacked_bar_chart" )</option>
		    </select>
	    </td>
    </tr>
    <tr>
    	<td><label for="hideLegend">$i18n.getString( "hide_legend" )</label></td>
    	<td><input type="checkbox" id="hideLegend" name="hideLegend" value="true"#if( $!chart.hideLegend ) checked#end></td>
    </tr>
    <tr>
        <td><label for="regression">$i18n.getString( "include_regression_line" )</label></td>
        <td><input type="checkbox" id="regression" name="regression" value="true"#if( $!chart.regression ) checked#end></td>
    </tr>
    <tr>
        <td><label for="targetLine">$i18n.getString( "include_target_line" )</label></td>
        <td><input type="checkbox" id="targetLine" name="targetLine" value="true"#if( $!chart.targetLine ) checked#end></td>
    </tr>
    <tr>
        <td><label for="targetLineValue">$i18n.getString( "target_line_value" )</label></td>
        <td><input type="text" id="targetLineValue" name="targetLineValue" style="width:80px" value="$!chart.targetLineValue"></td>
    </tr>
    <tr>
        <td><label for="targetLineLabel">$i18n.getString( "target_line_label" )</label></td>
        <td><input type="text" id="targetLineLabel" name="targetLineLabel" style="width:80px" value="$!chart.targetLineLabel"></td>
    </tr>
    #if ( $currentUser && $currentUser.hasOrganisationUnit() )
    <tr>
        <td><label for="userOrganisationUnit">$i18n.getString( "user_organisation_unit" )</label></td>
        <td><input type="checkbox" id="userOrganisationUnit" name="userOrganisationUnit" value="true"#if( $!chart.userOrganisationUnit ) checked#end></td>
    </tr>
    #end
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
</table>

#if ( $dimension == "period" )
	#parse( "dhis-web-reporting/addChartOrgunitOrPeriodForm.vm" )
#elseif( $dimension == "period_dataElement" )
	#parse( "dhis-web-reporting/addChartDataElementOrgunitOrPeriodForm.vm" )
#elseif ( $dimension == "organisationUnit" )
	#parse( "dhis-web-reporting/addChartOrgunitOrPeriodForm.vm" )
#elseif ( $dimension == "organisationUnit_dataElement" )
	#parse( "dhis-web-reporting/addChartDataElementOrgunitOrPeriodForm.vm" )
#elseif ( $dimension == "indicator" )
    #parse( "dhis-web-reporting/addChartIndicatorModeForm.vm" )
#elseif ( $dimension == "dataElement_period" )
	#parse( "dhis-web-reporting/addChartDataElementModeForm.vm" )
#end

<table>
    <!-- Submit -->
    <tr>        
        <td colspan="2">
            <input type="button" value="$i18n.getString( 'save' )" onclick="saveChart('$dimension')" style="width:120px" />
            <input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='displayViewChartForm.action'" style="width:120px" />
        </td>
    </tr>
</table>

</form>

<span id="message"></span>
