<table>

    <col>       
    <col width="16">
    	
    <!-- Indicators -->
    <tr>
        <th colspan="2">$i18n.getString( "value_y_available_indicators" )</th>
    </tr>
    <tr>
        <td colspan="2">
            <select id="indicatorGroupId" name="indicatorGroupId" style="min-width:600px" onchange="getIndicators()">
                <option value="$ALL">[ $i18n.getString( "select_indicatorgroup_all" ) ]</option>
                #foreach ( $group in $indicatorGroups )
                    <option value="$group.id">$group.name</option>
                #end
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <select multiple size="6" id="availableIndicators" name="availableIndicators" style="min-width:600px" ondblclick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )">             
                #foreach ( $indicator in $availableIndicators )
                    <option value="$indicator.id">$indicator.name</option>
                #end
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )" />
            <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableIndicators', 'selectedIndicators' )" />
            <input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )" />
			<input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedIndicators', 'availableIndicators' )" />
        </td>
    </tr>
    <tr>
        <th colspan="2">$i18n.getString( "value_y_selected_indicators" )</th>
    </tr>
    <tr>
        <td>
            <select multiple size="6" id="selectedIndicators" name="selectedIndicators" style="min-width:600px" ondblclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )">
                #foreach( $indicator in $selectedIndicators )
                    <option value="$indicator.id">$indicator.name</option>
                #end
            </select>                  
        </td>
        <td>
            <img src="../images/move_up.png" style="cursor: pointer;" border="0" alt="" onclick="moveUpSelectedOption( 'selectedIndicators' )" /><br/><br/>
            <img src="../images/move_down.png" style="cursor: pointer;" border="0" alt="" onclick="moveDownSelectedOption( 'selectedIndicators' )" />        
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
    
    <!-- Category -->
    
    #if ( $dimension == "period" )
    	#parse( "dhis-web-reporting/addChartPeriodModeForm.vm" )
    #else
        #parse( "dhis-web-reporting/addChartOrganisationUnitModeForm.vm" )
    #end    
    
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
	
</table>

</form>
