<table>

    <col>       
    <col width="16">
    	
    <!-- Data elements -->
    <tr>
        <th colspan="2">$i18n.getString( "value_y_available_datasets" )</th>
    </tr>
    <tr>
        <td colspan="2">
            <select multiple size="6" id="availableDataSets" name="availableDataSets" style="min-width:600px" ondblclick="moveSelectedById( 'availableDataSets', 'selectedDataSets' )">             
                #foreach ( $dataSet in $availableDataSets )
                    <option value="$dataSet.id">$dataSet.name</option>
                #end
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableDataSets', 'selectedDataSets' )" />
            <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableDataSets', 'selectedDataSets' )" />
            <input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedDataSets', 'availableDataSets' )" />
			<input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedDataSets', 'availableDataSets' )" />
        </td>
    </tr>

    <tr>
        <th colspan="2">$i18n.getString( "value_y_selected_datasets" )</th>
    </tr>

    <tr>
        <td>
            <select multiple size="6" id="selectedDataSets" name="selectedDataSets" style="min-width:600px" ondblclick="moveSelectedById( 'selectedDataSets', 'availableDataSets' )">
                #foreach( $dataSet in $selectedDataSets )
                    <option value="$dataSet.id">$dataSet.name</option>
                #end
            </select>                  
        </td>
        <td>
            <a href="#" onclick="moveUpSelectedOption( 'selectedDataSets' )"><img src="../images/move_up.png" border="0" alt=""></a><br><br>
            <a href="#" onclick="moveDownSelectedOption( 'selectedDataSets' )"><img src="../images/move_down.png" border="0" alt=""></a>        
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
    
    <!-- Category -->

    #if ( $dimension == "period_completeness" )
    	#parse( "dhis-web-reporting/addChartPeriodModeForm.vm" )
    #else
        #parse( "dhis-web-reporting/addChartOrganisationUnitModeForm.vm" )
    #end    
    
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
	
</table>

</form>
