<table>
<!-- Periods -->

<tr>
    <th colspan="2">$i18n.getString( "category_x_available_periods" )</th>
</tr>
<tr>
	<td>
		<input type="button" style="width:60px" value="$i18n.getString( 'prev' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '-1' )"><input
			   type="button" style="width:60px" value="$i18n.getString( 'next' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '1' )">
		<select id="periodType" name="periodType" style="min-width:478px" onchange="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '0' )">
			<option value="">[ $i18n.getString( "select_period_type_all" ) ]</option>
			#foreach ( $type in $periodTypes )
				<option value="$type.name">$type.name</option>
			#end
		</select>
	</td>
</tr>
<tr>
    <td colspan="2">
        <select multiple size="6" id="availablePeriods" name="availablePeriods" style="min-width:600px" ondblclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' )">
            #foreach ( $period in $availablePeriods )
                <option value="$period.externalId">$format.formatPeriod( $period )</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' )"><input 
            type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availablePeriods', 'selectedPeriods' )"><input 
            type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' )"><input 
            type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'selectedPeriods', 'availablePeriods' )">
    </td>
</tr>
<tr>
    <th colspan="2">$i18n.getString( "category_x_selected_periods" )</th>
</tr>
<tr>
    <td>
        <select size="6" id="selectedPeriods" name="selectedPeriods" style="min-width:600px" multiple ondblclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' )">               
            #foreach ( $period in $selectedPeriods )
                <option value="$period.externalId">$format.formatPeriod( $period )</option>
            #end
        </select>
    </td>
    <td></td>
</tr>
<tr>
    <td colspan="2" style="height:15px"></td>
</tr>

<!-- Relative periods -->

<tr>
	<th colspan="2">$i18n.getString( "relative_periods" )</th>
</tr>
<tr>
	<td colspan="2">
	    <label for="reportingMonth">$i18n.getString( "reporting_month" )</label>
		<input type="checkbox" id="reportingMonth" name="reportingMonth" value="true"#if( $!chart.relatives.isReportingMonth() ) checked#end>&nbsp;
		<label for="last3Months">$i18n.getString( "last_3_months" )</label>
		<input type="checkbox" id="last3Months" name="last3Months" value="true""#if( $!chart.relatives.isLast3Months() ) checked#end>&nbsp;
		<label for="last6Months">$i18n.getString( "last_6_months" )</label>
		<input type="checkbox" id="last6Months" name="last6Months" value="true"#if( $!chart.relatives.isLast6Months() ) checked#end>&nbsp;
		<label for="last12Months">$i18n.getString( "last_12_months" )</label>
		<input type="checkbox" id="last12Months" name="last12Months" value="true"#if( $!chart.relatives.isLast12Months() ) checked#end>
	</td>
</tr>
<tr>
	<td style="height:5px"></td>
</tr>
<tr>
    <td colspan="2">
    	<label for="last3To6Months">$i18n.getString( "last_3_to_6_months" )</label>
        <input type="checkbox" id="last3To6Months" name="last3To6Months" value="true"#if( $!chart.relatives.isLast3To6Months() ) checked#end>&nbsp;
        <label for="last6To9Months">$i18n.getString( "last_6_to_9_months" )</label>
        <input type="checkbox" id="last6To9Months" name="last6To9Months" value="true""#if( $!chart.relatives.isLast6To9Months() ) checked#end>&nbsp;
        <label for="last9To12Months">$i18n.getString( "last_9_to_12_months" )</label>
        <input type="checkbox" id="last9To12Months" name="last9To12Months" value="true"#if( $!chart.relatives.isLast9To12Months() ) checked#end>&nbsp;
        <label for="last12IndividualMonths">$i18n.getString( "last_12_individual_months" )</label>
        <input type="checkbox" id="last12IndividualMonths" name="last12IndividualMonths" value="true"#if( $!chart.relatives.isLast12IndividualMonths() ) checked#end>           
    </td>
</tr>
<tr>
    <td style="height:5px"></td>
</tr>
<tr>
    <td colspan="2">
        <label for="soFarThisYear">$i18n.getString( "so_far_this_year" )</label>
        <input type="checkbox" id="soFarThisYear" name="soFarThisYear" value="true"#if( $!chart.relatives.isSoFarThisYear() ) checked#end>&nbsp;
        <label for="individualMonthsThisYear">$i18n.getString( "individual_months_this_year" )</label>
        <input type="checkbox" id="individualMonthsThisYear" name="individualMonthsThisYear" value="true"#if( $!chart.relatives.isIndividualMonthsThisYear() ) checked#end>&nbsp;
        <label for="individualQuartersThisYear">$i18n.getString( "individual_quarters_this_year" )</label>
        <input type="checkbox" id="individualQuartersThisYear" name="individualQuartersThisYear" value="true"#if( $!chart.relatives.isIndividualQuartersThisYear() ) checked#end>           
    </td>
</tr>
<tr>
    <td style="height:15px"></td>
</tr>

<!-- OrganisationUnit -->

<tr>
    <th colspan="2">$i18n.getString( "filter_available_organisationunits" )</th>
</tr>
<tr>
    <td colspan="2">
        <select id="organisationUnitLevel" name="organisationUnitLevel" style="min-width:600px" onchange="getOrganisationUnitsToSelected()">
            <option value="$ALL">[ $i18n.getString( "select_organisationunit_level_all" ) ]</option>
            #foreach ( $level in $levels )
                <option value="$level.level">$encoder.htmlEncode( $level.name )</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <select id="selectedOrganisationUnits" name="selectedOrganisationUnits" style="min-width:600px">               
            #foreach ( $unit in $selectedOrganisationUnits )
                <option value="$unit.id">$unit.name</option>
            #end
        </select>
    </td>
</tr>
<table>
