<script type="text/javascript">
    var i18n_select_data_set = '$encoder.jsEscape( $i18n.getString( "select_data_set" ), "'")';
    var i18n_select_period = '$encoder.jsEscape( $i18n.getString( "select_period" ), "'")';
    var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
    var i18n_generating_report = '$encoder.jsEscape( $i18n.getString( "generating_report" ), "'")';    
</script>

<h3>$i18n.getString( "dataset_report" )</h3>

<form id="reportForm" name="reportForm" action="generateDataSetReport.action" method="post">	

<table>
	<tr>
	  	<th>$i18n.getString( "dataset" )</th>
	</tr>
	<tr>
		<td>
			<select id="dataSetId" name="dataSetId" style="width:325px">
			<option value="">[ $i18n.getString( "select" ) ]</option>
				#foreach( $dataSet in $dataSets )
				<option value="$dataSet.id">$encoder.htmlEncode( $dataSet.name )</option>
				#end
			</select>
		</td>
	</tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
	<tr>
		<th>$i18n.getString( "report_period" )</th>
	</tr>
	<tr>
		<td>        
			<input type="button" style="width:50px" value="$i18n.getString( 'prev' )" onclick="getAvailablePeriods( 'periodType', 'periodId', 'periodId', '-1' )"><input
				   type="button" style="width:50px" value="$i18n.getString( 'next' )" onclick="getAvailablePeriods( 'periodType', 'periodId', 'periodId', '1' )">
			<select id="periodType" name="periodType" style="min-width:222px" onchange="getAvailablePeriods( 'periodType', 'periodId', 'periodId', '0' )">
				<option value="">[ $i18n.getString( "select_period_type_all" ) ]</option>
				#foreach ( $type in $periodTypes )
					<option value="$type.name">$type.name</option>
				#end
			</select><br>
			
	        <select id="periodId" name="periodId" style="width:325px">
	        </select>
		</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>    
	<tr>
		<th>$i18n.getString( "report_parameters" )</th>
	</tr>
  <tr>  	
      <td><label>$i18n.getString( "use_data_for_selected_unit_only" )</label><input type="checkbox" id="selectedUnitOnly" name="selectedUnitOnly" value="true"></td>
  </tr>
  <tr>
        <td style="height:10px"></td>
  </tr>
</table>
  
<table>	
  <tr>	
    <th>$i18n.getString( "report_organisation_unit" )</th>	
  </tr>  
  <tr>	
	<td>
        <div id="selectionTree" style="width:350px;height:220px;overflow:auto;border:1px solid #cccccc">			
			<script type="text/javascript">
          		selectionTreeSelection.setMultipleSelectionAllowed( false );
				selectionTree.clearSelectedOrganisationUnits();
          		selectionTree.buildSelectionTree();
        	</script>										
		</div>		
    </td>
  </tr>  
  <tr>  
	<td><input type="button" value="$i18n.getString( "get_report" )" style="width:115px" onclick="validateDataSetReport()"></td>
	<td></td>		
  </tr>  
</table>
 
</form>

<span id="message">$!message</span>
