
<script type="text/javascript">
$(function() {
	$("#columnTable").sortable({
		placeholder: 'ui-state-highlight'
	});
	$("#columnTable").disableSelection();		
});

</script>

<style>
	#columnTable { list-style-type: none; margin: 0; padding: 0; width: 582px; }
	#columnTable li { margin: 0 1px 1px 1px; padding: 1px; padding-left: 5px; font-size: 12pt;cursor:pointer }
	.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
</style>

<input type="hidden" id="reportTableId" value="$!reportTable.id">

<h3>$i18n.getString( "display_report_table" )</h3>

#if( $reportTable.hasDynamicColumns() )

<span id="info">$i18n.getString( 'cannot_create_display_columns_dynamic_columns' )</span>
<p><input type="button" value="$i18n.getString( "back" )" onclick="window.location.href='displayManageTableForm.action'" style="width:120px"></p>

#else

<h4>$encoder.htmlEncode( $reportTable.name )</h4>

<p>
<table>
	<tr>
		<th style="width:400px">$i18n.getString( "column" )</th>
		<th style="width:55px;">$i18n.getString( "visible" )</td>
		<th style="width:90px;">$i18n.getString( "move" )</th>
	</tr>
</table>
<ul id="columnTable"> 
#foreach( $column in $columns )
<li class="ui-state-default" name="dataElementGroupOrder" value="$group.id" title="$i18n.getString( 'sort_order_help' )">
	<table>
		<tr>
			<td style="width:400px"><input type="text" id="$!encoder.htmlEncode( $column.name )" value="$!column.header" style="width:390px"/></td>
			<td style="width:55px;text-align:center"><input type="checkbox" #if ( !$column.hidden )checked="checked"#end></td>
			<td style="width:90px; color:#808080;text-align:center;padding-left:5px">$i18n.getString( "click_and_drag" )</td>
		</tr>
	</table>
</li>
#end
</ul> 
</p>

<p><input type="button" value="$i18n.getString( "save" )" onclick="saveDisplayTable()" style="width:120px"><input
          type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='displayManageTableForm.action'" style="width:120px"></p>

#end
