
<h3>$i18n.getString( "report_table_parameters" )</h3>

<input type="hidden" id="id" name="id" value="$!id">
<input type="hidden" id="mode" name="mode" value="$!mode">

<table>
	
	<!-- Data source -->
	
	#if ( $aggregationStrategy == "real_time" )
    <tr>
        <th>$i18n.getString( "method" )</th>
    </tr>
    <tr>
    	<td>
			<select id="doDataMart" name="doDataMart" style="width:325px">
				<option value="true">$i18n.getString( "get_updated_data" )</a>
				<option value="false">$i18n.getString( "use_existing_data" )</a>
			</select>
		</td>
	</tr>
    <tr>
        <td colspan="4" style="height:10px"></td>
    </tr>
    #end
    	
    <!-- Reporting month -->
    
    #if ( $!reportParams.isParamReportingMonth() )
    
    <tr>
        <th>$i18n.getString( "reporting_month" )</th>
    </tr>
    <tr>
        <td>
            <select id="reportingPeriod" name="reportingPeriod" style="width:325px">               
                #foreach ( $key in $reportingPeriods.keySet() )
                    <option value="$key">$reportingPeriods.get( $key )</option>
                #end
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="height:10px"></td>
    </tr>
    
    #end
    
    <!-- OrganisationUnit -->
    
    #if ( $!reportParams.isParamParentOrganisationUnit() || $!reportParams.isParamOrganisationUnit() )
        
	<tr>
        <th>$i18n.getString( "organisation_unit" )</th>
    </tr>
    <tr>
	    <td>
			<div id="selectionTree" style="width:325px; height:200px"></div>	            
			<script type="text/javascript">
				selectionTreeSelection.setMultipleSelectionAllowed( false );
				selectionTreeSelection.setListenerFunction( paramOrganisationUnitSet );
				selectionTree.clearSelectedOrganisationUnits();
			    selectionTree.buildSelectionTree();
			</script>
	    </td>
	</tr>
    <tr>
        <td colspan="4" style="height:10px"></td>
    </tr>
    
    #end
    
    <!-- Submit -->    
        
    <tr>
        <td>
        	#if( $!reportParams.isSet() )
        	
            <input type="button" value="$i18n.getString( 'get_report' )" onclick="generateReport()" style="width:140px">
        	#if ( $mode == "table" )
            <input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='displayManageTableForm.action'" style="width:140px">
        	#elseif ( $mode == "report" )
            <input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='displayViewReportForm.action'" style="width:140px">
        	#end
        	
            #end
        </td>
    </tr>
    
</table>

<span id="message"></span>

<script type="text/javascript">
    var i18n_process_completed = '$encoder.jsEscape( $i18n.getString( "process_completed" ), "'")';
    var i18n_please_wait = '$encoder.jsEscape( $i18n.getString( "please_wait" ), "'")';
	var i18n_please_select_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
</script>

#if( !$!reportParams.isSet() )
<script type="text/javascript">
generateReport();
</script>
#end
