#set( $size = $charts.size() )
{ "charts": [
#foreach( $chart in $charts )
#set( $groups = $chart.groups )
  {
    "id": $!{chart.id},
    "name": "$!encoder.jsonEncode( ${chart.name} )",
    "dimension": "$!encoder.jsonEncode( ${chart.dimension} )",
    "indicators": "$!encoder.jsonEncode( ${chart.indicators.size()} )",
    "dataElements": "$!encoder.jsonEncode( ${chart.dataElements.size()} )",
    "periods": "${chart.periods.size()}",
    "organisationUnits": $!{chart.organisationUnits.size()},
    "groups": [ #foreach( $group in $groups )${group.id}#if( $velocityCount < $groups.size() ),#end#end ]
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}