<html>
  <head>
    <title>DHIS 2</title>
    <link type="text/css" rel="stylesheet" media="screen" href="../dhis-web-commons/css/blue/blue.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../dhis-web-commons/css/widgets.css">
  </head>
  
  <body>
  	<div class="page" style="margin: 20px">  	
  	  #parse( "dhis-web-reporting/responseReportTableData.vm" )
  	</div>
  </body>
</html>
