
#macro( alternate $mark )
    #if( $mark ) class="listAlternateRow"#else class="listRow"#end
#end

<p><input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='displayManageTableForm.action'" style="width:120px"></p>

<table class="listTable">
    <tr>
        <td style="text-align:center" colspan="$data.columns.values().size()"><h3>$data.name</h3></td>
    </tr>
    <tr>
    #foreach( $column in $data.prettyPrintColumns )
        <td class="reportTableHeader" style="min-width:100px">$column</td>
    #end
    </tr>
    #set( $mark = false )
    #foreach( $row in $data.rows )
        <tr>
        #foreach( $value in $row.values() )
            <td#alternate( $mark )>$value</td>
        #end
        </tr>
        #if( $mark )
            #set( $mark = false )
        #else
            #set( $mark = true )
        #end
    #end
</table>
