
<h3>$i18n.getString( 'update_new_static_report' )</h3>

<form id="documentForm" action="updateDocument.action" method="post" enctype="multipart/form-data">
<input type="hidden" id="id" name="id" value="$document.id">
<table>
    <tr>
        <th colspan="2">$i18n.getString( "details" )</th>
    </tr>
    <tr>
        <td style="width:70px"><label for="name">$i18n.getString( "name" )</label></td>
        <td><input type="text" id="name" name="name" style="width:20em" value="$document.name"></td>
    </tr>
    <tr>
    	<td><label for="external">$i18n.getString( "type" )</label></td>
    	<td>
    		<select id="external" name="external" style="width:20em" onchange="toggleExternal();">
    			<option value="false" #if(!$document.external) selected #end>$i18n.getString( "upload_file" )</option>
    			<option value="true" #if($document.external) selected #end>$i18n.getString( "external_url" )</option>
		    </select>
	    </td>
    </tr>
</table>

<div id="fileDiv">
<table>
    <tr>
        <td style="width:70px"><label for="upload">$i18n.getString( "file" )</label></td>
        <td><input type="file" id="upload" name="upload" size="25"></td>
    </tr>
</table>
</div>

<div id="urlDiv" style="display:none">
<table>
    <tr>
        <td style="width:70px"><label for="url">$i18n.getString( "url" )</label></td>
        <td><input type="text" id="url" name="url" style="width:20em" #if($document.external) value="$!document.url" #end></td>
    </tr>
</table>
</div>

<table>
    <tr>
        <td colspan="2" height="7px"></td>
    </tr>
    <tr>
        <td></td>
        <td>
        	<input type="button" value="$i18n.getString( 'save' )" style="width:10em" onclick="updateDocument();"><input
                   type="button" value="$i18n.getString( 'cancel' )" style="width:10em" onclick="window.location.href='displayViewDocumentForm.action'">
        </td>
    </tr>
</table>

</form>

<span id="message"#if ( $message ) style="display:block"#end>$!message</span>
<script>
 toggleExternal();
</script>
