<script type="text/javascript">
	jQuery(document).ready(function() {
		selectionTreeSelection.setListenerFunction( organisationUnitSelected );
		selectionTreeSelection.setMultipleSelectionAllowed( false );
		selectionTree.clearSelectedOrganisationUnits();
		selectionTree.buildSelectionTree();
	});

	var i18n_please_select_org_unit = '$encoder.jsEscape( $i18n.getString( "please_select_org_unit" ) , "'")';
    var i18n_please_select_period = '$encoder.jsEscape( $i18n.getString( "please_select_period" ) , "'")';
</script>

<h3>$i18n.getString( "data_completeness_report" )</h3>

<table>
    <col width="330">
    <col>
    <tr>
    	<th>$i18n.getString( "select_org_unit" )</th>
    	<td></td>
    </tr>
    <tr>
	    <td><div id="selectionTree" style="width:325px; height:270px"></div></td>
        <td valign="bottom">
                	
            <input type="radio" name="criteria" id="registrationRadio" value="registration" checked="checked"/>
            <label for="registrationRadio">$i18n.getString( 'based_on_registration' )</label><br/>
            <input type="radio" name="criteria" id="compulsoryRadio" value="compulsory"/>
            <label for="compulsoryRadio">$i18n.getString( 'based_on_compulsory' )</label><br/>
            <input type="radio" name="criteria" id="ratioRadio" value="ratio"/>
            <label for="ratioRadio">$i18n.getString( 'based_on_ratio' )</label><br/><br/>
            
            <!-- DataSet -->
            
        	<select id="dataSetId" name="dataSetId" style="width:348px">
			<option value="0">[ $i18n.getString( "select_dataset_all" ) ]</option>
			#foreach( $dataSet in $dataSets )
				<option value="$dataSet.id">$dataSet.name</option>
			#end
			</select><br><br>
            
            <!-- PeriodType -->
            
            
			<select id="periodTypeId" style="min-width:223px" onchange="getPeriods( 'periodTypeId', 'periodId', 'periodId', '0' )">
				<option value="0">[ $i18n.getString( "select_period_type" ) ]</option>
				#foreach ( $type in $periodTypes )
					<option value="$type.name">$type.name</option>
				#end
			</select>
			<input type="button" style="width:60px" value="$i18n.getString( 'prev' )" onclick="getPeriods( 'periodType', 'periodId', 'periodId', '-1' )"/><input 
			       type="button" style="width:60px" value="$i18n.getString( 'next' )" onclick="getPeriods( 'periodType', 'periodId', 'periodId', '1' )"/><br><br>
			
			<!-- Period -->
			
            <select id="periodId" name="periodId" style="width:348px" disabled="disabled">
            </select><br><br>
            
            <input type="button" value="$i18n.getString( 'get_report' )" style="width:140px" onclick="displayCompleteness()"/><br><br>
            
            <!-- Export -->
            
        	<input type="button" value="$i18n.getString( 'get_report_as_pdf' )" style="width:140px" onclick="getCompleteness( 'pdf' )"/>
            <input type="button" value="$i18n.getString( 'get_report_as_xls' )" style="width:140px" onclick="getCompleteness( 'xls' )"/><br>
        	<input type="button" value="$i18n.getString( 'get_report_as_csv' )" style="width:140px" onclick="getCompleteness( 'csv' )"/>
        </td>
    </tr>
    <tr>
    	<td colspan="2" height="20px"></td>
    </tr>
</table>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="contentDiv"></div>
