
<h3>$i18n.getString( "scheduling_management" )</h3>

<span id="info">$i18n.getString( "scheduling_is" ) $!i18n.getString( $!status )</span>

<p>
<input type="button" style="width:140px" onclick="window.location.href='scheduleTasks.action'"
#if ( $running )
value="$i18n.getString( 'stop' )"
#else
value="$i18n.getString( 'start' )"
#end
>
<input type="button" style="width:140px" onclick="window.location.href='viewScheduledTasks.action'" value="$i18n.getString( 'refresh' )">
</p>
