<h3>$i18n.getString( "tally_sheet_generator" )</h3>

<form id="configureTallySheetForm" name="configureTallySheetForm" action="configureTallySheetGenerator.action" method="post">	
	<table>
		<tr>
			<th colspan="2">$i18n.getString( "tally_sheet_step2" )</th>
		</tr>
		<tr>
			<td>
				<div style="width:500px;height:400px;overflow:auto;border:1px solid #cccccc">
					<table>
						<tr style="font-weight: bold">
							<td>$i18n.getString("data_element")</td>
							<td>$i18n.getString("select")</td>
							<td>$i18n.getString("tally_rows")</td>
						</tr>
						#foreach( $tallySheetTuple in $tallySheetTuples )
						<tr>
							<td>
								$tallySheetTuple.getDataElement().getName()
							</td>
							<td style="text-align: right">
								<input id="checkbox$velocityCount" name="checkbox" type="checkbox" #if( $tallySheetTuple.isChecked() ) checked="checked" #end onchange="setChecked($velocityCount);"/>
								<input type="hidden" id="checked$velocityCount" name="checked" value="$tallySheetTuple.isChecked()"/>
							</td>
							<td style="text-align: right">
								<input type="text" size="3" style="text-align: right" id="rows$velocityCount" name="rows" value="$tallySheetTuple.getNumberOfRows()"/>
							</td>
						</tr>
						#end
					</table>
				</div>
			</td>
			<td style="vertical-align: top; text-align: right;">
				<div style="width: 140px; height: 40px; text-align: center; border:1px solid #cccccc">
					$i18n.getString( "edit_tally_rows" )
				</div>
				Factor <input type="text" size="3" style="text-align: right; margin-top:15px;" id="factor" name="factor" value="$factor"><br>
				<input type="button" value="$i18n.getString( 'calculate_tally_rows' )" style="width:130px; margin-top:15px;" onclick="doRecalculate();" /><br/>
				<input type="hidden" name="recalculate" id="recalculate" value="$recalculate" />
				<input type="button" value="$i18n.getString( 'generate_pdf' )" style="width:130px; margin-top:15px;" onclick="generatePdf();" /><br/>
				<input type="button" value="$i18n.getString( 'back' )" style="width:130px; margin-top:15px;" onclick="window.location.href='tallySheetGenerator.action'" />
			</td>
		</tr>
		<tr>
			<td><div id="buttonrow" style="text-align: right; margin-top: 5px;">
				<input type="button" style="width:115px" value="$i18n.getString( 'select_all' )" onclick="selectAll();"/>
				<input type="button" style="width:115px" value="$i18n.getString( 'select_none' )" onclick="selectNone();"/>
			</div></td>
		</tr>
	</table>
</form>
