
<h3>$i18n.getString( "analytics_and_data_mart_tables_management" ) #openHelp( "data_mart" )</h3>

<!-- Analytics -->

<div class="settingHeader">$i18n.getString( "analytics_tables" )</div>

<div class="setting">
	<input type="checkbox" id="analytics" checked="checked" />
    <label for="analytics">$i18n.getString( "analytics_tables_update" )</label>
</div>

<!-- Data mart -->

<div class="settingHeader">$i18n.getString( "data_mart" )</div>

<div class="settingLabel">$i18n.getString( "aggregation_period_types" )</div>

<div class="setting">
<label for="weekly">$i18n.getString( "Weekly" )</label><input type="checkbox" id="weekly" class="scheduling" name="periodTypes" value="Weekly">&nbsp;
<label for="monthly">$i18n.getString( "Monthly" )</label><input type="checkbox" id="monthly" class="scheduling" name="periodTypes" value="Monthly" checked="checked">&nbsp;
<label for="biMonthly">$i18n.getString( "BiMonthly" )</label><input type="checkbox" id="biMonthly" class="scheduling" name="periodTypes" value="BiMonthly">&nbsp;
<label for="quarterly">$i18n.getString( "Quarterly" )</label><input type="checkbox" id="quarterly" class="scheduling" name="periodTypes" value="Quarterly" checked="checked"><br>
<label for="sixMonthly">$i18n.getString( "SixMonthly" )</label><input type="checkbox" id="sixMonthly" class="scheduling" name="periodTypes" value="SixMonthly" checked="checked">&nbsp;
<label for="yearly">$i18n.getString( "Yearly" )</label><input type="checkbox" id="yearly" class="scheduling" name="periodTypes" value="Yearly" checked="checked">&nbsp;
<label for="financialYearly">$i18n.getString( "financial_yearly" )</label><input type="checkbox" id="financialYearly" class="scheduling" name="periodTypes" value="FinancialJuly">           
</div>

<div class="settingLabel">$i18n.getString( "start_date" )</div>

<div class="setting"><input type="text" id="startDate" style="width:200px"></div>

<div class="settingLabel">$i18n.getString( "end_date" )</div>

<div class="setting"><input type="text" id="endDate" style="width:200px"></div>

<div class="setting">
    <input type="checkbox" id="dataMart" checked="checked" />
    <label for="dataMart">$i18n.getString( "data_mart_tables_update" )</label>
</div>

<div class="setting"><input type="button" onclick="startExport()" value="$i18n.getString( 'start_export' )" style="width:120px"></div>

<div>
<table id="notificationTable" class="notificationTable" style="display:none">
<col width="120">
<col width="380">
</table>
</div>
