
<h3>$i18n.getString( "orgunit_distribution" )</h3>

<!-- Criteria -->

<form action="displayOrgUnitDistribution.action" method="get">

<table>

<tr><th>$i18n.getString( "criteria" )</th></tr>

<tr>
<td><div id="selectionTree" style="width:325px; height:200px"></div></td>
</tr>

<tr>
<td><select id="groupSetId" name="groupSetId" style="width:325px">
<option value="0">[ $i18n.getString( "select_group_set" ) ]</option>
#foreach( $groupSet in $groupSets )
<option value="$groupSet.id"
#if( $selectedGroupSet.id && $groupSet.id == $selectedGroupSet.id ) selected="selected"#end
>$!encoder.htmlEncode( $groupSet.name )</option>
#end
</select></td>
</tr>

<tr>
<td><input type="submit" value="$i18n.getString( 'get_report' )" style="width:100px">
<input type="button" value="$i18n.getString( 'get_chart' )" style="width:100px" onclick="displayOrgUnitDistributionChart()"></td>
</tr>

<tr><td style="height:15px"></td></tr>

</table>

</form>

<script type="text/javascript">
selectionTreeSelection.setMultipleSelectionAllowed( false );
selectionTree.buildSelectionTree();	
</script>

<!-- Table -->

#if( $distribution )

<div id="tableDiv">

<table class="listTable">

<thead>
<tr>
#foreach( $col in $distribution.getRow( 0 ) )
<th class="oud">$encoder.htmlEncode( $col )</th>
#end
</tr>
</thead>

<tbody>
#foreach( $row in $distribution.getRows() )
#if( $velocityCount > 1 )
<tr>
#foreach( $col in $row )
<td #if( $velocityCount > 1 )class="oud"#end>${col}</td>
#end
</tr>
#end 
#end
</tbody>

</table>

</div>

#end

<!-- Chart -->

<div id="chartDiv" style="display:none"><img src="" id="chartImg"></div>
