
<script src="../dhis-web-commons/select2/select2.min.js"></script>
<link rel="stylesheet" href="../dhis-web-commons/select2/select2.css" />

<style>
.dialog-form {
    margin: 0 auto;
}

.dialog-form > p {
    padding: 0;
    margin : 5px auto;
}

.dialog-form > p input {
    border: none;
    background-color: white;
    width: 455px;
}
</style>

<script>
function loadSharingSettings( type, uid ) {
    return $.ajax( {
        url: '../api/sharing',
        data: {
            type: type,
            id: uid
        },
        dataType: 'json'
    } );
}

function saveSharingSettings( type, uid, data ) {
    return $.ajax( {
        url: '../api/sharing?type=' + type + '&id=' + uid,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify( data )
    } );
}

function addUserGroupAccess( ugName, ugId, ugAccess )
{
    var $tr = $( '<tr/>' );

    $( '<td />' ).text( ugName ).attr('id', ugId ).appendTo( $tr );

    if ( ugAccess == 'rw------' ) {
        $( '<td style="width: 100px;"/>' ).attr( 'access', ugAccess ).text( "Read / Write" ).appendTo( $tr );
    } else if ( ugAccess == 'r-------' ) {
        $( '<td style="width: 100px;" />' ).attr( 'access', ugAccess ).text( "Read" ).appendTo( $tr );
    }

    $( '<td style="width: 80px;"/>' ).html('<button class="removeUgButton" style="width: 80px; height: 22px;">'
            + "$encoder.jsEscape( $i18n.getString( "remove" ) , "'")" + '</button>' ).appendTo( $tr );

    $( '#sharingUserGroupAccesses table tbody' ).append( $tr );
}

function formatItem( item )
{
    return '<span data-id=' + item.id + '>' + item.name + '</span>';
}

function getUserGroupAccesses()
{
    var userGroupAccesses = [];

    $( '#sharingUserGroupAccesses table tbody' ).find('tr').each(function(idx, item) {
        var tr = $(item);
        var uga = {};

        uga.id = $(tr.children()[0]).attr('id');
        uga.access = $(tr.children()[1]).attr('access');

        userGroupAccesses.push(uga);
    });

    return userGroupAccesses;
}

function showSharingDialog( type, uid ) {
    loadSharingSettings( type, uid ).done( function ( data ) {
        $( '#sharingPublicAccess option' ).removeAttr( 'selected' ).each( function ( idx, item ) {
            if ( $( item ).val() == data.object.publicAccess ) {
                $( item ).attr( 'selected', true );
            }
        } );

        $( '#sharingUserGroupAccesses table tbody' ).children().remove();

        $( '#sharingUserGroupAccesses table tbody' ).on( 'click', '.removeUgButton', function() {
            var tr = $( this ).parent().parent();
            tr.remove()
        } );

        $( '#addUserGroupAccess' ).unbind('click' ).on('click', function() {
            var data = $( '#sharingUserGroupInput' ).select2('data');
            var access = $('#sharingUserGroupAccess :selected' ).val();

            addUserGroupAccess(data.name, data.id, access);
            $('#sharingUserGroupInput').select2('data', null);
        });

        if(data.object.userGroupAccesses !== undefined)
        {
            $.each(data.object.userGroupAccesses, function(idx, item) {
                addUserGroupAccess( item.name, item.id, item.access );
            });
        }

        $( '#sharingPublicAccess' ).select2({
            minimumResultsForSearch: 40
        });

        $( '#sharingUserGroupAccess' ).select2({
            minimumResultsForSearch: 40
        });

        $( '#sharingUserGroupInput' ).select2({
            minimumResultsForSearch: 40,
            minimumInputLength: 1,
            ajax: {
                url: '../api/sharing/search',
                dataType: 'json',
                data: function(term, page) {
                     return {
                         key: term
                     }
                },
                results: function(data, page) {
                    var ugas = getUserGroupAccesses();
                    var ugs = data.userGroups;
                    data.userGroups = [];

                    $.each(ugs, function(idx, ug) {
                        var found = false;

                        $.each(ugas, function(idx, uga) {
                            if(ug.id == uga.id)
                            {
                                found = true;
                            }
                        });

                        if(!found)
                        {
                            data.userGroups.push( ug );
                        }
                    });

                    return { results: data.userGroups }
                }
            },
            formatResult: formatItem,
            formatSelection: formatItem
        });

        $( '#sharingName' ).val( data.object.name );

        $( '#sharingSettings' ).dialog( {
            modal: true,
            resizable: false,
            width: 485,
            height: 394,
            buttons: {
                'Cancel': function () {
                    $( this ).dialog( 'close' );
                },
                'Save': function () {
                    var me = $( this );

                    data.object.publicAccess = $( '#sharingPublicAccess :selected' ).val();
                    data.object.userGroupAccesses = getUserGroupAccesses();

                    saveSharingSettings( type, uid, data ).done( function () {
                        me.dialog( 'close' );
                    } );
                }
            }
        } );
    } );
}
</script>

<div id="sharingSettings" title='$i18n.getString( "sharing_settings" )' style="display: none;">
    <div class="dialog-form">
        <p>
        <label for="sharingName">$i18n.getString( "name" )</label>
        </p>

        <p>
        <input id="sharingName" value="" disabled="disabled"/>
        </p>

        <p>
        <label for="sharingPublicAccess">$i18n.getString( "public_access" )</label>
        </p>

        <p>
        <select style="width: 440px;" id="sharingPublicAccess">
            <option value="--------">$i18n.getString( "no_access" )</option>
            <option value="r-------">$i18n.getString( "read_access" )</option>
            <option value="rw------">$i18n.getString( "read_write_access" )</option>
        </select>
        </p>

        <p>
        <label for="sharingUserGroupAccesses">$i18n.getString( "user_group_access" )</label>
        </p>

        <p>
        <div id="sharingUserGroupAccesses" style="overflow-x: hidden; overflow-y: scroll; height: 100px; width: 440px;">
            <table style="width: 425px;">
                <colgroup>
                    <col />
                    <col style="width: 105px;" />
                    <col style="width: 85px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>$i18n.getString( "group_name" )</th>
                        <th>$i18n.getString( "access" )</th>
                        <th>$i18n.getString( "actions" )</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </p>

        <p>
        <button id="addUserGroupAccess" style="width: 30px; height: 22px; padding: 0; margin: 0;">$i18n.getString( "add" )</button>

        <input style="width: 290px;" id="sharingUserGroupInput" />

        <select style="width: 111px;" id="sharingUserGroupAccess">
            <option value="r-------">$i18n.getString( "read_access" )</option>
            <option value="rw------">$i18n.getString( "read_write_access" )</option>
        </select>

        </p>
    </div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){		
		tableSorter( 'listTable' );	
	});

    var i18n_confirm_remove_report = '$encoder.jsEscape( $i18n.getString( "confirm_remove_report" ) , "'")';
    var i18n_confirm_add_to_dashboard = '$encoder.jsEscape( $i18n.getString( "confirm_add_to_dashboard" ) , "'")';
</script>

<h3>$i18n.getString( "resource" ) #openHelp( "resource" )</h3>

<table class="mainPageTable">
    <col>       
    <col width="280">
    <tr>
        <td style="vertical-align:top">
            <table width="100%">
				<tr>
					<td>#filterDiv( "displayViewDocumentForm" )</td>
                    <td style="text-align:right">
                    	<input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='displayAddDocumentForm.action'">
                    </td>
                </tr>
			</table>
            <table class="listTable" id="listTable">
                <col>
                <col width="150px">
                <thead>               
                <tr>
                    <th>$i18n.getString( "name" )</th>
                    <th class="{sorter: false}">$i18n.getString( "operations" )</th>
                </tr>
                </thead>
                <tbody id="list">
                #foreach ( $document in $documents )
                <tr id="tr${document.id}">
                    <td>$encoder.htmlEncode( $document.name )</td>
					<td>
                        #if ( $security.canManage( $document ) )
                        <a href="javascript:showSharingDialog('document', '$document.uid');"><img src="../images/relationship.png" alt="$i18n.getString( 'sharing_settings' )"></a>
                        #else
                        <img src="../images/relationship-denied.png">
                        #end

						#if ( $document.external )
                    	   <a href="${document.url}" title="$i18n.getString( 'view_resource' )">
                    	#else
                    	   <a href="../api/documents/${document.uid}/data" title="$i18n.getString( 'view_resource' )">
                    	#end

                    	<img src="../images/start_process.png" alt="$i18n.getString( 'view_report' )"></a>

                        #if( $security.canUpdate( $document ) )
                    	<a href="displayAddDocumentForm.action?id=$!document.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
                        #else
                        <img src="../images/edit-denied.png">
                        #end

						<a href="javascript:addDocumentToDashboard( '$document.id' )" title="$i18n.getString( 'add_to_dashboard' )"><img src="../images/add_to_dashboard.png" alt="$i18n.getString( 'add_to_dashboard' )"></a>

						#if( $auth.hasAccess( "dhis-web-reporting", "removeDocument" ) && $security.canDelete( $document ) )
						<a href="javascript:removeDocument( $document.id )" title="$i18n.getString( 'remove_report' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove_report' )"></a>
						#else
                        <img src="../images/delete-denied.png">
                        #end
					</td>
                </tr>
                #end
                </tbody>
            </table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
               
        </td>
        <td style="width:20em; padding-left:2em; vertical-align:top">
            <div id="detailsArea" style="display:none">
                <div style="float:right">
                    <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/hide.png" alt="$i18n.getString( "hide_details" )"></a>
                </div>
                <p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
                <p><label>$i18n.getString( "url" ):</label><br><span id="urlField"></span></p>
            </div>
            
			<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
				<div style="float:right">
					<a href="javascript:hideWarning()" title='$i18n.getString( 'hide_warning' )'><img src="../images/hide.png" alt=$i18n.getString( "hide_warning" )'></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>
        </td>
    </tr>
</table>
