
<script src="../dhis-web-commons/select2/select2.min.js"></script>
<link rel="stylesheet" href="../dhis-web-commons/select2/select2.css" />

<script>
var proto = $.ui.autocomplete.prototype,
    initSource = proto._initSource;

$.extend( proto, {
});

function loadSharingSettings( type, uid ) {
    return $.ajax( {
        url: '../api/sharing',
        data: {
            type: type,
            id: uid
        },
        dataType: 'json'
    } );
}

function saveSharingSettings( type, uid, data ) {
    return $.ajax( {
        url: '../api/sharing?type=' + type + '&id=' + uid,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify( data )
    } );
}

var sharingSelectedItem;

function renderUserGroupAccessTemplate(item) {
    var tmpl = jQuery('#user-group-access-template').html();
    var tmpl_html = _.template(tmpl, item);

    return tmpl_html;
}

function addUserGroupAccessSelectedItem(e) {
    var tmpl_html = renderUserGroupAccessTemplate({
        label: sharingSelectedItem.label,
        id: sharingSelectedItem.id,
        access: "r-------"
    });

    $(tmpl_html).insertAfter('#sharingAccessTable tbody');

    $('#sharingFindUserGroup').val('')
    sharingSelectedItem = undefined;
}

function removeUserGroupAccess(e) {
    $( this ).parent().parent().remove();
    e.preventDefault();
}

function clearUserGroupAccesses() {
    $('#sharingAccessTable tbody tr[id]' ).remove();
}

function setUserGroupAccesses(userGroupAccesses) {
    clearUserGroupAccesses();

    if(userGroupAccesses) {
        $.each(userGroupAccesses, function(idx, item) {
            var tmpl_html = renderUserGroupAccessTemplate({
                label: item.name,
                id: item.id,
                access: item.access
            });

            $('#sharingAccessTable tbody tr[id]' ).append(tmpl_html);
        });
    }
}

function setPublicAccess(access) {
    $( '#sharingPublicAccess option' ).removeAttr( 'selected' ).each( function ( idx, item ) {
        if ( $( item ).val() == access ) {
            $( item ).attr( 'selected', true );
        }
    } );
}

function getPublicAccess() {
    return $( '#sharingPublicAccess' ).val();
}

function getUserGroupAccesses() {
    var v = [];

    $( '#sharingAccessTable tbody tr[id]' ).each( function ( idx, item ) {
        var jqItem = $(item);

        var groupName = $( item ).find('.sharingGroupName').text();
        var groupAccess = $( item ).find('.sharingGroupAccess').val();

        v.push({
            id: jqItem.attr('id'),
            name: groupName,
            access: groupAccess
        });
    } );

    return v;
}

function showSharingDialog( type, uid ) {
    loadSharingSettings( type, uid ).done( function ( data ) {
        setPublicAccess( data.object.publicAccess );
        setUserGroupAccesses( data.object.userGroupAccesses );

        $( '#sharingName' ).text( data.object.name );

        $( '.removeUserGroupAccess' ).unbind( 'click' ).bind( 'click', removeUserGroupAccess );
        $( '#addUserGroupAccess' ).unbind( 'click' ).bind( 'click', addUserGroupAccessSelectedItem );

        $( '#sharingFindUserGroup' ).autocomplete( {
            source: function ( request, response ) {
                $.ajax({
                    url: '../api/sharing/search',
                    dataType: 'json',
                    data: {
                        key: request.term
                    }
                } ).success(function(data) {
                    var v = [];
                    var u = getUserGroupAccesses();

                    if(data.userGroups) {
                        $.each(data.userGroups, function(idx, item) {
                            var d = {};

                            d.label = item.name;
                            d.value = item.name;
                            d.id = item.id;

                            var found = false;

                            $.each(u, function(idx, item) {
                                if(item.id == d.id) {
                                    found = true;
                                }
                            });

                            if(!found) {
                                v.push(d);
                            }
                        });
                    }

                    response(v);
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                sharingSelectedItem = ui.item;
            }
        });

        $( '#sharingSettings' ).dialog( {
            modal: true,
            resizable: false,
            width: 485,
            height: 480,
            buttons: {
                'Cancel': function () {
                    $( this ).dialog( 'close' );
                },
                'Save': function () {
                    var me = $( this );

                    data.object.publicAccess = getPublicAccess();
                    data.object.userGroupAccesses = getUserGroupAccesses();

                    saveSharingSettings( type, uid, data ).done( function () {
                        me.dialog( 'close' );
                    } );
                }
            }
        } );
    } );
}
</script>

<div id="sharingSettings" title='$i18n.getString( "sharing_settings" )' style="display: none;">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td colspan="2"><h3 style="border-bottom: 1px solid black;" id="sharingName"></h3></td>
            </tr>

            <tr>
                <td><input style="width: 100%;" id="sharingFindUserGroup" /></td>
                <td style="width: 24px;"><button id="addUserGroupAccess" style="width: 24px; text-align: center;">+</button></td>
            </tr>
        </tbody>
    </table>

    <table id="sharingAccessTable" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 300px;">Public Access</td>
                <td>
                    <select id="sharingPublicAccess" style="width: 150px;">
                        <option value="--------">None</option>
                        <option value="r-------">Read Only</option>
                        <option value="rw------">Read and Write</option>
                    </select>
                </td>
                <td style="width: 25px; text-align: center;"></td>
            </tr>
        </tbody>
    </table>
</div>

<script id="user-group-access-template" type="text/template">
<tr id="<%= id %>">
    <td class="sharingGroupName" style="width: 300px;"><%= label %></td>
    <td>
        <select class="sharingGroupAccess" style="width: 150px;">
            <option value="r-------" <% if(access == 'r-------') { %>selected<% } %>>Read Only</option>
            <option value="rw------" <% if(access == 'rw------') { %>selected<% } %>>Read and Write</option>
        </select>
    </td>
    <td style="width: 25px; text-align: center;"><a href="" class="removeUserGroupAccess">X</a></td>
</tr>
</script>

<script type="text/javascript">
	jQuery(document).ready(function(){		
		tableSorter( 'listTable' );	
	});

    var i18n_confirm_remove_report = '$encoder.jsEscape( $i18n.getString( "confirm_remove_report" ) , "'")';
    var i18n_confirm_add_to_dashboard = '$encoder.jsEscape( $i18n.getString( "confirm_add_to_dashboard" ) , "'")';
</script>

<h3>$i18n.getString( "resource" ) #openHelp( "resource" )</h3>

<table class="mainPageTable">
    <col>       
    <col width="280">
    <tr>
        <td style="vertical-align:top">
            <table width="100%">
				<tr>
					<td>#filterDiv( "displayViewDocumentForm" )</td>
                    <td style="text-align:right">
                    	<input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='displayAddDocumentForm.action'">
                    </td>
                </tr>
			</table>
            <table class="listTable" id="listTable">
                <col>
                <col width="150px">
                <thead>               
                <tr>
                    <th>$i18n.getString( "name" )</th>
                    <th class="{sorter: false}">$i18n.getString( "operations" )</th>
                </tr>
                </thead>
                <tbody id="list">
                #foreach ( $document in $documents )
                <tr id="tr${document.id}">
                    <td>$encoder.htmlEncode( $document.name )</td>
					<td>
                        #if ( $security.canManage( $document ) )
                        <a href="javascript:showSharingDialog('document', '$document.uid');"><img src="../images/relationship.png" alt="$i18n.getString( 'sharing_settings' )"></a>
                        #else
                        <img src="../images/relationship-denied.png">
                        #end

						#if ( $document.external )
                    	   <a href="${document.url}" title="$i18n.getString( 'view_resource' )">
                    	#else
                    	   <a href="../api/documents/${document.uid}/data" title="$i18n.getString( 'view_resource' )">
                    	#end

                    	<img src="../images/start_process.png" alt="$i18n.getString( 'view_report' )"></a>

                        #if( $security.canUpdate( $document ) )
                    	<a href="displayAddDocumentForm.action?id=$!document.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
                        #else
                        <img src="../images/edit-denied.png">
                        #end

						<a href="javascript:addDocumentToDashboard( '$document.id' )" title="$i18n.getString( 'add_to_dashboard' )"><img src="../images/add_to_dashboard.png" alt="$i18n.getString( 'add_to_dashboard' )"></a>

						#if( $auth.hasAccess( "dhis-web-reporting", "removeDocument" ) && $security.canDelete( $document ) )
						<a href="javascript:removeDocument( $document.id )" title="$i18n.getString( 'remove_report' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove_report' )"></a>
						#else
                        <img src="../images/delete-denied.png">
                        #end
					</td>
                </tr>
                #end
                </tbody>
            </table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
               
        </td>
        <td style="width:20em; padding-left:2em; vertical-align:top">
            <div id="detailsArea" style="display:none">
                <div style="float:right">
                    <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/hide.png" alt="$i18n.getString( "hide_details" )"></a>
                </div>
                <p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
                <p><label>$i18n.getString( "url" ):</label><br><span id="urlField"></span></p>
            </div>
            
			<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
				<div style="float:right">
					<a href="javascript:hideWarning()" title='$i18n.getString( 'hide_warning' )'><img src="../images/hide.png" alt=$i18n.getString( "hide_warning" )'></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>
        </td>
    </tr>
</table>
