<script type="text/javascript">
	jQuery(document).ready(function(){		
		tableSorter( 'listTable' );	
		
		jQuery('#add_chart').bind('click', function() {
			var optionValue = jQuery('#chart_type').find(":selected").attr('value');
			window.location.href = 'displayAddChartForm.action?dimension=' + optionValue;
		});
	});

	var i18n_please_wait = '$encoder.jsEscape( $i18n.getString( "please_wait" ), "'")';
    var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_chart" ), "'")';
    var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ), "'")';
    var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ), "'")';
</script>

<h3>$i18n.getString( "chart" )</h3>

<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top">
            <table width="100%">
				  <tr>
				  	<td>#filterDiv( "displayViewChartForm" )</td>
                    <td align="right" style="padding-top: 16px;">
                    	<select id="chart_type">
                    		<option value='indicator'>$i18n.getString( 'indicator_by_period_chart' )</option>
                    		<option value='organisationUnit'>$i18n.getString( 'indicator_by_organisation_unit_chart' )</option>
                    		<option value='dataElement_period'>$i18n.getString( 'dataelement_by_period_chart' )</option>
                    		<option value='organisationUnit_dataElement'>$i18n.getString( 'dataelement_by_organisation_unit_chart' )</option>
                    		<option value='period'>$i18n.getString( 'period_by_indicator_chart' )</option>
                    		<option value='period_dataElement'>$i18n.getString( 'period_by_dataelement_chart' )</option>
                    	</select>
                    	<button type="button" id="add_chart">$i18n.getString( 'add' )</button>
                    </td>
                </tr>
			</table>
            <table class="listTable" id="listTable">
                <col>
                <col width="120px">
                <thead>  
                <tr>
                    <th>$i18n.getString( "title" )</th>
                    <th class="{sorter: false}">$i18n.getString( "operations" )</th>
                </tr>
                </thead>
                <tbody id="list">
                #foreach ( $chart in $charts )
                <tr id="tr${chart.id}">
                    <td onclick="showChartDetails( $chart.id )">$encoder.htmlEncode( $chart.name )</td>
                    <td style="text-align:right">
						<a href="javascript:viewChart( 'viewChart.action?id=$chart.id' )" title="$i18n.getString( "view_chart" )"><img src="../images/start_process.png" alt="$i18n.getString( "view_chart" )"></a>
						<a href="displayAddChartForm.action?id=$chart.id&dimension=$chart.dimension" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
						#if( $auth.hasAccess( "dhis-web-reporting", "removeChart" ) )
						<a href="javascript:removeChart( $chart.id, '$encoder.jsEncode( $chart.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
						#else <img src="../images/delete-denied.png"> #end
						<a href="javascript:showChartDetails( $chart.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
					</td>
                </tr>
                #end
                </tbody>
            </table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
        </td>
        <td style="width:20em; padding-left:2em; vertical-align:top">
            <div id="detailsArea" style="display:none">
                <div style="float:right">
                    <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
                </div>
                <p><label>$i18n.getString( "title" ):</label><br><span id="nameField"></span></p>
                <p><label>$i18n.getString( "dimension" ):</label><br><span id="dimensionField"></span></p>
                <p id='indicatorsView'><label>$i18n.getString( "indicators" ):</label><br><span id="indicatorsField"></span></p>
                <p id='dataElementsView'><label>$i18n.getString( "dataelements" ):</label><br><span id="dataElementsField"></span></p>
                <p id='dataSetsView'><label>$i18n.getString( "datasets" ):</label><br><span id="dataSetsField"></span></p>
                <p><label>$i18n.getString( "periods" ):</label><br><span id="periodsField"></span></p>
                <p><label>$i18n.getString( "organisation_units" ):</label><br><span id="organisationUnitsField"></span></p>
            </div>
			
			<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
				<div style="float:right">
					<a href="javascript:hideWarning()" title='$i18n.getString( 'hide_warning' )'><img src="../images/close.png" alt=$i18n.getString( "hide_warning" )'></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>
        </td>       
    </tr>
</table>

<div id="chartView" style="display: none; padding: 0; margin: 0;'">
	<img id="chartImage" src="" style="padding: 10px;"></img>
</div>
