
#macro( alternate $mark )
    #if( $mark ) class="listAlternateRow"#else class="listRow"#end
#end

<html>
	<head>
        <link type="text/css" rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <table class="listTable">
            <tr>
                <th>Name</th>
                <th>Actual</th>
                <th>Target</th>
                <th>Percentage</th>
                <th>On time</th>
                <th>Percentage</th>
            </tr>
            #set( $mark = false )
            #foreach( $result in $object )
	            <tr>
	                <td#alternate( $mark )>$result.name</td>
	                <td#alternate( $mark )>$result.sources</td>
	                <td#alternate( $mark )>$result.registrations</td>
	                <td#alternate( $mark )>$result.getPercentage()</td>
	                <td#alternate( $mark )>$result.registrationsOnTime</td>
	                <td#alternate( $mark )>$result.getPercentageOnTime()</td>
	            </tr>            
	            #if( $mark )
	                #set( $mark = false )
	            #else
	                #set( $mark = true )
	            #end
            #end
        </table>
    </body>
</html>
