
#macro( alternate $mark )
    #if( $mark ) class="listAlternateRow"#else class="listRow"#end
#end

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css">
	</head>
    <body>
        <table class="listTable">
            <tr>
                <td style="text-align:center" colspan="$object.columns.values().size()"><h3>$object.name</h3></td>
            </tr>
            <tr>
            #foreach( $column in $object.columns.values() )
                <th>$column</th>
            #end
            </tr>
            #set( $mark = false )
            #foreach( $row in $object.rows )
                <tr>
                #foreach( $value in $row.values() )
                    <td#alternate( $mark )>$value</td>
                #end
                </tr>
                #if( $mark )
                    #set( $mark = false )
                #else
                    #set( $mark = true )
                #end
            #end
        </table>
    </body>
</html>
