<html>
    <body>
        <table>
			<tr>
                <th>Name</th>
                <th>Actual</th>
                <th>Target</th>
                <th>Percentage</th>
                <th>On time</th>
                <th>Percentage</th>
            </tr>
            #foreach( $result in $object )
            <tr>
                <td>$result.name</td>
                <td>$result.sources</td>
                <td>$result.registrations</td>
                <td>$result.getPercentage()</td>
                <td>$result.registrationsOnTime</td>
                <td>$result.getPercentageOnTime()</td>
            </tr>
            #end
        </table>
    </body>
</html>
