
<html>
	<body>
		<table>
			<tr>
				<td colspan="$object.columns.values().size()"><h3>$object.name</h3></td>
			</tr>
			<tr>
            #foreach( $column in $object.columns.values() )
                <th>$column</th>
            #end
            </tr>
            #foreach( $row in $object.rows )
                <tr>
                #foreach( $value in $row.values() )
                    <td>$value</td>
                #end
                </tr>
            #end
        </table>
    </body>
</html>
