{ "indicator": 
  {
    "id": $!{object.id},
    "name": "$!{object.name}",
    "alternativeName": "$!{object.alternativeNamee}",
    "shortName": "$!{object.shortName}",
    "code": "$!{object.code}",
    "annualized": "${object.annualized}",
    "indicatorTypeId": "$!{object.indicatorType.id}",
    "numerator": "$!{object.numerator}",
    "numeratorDescription": "$!{object.numeratorDescription}",
    "numeratorAggregationOperator": "$!{object.numeratorAggregationOperator}",
    "denominator": "$!{object.denominator}",
    "denominatorDescription": "$!{object.denominatorDescription}",
    "denominatorAggregationOperator": "$!{object.denominatorAggregationOperator}"
  }
}
