#set( $size = $object.size() )
{ "dataSets": [
#foreach( $dataSet in $object )
  {
    "id": $!{dataSet.id},
    "name": "$!{dataSet.name}",
    "shortName": "$!{dataSet.shortName}",
    "periodTypeId": "$!{dataSet.periodTypeId}"
  }#if( $velocityCount < $size ),#end
#end
] }