{ "aggregatedDataValues": [
#foreach( $value in $object )
  {
    "dataElementId": ${value.dataElementId},
    "categoryOptionComboId": ${value.categoryOptionComboId},
    "periodId": ${value.periodId},
    "periodTypeId": ${value.periodTypeId},
    "organisationUnitId": ${value.organisationUnitId},
    "level": ${value.level},
    "value": ${value.value}
  },
#end
] }
