#set( $size = $object.size() )
{ "organisationUnits": [
#foreach ( $unit in $object )
  {
    "id": $!{unit.id},
    "name": "$!{unit.name}",
    "shortName": "$!{unit.shortName}",
    "code": "$!{unit.code}",
    "openingDate": "$!{unit.openingDate}",
    "closedDate": "$!{unit.closedDate}",
    "active": "$!{unit.active}",
    "comment": "$!{unit.comment}",
    "geoCode": "$!{unit.geoCode}",
    "latitude": "$!{unit.latitude}",
    "longitude": "$!{unit.longitude}"
  }#if( $velocityCount < $size ),#end
#end
] }
 