{ 
  "pivotTable": 
  {
    "sizeIndicators": "$object.indicators.size()",
    "sizePeriods": "$object.periods.size()",
    "sizeOrganisationUnits": "$object.organisationUnits.size()",
    "indicators": 
    [
    #foreach( $indicator in $object.indicators )
      { "id": "${indicator.id}", "name": "${indicator.shortName}" },
    #end 
    ],
    "periods": 
    [
    #foreach( $period in $object.periods )
      { "id": "${period.id}", "name": "${period.name}" },
    #end
    ],
    "organisationUnits":
    [
    #foreach( $organisationUnit in $object.organisationUnits )
      { "id": "${organisationUnit.id}", "name": "${organisationUnit.shortName}" },
    #end
    ],
    "indicatorValues":
    [
      {
      #foreach( $value in $object.indicatorValues )
        "${value.indicatorId}-${value.periodId}-${value.organisationUnitId}": "${value.value}",
      #end
      }
    ]
  }
}