{ "legendSet": [
  {
    "id": $!{object.id},
    "name": "$!{object.name}",
    "min-value": "$!{object.getMinLegend().min}",
    "min-color": "$!{object.getMinLegend().color}",
    "max-value": "$!{object.getMaxLegend().max}",
    "max-color": "$!{object.getMaxLegend().color}"
  }
  ]
}
