{ "organisationUnit": 
  {
    "id": $!{object.id},
    "name": "$!{object.name}",
    "shortName": "$!{object.shortName}",
    "code": "$!{object.code}",
    "openingDate": "$!{object.openingDate}",
    "closedDate": "$!{object.closedDate}",
    "active": "$!{object.active}",
    "comment": "$!{object.comment}",
    "geoCode": "$!{object.geoCode}",
    "latitude": "$!{object.latitude}",
    "longitude": "$!{object.longitude}"
  }
}
