{ "aggregatedIndicatorValues": [
#foreach( $value in $object )
  {
    "indicatorId": ${value.indicatorId},
    "periodId": ${value.periodId},
    "periodTypeId": ${value.periodTypeId},
    "organisationUnitId": ${value.organisationUnitId},
    "level": ${value.level},
    "annualized": ${value.annualized},
    "factor": ${value.factor},
    "value": ${value.value},
    "numeratorValue": ${value.numeratorValue},
    "denominatorValue": ${value.denominatorValue}
  },
#end
] }
