{ "map": 
  {
    "id": $!{object.id},
    "mapLayerPath": "$!encoder.jsonEncode( ${object.mapLayerPath} )",
    "organisationUnit": "$!encoder.jsonEncode( ${object.organisationUnit.name} )",
    "organisationUnitLevel": $!{object.organisationUnitLevel.level},
    "uniqueColumn": "$!encoder.jsonEncode( ${object.uniqueColumn} )",
    "nameColumn": "$!encoder.jsonEncode( ${object.nameColumn} )",
    "longitude": "$!encoder.jsonEncode( ${object.longitude} )",
    "latitude": "$!encoder.jsonEncode( ${object.latitude} )",
    "zoom": $!{object.zoom}
  }
}