#set( $size = $object.size() )
{ "indicators": [
#foreach( $indicator in $object )
  {
    "id": $!{indicator.id},
    "name": "$!encoder.jsonEncode( ${indicator.name} )",
    "alternativeName": "$!encoder.jsonEncode( ${indicator.alternativeNamee} )",
    "shortName": "$!encoder.jsonEncode( ${indicator.shortName} )",
    "code": "$!encoder.jsonEncode( ${indicator.code} )",
    "annualized": "${indicator.annualized}",
    "indicatorTypeId": $!{indicator.indicatorType.id},
    "numerator": "$!encoder.jsonEncode( ${indicator.numerator} )",
    "numeratorDescription": "$!encoder.jsonEncode( ${indicator.numeratorDescription} )",
    "numeratorAggregationOperator": "$!encoder.jsonEncode( ${indicator.numeratorAggregationOperator} )",
    "denominator": "$!encoder.jsonEncode( ${indicator.denominator} )",
    "denominatorDescription": "$!encoder.jsonEncode( ${indicator.denominatorDescription} )",
    "denominatorAggregationOperator": "$!encoder.jsonEncode( ${indicator.denominatorAggregationOperator} )"
  }#if( $velocityCount < $size ),#end
#end
] }