{ "dataElement": 
  {
    "id": $!{object.id},
    "name": "$!{object.name}",
    "alternativeName": "$!{object.alternativeNamee}",
    "shortName": "$!{object.shortName}",
    "code": "$!{object.code}",
    "description": "$!{object.description}",
    "active": "$!{object.active}",
    "type": "$!{object.type}",
    "aggregationOperator": "$!{object.aggregationOperator}"
  } 
}
