<?xml version="1.0" encoding="UTF-8"?>
<aggregatedMapValues>
#foreach( $value in $object )
	<aggregatedMapValue>
		<organisationUnitId>$value.organisationUnitId</organisationUnitId>
		<geoCode>$value.geoCode</geoCode>
		<orgUnit>$value.organisationUnitName</orgUnit>
		<value>$value.value</value>
	</aggregatedMapValue>
#end
</aggregatedMapValues>
