<?xml version="1.0" encoding="UTF-8"?>
<aggregatedIndicatorValues>
#foreach( $value in $object )
    <aggregatedIndicatorValue>
        <indicatorId>$value.indicatorId</indicatorId>
        <periodId>$value.periodId</periodId>
        <periodTypeId>$value.periodTypeId</periodTypeId>
        <organisationUnitId>$value.organisationUnitId</organisationUnitId>
        <level>$value.level</level>
        <annualized>$value.annualized</annualized>
        <factor>$value.factor</factor>
        <value>$value.value</value>
        <numeratorValue>$value.numeratorValue</numeratorValue>
        <denominatorValue>$value.denominatorValue</denominatorValue>		
	</aggregatedIndicatorValue>
#end
</aggregatedIndicatorValues>