<?xml version="1.0" encoding="UTF-8"?>
<aggregatedDataValues>
#foreach( $value in $object )
    <aggregatedDataValue>
        <dataElementId>$value.dataElementId</dataElementId>
        <categoryOptionComboId>$value.categoryOptionComboId</categoryOptionComboId>
        <periodId>$value.periodId</periodId>
        <periodTypeId>$value.periodTypeId</periodTypeId>
        <organisationUnitId>$value.organisationUnitId</organisationUnitId>
        <level>$value.level</level>
        <value>$value.value</value>
	</aggregatedDataValue>
#end
</aggregatedDataValues>