<?xml version="1.0" encoding="UTF-8"?>
<dataElement>
	<id>$object.id</id>
	<name>$!encoder.xmlEncode( $object.name )</name>
    <alternativeName>$!encoder.xmlEncode( $object.alternativeName )</alternativeName>
	<shortName>$!encoder.xmlEncode( $object.shortName )</shortName>
    <code>$!encoder.xmlEncode( $object.code )</code>
    <description>$!encoder.xmlEncode( $object.description )</description>
    <active>$object.active</active>
    <type>$!encoder.xmlEncode( $object.type )</type>
    <aggregationOperator>$!encoder.xmlEncode( $object.aggregationOperator )</aggregationOperator>
</dataElement>
