<?xml version="1.0" encoding="UTF-8"?>
<indicator>
	<id>$object.id</id>
    <name>$!encoder.xmlEncode( $object.name )</name>
    <alternativeName>$!encoder.xmlEncode( $object.alternativeName )</alternativeName>
    <shortName>$!encoder.xmlEncode( $object.shortName )</shortName>
    <code>$!encoder.xmlEncode( $object.code )</code>
    <description>$!encoder.xmlEncode( $object.description )</description>
    <annualized>$object.annualized</annualized>
    <indicatorTypeId>$object.indicatorType.id</indicatorTypeId>
    <numerator>$!encoder.xmlEncode( $object.numerator )</numerator>
    <numeratorDescription>$!encoder.xmlEncode( $object.numeratorDescription )</numeratorDescription>
    <numeratorAggregationOperator>$!encoder.xmlEncode( $object.numeratorAggregationOperator )</numeratorAggregationOperator>
    <denominator>$!encoder.xmlEncode( $object.denominator )</denominator>
    <denominatorDescription>$!encoder.xmlEncode( $object.denominatorDescription )</denominatorDescription>
    <denominatorAggregationOperator>$!encoder.xmlEncode( $object.denominatorAggregationOperator )</denominatorAggregationOperator>    
</indicator>