<?xml version="1.0" encoding="UTF-8"?>
<mapOrganisationUnitRelations>
#foreach( $mapOrganisationUnitRelation in $object )
	<mapOrganisationUnitRelation>
	    <id>$mapOrganisationUnitRelation.id</id>
	    <map>$!encoder.xmlEncode( $mapOrganisationUnitRelation.map.mapLayerPath )</map>
	    <organisationUnit>$!encoder.xmlEncode( $mapOrganisationUnitRelation.organisationUnit.name )</organisationUnit>
	    <organisationUnitId>$mapOrganisationUnitRelation.organisationUnit.id</organisationUnitId>
	    <featureId>$!encoder.xmlEncode( $mapOrganisationUnitRelation.featureId )</featureId>
	</mapOrganisationUnitRelation>
#end
</mapOrganisationUnitRelations>