<?xml version="1.0" encoding="UTF-8"?>
<map>
	<id>$object.id</id>
	<mapLayerPath>$!encoder.xmlEncode( $object.mapLayerPath )</mapLayerPath>
    <organisationUnit>$!encoder.xmlEncode( $object.organisationUnit.name )</organisationUnit>
    <organisationUnitLevel>$object.organisationUnitLevel.level</organisationUnitLevel>
    <uniqueColumn>$!encoder.xmlEncode( $object.uniqueColumn )</uniqueColumn>
    <nameColumn>$!encoder.xmlEncode( $object.nameColumn )</nameColumn>
    <longitude>$!encoder.xmlEncode( $object.longitude )</longitude>
    <latitude>$!encoder.xmlEncode( $object.latitude )</latitude>
    <zoom>$object.zoom</zoom>
</map>