<?xml version="1.0" encoding="UTF-8"?>
<maps>
#foreach( $map in $object )
	<map>
	    <id>$map.id</id>
	    <mapLayerPath>$!encoder.xmlEncode( $map.mapLayerPath )</mapLayerPath>
	    <organisationUnit>$!encoder.xmlEncode( $map.organisationUnit.name )</organisationUnit>
	    <organisationUnitLevel>$map.organisationUnitLevel.level</organisationUnitLevel>
	    <uniqueColumn>$!encoder.xmlEncode( $map.uniqueColumn )</uniqueColumn>
	    <nameColumn>$!encoder.xmlEncode( $map.nameColumn )</nameColumn>
	</map>
#end
</maps>