<?xml version="1.0" encoding="UTF-8"?>
<organisationUnits>
#foreach ( $unit in $object )
	<organisationUnit>
	    <id>$unit.id</id>
	    <name>$!encoder.xmlEncode( $unit.name )</name>
	    <shortName>$!encoder.xmlEncode( $unit.shortName )</shortName>
	    <code>$!encoder.xmlEncode( $unit.organisationUnitCode )</code>
	    <openingDate>$!format.formatPeriod( $unit.openingDate )</openingDate>
	    <closedDate>$!format.formatPeriod( $unit.closedDate )</closedDate>
	    <active>$unit.active )</active>
	    <comment>$!encoder.xmlEncode( $unit.comment )</comment>
	    <geoCode>$!encoder.xmlEncode( $unit.geoCode )</geoCode>
	    <latitude>$!encoder.xmlEncode( $unit.latitude )</latitude>
	    <longitude>$!encoder.xmlEncode( $unit.longitude )</longitude>
	</organisationUnit>
#end
</organisationUnits>