<?xml version="1.0" encoding="UTF-8"?>
<organisationUnitLevels>
#foreach ( $level in $object )
	<organisationUnitLevel>
	    <id>$level.id</id>
	    <level>$level.level</level>
	    <name>$!encoder.xmlEncode( $level.name )</name>
	</organisationUnitLevel>
#end
</organisationUnitLevels>