<?xml version="1.0" encoding="UTF-8"?>
<organisationUnit>
	<id>$object.id</id>
	<name>$!encoder.xmlEncode( $object.name )</name>
    <shortName>$!encoder.xmlEncode( $object.shortName )</shortName>
    <code>$!encoder.xmlEncode( $object.organisationUnitCode )</code>
    <openingDate>$!format.formatPeriod( $object.openingDate )</openingDate>
    <closedDate>$!format.formatPeriod( $object.closedDate )</closedDate>
    <active>$object.active</active>
    <comment>$!encoder.xmlEncode( $object.comment )</comment>
    <geoCode>$!encoder.xmlEncode( $object.geoCode )</geoCode>
    <latitude>$!encoder.xmlEncode( $object.latitude )</latitude>
    <longitude>$!encoder.xmlEncode( $object.longitude )</longitude>
</organisationUnit>