<?xml version="1.0" encoding="UTF-8"?>
<periodTypes>
#foreach( $periodType in $object )
    <periodType>
        <id>$periodType.id</id>
        <name>$encoder.xmlEncode( $periodType.name )</name>
    </periodType>
#end
</periodTypes>