<?xml version="1.0" encoding="UTF-8"?>
<reportTableData>
    <name>$!encoder.xmlEncode( $object.name )</name>
    <columns>
    #foreach( $key in $object.columns.keySet() )
    	<column index="$key">$object.columns.get( $key )</column>
    #end
    </columns>
    <rows>
    #foreach( $row in $object.rows )
    	<row>
    	#foreach( $key in $row.keySet() )
            <value index="$key">$row.get( $key )</value>
        #end
	    </row>
	#end
    </rows>
</reportTableData>
