<script type="text/javascript">
jQuery(function() {
	/* make sure that the leftBar is always visible when entering page. */
	leftBar.showAnimated()
});
</script>

<h3>$i18n.getString( "dhis-web-maintenance-settings" )</h3>

<ul id="introList">
    #introListImgItem( "userSettings.action" "user_settings" "usersettings" )
    #introListImgItem( "generalSettings.action" "general_settings" "systemsettings" )
    #introListImgItem( "appearanceSettings.action" "appearance_settings" "systemsettings" )
    #introListImgItem( "emailSettings.action" "smtp_settings" "systemsettings" )
</ul>
    
