
<h3>$i18n.getString( "system_settings" )</h3>

<form id="systemSettingForm" method="post" action="setSystemSettings.action">

<!-- TODO temporarily disabled

<h4>$i18n.getString( "system_identifier" ) ($i18n.getString( "can_be_set_once" ))</h4>

<p><input type="text" name="systemIdentifier" style="width:30em" maxlength="40" value="$!keySystemIdentifier"#if( $keySystemIdentifier ) disabled="disabled"#end/></p>

-->

<h4>$i18n.getString( "application_title" )</h4>

<p><input type="text" name="applicationTitle" style="width:30em" maxlength="40" value="$!applicationTitle"/></p>

<h4>$i18n.getString( "aggregation_strategy" )</h4>

<p>
<select name="aggregationStrategy" style="width:30em">
	#foreach( $strategy in $aggregationStrategies )
	<option value="$strategy" #if( $aggregationStrategy == $strategy )selected="selected"#end>$i18n.getString( $strategy )</option>
	#end
</select>
</p>

<h4>$i18n.getString( "style" )</h4>

<select style="width:30em" name='currentStyle' id='currentStyle'>
	#foreach( $style in $styles.entrySet() )
	<option value="$style.value" #if( $style.value == $currentStyle )selected="selected"#end>$i18n.getString( $style.key )</option>
	#end
</select>

<h4>$i18n.getString( "flag" )</h4>

<p>
<select name="flag" style="width:30em">
	<option value="NO_FLAG">$i18n.getString( "no_flag" )</option>
	#foreach ( $f in $flags.entrySet() )
	<option value="$f.value" #if( $f.value == $flag )selected="selected"#end>$i18n.getString( $f.key )</option>
    #end
</select>
</p>

<h4>$i18n.getString( "start_page" )</h4>

<p>
<select name="startModule" style="width:30em">
    <option value="NO_START_PAGE">$i18n.getString( "no_start_page" )</option>
	#foreach ( $module in $modules )
	<option value="$module.name" #if( $module.name == $startModule )selected="selected"#end>$i18n.getString( "$module.name" )</option>
	#end
</select>
</p>

<h4>$i18n.getString( "infrastructural_data_elements" )</h4>

<p>
<select name="infrastructuralDataElements" style="width:30em">
    #foreach ( $group in $dataElementGroups )
    <option value="$group.id" #if( $group.id == $configuration.infrastructuralDataElements.id )selected="selected"#end>$group.name</option>
    #end
</select>
</p>

<h4>$i18n.getString( "infrastructural_period_type" )</h4>

<p>
<select name="infrastructuralPeriodType" style="width:30em">
    #foreach ( $type in $periodTypes )
    <option value="$type.name" #if( $type.name == $configuration.infrastructuralPeriodType.name )selected="selected"#end>$type.name</option>
    #end
</select>
</p>

<h4>$i18n.getString( "feedback_recipients" )</h4>

<p>
<select name="feedbackRecipients" style="width:30em">
	<option value="-1">$i18n.getString( "no_feedback_recipients" )</option>
	#foreach ( $group in $userGroups )
	<option value="$group.id" #if( $group.id == $!feedbackRecipients.id )selected="selected"#end>$encoder.htmlEncode( $group.name )</option>
	#end
</select>
</p>

<h4>$i18n.getString( "omit_indicators_zero_numerator_data_mart" )</h4>

<p>
	<input type="checkbox" id="omitIndicatorsZeroNumeratorDataMart" name="omitIndicatorsZeroNumeratorDataMart" value="true" #if( $omitIndicatorsZeroNumeratorDataMart )checked="checked"#end/>
</p>

<h4>$i18n.getString( "disable_dataentry_when_dataset_completed" )</h4>

<p>
	<input type="checkbox" id="disableDataEntryWhenCompleted" name="disableDataEntryWhenCompleted" value="true" #if( $dataEntryFormCompleted )checked="checked"#end/>
</p>

<h4>$i18n.getString( "data_analysis_factor" )</h4>

<p>
	<input type="text" id="factorDeviation" name="factorDeviation" value="$!factorDeviation"/>
</p>

<h4>$i18n.getString( "days_after_period_timeliness" )</h4>

<p>
	<input type="text" id="completenessOffset" name="completenessOffset" value="$!completenessOffset"/>
</p>

<p><input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/></p>

</form>
