<script type="text/javascript">
	
	jQuery(document).ready(function() {
		jQuery("input[type=button]").click(function() {
			jQuery.postJSON( 'setUserEmailSettings.action', {
				completenessEmailNotification: jQuery( '#completenessEmailNotification' ).is(':checked' ),
				messageEmailNotification: jQuery( '#messageEmailNotification' ).is(':checked' )
			}, function ( json ) {
				if ( json.response == "success" )
					setHeaderDelayMessage( json.message );
			});
		});
	});
</script>

<h3>$i18n.getString("user_email_settings")</h3>

<h4>$i18n.getString( "completeness_email_notification" )</h4>
<input type="checkbox" id="completenessEmailNotification" name="completenessEmailNotification" #if( $completenessEmailNotification ) checked="checked"#end/>

<h4>$i18n.getString( "message_email_notification" )</h4>
<input type="checkbox" id="messageEmailNotification" name="messageEmailNotification" #if( $messageEmailNotification ) checked="checked"#end/>

<p><input type="button" value="$i18n.getString( 'save' )" style="width:10em"/></p>