<div ng-show="editingEventInFull" style="width:50%;">
    <table class="dhis2-list-table-striped">                    
        <thead>                        
            <tr>
                <th>
                    {{'data_element' | translate}}                    
                </th>
                <th>
                    {{'value' | translate}}                    
                </th>         
            </tr>                        
        </thead>
        <tbody id="list">
            <tr ng-repeat="eventGridColumn in eventGridColumns">
                <td class="max-column-width">
                    {{eventGridColumn.name}}                                              
                </td>
                <td class="max-column-width">
                    <div ng-switch="programStageDataElements[eventGridColumn.id].type">
                        <div ng-switch-when="int">
                            <input type="number" style="width:98%;" ng-model="currentEvent[eventGridColumn.id]"/>
                        </div>
                        <div ng-switch-when="string">                                        
                            <div ng-switch="programStageDataElements[eventGridColumn.id].optionSet.options.length > 20">
                                <div ng-switch-when="true">
                                    <div class="container-fluid">
                                        <input type="text" style="width:98%;" ng-model="currentEvent[eventGridColumn.id]" typeahead="option for option in programStageDataElements[eventGridColumn.id].optionSet.options | filter:$viewValue | limitTo:20" >                                            
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <select style="width:98%;" ng-model="currentEvent[eventGridColumn.id]" ng-options='option for option in programStageDataElements[eventGridColumn.id].optionSet.options'>
                                        <option value="">{{'please_select'| translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="bool">
                            <select style="width:98%;" ng-model="currentEvent[eventGridColumn.id]">
                                <option value="">{{'please_select'| translate}}</option>                        
                                <option value="0">{{'no'| translate}}</option>
                                <option value="1">{{'yes'| translate}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="date">
                            <input type="text" style="width:98%;" placeholder="yyyy-mm-dd" ng-date ng-model="currentEvent[eventGridColumn.id]">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>        
    </table>
    
    <button ng-show="selectedProgramStage" ng-click="updateEvent()" class="button">{{'update'| translate}}</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button ng-show="selectedProgramStage" ng-click="showEventList()" class="button">{{'back'| translate}}</button>  
</div>