<h2>
    {{'new_event_registration'| translate}}                                                 
</h2>   
<div style="width:50%;">
    <form name="outerForm" novalidate>
        <table class="dhis2-list-table-striped">                    
            <thead>                        
                <tr>
                    <th>
                        {{'data_element'| translate}}                    
                    </th>
                    <th>
                        {{'value'| translate}}                    
                    </th>         
                </tr>                        
            </thead>
            <tbody id="list">
                <tr ng-repeat="eventGridColumn in eventGridColumns">
                    <td class="max-column-width">
                        {{eventGridColumn.name}}                                              
                    </td>
                    <td class="max-column-width">
                        <ng-form name="innerFormAdd">
                            <div ng-switch="programStageDataElements[eventGridColumn.id].dataElement.type">
                                <div ng-switch-when="int">
                                    <input type="number" 
                                           ng-model="currentEvent[eventGridColumn.id]" 
                                           ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                           name="foo" 
                                           style="width:98%;"/>
                                    <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                </div>
                                <div ng-switch-when="string">                                        
                                    <div ng-switch="programStageDataElements[eventGridColumn.id].dataElement.optionSet.options.length > 20">
                                        <div ng-switch-when="true">
                                            <div class="container-fluid">
                                                <input type="text" 
                                                       ng-model="currentEvent[eventGridColumn.id]" 
                                                       typeahead="option for option in programStageDataElements[eventGridColumn.id].dataElement.optionSet.options | filter:$viewValue | limitTo:20" 
                                                       ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                       name="foo" 
                                                       style="width:98%;">                                            
                                                <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                            </div>
                                        </div>
                                        <div ng-switch-default>
                                            <select ng-model="currentEvent[eventGridColumn.id]" 
                                                    ng-options="option for option in programStageDataElements[eventGridColumn.id].dataElement.optionSet.options" 
                                                    ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                                    name="foo" 
                                                    style="width:98%;">
                                                <option value="">{{'please_select'| translate}}</option>
                                            </select>
                                            <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="bool">
                                    <select ng-model="currentEvent[eventGridColumn.id]" 
                                            ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                            name="foo" 
                                            style="width:98%;">
                                        <option value="">{{'please_select'| translate}}</option>                        
                                        <option value="0">{{'no'| translate}}</option>
                                        <option value="1">{{'yes'| translate}}</option>
                                    </select>
                                    <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                </div>
                                <div ng-switch-when="date">
                                    <input type="text" 
                                           placeholder="yyyy-mm-dd" 
                                           ng-date 
                                           ng-model="currentEvent[eventGridColumn.id]" 
                                           ng-required={{programStageDataElements[eventGridColumn.id].compulsory}} 
                                           name="foo" 
                                           style="width:98%;">
                                    <span ng-show="outerForm.submitted && innerFormAdd.foo.$invalid" class="red">{{'required'| translate}}</span>
                                </div>
                            </div>
                        </ng-form>
                    </td>
                </tr>
            </tbody>        
        </table>

        <button ng-click="addEvent(true)" class="button">{{'save_and_add_new'| translate}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="addEvent()" class="button">{{'save_and_close'| translate}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="showEventList(null)" class="button">{{'close'| translate}}</button>
    </form>
</div>