<div id="contextMenu" class="contextMenu" style="width: 180px;">
    <ul id="contextMenuItems" class="contextMenuItems">
        <li><a href ng-click="editEventInGrid()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit_in_grid'| translate}}</a></li>
        <li><a href ng-click="editEventInFull()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'full_edit'| translate}}</a></li>
        <li><a href ng-click="removeEvent()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{'remove'| translate}}</a></li>
        <li><a href ng-click="showEventDetails()"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{'show_details'| translate}}</a></li>        
    </ul>
</div>


<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top">
            <div id="content">
                <div ng-show="editGridHeaders" class="container-1-4">
                    <label>{{'show_hide_columns'| translate}}</label>
                    <table>
                        <tr ng-repeat="eventGridHeader in eventGridHeaders">
                            <td>
                                {{eventGridHeader.name}}
                            </td>
                            <td>
                                <input type="checkbox" ng-model="eventGridHeader.hide">{{'hide'| translate}}
                            </td>
                        </tr>                    
                        <tr>
                            <td>
                                <button ng-click="showHideColumns(false)">{{'close'| translate}}</button>
                            </td>
                            <td>
                                <button ng-click="showHideColumns(true)">{{'show_all'| translate}}</button>
                            </td>                        
                        </tr>
                    </table>
                </div>
                <table class="listTable dhis2-table-striped dhis2-table-hover">                    
                    <thead>
                        <!--<tr ng-show="editGridHeaders">
                            <td ng-repeat="eventGridHeader in eventGridHeaders">
                                {{eventGridHeader.name}}&nbsp;&nbsp;<input type="checkbox" ng-model="eventGridHeader.hide">{{'hide'| translate}}
                            </td>
                            <td>
                                <a href ng-click="showHideColumns(false)" title="{{'close'| translate}}" class="black"><i class="fa fa-times-circle"></i></a>
                                <a href ng-click="showHideColumns(true)" title="{{'show_all'| translate}}" class="black"><i class="fa fa-check-square"></i></a>
                            </td>
                        </tr>-->
                        <tr>
                            <th ng-show="!eventGridHeader.hide" class="max-column-width" ng-click="sortEventGrid(eventGridHeader)" ng-repeat="eventGridHeader in eventGridHeaders">
                                {{eventGridHeader.name}}
                                <i ng-show="sortHeader == eventGridHeader.id && !reverse" class="fa fa-sort-desc"></i>
                                <i ng-show="sortHeader == eventGridHeader.id && reverse" class="fa fa-sort-asc"></i>
                            </th>
                            <th ng-hide="editGridHeaders">
                                <a href ng-click="showHideColumns(false)" title="{{'show_hide_columns'| translate}}"><i class="fa fa-cog"></i></a>
                            </th>         
                        </tr>                        
                    </thead>
                    <tbody id="list">
                        <tr ng-repeat="dhis2Event in dhis2Events| paginate:rowsPerPage| orderBy:sortHeader:reverse" ng-click="showContextMenu(dhis2Event)">
                            <td dhis-context-menu selected-item={{dhis2Event}} class="max-column-width" ng-hide="(eventUnderEditing.event == dhis2Event.event) || eventGridHeader.hide" ng-repeat="eventGridHeader in eventGridHeaders">
                                {{dhis2Event[eventGridHeader.id]}}                                              
                            </td>
                            <td class="max-column-width" ng-show="(eventUnderEditing.event == dhis2Event.event) && !eventGridHeader.hide" ng-repeat="eventGridHeader in eventGridHeaders">
                                <div ng-switch="programStageDataElements[eventGridHeader.id].type">
                                    <div ng-switch-when="int">
                                        <input type="number" style="width:90%;" ng-model="eventUnderEditing[eventGridHeader.id]" value="eventUnderEditing[eventGridHeader.id]"/>
                                    </div>
                                    <div ng-switch-when="string">                                        
                                        <div class="container-fluid">
                                            <input type="text" style="width:90%;" ng-model="eventUnderEditing[eventGridHeader.id]" value="eventUnderEditing[eventGridHeader.id]" typeahead="option for option in programStageDataElements[eventGridHeader.id].optionSet.options | filter:$viewValue | limitTo:20" >                                            
                                        </div>                                        
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select style="width:90%;" ng-model="eventUnderEditing[eventGridHeader.id]" value="eventUnderEditing[eventGridHeader.id]">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                    </div>
                                    <div ng-switch-when="date">
                                        <input type="text" style="width:90%;" placeholder="yyyy-mm-dd" ng-date ng-model="eventUnderEditing[eventGridHeader.id]" value="eventUnderEditing[eventGridHeader.id]">
                                    </div>
                                </div>
                            </td>
                            <td>                                
                                <span ng-show="eventUnderEditing.event == dhis2Event.event">
                                    <a href ng-click="updateEvent(dhis2Event)" title="{{'update'| translate}}"><span class='black'><i class="fa fa-floppy-o fa-2x"></i></span></a>
                                    <a href ng-click="cancelEditing(dhis2Event)" title="{{'cancel'| translate}}"><span class='red'><i class="fa fa-undo fa-2x"></i></span></a>       
                                </span>
                            </td>
                        </tr>
                    </tbody>        
                </table>
                <p></p>
                <paginator></paginator>    
            </div>
        </td>
    </tr>
</table>    
