<div class="org-unit-tree">
    <script type="text/ng-template" id="orgUnitTree.html">

        <span class="tree-expand-collapse" ng-click="expandCollapse(orgUnit)" ng-show="orgUnit.show && orgUnit.children.length > 0"><i class="fa fa-minus-square-o"></i></span>
        <span class="tree-expand-collapse" ng-click="expandCollapse(orgUnit)" ng-show="(!orgUnit.show && orgUnit.children.length > 0) || (!orgUnit.show && orgUnit.hasChildren)"><i class="fa fa-plus-square-o"></i></span>

        <span class="tree-node" ng-click="loadPrograms(orgUnit)" ng-class="{'selected-org-unit' : orgUnit.id === selectedOrgUnit.id}">{{orgUnit.name}}</span>

        <ul class="tree" id="tree" ng-show="orgUnit.show">
        <li ng-repeat="orgUnit in orgUnit.children | orderBy: 'name'" ng-include="'orgUnitTree.html'"></li>
        </ul>  

    </script>    

    <ul class="tree" id="tree">
        <li ng-repeat="orgUnit in orgUnits| orderBy: 'name'" ng-include="'orgUnitTree.html'"></li>
    </ul>
</div>
<!--<div id="orgUnitTree">
    <ul>
    </ul>
</div>

<img id="ouwt_loader" src="../../images/ajax-loader-bar.gif"/>-->