/*----------------------------------------------------------------------------*/
/* Form
/*----------------------------------------------------------------------------*/

input[type="button"], input[type="submit"] 
{
    width: 130px;
}

input.tiny-button[type="button"] 
{
    width: 20px;
    height: 20px;
}

input.small-button[type="button"] 
{
    width: 30px;
    height: 30px;
}

input.normal-button[type="button"] , input.normal-button[type="submit"] 
{
    width: 60px;
}

input.large-button[type="button"] 
{
    width: 130px;
}

select.search-field
{
    width: 180px;
}

input[type="text"] 
{
    width: 260px;
}

input.option
{
    width: 240px;
}

select 
{
    width: 264px;
}

textarea 
{
    width: 264px;
}

.button-list 
{
    text-align:right;
    padding-bottom:10px;
    width:100%;
}

.incomplete-record
{ 
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.img-button
{
    width:20px;
    cursor:pointer;
}

/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/

table 
{
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}

.heading-column 
{
    width: 400px;
}

td.input-column 
{
    padding-left: 5px; 
    padding-right: 1px; 
}

td.error {
    padding-left: 1em;
}

table.information, td.information 
{
    border:1px solid #808080; 
    vertical-align:top;
    padding:10px;
}

.text-column 
{
    padding-left: 5px;
    padding-right: 6px;
    text-align: left;
}

.errorCell
{
    background-color: #FFCFCF
}

.search 
{
    position: relative;
    border: 1px solid #a4d2a3;
    background-color: #d5efd5;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    max-width: 570px;
}

#minimized-advanced-search 
{
    position: relative;
    border: 1px solid #a4d2a3;
    background-color: #d5efd5;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.green-background 
{
    position: relative;
    border: 1px solid #a4d2a3;
    background-color: #d5efd5;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.searchInput
{
    width: 240px;
}

/*----------------------------------------------------------------------------*/
/* Button list
/*----------------------------------------------------------------------------*/

.buttons
{
    text-align:right;
    padding-bottom:10px;
    width:100%;
}

div.actions
{
    float: right;
    width: 140px;
    text-align: right;
}

/*----------------------------------------------------------------------------*/
/* Data entry form                                                        */
/*----------------------------------------------------------------------------*/

.entryScreen
{
    margin-bottom: 20px;
    width: 100%;
    font-size: 13px; 
    line-height: 18px;
}

input.criteria
{
    width: 130px;
    margin-right: 5px;
}

input.move-button
{
    width: 20px;
    height: 60px;
    border-color: #bbbbbb;
    cursor: pointer;
    border: 1px solid #aaa;
    margin: 0px;
}

input.optionset[type="text"]
{
    width:240px; 
}

input.datefield[type="text"]
{
    width:240px; 
}

div.provided-elsewhere
{
    width:20px; 
    height:20px; 
}

.ui-button
{
    max-height: 100px;
}

.ui-autocomplete
{
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.hidden
{
    display: none;
}

.colorHelpTable td
{
    height: 32px;
}

/* --------------------------------------------------------------
// Dashboard
// -------------------------------------------------------------- */

div.dashboard-area 
{
    list-style: none inside;
    margin: 50px 50px;
    margin: 0;
    padding: 0;
}

p.header
{
    background-color:#CBDDEB;
    background-repeat:repeat-x;
    border:1px solid #C8DBEA;
    color:#39547D;
    padding:6px;
    margin:0px;
    font-family: LiberationSansBold,arial;
}

table.link-area
{
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:0px;
    height:120px;
    overflow:hidden;
    align:bottom;
}

div.link-area
{
    display:inline-block;
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:0px;
    height:172px;

    overflow:hidden;
}

.contentProviderTable
{
    height: 140px;
    overflow-y: auto;
    overflow-x:hidden;
}

.contentProviderTable table
{
    width:100%;
}

.contentProviderTable td
{
    padding-top:3px;
    padding-bottom:3px;
    border-bottom:1px solid #cad5e5;
}

div.event-dashboard
{
    width:900px;
    border:1px solid #d0d0d0;
    position:relative;
    top: 47px;
}

div.link-area-active
{
    width:900px;
    border:10px solid #d0d0d0;
    position:relative;
    top: 47px;
}

div.event-flow-dashboard
{
    width:900px;
    height:140px;
    overflow-x:auto;
    overflow-y:hidden;
}

#subMenu
{
    position:absolute;
}

#subMenu ul
{
    list-style-type:none;
    margin: 0;
}

#subMenu li
{
    float:left;
}

#subMenu a
{
    padding: 6px 12px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 4px;
    font-family: LiberationSansBold, arial;
    font-size: 13px;
    color: #606060;
    background-color: #f3f3f3;
}

#subMenu a:hover
{
    text-decoration: none;
    background-color: #f8f8f8;
}

.tooltip 
{
    border-bottom: dashed 1px #aaa;
    text-decoration: none;
    cursor: help;
    text-align: left;
}

.tooltip-target {
    width: 250px;
    top: 29px;
    left: 764px;
    display: none;
    padding: 10px;
    background: #ffffff;
    position: absolute;
    display: none;
    float: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #ddd;
    z-index:1001;
}

.comment-table
{
    width:320px;
    overflow-y: auto;
    overflow-x:hidden;
}

.comment-table td
{
    padding-top:3px;
    padding-bottom:3px;
    border-bottom:1px solid #cad5e5;
}

/* --------------------------------------------------------------
// program-stage-instances
// -------------------------------------------------------------- */

.stage-container
{
    width:100%;
    height:100px;
}

.stage-flow
{
    height:100px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.table-flow
{
    height:100px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.arrow-left {
    width:0; 
    height:0; 
    border-top:45px solid transparent;
    border-bottom:45px solid transparent; 
    border-right:30px solid #d0d0d0;
    cursor:pointer;
}

.arrow-right {
    width:0; 
    height:0; 
    border-top:45px solid transparent;
    border-bottom:45px solid transparent;
    border-left:30px solid #d0d0d0;
    cursor:pointer;
}

div.orgunit-object
{
    margin-left: 5px;
    width: 120px;
}

input.stage-object[type="button"]
{
    width: 135px;
    height: 60px;
    cursor: pointer;
    opacity: 1.0;
    border: 2px solid;
    margin: 5px;
    white-space: normal;
}

input.stage-object[type="button"]:hover
{
    border: 5px solid;
}

input.stage-object-selected[type="button"]
{
    border: 5px solid;
}

input.stage-scheduled[type="button"]
{
    border: 5px solid;
}

input.patient-object[type="button"]
{
    width: 130px;
    height: 60px;
    border-color: #bbbbbb;
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid #aaa;
    margin: 5px;
    border-radius: 2px;
}

div.dashboard-history
{
    z-index:100; 
    width:300px; 
    height:200px; 
    position:absolute; 
    left:650px; 
    top:115px; 
    background-color:#ffffff;
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:1px;
}

/*----------------------------------------------------------------------------*/
/* Program tracking
/*----------------------------------------------------------------------------*/

div.link-area-tracking
{
    display:inline-block;
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:0px;
    height:200px;
    width:60%;
    overflow:hidden;
}

.gridTable th, .gridTable td {
    line-height: 200%;
}

/* Treepanel contextmenu */
#treepanel-contextmenu {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}


/* --------------------------------------------------------------
// Capture Coordinates
// -------------------------------------------------------------- */

.coordinates1{
    width: 110px;
    white-space: normal;
}

.coordinates2{
    width: 150px;
}


.commentHeader
{
    color: #606060;
    font-size: 17px;
    padding: 5px 0;
}


/* --------------------------------------------------------------
// App - specific (might change this if Lars is not happy
// -------------------------------------------------------------- */

.container-heading {
    color: white;
    padding: 12px;
}

.container-1-4 {
    width: 25%;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-1-2 {
    width: 50%;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-1-1 {
    width: 100%;
    float: left;
    margin-top: 1em;
}

div.paging a.active
{
    text-decoration: none; 
    color: #000;
    cursor: default;
}

.input-error {
    background-color: #ff6600;
}

.input-success {
    background-color: #b9ffb9;
}

.red {
    color: red;
}

.right {
    float: right !important;
}

.black {
    color: black;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.anchor-color {
    color: #276696;
}

.inline-div {
    display: inline-block; 
    margin-right: 5px;
    float: left;
}

.bordered-div
{
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}


.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max-column-width {
    max-width:200px !important; 
    word-wrap:break-word; 
}

.table-borderless {
    width: 100%;
}

.table-borderless>thead>tr>th, 
.table-borderless>tbody>tr>th, 
.table-borderless>tfoot>tr>th, 
.table-borderless>thead>tr>td, 
.table-borderless>tbody>tr>td, 
.table-borderless>tfoot>tr>td {
    border-top: none; 
    //background-color: #ebf0f6;
    padding-right: 8px;
}

.dhis2-table>thead>tr>th, 
.dhis2-table>tbody>tr>th, 
.dhis2-table>tfoot>tr>th, 
.dhis2-table>thead>tr>td, 
.dhis2-table>tbody>tr>td, 
.dhis2-table>tfoot>tr>td {
    border-top: none;
    background-color: #ebf0f6;
}

.dhis2-table-striped-border tr th {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr, 
.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr {
    border-bottom: 1px solid #cad5e5;
    //border: none;
}

.dhis2-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-list-table-striped {
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 5px 10px;
}

.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr, 
.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr {
    border: none;
}

.dhis2-list-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #dfe9f4;
}

#contextMenu {
    position: absolute;
    display:none;
}

.filter-with-content {
    float: right !important;
    color: red;
}

.filter-without-content {
    float: right !important;
    color: black;
}

.bold {
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Bootstrap modal style
/*----------------------------------------------------------------------------*/
.modal-open {
    overflow: hidden
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}
.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}
.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}
.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
    margin-top: -2px
}
.modal-title {
    margin: 0;
    line-height: 1.428571429
}
.modal-body {
    position: relative;
    padding: 20px
}
.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " "
}
.modal-footer:after {
    clear: both
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " "
}
.modal-footer:after {
    clear: both
}
.modal-footer .btn+ .btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn-group .btn+ .btn {
    margin-left: -1px
}
.modal-footer .btn-block+ .btn-block {
    margin-left: 0
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5)
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.container:before, .container:after {
    display: table;
    content: " "
}
.container:after {
    clear: both
}
.container:before, .container:after {
    display: table;
    content: " "
}
.container:after {
    clear: both
}
@media (min-width: 768px) {
    .container {
        width: 750px
    }  z-index: 1051;
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}
@media (min-width: 768px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px
    }
}

.container .jumbotron {
    border-radius: 6px
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px
    }
    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px
    }
    .jumbotron h1 {
        font-size: 63px
    }
}

.dropdown {
    position: relative
}
.dropdown-toggle:focus {
    outline: 0
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.open > .dropdown-menu {
    display: block
}

/*----------------------------------------------------------------------------*/
/* Bootstrap panel style
/*----------------------------------------------------------------------------*/

.panel {
    font-family: LiberationSansRegular, arial, sans-serif !important;
    font-size: 9pt !important;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}
.panel-body {
    padding: 10px
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " "
}
.panel-body:after {
    clear: both
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " "
}
.panel-body:after {
    clear: both
}
.panel > .list-group {
    margin-bottom: 0
}
.panel > .list-group .list-group-item {
    border-width: 1px 0
}
.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.panel > .list-group .list-group-item:last-child {
    border-bottom: 0
}
.panel-heading+ .list-group .list-group-item:first-child {
    border-top-width: 0
}
.panel > .table, .panel > .table-responsive {
    margin-bottom: 0
}
.panel > .panel-body+ .table, .panel > .panel-body+ .table-responsive {
    border-top: 1px solid #ddd
}
.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: 0
}
.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0
}
.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0
}
.panel > .table-bordered > thead > tr:last-child > th, .panel > .table-responsive > .table-bordered > thead > tr:last-child > th, .panel > .table-bordered > tbody > tr:last-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .panel > .table-bordered > tfoot > tr:last-child > th, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th, .panel > .table-bordered > thead > tr:last-child > td, .panel > .table-responsive > .table-bordered > thead > tr:last-child > td, .panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .panel > .table-bordered > tfoot > tr:last-child > td, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0
}
.panel-heading {
    font-family: LiberationSansRegular, arial, sans-serif !important;
    font-size: 9pt !important;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;

}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: LiberationSansRegular, arial, sans-serif !important;
    font-size: 9pt !important;
}
.panel-title > a {
    color: #000;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;

}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;

}
.panel-group .panel+ .panel {
    margin-top: 5px
}
.panel-group .panel-heading {
    border-bottom: 0
}
.panel-group .panel-heading+ .panel-collapse .panel-body {
    border-top: 1px solid #ddd
}
.panel-group .panel-footer {
    border-top: 0
}
.panel-group .panel-footer+ .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}
.panel-default {
    border-color: #ddd
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}
.panel-default > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #ddd
}
.panel-default > .panel-heading > .dropdown .caret {
    border-color: #333 transparent
}
.panel-default > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #ddd
}
.panel-primary {
    border-color: #428bca
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}
.panel-primary > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #428bca
}
.panel-primary > .panel-heading > .dropdown .caret {
    border-color: #fff transparent
}
.panel-primary > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #428bca
}
.panel-success {
    border-color: #d6e9c6
}
.panel-success > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6
}
.panel-success > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #d6e9c6
}
.panel-success > .panel-heading > .dropdown .caret {
    border-color: #468847 transparent
}
.panel-success > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6
}
.panel-warning {
    border-color: #faebcc
}
.panel-warning > .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc
}
.panel-warning > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #faebcc
}
.panel-warning > .panel-heading > .dropdown .caret {
    border-color: #c09853 transparent
}
.panel-warning > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #faebcc
}
.panel-danger {
    border-color: #ebccd1
}
.panel-danger > .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1
}
.panel-danger > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #ebccd1
}
.panel-danger > .panel-heading > .dropdown .caret {
    border-color: #b94a48 transparent
}
.panel-danger > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #ebccd1
}
.panel-info {
    border-color: #bce8f1
}
.panel-info > .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1
}
.panel-info > .panel-heading+ .panel-collapse .panel-body {
    border-top-color: #bce8f1
}
.panel-info > .panel-heading > .dropdown .caret {
    border-color: #3a87ad transparent
}
.panel-info > .panel-footer+ .panel-collapse .panel-body {
    border-bottom-color: #bce8f1
}

.contextMenuItems .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

/*----------------------------------------------------------------------------*/
/* Tracked entity
/*----------------------------------------------------------------------------*/

.container-1-1 {
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 5px;
}

.container-1-2 {
    width: 50%;
    float: left;
    position: relative;
}

.container-2-3 {
    width: 75%;
    float: left;
    position: relative;
}

.container-1-4 {
    width: 25%;
    float: left;
    position: relative;
}

.separator {
    margin-bottom: 10px;
}

.dashboard-container {
    margin-top: 50px;
    padding-left: 5px;
    position: relative;
}

.dashboard-element-container {
    max-height: 250px !important;
}

.list-element {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -16px;
    margin-right: -16px;
}

.list-element:first-child {
    margin-top: -15px;
    border-top: none;
}

.list-element:last-child {
    margin-bottom: -15px;
    border-bottom: none;
}

.list-title 
{
    font-size: 12pt;
    font-weight: normal;
    color: #606060;
}

.horizonal-spacing{
    margin-left: 20px;    
}

.vertial-spacing{
    margin-top: 10px;
}

/*
*
*/
.panel-heading {
    padding: 10px 10px;	
}

.panel-body {
	padding: 15px
}
.panel-body:before, .panel-body:after {
	display: table;
	content: " "
}
.panel-body:after {
	clear: both
}
.panel-body:before, .panel-body:after {
	display: table;
	content: " "
}
.panel-body:after {
	clear: both
}