

/* table sector
-----------------------------------------*/	
	table.formatTablePreview { 
		border:2px dotted #FF9933; 
		border-collapse:seperate; 
		border-spacing:3px;
		font-weight:bold; 
		width:100%; 
	} 
	

/* td sector
-----------------------------------------*/	
	
	td.formatStringPreview { 
		border-style:outset; 
		border-width:1px; 
	} 
	td.formatNumberPreview { 
		border-style:outset; 
		border-width:1px; 
		color:blue; 
		margin:60%;
		text-align:center; 
	} 

/* label sector
-----------------------------------------*/	

	label.formatLabelPreview { 
		color:red; 
		font-weight:bold; 
		text-transform:uppercase; 
		text-decoration:blink;
		
	} 