{ #set( $size = $!{programStages.size()} )
  "programStages": [
	  #foreach( ${programStage} in $!{programStages} )
	  {
		"id": "${programStage.id}",
		"name": "$!encoder.jsonEncode( ${programStage.displayName} )"
	  }#if( $velocityCount < $size ),#end
	  #end
  ],
  "attributes":[
	#set( $size = $!{attributes.size()} )
	#foreach( $attribute in $!{attributes} )
	{
		"id": "[CA:${attribute.id}]",
		"name": "$!encoder.jsonEncode( ${attribute.name} )",
		"suggested":[
			#if( $!dataElement.optionSet )
				#foreach( $opt in $!attribute.optionSet.options )
					{
						"code" : $opt.code,
						"name" : "$encoder.xmlEncode($opt.name)"
					}#if( $velocityCount < $size ),#end
				#end
			#end
		]
	}#if( $velocityCount < $size ),#end
	#end
  ]
}