#set( $size = $!categoryOptions.size() )
{
	"categoryOptions": [
	#foreach( $co in $!categoryOptions )
	{
	  "id": "${co.id}",
	  "name": "$!encoder.jsonEncode( ${co.name} )",
	  "categoryId": "${co.category.id}"
	}#if( $velocityCount < $size ),#end
	#end
	]
}