{ "importReport":
  {
	"id": "${report.id}",
	"name": "$!encoder.jsonEncode( $!{report.name} )",
	"type": "${report.type}",
	"periodType": "${report.periodType.name}",
	"excelTemplateFile": "${report.excelTemplateFile}"
  }
}