<?xml version="1.0" encoding="UTF-8"?>
<importItemValues>
#foreach($importItemValue in $importItemValues)
	<importItemValue>
		<id>$!importItemValue.importItem.id</id>
		<name>$encoder.xmlEncode($!importItemValue.importItem.name)</name>
		<value>$importItemValue.value</value>
	</importItemValue>
#end
</importItemValues>