<?xml version="1.0" encoding="UTF-8"?>
<importItemValueByOrgUnits>
#foreach($importItemValueByOrgUnit in $importItemValueByOrgUnits)
	<importItemValueByOrgUnit>
		<orgUnit>
			<id>$importItemValueByOrgUnit.organisationUnit.id</id>
			<name>$importItemValueByOrgUnit.organisationUnit.name</name>
		</orgUnit>
		<importItemValues>
			#foreach($importItemValue in $importItemValueByOrgUnit.importItemValues)
			<importItemValue>
				<id>$importItemValue.importItem.id</id>
				<name>$encoder.xmlEncode($importItemValue.importItem.name)</name>
				<value>$importItemValue.value</value>
			</importItemValue>
			#end
		</importItemValues>
	</importItemValueByOrgUnit>
#end
</importItemValueByOrgUnits>