
<p>
Elements [<a href="elements.json">JSON</a>, <a href="elements.xml">XML</a>]</li>
</p>

<ul>
#foreach( $element in $elements.elements )
	<li><a href="elements/$element.uid">$element.name</a> [<a href="elements/${element.uid}.json">JSON</a>, <a href="elements/${element.uid}.xml">XML</a>]</li>	
#end
</ul>
