
<h3>$i18n.getString( "jforum_integration_management" )</h3>

<form action="populate.action">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label>$i18n.getString( "base_url" )</label></td>
		<td><input type="text" id="baseUrl" name="baseUrl" style="width:200px"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( 'populate' )" style="width:100px"></td>
	</tr>
</table>
	
</form>

<span id="info">
The integration functionality requires that a database 'jforum' exists in the
same DBMS as the one where DHIS 2 is running, that the DHIS 2 database user has
access to the jforum database, and that a forum called 'Data dictionary' exists.
</span>

<span id="info">
The populate function will insert a topic for each data element and indicator in
the JForum database, and update the url property on all data elements and indicators
to point to a corresponding topic in JForum. The base URL is the external URL for
the JForum installation, typically 'http://someserver.com/jforum'.
</span>

<span id="message" #if( $time )style="display:block"#end>
	$i18n.getString( "process_finished_in" ): $time
</span>