<div class="panel panel-default" ng-controller="DataEntryController">
    <div class="panel-heading">
        {{dataentryWidget.title| translate}} 
        <span class="nav-pills" ng-show="selectedEnrollment && allowEventCreation">
            | <span><a href ng-click="createNewEvent()" title="{{'create_new_event_repeatable'| translate}}">{{'create_new_event'| translate}}</a></span>            
        </span>
        <span class="pull-right">
            <a href ng-click="removeWidget(dataentryWidget)" title="{{'remove'| translate}}"><span class='black'><i class="fa fa-times-circle"></i></span></a>            
        </span>        
    </div>

    <div class="panel-body dashboard-widget-container">
        <div ng-show="dhis2Events">            
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td class="inline-block" ng-repeat="dhis2Event in dhis2Events">
                            <span class="block align-center">{{dhis2Event.orgUnitName}}</span>                                              
                            <span class="stage-container"                                                     
                                  ng-class="{'current-stage': currentEvent && currentEvent.event == dhis2Event.event, '{{dhis2Event.statusColor}}': true}"                                                      
                                  ng-click="showDataEntry(dhis2Event)">
                                {{dhis2Event.name}}<br/>
                                {{dhis2Event.eventDate}}         
                            </span>
                            <i class="fa fa-arrow-right" ng-show="$index < dhis2Events.length - 1"></i>
                        </td>                        
                    </tr>
                </tbody>                
            </table>
            <hr>
            <div ng-show="currentEvent">
                <table class="table-borderless table-striped">
                    <thead class="align-center">
                        <tr>
                            <th class="align-center">
                                {{'data_element'| translate}}
                            </th>
                            <th class="align-center">
                                {{'value'| translate}}
                            </th>
                            <th class="align-center">
                                {{'provided_elsewhere'| translate}}
                            </th>
                        </tr>
                    </thead>

                    <tr ng-repeat="prStDe in currentStage.programStageDataElements">
                        <td>
                            {{prStDe.dataElement.name}}
                        </td>
                        <td>
                            <div ng-switch="prStDe.dataElement.type">
                                <div ng-switch-when="int">
                                    <input type="number"
                                           class="form-control"
                                           ng-model="currentEvent[prStDe.dataElement.id]" 
                                           ng-required={{prStDe.compulsory}}
                                           ng-blur="saveDatavalue(prStDe)" 
                                           name="foo"/>
                                </div>
                                <div ng-switch-when="string">                                        
                                    <input type="text"
                                           class="form-control"
                                           ng-model="currentEvent[prStDe.dataElement.id]" 
                                           ng-required={{prStDe.compulsory}} 
                                           typeahead="option for option in prStDe.dataElement.optionSet.options | filter:$viewValue | limitTo:20" 
                                           typeahead-open-on-focus    
                                           ng-blur="saveDatavalue(prStDe)" 
                                           name="foo"/>
                                </div>
                                <div ng-switch-when="bool">
                                    <select class="form-control"
                                            ng-model="currentEvent[prStDe.dataElement.id]" 
                                            ng-required={{prStDe.compulsory}} 
                                            ng-change="saveDatavalue(prStDe)" 
                                            name="foo">
                                        <option value="">{{'please_select'| translate}}</option>                        
                                        <option value="0">{{'no'| translate}}</option>
                                        <option value="1">{{'yes'| translate}}</option>
                                    </select>

                                </div>
                                <div ng-switch-when="date">
                                    <input type="text" 
                                           placeholder="yyyy-mm-dd" 
                                           ng-date 
                                           class="form-control"
                                           ng-model="saveDatavalue(prStDe)" 
                                           ng-required={{prStDe.compulsory}}  
                                           blur-or-change="saveDatavalue(dhis2Event, eventGridColumn.id)"
                                           name="foo"/>
                                </div>
                            </div>
                        </td>
                        <td>                        
                            <div class="align-center" ng-if="prStDe.allowProvidedElsewhere">
                                <input type="checkbox" 
                                       ng-model="currentEvent.providedElsewhere[prStDe.dataElement.id]"
                                       ng-change="saveDatavalueLocation(prStDe)"/>
                            </div>
                        </td>
                    </tr>
                </table>    

                <hr>

            </div>
        </div>
        <div ng-if="!dhis2Events && selectedEnrollment">
            <div class="alert alert-warning">{{'no_event_is_yet_created'| translate}}</div>
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td class="inline-block" ng-repeat="dummyEvent in dummyEvents">
                            <span class="block align-center">{{dhis2Event.orgUnitName}}</span>                                              
                            <span class="stage-container"                                                     
                                  ng-class="{'current-stage': currentDummyEvent && currentDummyEvent.programStage == dummyEvent.programStage, '{{dummyEvent.statusColor}}': true}"                                                      
                                  ng-click="showEventCreation(dummyEvent)">
                                {{dummyEvent.name}}<br/>
                                {{dummyEvent.eventDate}}         
                            </span>
                            <i class="fa fa-arrow-right" ng-show="$index < dummyEvents.length - 1"></i>
                        </td>                        
                    </tr>
                </tbody>                
            </table>
        </div>
        <div ng-if="!selectedEnrollment">
            <div class="alert alert-warning">{{'not_yet_enrolled'| translate}}</div> 
        </div>
    </div>
</div>