<h2>Single Event: $eventName</h2>

<form method="post" action="saveSingleEvent.action">
	<div class="header-box" align="center">
		<p style="text-align: left;">
		
		#set( $i = 0 )
		#foreach( $element in $programStageDataElements )

				<label>$element.getDataElement().getName() #if($element.getDataElement().getType() == "date") (yyyy-mm-dd) #end</label>
				#set( $key = $element.getDataElement().getId() + '' )
				#if($typeViolations.get($key))
					#set( $typeViolation = $typeViolations.get($key) )
					<label style="color:red;"> $i18n.getString($typeViolation) </label> 
				#end

				#if ($element.getDataElement().getType() == "bool")
					<br />
			    	<select name="dynForm">
					<option value="please_select">$i18n.getString("please_select")</option>
					<option value="true" #if($dynForm.isEmpty() == false) #if($!dynForm.get($i) == "true") selected="selected" #end #end >$i18n.getString("Yes")</option>
					<option value="false" #if($dynForm.isEmpty() == false) #if($!dynForm.get($i) == "false") selected="selected" #end #end >$i18n.getString("No")</option>
					</select>
					<br />
				#elseif ($element.getDataElement().getType() == "date")
					<input type="date" maxlength="255" size="24" name="dynForm" value="#if($dynForm.isEmpty() == false)$!dynForm.get($i)#end" />
				#else
					<input type="text" maxlength="255" size="24" name="dynForm" value="#if($dynForm.isEmpty() == false)$!dynForm.get($i)#end" />
				#end
				#set( $i = $i + 1)
		#end
		
		<input type="hidden" name="organisationUnitId" value="$organisationUnitId" />
		<input type="hidden" name="programId" value="$programId" />
		<input type="hidden" name="patientId" value="$patientId" />

		<input type="submit" value=$i18n.getString("Submit") />
	    </p>
	</div>
</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="selectSingleEventBeneficiary.action?organisationUnitId=$organisationUnitId&programId=$programId">$i18n.getString("beneficiary_list")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
