<h2>Option Set Searching Result</h2>
<p>
	#if( $searchingResultList.size() == 0 )
		No result
	#else
		<ul>
		#foreach( $option in $searchingResultList )
			<li><a href="showSingleEventForm.action?searchResult=$option&dataElementIdForSearching=$dataElementIdForSearching&organisationUnitId=$organisationUnitId&patientId=$patientId&programId=$programId">$option</a></li>
		#end	
		</ul>
	#end
</p>
<div id="footer">
	<h2>$i18n.getString( "navigate_to" )</h2>
	<ul>
		<li><a href="showSingleEventForm.action?organisationUnitId=$organisationUnitId&patientId=$patientId&programId=$programId">$i18n.getString("back_single_event_form")</a></li>
		<li><a href="index.action">$i18n.getString("home")</a></li>
	</ul>
</div>