
#currentSelection
{
  color: black;
  padding: 5px;
  background-color: #D5FFC5;
  border: 1px solid black;
  font-size: 14px;
  text-align: right;
  position: fixed;
  top: 80px;
  right: 10px;
  filter: alpha(opacity=85);
  opacity: 0.85;
}

#actions
{
  float: right;
  width:200px;
  text-align: right;
}

.hidden 
{
  display: none;
}

.entryField
{
  width: 100%;
  text-align: center;
}

.minmax
{
  background-color: #ffcccc;
}

.grey
{
  background-color: #cccccc;
}

@media print 
{
  #mainHeader, #topMenu, #leftBar, #currentSelection, #actions, input[type=button] 
  {
    display: none;
  }
  
  input, select 
  {
    border: 0;
    background-color: inherit;
  }
  
  a 
  {
    text-decoration: none;
    color: black;
  }
  
  #typeCol, #minCol, #maxCol, #commentCol  
  {
    visibility: collapse;
  } 
}
