
#currentSelection 
{
  color: black;
  padding: 5px;
  background-color: #D5FFC5;
  border: 1px solid black;
  font-size: 14px;
  text-align: right;
  position: fixed;
  top: 85px;
  right: 10px;
  filter: alpha(opacity=90);
  opacity: 0.90;
}

#selectForm 
{
  padding-top: 15px;
}

#actions 
{
  float: right;
  width: 170px;
}

#actions button[type=button] 
{
  width: 100%;
}

@media print {
  #mainHeader, #topMenu, #leftBar, #currentSelection, #actions, input[type=button] 
  {
    display: none;
  }
  
  input, select 
  {
    border: 0;
    background-color: inherit;
  }
  
  a 
  {
    text-decoration: none;
    color: black;
  }
  
  #typeCol, #minCol, #maxCol, #commentCol  
  {
    visibility: collapse;
  } 
}
