
#currentSelection
{
  color: black;
  padding: 6px;
  background-color: #d5ffc5;
  border: 1px solid black;
  font-size: 14px;
  text-align: right;
  position: fixed;
  top: 55px;
  right: 10px;
  filter: alpha(opacity=85);
  opacity: 0.85;
  border-radius: 3px;
  -moz-border-radius: 3px; /* Firefox */
}

#actions
{
  float: right;
  width:200px;
  text-align: right;
}

.hidden 
{
  display: none;
}

.minmax
{
  background-color: #ff6600;
}

.grey
{
  background-color: #cccccc;
}

.altRow
{
  background-color: #e0e0e0;
  padding-right: 50px;
}

.regRow
{
  padding-right: 50px;
}

.currentRow
{
  background-color: #d5ffc5;
  padding-right: 50px;
}

.cent
{
  text-align: center;
}
