<script>
	jQuery(document).ready(	function(){
		validation( 'addOrganisationUnitForm' );	
		
		checkValueIsExist( "name", "validateOrganisationUnit.action");
		checkValueIsExist( "code", "validateOrganisationUnit.action");
		
		datePickerValid( 'openingDate', false );			
	});
</script>

<h3>$i18n.getString( "create_new_org_unit" ) #openHelp( "ou_edit" )</h3>

<form id="addOrganisationUnitForm" name="addOrganisationUnitForm" action="addOrganisationUnit.action" method="post" onsubmit="return validateFeatureType(this.coordinates, this.featureType)">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" onchange="nameChanged()" style="width:20em" maxlength="160" class="{validate:{required:true,minlength:2}}"/></td>
	</tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" )</label></td>
		<td><input type="text" id="shortName" name="shortName" maxlength="25" style="width:20em" class="{validate:{required:true,minlength:2}}"/></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code" style="width:20em" class="{validate:{maxlength:25}}"></td>
	</tr>
	<tr>
		<td><label for="openingDate">$i18n.getString( "opening_date" ) ($i18n.getString( "format.date.label" )) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="openingDate" name="openingDate" value="$format.formatDate( $defaultDate )" style="width:20em" class="{validate:{required:true}}"/></td>
		<td></td>
	</tr>	
	<tr>
		<td><label for="comment">$i18n.getString( "comment" )</label></td>
		<td><textarea id="comment" name="comment" style="width:20em; height:5em"></textarea></td>
	</tr>
    <tr>
        <td><label for="coordinates">$i18n.getString( "coordinates" )</label></td>
        <td><textarea id="coordinates" name="coordinates" style="width:20em; height:5em" onkeyup="setFeatureType(document.addOrganisationUnitForm.featureType, this.value)"></textarea></td>
    </tr>
    <tr>
        <td><label for="featureType">$i18n.getString( "feature_type" )</label></td>
        <td><input type="text" id="featureType" name="featureType" style="width:20em" readonly="readonly"/></td>
    </tr>
    <tr>
        <td><label for="url">$i18n.getString( "url" )</label></td>
        <td><input type="text" id="url" name="url" style="width:20em" maxlength="255" class="{validate:{url:true}}"/></td>
    </tr>
	<tr>
		<td><label for="contactPerson">$i18n.getString( "contact_person" ) </label></td>
		<td colspan="3"><input type="text" id="contactPerson" name="contactPerson" style="width:20em" maxlength="255"/></td>
	</tr>
	<tr>
		<td><label for="address">$i18n.getString( "address" ) </label></td>
		<td colspan="3"><input type="text" id="address" name="address" style="width:20em" maxlength="255"/></td>
	</tr>
	<tr>
		<td><label for="email">$i18n.getString( "email" )</label></td>
		<td colspan="3"><input type="text" id="email" name="email" style="width:20em" maxlength="150" class="{validate:{email:true}}"/></td>
	</tr>
    <tr>
        <td><label for="phoneNumber">$i18n.getString( "phone_number" )</label></td>
        <td colspan="3"><input type="text" id="phoneNumber" name="phoneNumber" style="width:20em" maxlength="150"/></td>
    </tr>
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( 'add' )" style="width:10em"/><input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='organisationUnit.action'" style="width:10em"/></td>
	</tr>
</table>

</form>

<script type="text/javascript">

	var previousName = '';

	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();
	var adding_the_org_unit_failed = '$encoder.jsEscape( $i18n.getString( "adding_the_org_unit_failed" ) , "'" )';
	
</script>
