<h3>$i18n.getString( "sort_order" )</h3>

<form id="organisationUnitSort" action="updateCustomSort.action" method="POST" onsubmit="selectAllById('selectedList')">
<p>
	<input type="button" value="$i18n.getString( 'move_up' )" style="width:130px" onclick="moveUpSelectedOption( 'selectedList' )"/><input 
	type="button" value="$i18n.getString( 'move_down' )" style="width:130px" onclick="moveDownSelectedOption( 'selectedList' )"/><input
	type="button" value="$i18n.getString( 'move_to_top' )" style="width:130px" onclick="moveSelectedOptionToTop( 'selectedList' )"/><input
	type="button" value="$i18n.getString( 'move_to_bottom' )" style="width:130px" onclick="moveSelectedOptionToBottom( 'selectedList' )"/>
</p>
<p>
	<select size="25" id="selectedList" name="selectedList" multiple="multiple" size="25" style="width:680px">
	#foreach( $organisationUnit in $organisationUnits )
		<option value="$organisationUnit.id">$encoder.htmlEncode( $organisationUnit.name )</option>				
	#end
	</select>
</p>
<p>
	<input type="submit" value="$i18n.getString( 'save' )" style="width:100px"/>
	<input type="button" value="$i18n.getString( 'cancel' )" style="width:100px" onclick="window.location.href='organisationUnit.action'"/>
</p>
</form>

<script>

// -----------------------------------------------------------------------------
// Organisation unit selection listener
// -----------------------------------------------------------------------------

function organisationUnitSelected( orgUnitIds )
{
    window.location.href = 'organisationUnitCustomSort.action';
}

selection.setListenerFunction( organisationUnitSelected );
</script>

