
<h3>$encoder.htmlEncode( $organisationUnit.name )</h3>

<table>

<tr>
<td><b>$i18n.getString( "short_name" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.shortName )</td>
</tr>
<tr>
<td><b>$i18n.getString( "code" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.code )</td>
</tr>
<tr>
<td><b>$i18n.getString( "opening_date" ):</b></td>
<td>$!format.formatDate( $organisationUnit.openingDate )</td>
</tr>
<tr>
<td><b>$i18n.getString( "closed_date" ):</b></td>
<td>$!format.formatDate( $organisationUnit.closedDate )</td>
</tr>
<tr>
<td><b>$i18n.getString( "active" ):</b></td>
<td>#formatBool( $organisationUnit.active )</td>
</tr>
<tr>
<td><b>$i18n.getString( "comment" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.comment )</td>
</tr>
<tr>
<td><b>$i18n.getString( "url" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.url )</td>
</tr>
<tr>
<td><b>$i18n.getString( "last_updated" ):</b></td>
<td>$!format.formateDate( $organisationUnit.lastUpdated )</td>
</tr>
<tr>
<td><b>$i18n.getString( "contact_person" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.contactPerson )</td>
</tr>
<tr>
<td><b>$i18n.getString( "address" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.address )</td>
</tr>
<tr>
<td><b>$i18n.getString( "email" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.email )</td>
</tr>
<tr>
<td><b>$i18n.getString( "phone_number" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.phoneNumber )</td>
</tr>
<tr>
<td><b>$i18n.getString( "hierarchy" ):</b></td>
<td>$!encoder.htmlEncode( $organisationUnit.ancestorNames )</td>
</tr>

#foreach( $groupSet in $groupSets )
<tr>
<td><b>$!encoder.htmlEncode( $groupSet.name ):</b></td>
<td>$!encoder.htmlEncode( $!organisationUnit.getGroupNameInGroupSet( $groupSet ) )</td>
</tr>
#end

</table>
