<div class="panel panel-default" ng-controller="RelationshipController">
    <div class="panel-heading">
        {{relationshipWidget.title| translate}}
        <span class="pull-right">
            <a href ng-click="removeWidget(relationshipWidget)" title="{{'remove'| translate}}"><span class='black'><i class="fa fa-times-circle"></i></span></a>            
        </span>        
    </div>
    <div class="panel-body dashboard-element-container">
        This is relationships.
    </div>
</div>