<script>
	
	jQuery(document).ready(	function(){

		currentDiv = 'patientForm';
		checkedDuplicate = false;
		isSubmit = true;
		
		jQuery("#patientForm").validate({
				 meta:"validate"
				,errorElement:"span"
				,submitHandler: function(form)
					{
						if( isSubmit ) 
						{
							validateAddPatient();
						}
					}
				,beforeValidateHandler: function(form)
					{
						var checked = byId( 'verified' ).checked;
						
						var birthDate = $('#patientForm [id=birthDate]').val();
						var age = $('#patientForm [id=age]').val();
						if( birthDate != '' && age!='' )
						{
							$("#patientForm [id=memberValidator]").val("birthDate");
							alert( i18n_please_fill_out_only_one_of_these_fields );
							jQuery('#birthDate').focus();
							isSubmit = false;
							return;
						}
						else if( birthDate == '' && age == '' ) {
							$("#patientForm [id=memberValidator]").val("");
						}
						else if ( birthDate != '' )
						{
							$("#patientForm [id=memberValidator]").val("birthDate");
						}
						else if ( age!='' )
						{
							$("#patientForm [id=memberValidator]").val("age");
						}
						isSubmit = true;
					}
			});
		
		datePickerValid( 'patientForm [id=registrationDate]' );
		datePickerValid( 'patientForm [id=birthDate]' );
		addEventForPatientForm( 'patientForm' );
	});	
	
</script>

<h3>$i18n.getString( "add_new_patient" )</h3>	

<form id="patientForm" name="patientForm" method="post" >
<input type="hidden" id="representativeId" name="representativeId"/> 
<input type="hidden" id="relationshipTypeId" name="relationshipTypeId"/>

<table>
	#parse( "/dhis-web-caseentry/patientForm.vm" )
</table>

<p>
	<input type="submit" class="button" value="$i18n.getString( 'add' )"/>
	<input type="button" class="button" value="$i18n.getString( 'back_to_registration' )" onclick="loadPatientList();"/>
</p>

</form>

<script>
	var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
	var i18n_add_person_successfully = '$encoder.jsEscape( $i18n.getString( "add_person_successfully" ) , "'" )';
</script>