<script>
	
	jQuery(document).ready(	function(){

		currentDiv = 'patientForm';
		checkedDuplicate = false;

		jQuery("#patientForm").validate({
				 meta:"validate"
				,errorElement:"span"
				,submitHandler: function(form)
					{
						validateAddPatient();
					}
				,beforeValidateHandler: function(form)
					{
						var checked = byId( 'verified' ).checked;
						
						var birthDate = $('#patientForm [id=birthDate]').val();
						var age = $('#patientForm [id=age]').val();
						if( birthDate != '' && age!='' )
						{
							showById( 'validateBirthdate' );
							$("#patientForm [id=memberValidator]").val("birthDate");
							return false;
						}
						else if( birthDate == '' && age == '' ) {
							jQuery( '#validateBirthdate' ).removeClass( 'error').addClass('error valid');
							$("#patientForm [id=memberValidator]").val("");
						}
						else if ( birthDate != '' )
						{
							jQuery( '#validateBirthdate' ).removeClass( 'error').addClass('error valid');
							$("#patientForm [id=memberValidator]").val("birthDate");
						}
						else if ( age=='' )
						{
							jQuery( '#validateBirthdate' ).removeClass( 'error').addClass('error valid');
							$("#patientForm [id=memberValidator]").val("age");
						}
						hideById( 'validateBirthdate' );
					}
			});
		
		datePickerValid( 'patientForm [id=registrationDate]' );
		datePickerValid( 'patientForm [id=birthDate]' );
		addEventForPatientForm( 'patientForm' );
	});	
	
</script>

<h3>$i18n.getString( "add_new_patient" )</h3>	

<form id="patientForm" name="patientForm" method="post" >
<input type="hidden" id="representativeId" name="representativeId"/> 
<input type="hidden" id="relationshipTypeId" name="relationshipTypeId"/>

<table>
	#parse( "/dhis-web-caseentry/patientForm.vm" )
</table>

<p>
	<input type="submit" class="button" value="$i18n.getString( 'add' )"/>
	<input type="button" class="button" value="$i18n.getString( 'back_to_registration' )" onclick="loadPatientList();"/>
</p>

</form>

<script>
	var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
	var i18n_add_person_successfully = '$encoder.jsEscape( $i18n.getString( "add_person_successfully" ) , "'" )';
</script>