<script>
	jQuery('#patientForm').ready(	function(){

		checkedDuplicate = false;
		
		jQuery("#patientForm").validate({
			 meta:"validate"
			,errorElement:"span"
			,submitHandler: function(form)
				{
					validateAddRelationshipPatient();
				}
			,beforeValidateHandler: function(form)
				{
					var birthDate = $('#patientForm [id=birthDate]').val();
					var age = $('#patientForm [id=age]').val();
					if(age !=''){
						$( "#patientForm [id=memberValidator]").val(age);
					}else{
						$( "#patientForm [id=memberValidator]").val(birthDate);
					}
				}
		});
		
		hideById('patientForm [id=underAgeDiv]');
		datePickerValid( 'patientForm [id=birthDate]' );
		addEventForPatientForm('patientForm');
	});		
</script>

<h3>
	<a href="javascript:loadPatientList();">$i18n.getString( 'patient_management' )</a>
	&#8226; <a href="javascript:showPatientDashboardForm($!patient.id);">$i18n.getString( 'patient_dashboard' )</a>
	&#8226; <a href="javascript:showRelationshipList( '$patient.id' )">$i18n.getString( "relationship_management" )</a>
	&raquo; <a href="javascript:showAddRelationship('$patient.id')" >$i18n.getString( 'seach_available_patient' )</a>
	&#8226; $i18n.getString( 'add_new_patient' )
</h5>

<h4>$i18n.getString("add_new_relationship_for"):  $patient.getFullName()</h4>
																		
<form id="patientForm" action="addRelationshipPatient.action" method="get" >
<input type="hidden" id="relationshipId"  name="relationshipId" value="$patient.id"/> 
<table>	
	<tr>
		<td class='text-column'><label for="relationship_type">$i18n.getString("relationship_type")<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td class="input-column">
			<select name="relationshipTypeId" id="relationshipTypeId" class="{validate:{required:true}}" >
				<option value="">[$i18n.getString( "please_select" )]</option>        
				#foreach ($relationship in $relationshipTypes)
					<option value="$relationship.id">${relationship.aIsToB} - ${relationship.bIsToA}</option>
				#end
			</select>
		</td>
	</tr>
	
	#parse( "/dhis-web-caseentry/patientForm.vm" )

	<tr><td><p></p></td></tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" class='button' value="$i18n.getString( 'add' )" />
			<input type="button" class='button' value="$i18n.getString( 'cancel' )" onclick="showRelationshipList($patient.id);">
		</td>
	</tr>
</table>
</form> 	

