<h4> $i18n.getString( "case_aggregation_result" )</h4>

<div>
    <input type="button" value="$i18n.getString( "back" )" onclick="backBtnOnClick();" style="width:10em">
</div>

<p></p>

#set( $index = 0 )
#foreach( $orgunit in $orgunits)
	<h2>$orgunit.name</h2>
	#foreach( $period in $periods)
		#set( $index = $index + 1 )
		#set( $periodInfo = $orgunit.id + '-' + $index )
		#set( $periodButton = $periodInfo + "-button")
		#set( $periodDiv = $periodInfo + "-div")
		#set( $key = $orgunit.id + '-' + $format.formatPeriod($period) )
		
		<h4>$format.formatPeriod( $period )
		#if( $!mapDataValues.get( $key ) )
			<img id='$periodButton' src="../images/down.png" onclick="toggleResult('$periodInfo');" style="cursor: pointer;"></h4>
		
			#set( $dataValues = $mapDataValues.get( $key ) ) 
			<table class="formSection mainPageTable hidden" id='$periodDiv'>
				<col width="40">          
				<col>
				<col>
				<col>
				<tbody>
				#set( $mark = false )
				#set($no = 1)
					<tr>
						<th>#</th>
						<th>$i18n.getString('name')</th>
						<th>$i18n.getString('value')</th>
						<th>$i18n.getString('status')</th>
					</tr>
					#foreach( $dataValue in $dataValues)
						#set( $statusKey = $key + '-' + $dataValue.dataElement.id )
						<tr #alternate( $mark ) style="cursor: pointer" title="$i18n.getString('show_details')" onclick="viewResultDetails($orgunit.id,$period.id,$mapCaseAggCondition.get($dataValue).id)">
							<td>$no</td>
							<td>$dataValue.dataElement.name</td>
							<td>$dataValue.value</td>
							<td>$!mapStatusValues.get( $statusKey )</td>
						</tr>
						#set( $mark = !$mark  )
						#set ($no = $no + 1)
					#end
				</tbody>
			</table>
		#else
			($i18n.getString('no_value_added_or_update')) </h4>
		#end
	#end
#end

<div id='contentDetails'></div>

<script>
	var i18n_aggregate_details = '$encoder.jsEscape( $i18n.getString( "aggregate_details" ) , "'")';
</script>