
<script>
	//Global Variables
	var curPeriodType="";
</script>

<h1> $i18n.getString( "case_aggregation_form" )</h1>
<hr />
<form id="caseAggregationForm" name="caseAggregationForm" action="caseAggregationResult.action" method="post">
	<table>
	
		<tr>
			<td>
				$i18n.getString( "dataset_list" )
			</td>
			<td>
				<select id="selectedDataSets" name="selectedDataSets" onchange="getdSetPeriods()" style="width: 30em">
					<option value='0'>[$i18n.getString('please_select')]</option>
					#foreach ( $dataSet in $datasets )
						<option value='$dataSet.id' title='$dataSet.name'>$dataSet.name</option>
					#end
				</select>
			</td>
		</tr>
						 
		<tr>
			<td>
				$i18n.getString( "from" )
			</td>
			<td>
				<select id="sDateLB" name="sDateLB" style="width: 30em"></select>
			</td>
		</tr>
		
		<tr>
			<td>
				$i18n.getString( "to" )
			</td>
			<td>
				<select id="eDateLB" name="eDateLB" style="width: 30em"></select>
			</td>
		</tr>
		<tr>
			<td>
			   $i18n.getString( "ga_facilityby" )
			</td>
			<td>		
				<select id="facilityLB" name="facilityLB" style="width: 30em">
					<option value="random" selected>$i18n.getString( "selected" )</option>
					<option value="immChildren" >$i18n.getString( "immediate_children" )</option>
					<option value="children" >$i18n.getString( "child_tree" )</option>
				</select>
			</td>
		</tr>
		
		<tr><td colspan='2' style="height:1em"></td></tr>
		
		<tr>
			<td colspan='2'>
				#organisationUnitSelectionTree( false, true, false )
			</td>
		</tr>
				   

		<tr>
			<td>
				<input type="submit" name="Aggregate" value="$i18n.getString( 'aggregate' )"/></td>
			</td>
			<td></td>
		</tr>
	</table>
</form>

<script>
	window.onload=getdSetPeriods;
</script>