<script>
	jQuery("#entryFormContainer").ready(function(){
		#if($!programStageInstance.programStage.program.type!='1')
			hideById('newEncounterBtn');
		#end
		#if($!programStageInstance.programStage.id)
			setFieldValue('programStageId', "$!programStageInstance.programStage.id");
		#end
		#if( $programStageInstance )
			setFieldValue( 'dueDate', "$!format.formatDate( $programStageInstance.dueDate )" );
			setFieldValue( 'executionDate', "$!format.formatDate( $programStageInstance.executionDate )" );
		#end
		
		entryFormContainerOnReady();
	});
</script>

<div id='entryFormContainer'>

<input type='hidden' id='incidentDate' value='$!format.formatDate($programStageInstance.programInstance.dateOfIncident)'>
<input type='hidden' name='programStageInstanceId' id='programStageInstanceId' value='$!programStageInstance.id'>
<input type='hidden' name='programInstanceId' id='programInstanceId' value='$!programStageInstance.programInstance.id'>
<input type='hidden' name='irregular' id='irregular' value='$!programStageInstance.programStage.irregular'>
<input type='hidden' name='completed' id='completed' value='$!programStageInstance.completed'>
<input type='hidden' name='programStageId' id='programStageId' value='$!programStageInstance.programStage.id'>

<div id='entryForm' #if($!programStageInstance.executionDate) class='visible' #else class='hidden' #end>					
	#if( $customDataEntryFormCode )
		#parse( "/dhis-web-caseentry/customDataEntryForm.vm" )
	#elseif( $sections && $sections.size() > 0 )
		#parse( "/dhis-web-caseentry/sectionDataEntryForm.vm" )
	#else
		#parse( "/dhis-web-caseentry/defaultDataEntryForm.vm" )
	#end
</div>

<div id='inputCriteriaDiv' class="page inputCriteria hidden" style="width:490px;height:29px;">	
	<input type="button" class='button' id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" disabled="disabled">
	<input type="button" id="uncompleteBtn" value="$i18n.getString('incomplete')" onclick="doUnComplete()" disabled="disabled">
	<input type="button" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" disabled="disabled">
</div>

</div>

<div id='validateProgramDiv'></div>

<script>
	var i18n_create_new_event = '$encoder.jsEscape( $i18n.getString( "create_new_event" ) , "'" )';
	#if( $programStageInstance.programInstance.program.type=='1' && 
		$programStageInstance.programInstance.completed=="true")
		jQuery("[id=entryFormContainer] :input").prop('disabled', true);
		jQuery("[id=entryFormContainer] :input").datepicker("destroy");
		jQuery("[id=executionDate]").prop('disabled', true);
		jQuery("[id=executionDate]").datepicker("destroy");
	#end
</script>

