<form id='dataRecordingSelectForm' name='dataRecordingSelectForm' method='post'>
<div class="actions" style='margin-top:30px;' #if($program.type!=1) style='display:none;' #end>
	<input type="button" class='stage-object' id="newEncounterBtn" value="$i18n.getString('create_new_event')" onClick="javascript: registerIrregularEncounter( getFieldValue('executionDate') );" disabled="disabled" >
</div>
<table class="mainPageTable" id='patientInfoDiv'> 
	<tr>
		<td valign="top">
	<table>
		<tr>            
			<td class="bold">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate ) $patient.getAge()<td>
		</tr>
		</table>
	</tr>
</table>
		
<div id='inputCriteria' class="page inputCriteria" style="width:490px;height:29px;">	
	<input type='hidden' id='programStageId' name='programStageId'>
	<table>
	   <tr id='programIdTR'>
			<td class='text-column'><label for="programId">$i18n.getString( "program" )</label></td>
			<td>
				<select id="programId" name="programId" class="criteria" onchange="loadProgramStages();" #if( $programs.size() == 0 ) disabled="disabled" #end>
					<option value="0">[$i18n.getString( "select" )]</option>
					#foreach( $program in $programs )
						<option value="$program.id" type="$program.type" #if( $programId && $program.id == $programId ) selected="selected" #end>$encoder.htmlEncode( $program.name )</option>
					#end
				</select>
			</td>
		</tr>
	</table>
</div>

</form>

<script>
	jQuery('#dataRecordingSelectForm').ready(function(){ 
		byId('programId').selectedIndex = 1;
		loadProgramStages();
	});
</script>
