
<a href="index.action"><h2>$i18n.getString( "data_entry_and_reports" )&nbsp;</h2></a>
<ul>
	<li><a href="dataEntrySelect.action">$i18n.getString( "data_entry" )&nbsp;</a></li>
	<li><a href="multipledataEntrySelect.action">$i18n.getString( "multiple_data_entry" )&nbsp;</a></li>
</ul>

<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<script type="text/javascript">    
    var formatter = '$encoder.jsEscape( $i18n.getString( "format.date.label" ) , "'")';
</script>
