<form id='dataRecordingSelectForm' name='dataRecordingSelectForm' method='post'>

<table class="mainPageTable" id='patientInfoDiv'> 
	<tr>
		<td valign="top">
	<table>
		<tr>            
			<td class="bold">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate ) $patient.getAge()<td>
		</tr>
		</table>
	</tr>
</table>

<p>
#parse( "/dhis-web-caseentry/colorHelp.vm" )
</p>
			
<div class="actions">	
	<input type="button" class='button' id="newEncounterBtn" value="$i18n.getString('create_new_event')" onClick="javascript: registerIrregularEncounter( getFieldValue('executionDate') );" disabled="disabled" >
	<input type="button" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" disabled="disabled" >
	<input type="button" class='button' id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" disabled="disabled" >
	<input type="button" onclick="doUnComplete()" value="$i18n.getString('incomplete')" id="uncompleteBtn" disabled="disabled" >
	<input type="button" class='button' value="$i18n.getString( 'back_to_search' )" id='backBtnFromEntry' onclick="javascript:showSearchForm();" >
</div>
		
<div id='inputCriteria' class="page inputCriteria" style="width:490px;height:29px;">	
	<input type='hidden' id='programStageId' name='programStageId'>
	<table>
	   <tr id='programIdTR'>
			<td class='text-column'><label for="programId">$i18n.getString( "program" )</label></td>
			<td>
				<select id="programId" name="programId" class="criteria" onchange="loadProgramStages();" #if( $programs.size() == 0 ) disabled="disabled" #end>
					<option value="0">[$i18n.getString( "select" )]</option>
					#foreach( $program in $programs )
						<option value="$program.id" type="$program.type" #if( $programId && $program.id == $programId ) selected="selected" #end>$encoder.htmlEncode( $program.name )</option>
					#end
				</select>
			</td>
		</tr>
	</table>
</div>

<div id='programInstanceDiv' class='hidden '>
	<div id='programInstanceFlowDiv' style="width:78%;height:115px;overflow-x:auto;">
		<table>
			<tr id='programStageIdTR'></tr>
		</table>
	</div>
	
	<br>
	
	<table id='executionDateTB'>
		<tr>
			<th class='text-column'><label for="executionDate">$i18n.getString( "report_date" ) </label></th>
			<th><input type="text" id="executionDate" name="executionDate" class='criteria' value="$!format.formatDate( $programStageInstance.executionDate )" >
				<script type="text/javascript">
				   datePickerValid( 'executionDate', false );
				</script>
			</th>
			<th class='text-column'><label for="dueDate">$i18n.getString( "due_date" ) </label></th>
			<th><input type="text" id="dueDate" name="dueDate" class='criteria' value="$!format.formatDate( $programStageInstance.dueDate )" readonly > </th>
		</tr>
	</table>
	
</div>

</form>

<p></p>
	
<div id='createNewEncounterDiv' class='hidden'>
	<table>
		<tr>
			<td>$i18n.getString( 'due_date' )</td>
			<td><input id='dueDateNewEncounter' name='dueDateNewEncounter' ></td>
			<script type="text/javascript">
			   datePicker( 'dueDateNewEncounter', false );
			</script>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type='button' value='$i18n.getString("create")' onclick='registerIrregularEncounter( getFieldValue("dueDateNewEncounter" ) );' />
				<input type='button' value='$i18n.getString("cancel")' onclick="closeDueDateDiv();" />
			</td>
</div>

<script>
	jQuery('#dataRecordingSelectForm').ready(function(){ 
		var programs = byId('programId');
		if( programs.options.length == 2 )
		{
			 byId('programId').selectedIndex = 1;
			 loadProgramStages();
		}
	});
</script>
