<table class='mainPageTable'>
	<tr>
		<th colspan='2'><label class="bold">$i18n.getString( "demographics" )</label></th>
	</tr>
	<tr>
		<td>
			<label class="bold">$i18n.getString('full_name') : </label>
		</td>
		<td>
			$patient.getFullName()
		</td>
	</tr>
	<tr #alternate( true )>
		<td>
			<label class="bold">$i18n.getString('gender') : </label>
		</td>
		<td>
			$i18n.getString($patient.gender)
		</td>
	</tr>
	<tr>
		<td><label class="bold">$i18n.getString('dob_type') : </label>
		</td>
		<td>
			$!patient.dobType
		</td>
	</tr>
	<tr #alternate( true )>
		<td><label class="bold">$i18n.getString('date_of_birth') : </label>
		</td>
		<td>
			$format.formatDate( $!patient.birthDate )
		</td>
	</tr>
	<tr>
		<td><label class="bold">$i18n.getString('blood_group') : </label>
		</td>
		<td>
			#if($!patient.bloodGroup && !$patient.bloodGroup.equals("")) $patient.bloodGroup #else $i18n.getString('none') #end
		</td>
	</tr>
	
	<tr><td>&nbsp;</td></tr>
	<tr>
		<th colspan='2'><label class="bold">$i18n.getString( "identifiers" )</label></th>
	</tr>
	#set( $mark = false )
	#foreach( $patientIdentifier in $patient.identifiers )
	<tr #alternate( $mark )>
		<td>
			<label class="bold">
				#if($!patientIdentifier.identifierType)  $!patientIdentifier.identifierType.name
				#else $i18n.getString( "patient_system_id") #end :
			</label>
		</td>
		<td>
			  $patientIdentifier.identifier
		</td>
	</tr>
	#set( $mark = !$mark )
	#end
	
	<tr><td colspan='2'>&nbsp;</td></tr>
	<tr>
		<th colspan='2'><label class="bold">$i18n.getString( "attributes" )</label></th>
	</tr>
	#set( $mark = false )
	#foreach( $attribute in $patient.attributes )
		#if( $patientAttributeValueMap.get( $attribute.id ) != " " )
		<tr #alternate( $mark )>
			<td><label class="bold">$attribute.name : </label>
			</td>
			<td>
				#if($attribute.valueType=="YES/NO")
					$i18n.getString( $patientAttributeValueMap.get( $attribute.id ) )
				#else
					$patientAttributeValueMap.get( $attribute.id )
				#end
			</td>
		</tr>
		#set( $mark = !$mark )
		#end
	#end
	
	<tr><td>&nbsp;</td></tr>
	<tr>
		<th colspan='2'><label class="bold">$i18n.getString( "enrolled_in_program" )</label></th>
	</tr>
	#set( $mark = false )
	#foreach( $program in $patient.programs )
	<tr #alternate( $mark )>
		<td colspan='2' >$program.name</td>
	</tr>
	#set( $mark = !$mark )
	#end
</table>