#set($programStageInstances = $programInstance.programStageInstances)
<table class="mainPageTable">
	<col width="160px"/>
	<col/>
	<tr>
		<th>$i18n.getString( "date" )</th>
		<th>$i18n.getString( "program_stage" )</th>
		<th>$i18n.getString( "message" )</th>
	</tr>
	
	<tbody id='commentTB'>
		#set($index = 0)
		#set( $mark = false )
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $comment in $programStageInstance.patientComments )
				#if( $index < 5 )
					<tr id="comment_$comment.id" #alternate($mark)>
						<td>$format.formatDate($comment.createdDate)</td>
						<td>$programStageInstance.programStage.name</td>
						<td>$comment.creator - $comment.commentText</td>
						#set($index = $index + 1)
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $sms in $programStageInstance.outboundSms )
				#if( $index < 5 )
					<tr id="tr${sms.id}" #alternate($mark) >
						<td>$format.formatDate($!sms.date)</td>
						<td> $programStageInstance.programStage.name</td>
						<td>$sms.message</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $comment in $programStageInstance.patientComments )
				#if( $index >= 5 )
					<tr id="comment_$comment.id" #alternate($mark) class="hidden">
						<td>$format.formatDate($comment.createdDate)</td>
						<td> $programStageInstance.programStage.name</td>
						<td>$comment.creator - $comment.commentText</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end	
		
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $sms in $programStageInstance.outboundSms )
				#if( $index >= 5 )
					<tr id="tr${sms.id}" #alternate($mark) >
						<td>$format.formatDate($!sms.date)</td>
						<td>$programStageInstance.programStage.name</td>
						<td>$sms.message</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
	</tbody>
</table>