#set($programStageInstances = $programInstance.programStageInstances)
<table class="mainPageTable">
	<col width="160px"/>
	<col/>
	<tr>
		<th>$i18n.getString( "date" )</th>
		<th>$i18n.getString( "program_stage" )</th>
		<th>$i18n.getString( "sender" )</th>
		<th>$i18n.getString( "message" )</th>
	</tr>
	
	<tbody id='commentTB'>
		#set($index = 0)
		#set( $mark = false )
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $comment in $programStageInstance.patientComments )
				#if( $index < 5 )
					<tr id="comment_$comment.id">
						<td>$format.formatDateTime($comment.createdDate)</td>
						<td>$programStageInstance.programStage.name</td>
						<td>$comment.creator</td>
						<td>$comment.commentText</td>
						#set($index = $index + 1)
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $sms in $programStageInstance.outboundSms )
				#if( $index < 5 )
					<tr id="tr${sms.id}">
						<td>$format.formatDateTime($!sms.date)</td>
						<td> $programStageInstance.programStage.name</td>
						<td>$sms.sender</td>
						<td>$sms.message</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $comment in $programStageInstance.patientComments )
				#if( $index >= 5 )
					<tr id="comment_$comment.id" class="hidden">
						<td>$format.formatDateTime($comment.createdDate)</td>
						<td>$programStageInstance.programStage.name</td>
						<td>$comment.creator</td>
						<td>$comment.commentText</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end	
		
		#foreach($programStageInstance in $programStageInstances)
			#foreach( $sms in $programStageInstance.outboundSms )
				#if( $index >= 5 )
					<tr id="tr${sms.id}"  class='hidden'>
						<td>$format.formatDateTime($!sms.date)</td>
						<td>$programStageInstance.programStage.name</td>
						<td>$sms.sender</td>
						<td>$sms.message</td>
						#set( $mark = !$mark)
					</tr>
				#end
			#end
		#end
	</tbody>
</table>

<br>
#set($count = $programStageInstance.patientComments.size() + $programStageInstance.outboundSms.size() )
<input type='button' id="showCommentBtn" name="showCommentBtn" value='$i18n.getString("show_hide_more")' #if($count<=5) class='hidden' #end onclick='commentDivToggle(false);'>
<input type='button' id="hideCommentBtn" name="hideCommentBtn" value='$i18n.getString("show_hide_more")' class='hidden' onclick='commentDivToggle(true);'>