<table class='mainPageTable'>
	<tr>
		<th>$i18n.getString('date')</th>
		<th>$i18n.getString('program_stage')</th>
		<th>$i18n.getString('message')</th>
	</tr>
	#set( $mark = false )
	#foreach( $programStageInstance in $programInstance.programStageInstances )	
		#if( $programStageInstance.outboundSms.size() > 0 || 
			$programStageInstance.outboundSms.size() > 0 )
			
			#foreach( $comment in $programStageInstance.comments )
			<tr #alternate( $mark ) >
				<td>$!format.formatDate( $comment.createdDate )</td>
				<td>$programStageInstance.programStage.name</td>
				<td>($comment.creator) $comment.commentText</td>
			</tr>
			#set( $mark = !$mark )
			#end
		
			#foreach( $sms in $programStageInstance.outboundSms )
			<tr #alternate( $mark ) >
				<td>$!format.formatDate( $sms.date )</td>
				<td>$programStageInstance.programStage.name</td>
				<td>$sms.message</td>
			</tr>
			#set( $mark = !$mark )
			#end
		#end
	#end
</table>
