TR.i18n = {
title:'$encoder.jsEscape($i18n.getString( 'title' ) , "'")',
programs: '$encoder.jsEscape($i18n.getString( 'program' ) , "'")',
identifiers:'$encoder.jsEscape($i18n.getString( 'identifiers' ) , "'")',
attributes:'$encoder.jsEscape($i18n.getString( 'attributes' ) , "'")',
start_date:'$encoder.jsEscape($i18n.getString( 'start_date' ) , "'")',
end_date:'$encoder.jsEscape($i18n.getString( 'end_date' ) , "'")',
et_no_programs:'$encoder.jsEscape($i18n.getString( 'et_no_programs' ) , "'")',
data_elements:'$encoder.jsEscape($i18n.getString( 'data_elements' ) , "'")',
program_stage:'$encoder.jsEscape($i18n.getString( 'program_stage' ) , "'")',
please_select:'[' + '$encoder.jsEscape($i18n.getString( 'please_select' ) , "'")'  + ']',
all_attribute_groups:'$encoder.jsEscape($i18n.getString( 'all_attribute_groups' ) , "'")',
format_date: 'Y-m-d',
use_data_from_level:'$encoder.jsEscape($i18n.getString( 'use_data_from_level' ) , "'")',
use_data_from_level:'$encoder.jsEscape($i18n.getString( 'use_data_from_level' ) , "'")',
all: '$encoder.jsEscape($i18n.getString( 'all' ) , "'")',
children_only: '$encoder.jsEscape($i18n.getString( 'children_only' ) , "'")',
selected: '$encoder.jsEscape($i18n.getString( 'selected' ) , "'")',
show_hierachy_from_level: '$encoder.jsEscape($i18n.getString( 'show_hierachy_from_level' ) , "'")',
report_unit: '$encoder.jsEscape($i18n.getString( 'report_unit' ) , "'")',
report_date: '$encoder.jsEscape($i18n.getString( 'report_date' ) , "'")',
et_no_dataelement:'$encoder.jsEscape($i18n.getString( 'et_no_dataelement' ) , "'")',
download:'$encoder.jsEscape($i18n.getString( 'download' ) , "'")',
xls:'$encoder.jsEscape($i18n.getString( 'xls' ) , "'")',
pdf:'$encoder.jsEscape($i18n.getString( 'pdf' ) , "'")',
filter:'$encoder.jsEscape($i18n.getString( 'filter' ) , "'")',
cancel:'$encoder.jsEscape($i18n.getString( 'cancel' ) , "'")',
clear:'$encoder.jsEscape($i18n.getString( 'clear' ) , "'")',
show_hide_settings_panel:'$encoder.jsEscape($i18n.getString( 'show_hide_settings_panel' ) , "'")',
updating:'$encoder.jsEscape($i18n.getString( 'updating' ) , "'")',
data_table:'$encoder.jsEscape($i18n.getString( 'data_table' ) , "'")',
page:'$encoder.jsEscape($i18n.getString( 'page' ) , "'")',
loading:'$encoder.jsEscape($i18n.getString( 'loading' ) , "'")',
generate:'$encoder.jsEscape($i18n.getString( 'generate' ) , "'")',
et_no_data:'$encoder.jsEscape($i18n.getString( 'et_no_data' ) , "'")',
em_no_orgunits:'$encoder.jsEscape($i18n.getString( 'em_no_orgunits' ) , "'")',
organisation_units:'$encoder.jsEscape($i18n.getString( 'organisation_units' ) , "'")',
commons:'$encoder.jsEscape($i18n.getString( 'commons' ) , "'")',
asc:'$encoder.jsEscape($i18n.getString( 'asc' ) , "'")',
options:'$encoder.jsEscape($i18n.getString( 'options' ) , "'")',
reset:'$encoder.jsEscape($i18n.getString( 'reset' ) , "'")',
no:'$encoder.jsEscape($i18n.getString( 'no' ) , "'")'
};