
<h3>$i18n.getString( "dhis-web-caseentry" )</h3>

<ul class="introList">
	#introListImgItem( "patient.action" "find_and_add_person" "patient" )
	#introListImgItem( "showAddPatientFormFormMenu.action?addNewForm=true" "add_person" "add_patient" )
	#introListImgItem( "multipledataEntrySelect.action" "multiple_individual_records" "dataentry" )
	#introListImgItem( "singleEventSelect.action" "single_event_with_registration" "dataentry" )
    #introListImgItem( "anonymousRegistration.action" "anonymous_events" "dataentry" )
	#introListImgItem( "reportSelect.action" "program_summary" "summaryreport" )
	#introListImgItem( "app/index.html" "tabular_report" "summaryreport" )
	<!-- #introListImgItem( "visitplan.action" "visit_plan" "visitplan" ) -->
    #introListImgItem( "caseAggregationForm.action" "case_aggregation" "caseaggregation" )
	#introListImgItem( "smsReminderSelect.action" "program_tracking" "attribute" )
</ul>