
<h3>$i18n.getString( "dhis-web-caseentry" )</h3>

<ul id="introList">
	#introListImgItem( "patient.action" "patient_registration" "patient" )
	#introListImgItem( "anonymousRegistration.action" "event_registration" "patient" )
    #introListImgItem( "dataEntrySelect.action" "data_entry" "dataentry" )
	#introListImgItem( "multipledataEntrySelect.action" "multiple_dataentry" "dataentry" )
    #introListImgItem( "reportSelect.action" "summary_report" "summaryreport" )
    #introListImgItem( "visitplan.action" "visit_plan" "visitplan" )
    #introListImgItem( "caseAggregationForm.action" "case_aggregation" "caseaggregation" )
</ul>