{
	"id": "${tabularReport.id}",
	"name": "$!encoder.jsonEncode( ${tabularReport.name} )",
	"lastUpdated": "$!format.formatDate( ${tabularReport.lastUpdated} )",
	"programId": "${tabularReport.programStage.program.id}",
	"singleEvent": 
		#if($tabularReport.programStage.program.programStages.size() == 1 )
			"true",
		#else
			"false",
		#end
	"type": "${tabularReport.programStage.program.type}",
	"programStageId": "${tabularReport.programStage.id}",
	"programStageName": "${tabularReport.programStage.name}",
	"startDate": "$!format.formatDate( $tabularReport.startDate )",
	"endDate": "$!format.formatDate( ${tabularReport.endDate} )",
	"organisationUnitId": "${tabularReport.organisationUnit.id}",
	"level": "${tabularReport.level}",
	"sortedOrgunitAsc": "${tabularReport.sortedOrgunitAsc}",
	"facilityLB": "${tabularReport.facilityLB}",
	"patientProperties": [
		#set( $fixedAttributes = ${tabularReport.fixedAttributes} )
		#foreach( ${fixedAttribute} in $!{fixedAttributes} )
			{	
				#set( $attr = $i18n.getString($fixedAttribute) )
				"id": "fixedAttr_${fixedAttribute}",
				"name": "$attr"
			},
		#end
		#set( $identifiers = ${tabularReport.identifiers} )
		#foreach( ${identifier} in $!{identifiers} )
			{
				"id": "iden_${identifier.id}",
				"name": "${identifier.name}"
			},
		#end
		#set( $size = ${tabularReport.attributes.size()} )
		#set( $attributes = ${tabularReport.attributes} )
		#foreach( ${attribute} in $!{attributes} )
			{
				"id": "attr_${attribute.id}",
				"name": "${attribute.name}"
			}
			#if( $velocityCount < $size ),#end
		#end
	],
	"fixedAttributes": [
		#set( $size = ${tabularReport.fixedAttributes.size()} )
		#set( $fixedAttributes = ${tabularReport.fixedAttributes} )
		#foreach( ${fixedAttribute} in $!{fixedAttributes} )
			"fixedAttr_${fixedAttribute}"
			#if( $velocityCount < $size ),#end
		#end
	],
	"dataElements": [
		#set( $size = ${tabularReport.dataElements.size()} )
		#set( $dataElements = ${tabularReport.dataElements} )
		#foreach( ${dataElement} in $!{dataElements} )
			{
				"id": "de_${dataElement.id}",
				"name": "${dataElement.name}",
				"valueType": #if( $dataElement.optionSet )
								"list"
							 #else
								"${dataElement.type}"
							 #end
			}
			#if( $velocityCount < $size ),#end
		#end
	]
}