{
	"id": "${tabularReport.id}",
	"name": "$!encoder.jsonEncode( ${tabularReport.name} )",
	"lastUpdated": "$!format.formatDate( ${tabularReport.lastUpdated} )",
	"programId": "${programStage.program.uid}",
	"singleEvent": 
		#if($tabularReport.program.programStages.size() == 1 )
			"true",
		#else
			"false",
		#end
	#if( $tabularReport.programStage)
		#set($programStage = $tabularReport.programStage)
	#end
	
	"type": "${programStage.program.type}",
	"programStageId": "$!{tabularReport.programStage.uid}",
	"programStages": [
		#set( $programStages = $tabularReport.program.programStages )
		#set( $size = $programStages.size() )
		#foreach( ${programStage} in $!{programStages} )
			{
				"id": "$programStage.uid",
				"name": "$programStage.name"
			}
			#if( $velocityCount < $size ),#end
		#end
	],
	"startDate": "$!format.formatDate( $tabularReport.startDate )",
	"endDate": "$!format.formatDate( ${tabularReport.endDate} )",
	"asc": "${tabularReport.sortByAsc}",
	"desc": "${tabularReport.sortByDesc}",
	"level": "${tabularReport.level}",
	"facilityLB": "${tabularReport.facilityLB}",
	"orgunitIds": [
		#set( $size = $tabularReport.organisationUnits.size() )
		#set( $organisationUnits = ${tabularReport.organisationUnits} )
		#foreach( ${organisationUnit} in $!{organisationUnits} )
			{
				"id": "$organisationUnit.uid",
				"localid": "$organisationUnit.id",
				"path":"#foreach($anc in $organisationUnit.getAncestors())/${anc.uid}#end"
			}
			#if( $velocityCount < $size ),#end
		#end
	],
	"items": [
		#set( $size = $tabularReport.items.size() )
		#foreach( $item in $!{tabularReport.items} )
			{
				"id": "$item",
				"name": "",
				"compulsory": "",
				"valueType": #if( $!dataElement.optionSet )
								"list"
							 #else
								"${!dataElement.type}"
							 #end
			}
			#if( $velocityCount < $size ),#end
		#end
		
	]
}