{
	"id": "${tabularReport.id}",
	"name": "$!encoder.jsonEncode( ${tabularReport.name} )",
	"lastUpdated": "$!format.formatDate( ${tabularReport.lastUpdated} )",
	"programId": "${tabularReport.programStage.program.id}",
	"type": "${tabularReport.programStage.program.type}",
	"programStageId": "${tabularReport.programStage.id}",
	"programStageName": "${tabularReport.programStage.name}",
	"startDate": "$!format.formatDate( $tabularReport.startDate )",
	"endDate": "$!format.formatDate( ${tabularReport.endDate} )",
	"organisationUnitId": "${tabularReport.organisationUnit.id}",
	"level": "${tabularReport.level}",
	"sortedOrgunitAsc": "${tabularReport.sortedOrgunitAsc}",
	"facilityLB": "${tabularReport.facilityLB}",
	"identifiers": [
		#set( $size = ${tabularReport.identifiers.size()} )
		#set( $identifiers = ${tabularReport.identifiers} )
		#foreach( ${identifier} in $!{identifiers} )
			{
				"id": "${identifier.id}",
				"name": "${identifier.name}"
			}
			#if( $velocityCount < $size ),#end
		#end
	],
	"attributes": [
		#set( $size = ${tabularReport.attributes.size()} )
		#set( $attributes = ${tabularReport.attributes} )
		#foreach( ${attribute} in $!{attributes} )
			{
				"id": "${attribute.id}",
				"name": "${attribute.name}"
			}
			#if( $velocityCount < $size ),#end
		#end
	],
	"fixedAttributes": [
		#set( $size = ${tabularReport.fixedAttributes.size()} )
		#set( $fixedAttributes = ${tabularReport.fixedAttributes} )
		#foreach( ${fixedAttribute} in $!{fixedAttributes} )
			"${fixedAttribute}"
			#if( $velocityCount < $size ),#end
		#end
	],
	"dataElements": [
		#set( $size = ${tabularReport.dataElements.size()} )
		#set( $dataElements = ${tabularReport.dataElements} )
		#foreach( ${dataElement} in $!{dataElements} )
			{
				"id": "${dataElement.id}",
				"name": "${dataElement.name}"
			}
			#if( $velocityCount < $size ),#end
		#end
	]
}