#parse( "/dhis-web-caseentry/search.vm" )

<table>
	<tr>
		<td>$i18n.getString( "search_result_matching_the_search_criteria" )</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$i18n.getString( $searchText )</td>
	</tr>	
</table>
 
<table class="mainPageTable">
  	
  <tr>
    <td style="vertical-align:top">    
      <table class="listTable">                   
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col width="20">
          <col width="20">                        
		  <tr>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>  		  	
		  	<td colspan="2" style="text-align:right">  			
				<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='dataEntrySelect.action'" style="width:60px">
			</td>
          <tr>
            <th>$i18n.getString( "first_name" )</th>
            <th>$i18n.getString( "middle_name" )</th>
            <th>$i18n.getString( "last_name" )</th>            
            <th>$i18n.getString( "gender" )</th>
            <th>$i18n.getString( "date_of_birth" )</th>
            <th>$i18n.getString( "age" )</th>            
            <th colspan="2">$i18n.getString( "operations" )</th>
          </tr>
          
          <tbody id="list">	
          #set( $mark = false )
          
          #foreach( $patient in $patients )
          	<tr #alternate( $mark )>
				<td>			
					$encoder.htmlEncode( $patient.firstName )
				</td>
				<td>			
					$encoder.htmlEncode( $patient.middleName )
				</td>
				<td>			
					$encoder.htmlEncode( $patient.lastName )
				</td>				
				<td>			
					$encoder.htmlEncode( $patient.gender )
				</td>
				<td>			
					$format.formatDate( $patient.birthDate )
				</td>
				<td>            
                    $encoder.htmlEncode( $patient.getAge() )
                </td>				
				<td style="text-align:center"#alternate( $mark )>
                  <a href="selectDataRecording.action?id=$patient.id" title="$i18n.getString( "data_entry" )"><img src="images/data_entry.png" alt="$i18n.getString( "data_entry" )"></a>                  
                </td>
                <td style="text-align:center"#alternate( $mark )>
                  <a href="javascript:showPatientDetails( $patient.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
                </td>               				
			</tr>
			#if( $mark )
				#set( $mark = false )
			#else
				#set( $mark = true )
			#end
    	#end
    	</tbody>
    
	  </table>
    </td>
    <td style="width:20em; padding-left:2em; vertical-align:top">
        <div id="detailsArea" style="display:none">
            <div style="float:right">
                <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
            </div>              
            <p><label>$i18n.getString( "common_info" ):</label><br><span id="commonInfoField"></span></p>	
			<p><label>$i18n.getString( "identifier" ):</label><br><span id="identifierField"></span></p>                    
            <p><label>$i18n.getString( "attributes" ):</label><br><span id="attributeField"></span></p>
            <p><label>$i18n.getString( "enrolled_in_program" ):</label><br><span id="programField"></span></p>
        </div>
    </td>
  </tr>
</table>
   
<span id="message"></span>

<script>
	var i18n_id = '$encoder.jsEscape( $i18n.getString( "id" ), "'")';
	var i18n_full_name = '$encoder.jsEscape( $i18n.getString( "full_name" ), "'")';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ), "'")';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ), "'")';
	var i18n_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ), "'")';
	var i18n_blood_group = '$encoder.jsEscape( $i18n.getString( "blood_group" ), "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
</script>