<h4>$programInstance.program.name</h4>
<input type='hidden' id='programInstanceId' name='programInstanceId' value='$programInstance.id' />
<input type='hidden' id='patientId' name='patientId' value='$programInstance.patient.id' />
<input type='hidden' id='currentUsername' name='currentUsername' value='$currentUsername'>

<table>
	<tr>
		<td>$i18n.getString("full_name")</td>
		<td>$!programInstance.patient.getFullName()</td>
	</tr>
	<tr>
		<td>$i18n.getString("gender")</td>
		<td>$programInstance.patient.gender</td>
	</tr>
	<tr>
		<td>$i18n.getString("date_of_birth")</td>
		<td>$format.formatDate( $!programInstance.patient.birthDate) $!programInstance.patient.getAge()</td>
	</tr>
	<tr>
		<td>$i18n.getString("phone_number")</td>
		<td>
			#if($!programInstance.patient.phoneNumber && $!programInstance.patient.phoneNumber!='')
				$!programInstance.patient.phoneNumber
			#else
				[$i18n.getString('none')]
			#end
		</td>
	</tr>
	<tr>
		<td><input type="button" value='$i18n.getString("back_to_search")' onclick="javascript:onClickBackBtn();"></td>
	</tr>
</table>

<div id="tabs">
	<ul>
		<li><a href="#tab-2">$i18n.getString("demographics")</a></li>
		<li><a href="#tab-3">$i18n.getString("reschedule_and_set_status")</a></li>
		<li><a href="#tab-4">$i18n.getString("tracking_history")</a></li>
		<li><a href="#tab-5">$i18n.getString("program_reports")</a></li>
	</ul>
	
	<!-- Demographics -->
	<div id="tab-2">
		<table class="mainPageTable">
			<tr>
				<td>$i18n.getString("health_worker")</td>
				<td>
					#if($!programInstance.patient.healthWorker )
						$!programInstance.patient.healthWorker.name
					#else
						[$i18n.getString('none')]
					#end
				</td>
			</tr>
		#set( $mark = true )
			#foreach ($identifierType in $identifierTypes) 
				#set( $identifier = '')
				#set( $identifier = $identiferMap.get( $identifierType.id ) )
				#if($identifier)
					<tr #alternate( $mark )>
						<td>$identifierType.name</td>       
						<td>$identifier</td>
					</tr>
					#set( $mark = !$mark  )
				#end
			#end
						
			<!-- ATTRIBUTES IN GROUPS -->
			#foreach ($attributeGroup in $attributeGroupsMap.keySet() )
				#set($attributes = $attributeGroupsMap.get($attributeGroup))
				#foreach($attribute in $attributes )
					#set( $attributeValue = $!patientAttributeValueMap.get( $attribute.id ) )
					#if($attributeValue)
						<tr #alternate( $mark )>
							<td>$attribute.name</td>
							<td>$attributeValue</td>	
						</tr>
						#set( $mark = !$mark  )
					#end
				#end
			#end
		</table>
	</div>

	<!-- Program-stage-instance TAB -->
	<div id="tab-3">
		<fieldset>
			<legend>$i18n.getString("program")</legend>
			<table>
				<tr>
					<td class='text-column'>$programInstance.program.dateOfEnrollmentDescription:</td>
					<td><input name="enrollmentDate" id="enrollmentDate" readonly value="$!format.formatDate( $programInstance.enrollmentDate )"></td>
				</tr>
				<tr>
					<td class='text-column'>$programInstance.program.dateOfIncidentDescription:</td>
					<td><input name="dateOfIncident" id="dateOfIncident" readonly value="$!format.formatDate( $programInstance.dateOfIncident )"></td>
				</tr>				
			</table>
		</fieldset>
		<br>
		#if( $programStageInstances.size() > 0 )
			<table class='mainPageTable' id='progarmStageListDiv' name='progarmStageListDiv' >
				<col width="10px">
				<col width="200px">
				<col width="180px">
				<col width="150px">
				<col/>
				<col width='60px'/>  
				<tr>
					<th>$i18n.getString( "nr" )</th>
					<th>$i18n.getString( "program_stage" )</th>                   
					<th>$i18n.getString( "reschedule_due_date" )</th>       
					<th>$i18n.getString( "status" )</th>
					<th>$i18n.getString( "post_comment" )</th>
					<th>$i18n.getString( "operation" )</th>
				</tr>
				
			#set( $rowCount = 0 )
			#set( $mark = false )
			#foreach( $programStageInstance in $programStageInstances )
				#set( $rowCount = $rowCount + 1 )   
				<tr id="tr${programStageInstance.id}" #alternate( $mark ) >
					##rowCount
					<td>$rowCount</td>        
					##stage name
					<td>
						$encoder.htmlEncode( $programStageInstance.programStage.name )						
					</td>
					#set( $duedateId = "value_" + $programStageInstance.id + "_date" )        
					<td>        
						<input type="text" id="$duedateId" style='width:150px;' value="$!format.formatDate( $programStageInstance.dueDate )" onchange="saveDueDate( $programStageInstance.id, '$encoder.jsEncode( $programStageInstance.programStage.name )' )" />
						<script type="text/javascript">
							datePicker( '$duedateId' );
						</script> 
					</td> 
					<td>
						#set($status = $statusMap.get( $programStageInstance.id ))
						<select id="stat_$programStageInstance.id" name="status_$programStageInstance.id" style='width:150px;' onchange="setEventStatus(this, $programStageInstance.id)">
							#if($status==4)
								<option value='4' selected>$i18n.getString("overdue")</option>
								<option value='6'>$i18n.getString("skipped")</option>
							#elseif($status==3)
								<option value='3' selected>$i18n.getString("scheduled_in_future")</option>
								<option value='6'>$i18n.getString("skipped")</option>
							#else
								<option value='1'>$i18n.getString("completed")</option>
								<option value='2'>$i18n.getString("incompleted")</option>
							#end
						</select>
						<script>
							setFieldValue("stat_$programStageInstance.id", $status);
						</script>
					</td>
					<td>
						<input type='text' id='commentText' name='commentText' style="width:355px;" onkeypress="keypress(event,this,'$programStageInstance.id')">
						<input type='button' value="+" class='tiny-button' title='$i18n.getString("post_comment")' onclick="addComment(this,'$programStageInstance.id')">
					</td>
					<td>
						<a href="javascript:setFieldValue('sendToList', false);showSendSmsForm('$programStageInstance.programStage.name',$programStageInstance.id)" title='$i18n.getString( "send_sms" )'><img src="images/sms.png" alt='$i18n.getString( "send_sms" )'></a>
						#if($programStageInstance.programStage.irregular=='true' && ($status==3 || $status==4))
							<a href="javascript:removeEvent($programStageInstance.id, false)" title='$i18n.getString( "remove" )'><img src="../images/delete.png" alt='$i18n.getString( "remove" )'></a>
						#end
					</td>
				</tr>
				#set( $mark = !$mark  )
			#end
			</table>
		#end
	</div>
	
	<!-- Comments and SMS messages -->
	<div id='tab-4'>
		#parse( "/dhis-web-caseentry/eventMessage.vm" )
	</div>

	<div id='tab-5'><div id='programReportDiv'></div></div>
	
</div>

<script type="text/javascript">
	
	jQuery("#programEnrollmentInforForm").ready( function(){
		validation( 'programEnrollmentInforForm', function(form){
			saveIdentifierAndAttribute();
		});
		
		disable("dateOfIncident");
		disable("enrollmentDate");
		
	});
	
	$('#tabs').tabs();
	$( "#tabs" ).bind( "tabsselect", function(event, ui) {
		if( ui.tab.hash == '#tab-5' ){
			programReports(getFieldValue('programInstanceId'));
		}
	});
	
	if ( getFieldValue('enrollmentDate' ) == ''){	
		jQuery('#enrollBtn').attr( 'value',i18n_enroll );
	}else{
		jQuery('#enrollBtn').attr( 'value',i18n_update );
	}	
</script>
