
<h3>
 <a href="javascript:onClickBackBtn();">$i18n.getString( 'program_tracking' )</a>
 &#8226; <a href="javascript:showPatientDashboardForm( $programStageInstance.programInstance.patient.id );">$i18n.getString( 'patient_dashboard' )</a>
 &raquo; $programStageInstance.programStage.name
</h3>

<input type='hidden' id='currentUsername' name='currentUsername' value='$currentUsername'>
<input type='hidden' id='programInstanceId' name='programInstanceId' value='$programStageInstance.programInstance.id'>
#set($status = $programStageInstance.getEventStatus())
<table>
	<tr>            
		<td class="bold">$i18n.getString( "full_name" ):</td>
		<td>$programStageInstance.programInstance.patient.getFullName()<td>
	</tr>
	<tr>            
		<td class="bold">$i18n.getString( "gender" ):</td>
		<td>$programStageInstance.programInstance.patient.gender<td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString( "date_of_birth" ):</td>
		<td>$format.formatDate( $programStageInstance.programInstance.patient.birthDate )<td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString( "age" ):</td>
		<td>$programStageInstance.programInstance.patient.getAge()<td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString("phone_number")</td>
		<td>
			#if($!programStageInstance.programInstance.patient.phoneNumber && $!programStageInstance.programInstance.patient.phoneNumber!='')
				$!programStageInstance.programInstance.patient.phoneNumber
			#else
				[$i18n.getString('none')]
			#end
		</td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString("health_worker")</td>
		<td>
			#if($!programStageInstance.programInstance.patient.healthWorker )
				$!programStageInstance.programInstance.patient.healthWorker.name
			#else
				[$i18n.getString('none')]
			#end
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<div class="event-tracking-area">
				<table width='100%'>
					<tr>
						<th>$i18n.getString("reschedule_and_set_status")</th>
					</tr>
				</table>
			
				<div class="content-event-tracking-area">
					<table width='100%' id='progarmStageListDiv' name='progarmStageListDiv' >
						<tr>
							<td>$i18n.getString( "reschedule_due_date" )</td>        
							#set( $duedateId = "value_" + $programStageInstance.id + "_date" )        
							<td>        
								<input type="text" id="$duedateId" value="$!format.formatDate( $programStageInstance.dueDate )" onchange="saveDueDate( $programInstance.id, $programStageInstance.id, '$encoder.jsEncode( $programStageInstance.programStage.name )' )" />
								<input type="hidden" name="enrollmentDate" id="enrollmentDate" value="$!format.formatDate( $programInstance.enrollmentDate )">
								<input type="hidden" name="dateOfIncident" id="dateOfIncident" value="$!format.formatDate( $programInstance.dateOfIncident )">
								<script type="text/javascript">
									#if($status==1 || $status==5 )
										disable('$duedateId');
									#else
										datePicker( '$duedateId' );
									#end
								</script> 
							</td> 
						</tr>
						<tr>
							<td>$i18n.getString( "status" )</td>
							<td>
								<select id="stat_$programStageInstance.id" name="status_$programStageInstance.id" onchange="setEventStatus(this, $programStageInstance.id)">
									#if($status==4)
										<option value='4'>$i18n.getString("overdue")</option>
										<option value='5'>$i18n.getString("skipped")</option>
									#elseif($status==3)
										<option value='3'>$i18n.getString("scheduled_in_future")</option>
										<option value='5'>$i18n.getString("skipped")</option>
									#elseif($status==5)
										<option value='4'>$i18n.getString("overdue")</option>
										<option value='3'>$i18n.getString("scheduled_in_future")</option>
										<option value='5'>$i18n.getString("skipped")</option>
									#else
										<option value='1'>$i18n.getString("completed")</option>
										<option value='2'>$i18n.getString("incompleted")</option>
									#end
								</select>
								<script>
									setFieldValue("stat_$programStageInstance.id", $status);
								</script>
							</td>
						</tr>
						<tr>
							<td>$i18n.getString( "post_comment" )</td>
							<td>
								<input type='text' id='commentText' name='commentText' onkeypress="keypress(event,this,'$programStageInstance.id');">
								<input type='button' value="+" class='tiny-button' title='$i18n.getString("post_comment")' onclick="addComment( byId('commentText'),'$programStageInstance.id');">
							</td>
						</tr>
						<tr>
							<td>$i18n.getString( "message" )</td>
							<td>
								<textarea id="smsMessage" name="smsMessage" style="width:260px;height:100px;" class="{validate:{required:true,maxlength:160}}"></textarea>
								<input type="button" value="&raquo;" class='tiny-button' onclick="sendSmsOnePatient( byId('smsMessage'),'$programStageInstance.id' );"/>
							</td>
						</tr>
						<tr>
							<td></td>
							<td id="smsError" style="color:red;"></td>
						</tr>
						#if( $auth.hasAccess( "dhis-web-caseentry", "removeCurrentEncounter" ) )
						<tr>
							<td></td>
							<td>
								<input type="button" value="$i18n.getString('remove_this_event')" onclick="javascript:removeEvent($programStageInstance.id, true)" title='$i18n.getString( "remove_this_event" )' #if( $status==1 ) class='hidden' #end></a>
							</td>
						</tr>
						#end
					</table>
				</div>
			</div>
		</td>
		
		<td>
			<div class="event-tracking-area" style="width:600px;">
				<table width='100%'>
					<col width="100px"/>
					<col width="150px"/>
					<col width="80px"/>
					<col/>
					<tr>
						<th>$i18n.getString( "date" )</th>
						<th>$i18n.getString( "program_stage" )</th>
						<th>$i18n.getString( "sender" )</th>
						<th>$i18n.getString( "message" )</th>
					</tr>
				</table>
			
				<div class="content-event-tracking-area" style="width:600px;">
					<table width='100%' id='progarmStageListDiv' name='progarmStageListDiv' >
						<col width="100px"/>
						<col width="150px"/>
						<col width="80px"/>
						<col/>
						<tbody id='commentTB'>
							#set($index = 0)
							#foreach( $comment in $comments )
								#if( $index < 5 )
									<tr id="comment_$comment.id">
										<td>$format.formatDateTime($comment.createdDate)</td>
										<td>$programStageInstance.programStage.name</td>
										<td>$comment.creator</td>
										<td>$comment.commentText</td>
										#set($index = $index + 1)
									</tr>
								#end
							#end
							#foreach( $sms in $outboundSms )
								#if( $index < 5 )
									<tr id="tr${sms.id}" >
										<td>$format.formatDateTime($!sms.date)</td>
										<td>$programStageInstance.programStage.name</td>
										<td>$sms.sender</td>
										<td>$sms.message</td>
									</tr>
								#end
							#end
							#foreach( $comment in $comments )
								#if( $index >= 5 )
									<tr id="comment_$comment.id" class='hidden'>
										<td>$format.formatDateTime($comment.createdDate)</td>
										<td>$programStageInstance.programStage.name</td>
										<td>$comment.creator</td>
										<td>$comment.commentText</td>
									</tr>
								#end
							#end	
							
							#foreach( $sms in $outboundSms )
								#if( $index >= 5 )
									<tr id="tr${sms.id}" class='hidden' >
										<td>$format.formatDateTime($sms.date)</td>
										<td>$programStageInstance.programStage.name</td>
										<td>$sms.sender</td>
										<td>$sms.message</td>
									</tr>
								#end
							#end
						</tbody>
					</table>
					<br>
					#set($count = $comments.size() + $outboundSms.size() )
					<input type='button' id="showCommentBtn" name="showCommentBtn" value='$i18n.getString("show_hide_more")' #if($count && $count<=5) class='hidden' #end onclick='commentDivToggle(false);'>
					<input type='button' id="hideCommentBtn" name="hideCommentBtn" value='$i18n.getString("show_hide_more")' class='hidden' onclick='commentDivToggle(true);'>
				</div>
			</div>
		</td>
	</tr>	
</table>

<script type="text/javascript">
	jQuery(document).ready(	function(){
		setFieldValue('programStageName', "$programStageInstance.programStage.name");
		setFieldValue( "programStageInstanceId", "$!programStageInstance.id" );
	});
	
	var i18n_color_quick_help = '$encoder.jsEscape( $i18n.getString( "color_quick_help" ) , "'")';
	var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';
	var i18n_this_field_is_required = '$encoder.jsEscape( $i18n.getString( "this_field_is_required" ) , "'")';
	
</script>
