<script>
jQuery("#entryFormContainer").ready(function(){
    entryFormContainerOnReady();
});
</script>

<table> 
    <tr>            
        <td>
            <span class='bold'>$i18n.getString( "full_name" ):</span>
		</td>
		<td>
			$encoder.htmlEncode( $patient.getFullName() )
		<td>
	</tr>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "gender" ):</span>
		</td>
		<td>
			$i18n.getString( $patient.gender )
		</td>
	</tr>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "date_of_birth" ):</span>
		</td>
		<td>
			$format.formatDate( $patient.birthDate )
		</td>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "age" ):</span>
        </td>
		<td>
			$encoder.htmlEncode( $patient.getAge() )
		</td>
	</tr>
</table>

<hr style="clear:both">

<table>    
   <tr>
        <td><label for="programId">$i18n.getString( "program" )</label></td>
        <td>
			<input id="programId" name="programId" type="text" readonly="readonly" value="$encoder.htmlEncode( $program.name )" style="min-width:350px">		
		</td>
		#if( $programStageInstance )
            <td><label for="dueDate">$i18n.getString( "due_date" ) </label></td>
            <td><input type="text" id="dueDate" name="dueDate" value="$!format.formatDate( $programStageInstance.dueDate )" disabled="disabled" </td>
        #end            
    </tr>
    
    <tr>
        <td><label for="programStageId">$i18n.getString( "program_stage" )</label></td>
        <td>
			<input id="programStageId" name="programStageId" type="hidden" value="$programStage.id" style="min-width:350px">            
			<input type="text" readonly="readonly" value="$encoder.htmlEncode( $programStage.name )" style="min-width:350px">            
        </td>        
        #if( $programStageInstance )
            <td><label for="executionDate">$i18n.getString( "report_date" ) </label></td>
            <td><input type="text" id="executionDate" name="executionDate" value="$!format.formatDate( $programStageInstance.executionDate )" onchange="saveExecutionDate( $programStageInstance.id, getFieldValue('executionDate') )" >
                <script type="text/javascript">
                   datePickerValid( 'executionDate', false );
                </script>                
        #end
    </tr>   
    <tr>
		<td>&nbsp;</td>
		<td><input type="button" id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" #if($programStageInstance.executionDate) #else disabled #end>
			<input type="button" id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" style="width:12em " #if($programStageInstance.executionDate) #else disabled #end>
		</td>
		<td></td>
		<td></td>
    </tr>
	
</table>

</form>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="dataEntryFormDiv" name="dataEntryFormDiv" method="post" action="selectDataRecording.action">

<hr style="clear:both">

#parse( "dhis-web-caseentry/dataEntryForm.vm" )