<h3>$i18n.getString( "patient_registered" )</h3>

<div id='programEnrollmentSelectDiv'>

    <input type="hidden" id="patientId" name="patientId" value="$patient.id">    

	<table width='100%'>
		<tr>
			<td class='bold' style="width:100px">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )</td>
		</tr>
		<tr>
			<td class='bold'>$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>    
		<tr>
			<td class='bold'>$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate )</td>
		</tr>
		<tr>
			<td class='bold'>$i18n.getString( "age" ):</td>
			<td>$encoder.htmlEncode( $patient.getAge() )</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align='left' colspan='2'>
				<input type="button" value="$i18n.getString( "back_to_registration" )" onclick="loadPatientList();" style="width:10em">
			</td>
		</tr>
	</table>
	
	<hr/>
	<!-- TAB Header -->
	<div id="tabs">
		<ul>
			<li><a href="#tab-1">$i18n.getString("enroll_to_program")</a></li>
			<li><a href="#tab-2">$i18n.getString("register_event")</a></li>
		</ul>
		
		<!-- Enroll program TAB -->
		<div id="tab-1">
			<table width='100%'>    
				<tr>
					<td style="width:180px"><label for="programId">$i18n.getString( "program" )</label></td>
					<td>
						<select id="programId" name="programId" style='width:30.3em' onchange="showProgramEnrollmentForm('$patient.id', this.value);" style="min-width:200px" >
							<option value="0">[$i18n.getString( "select" )]</option>
							#foreach( $program in $programs )
								<option value="$program.id" singleevent='$program.singleEvent'>$encoder.htmlEncode( $program.name )</option>
							#end
						</select>
					</td>
					<td></td>
					</td></td>
				</tr>   
				<tr>
					<td><label for="enrollmentDate"><span id='enrollmentDateDescription'></span><em title="$i18n.getString( "required" )" class="required">*</em></label></td>
					<td colspan='2' align='left'><input type="text" id="enrollmentDate" name="enrollmentDate" style='width:30em' disabled="disabled" ></td>
				</tr>
				<tr>
					<td><label for="dateOfIncident"><span id='dateOfIncidentDescription'></span><em title="$i18n.getString( "required" )" class="required">*</em></label></td>
					<td colspan='2'><input type="text" id="dateOfIncident" name="dateOfIncident" style='width:30em' disabled="disabled" ></td>
				</tr>
				<tr>
					<td></td>
					<td></td>   
					<td></td>                             
				</tr>
				
				<tr>
					<td style="width:180px"></td>
					<td colspan='2'>
						<input type="button" id='enrollBtn' name='enrollBtn' value="$i18n.getString( 'enroll_to_program' )" style='width:10em' onclick="validateProgramEnrollment();" disabled='disabled'/>
					</td>
				</tr>
			</table>
			
			<div id='programEnrollmentDiv' style='display:none;'></div>
		</div>

		<!-- register-event TAB -->
		<div id="tab-2">
			<div id='dataRecordingSelectDiv' style='display:none;'></div>
			<div id='dataEntryFormDiv'  style='display:none;'></div>

		</div>
</div>

<script>
	var i18n_enroll_to_program = '$encoder.jsEscape( $i18n.getString( "enroll_to_program" ) , "'")';
	
	jQuery('#programEnrollmentSelectDiv').ready(function()
		{
			jQuery("#tabs").tabs();
			datePickerValid( 'enrollmentDate' );
			datePickerValid( 'dateOfIncident' );
			
			$( "#tabs" ).tabs( "option", "selected", 0 );
			#if($registerEvent == 'true')
				$('#tabs').bind('tabsselect', function(event, ui) {
					if( ui.index == 1 )
					{
						showSelectedDataRecoding( getFieldValue('patientId') );
					}
				});
			#else
				$("#tabs").tabs("option", "disabled", [1]);
			#end
		});
	
</script>
