<script>
jQuery("#entryFormContainer").ready(function(){
    entryFormContainerOnReady();
});
</script>

<table> 
    <tr>            
        <td>
            <span class='bold'>$i18n.getString( "full_name" ):</span>
		</td>
		<td>
			$encoder.htmlEncode( $patient.getFullName() )
		<td>
	</tr>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "gender" ):</span>
		</td>
		<td>
			$i18n.getString( $patient.gender )
		</td>
	</tr>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "date_of_birth" ):</span>
		</td>
		<td>
			$format.formatDate( $patient.birthDate )
		</td>
	<tr>
		<td>
            <span class='bold'>$i18n.getString( "age" ):</span>
        </td>
		<td>
			$encoder.htmlEncode( $patient.getAge() )
		</td>
	</tr>
</table>

<hr style="clear:both">

<table>    
   <tr>
        <td><label for="programId">$i18n.getString( "program" )</label></td>
        <td>
			<input id="programId" name="programId" type="text" readonly="readonly" value="$encoder.htmlEncode( $program.name )" style="min-width:350px">		
		</td>
		#if( $programStageInstance )
            <td><label for="dueDate">$i18n.getString( "due_date" ) </label></td>
            <td><input type="text" id="dueDate" name="dueDate" value="$!format.formatDate( $programStageInstance.dueDate )" disabled="disabled" </td>
        #end            
    </tr>
    
    <tr>
        <td><label for="programStageId">$i18n.getString( "program_stage" )</label></td>
        <td>
			<input id="programStageId" name="programStageId" type="hidden" value="$programStage.id" style="min-width:350px">            
			<input type="text" readonly="readonly" value="$encoder.htmlEncode( $programStage.name )" style="min-width:350px">            
        </td>        
        #if( $programStageInstance )
            <td><label for="executionDate">$i18n.getString( "report_date" ) </label></td>
            <td><input type="text" id="executionDate" name="executionDate" value="$!format.formatDate( $programStageInstance.executionDate )" onchange="saveExecutionDate( $programStageInstance.id, getFieldValue('executionDate') )" >
                <script type="text/javascript">
                   datePickerValid( 'executionDate', false );
                </script>                
        #end
    </tr>   
    <tr>
		<td>&nbsp;</td>
		<td><input type="button" id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" #if($programStageInstance.executionDate) #else disabled #end>
			<input type="button" id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" style="width:12em " #if($programStageInstance.executionDate) #else disabled #end>
		</td>
		<td></td>
		<td></td>
    </tr>
	
</table>

</form>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="dataEntryFormDiv" name="dataEntryFormDiv" method="post" action="selectDataRecording.action">

<hr style="clear:both">

<div id="dragDiv">
    <table id="listInfo">
        <tr><td style="text-align:left" class="bold">$i18n.getString("org_unit_name") :</td> <td style="text-align:right">$!patient.organisationUnit.name</td></tr>
        <tr><td style="text-align:left" class="bold">$i18n.getString("program_stage_name") :</td> <td style="text-align:right">$!programStageInstance.programStage.name</td></tr>
        <tr><td style="text-align:left" class="bold">$i18n.getString("datae_element_name") :</td> <td id="dataelementName" style="text-align:right"></td></tr>
    </table>
</div>

<div id="entryFormContainer" #if( $programStageInstance.executionDate ) #else style='display:none;' #end>

#if( $customDataEntryFormCode ) 
	<div id="customEntryScreenContainer">
		$customDataEntryFormCode
	</div>
#else 
	<div id='defaultEntryScreenContainer'>
		<table class="mainPageTable">
			<col id="noCol">
			<col id="deCol">    
			<col id="entryCol">
			<col id="facilityCol">       

			<tr>
				<th>$i18n.getString( "nr" )</th>
				<th>$i18n.getString( "data_element" )</th>                   
				<th>$i18n.getString( "entry" )</th>
				<th>$i18n.getString( "provided_elsewhere" )</th>             
			</tr>

		#set( $dataElementRowCount = 0 )
		#set( $mark = 0 )
		#set( $tabIndex = 1 )
		#foreach( $programStageDataElement in $programStageDataElements )
			#set( $dataElementRowCount = $dataElementRowCount + 1 )    
			#if( $mark == 1 )
				#set( $mark = 0 )
			#else
				#set( $mark = 1 )
			#end    
			#set( $patientDataValue = false )
			#set( $patientDataValue = $patientDataValueMap.get( $programStageDataElement.dataElement.id ) )    
			<tr #if( $mark == 0 ) style="background-color:#dddddd" #end>
				##dataElementRowCount
				<td style="text-align:right">$dataElementRowCount</td>        
				##data element name
				<td>
					<span id="value[$programStageDataElement.dataElement.id].name" title="$!encoder.htmlEncode( $programStageDataElement.dataElement.description )">
						$encoder.htmlEncode( $programStageDataElement.dataElement.name ) 
						#if ( $programStageDataElement.compulsory )
							<em title="$i18n.getString( "required" )" class="required">*</em>
						#end        
					</span>
				</td>        
				##type        
				<td style="display:none"><span id="value[$programStageDataElement.dataElement.id].type" style="display:none">$encoder.htmlEncode( $programStageDataElement.dataElement.getDetailedNumberType() )</span></td>       
				##entry        
				<td>        
					#if( $programStageDataElement.dataElement.type == "bool" )
						<select name="entryselect" #if($programStageInstance.completed) disabled="disabled" #end data="{compulsory: $programStageDataElement.compulsory }" id="value[$programStageDataElement.dataElement.id].boolean" onchange="saveChoice( $programStageDataElement.dataElement.id, this )"  tabindex="$tabIndex">              
							<option value="">[$i18n.getString( "select_value" )]</option>
							<option value="true" #if( $patientDataValue.value == "true" ) selected="selected" #end>$i18n.getString( "yes" )</option>
							<option value="false" #if( $patientDataValue.value == "false" ) selected="selected" #end>$i18n.getString( "no" )</option>
						</select>                              
					#elseif( $programStageDataElement.dataElement.type == "string" && $programStageDataElement.dataElement.isMultiDimensional() )
						#set( $optionValues = $optionMap.get( $programStageDataElement.dataElement.id ) )
						<select name="entryselect" data="{compulsory: $programStageDataElement.compulsory }" #if($programStageInstance.completed) disabled="disabled" #end id="value[$programStageDataElement.dataElement.id].value" onchange="saveChoice( $programStageDataElement.dataElement.id, this )" tabindex="$tabIndex">              
							<option value="">[$i18n.getString( "no_value" )]</option>
							#foreach( $optionValue in $optionValues )
								<option value="$optionValue.id" #if( $patientDataValue.value == $optionValue.id ) selected="selected" #end>$encoder.htmlEncode( $optionValue.name )</option>
							#end
						</select>
					#elseif( $programStageDataElement.dataElement.type == "date" )
						<input type="text" data="{compulsory: $programStageDataElement.compulsory }" #if($programStageInstance.completed) disabled="disabled" #end id="value[$programStageDataElement.dataElement.id].date" name="entryfield" value="$!encoder.htmlEncode( $patientDataValue.value )" onchange="saveDateValue( $programStageDataElement.dataElement.id, '$encoder.jsEncode( $programStageDataElement.dataElement.name )' )" tabindex="$tabIndex" >
							<script type="text/javascript">
								datePicker('value[$programStageDataElement.dataElement.id].date');
							</script>                    
					#else
						<input name="entryfield" data="{compulsory: $programStageDataElement.compulsory }" #if($programStageInstance.completed) disabled="disabled" #end id="value[$programStageDataElement.dataElement.id].value" type="text" value="$!encoder.htmlEncode( $patientDataValue.value )" onchange="saveValue( $programStageDataElement.dataElement.id, '$encoder.jsEncode( $programStageDataElement.dataElement.name )' )" onkeypress="return keyPress(event, this)" tabindex="$tabIndex" >
					#end
				</td>   
				##providedByAnotherFacility                
				<td>     
					#if ( $patientDataValue.value )        
						#if( !$patientDataValue.providedByAnotherFacility )
							$patientDataValue.organisationUnit.name
							<input  name="providedByAnotherFacility" id="value[$programStageDataElement.dataElement.id].providedByAnotherFacility" type="hidden" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )">
						#else
							$i18n.getString("other_facility")
							<input  name="providedByAnotherFacility" id="value[$programStageDataElement.dataElement.id].providedByAnotherFacility" type="hidden" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )">
						#end
					 #else
						<input name="providedByAnotherFacility" id="value[$programStageDataElement.dataElement.id].providedByAnotherFacility" type="checkbox" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )">
					 #end                         
				</td>    
			</tr>
			#set( $tabIndex = $tabIndex + 1 )
		#end
		</table>
	</div>
#end
</div>

	<div id="completeDataEntryFormContainer">
		<form id="completeDataEntryForm" name="completeDataEntry" method="post" action="completeProgramStageDataEntry.action"> 
			<input type="hidden" name="id" value="$patient.id"/>
			<input type="hidden" name="programId" value="$program.id"/>
			<input type="hidden" name="programStageId" value="$programStage.id"/>
			<input type="hidden" name="programStageInstanceId" value="$programStageInstance.id"/>
		</form>

	</div>
</div>

<script type="text/javascript">
    initCustomCheckboxes();
    DRAG_DIV.init(); 
	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';</script>
</script>