<table class="listTable">
	<thead>
		<tr>
		#foreach( $header in $grid.getVisibleHeaders() )
			<th #if( $header.meta )style="text-align:left"#end>$!encoder.htmlEncode( $header.name )</th>
		#end
		</tr>
	</thead>

	<tbody>  
		#set( $mark = false )
		#set( $flag = 0 )
		#foreach( $row in $grid.getVisibleRows() )
			<tr #alternate($mark)>
				#foreach( $col in $row )
					#set( $index = ( $velocityCount - 1 ) )
					#if( $grid.getVisibleHeaders().get( $index ).meta )
						<td >$!encoder.htmlEncode( $col )</td>
					#else 
						<td>$!col</td>
					#end
				#end
			</tr>
		#end
		#set( $mark = !$mark)
	</tbody>
</table>