<script>
	jQuery(document).ready(	function(){
		showById('programAddPatientTR');
		showById('programStageAddPatientTR');
		showById('sendSmsToListBtn');
		jQuery("#programIdAddPatient option").each(function(){
			var item = jQuery(this);
			if( item.attr('type')!=1 && item.val()!='' ){
				item.remove();
			}
		});
		
		jQuery("#searchObjectId [value=prg]").remove();
		jQuery("#searchObjectId").prepend('<option value="-100">' + i18n_please_select_criteria + '</option>');
		jQuery("#searchObjectId [value=]").attr("selected","selected");
		hideById('addPatientBtn');
		disable('advancedSearchBtn');
		setFieldValue('searchByProgramStage', 'true');
		setFieldValue('hideLink', 'true');
		showById('dueDateTR');
	});	
</script>

<h3>$i18n.getString( "program_tracking" )</h3>
<form>
	<input type='hidden' id='isRegistration' name= 'isRegistration' value='false'>
	<input type='hidden' id='listAll' name='listAll'>
	<input type='hidden' id='sendToList' name='sendToList'>
	<input type='hidden' id='programStageInstanceId' name='programStageInstanceId' value='$programStageInstance.id'>
	<input type='hidden' id='programStageName' name='programStageName'>
	<div id='searchDiv'>
		#parse( "dhis-web-caseentry/searchPatientCriteria.vm" )	
	</div>
</form>

<div id='listPatientDiv'></div>
<div id='patientProgramTrackingDiv'></div>
<div id='smsManagementDiv'></div>
<div id='sendSmsFormDiv'></div>
#parse( "dhis-web-commons/loader/loader.vm" )

<div class='hidden'>
	<input type='textbox' id='currentDate' name='currentDate'>
	<script>
		datePickerValid( 'currentDate', true );
	</script>
</div>

<script>
	unSave = false;
	var i18n_sms_message_management = '$encoder.jsEscape( $i18n.getString( "sms_message_management" ) , "'")';
	var i18n_send_sms = '$encoder.jsEscape( $i18n.getString( "send_sms" ) , "'")';
	var i18n_please_select = '[' + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")' + ']';
	var i18n_specify_search_criteria = '$encoder.jsEscape( $i18n.getString( "specify_search_criteria" ) , "'")';
	var i18n_color_quick_help = '$encoder.jsEscape( $i18n.getString( "color_quick_help" ) , "'")';
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'")';
	var i18n_please_select_program_stage = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_program_stage" ) , "'")' + ']';
	var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';
	var i18n_update = '$encoder.jsEscape( $i18n.getString( "update" ) , "'")';
	var i18n_comfirm_delete_event = '$encoder.jsEscape( $i18n.getString( "comfirm_delete_event" ) , "'")';
	var i18n_please_select_criteria = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_criteria" ) , "'")' + ']';
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y= date.getFullYear();
	
	var newDate = jQuery.datepicker.formatDate( dateFormat, new Date(y-100, m, d) ) ;
	jQuery('#startDueDate').datepicker('setDate', newDate);
	newDate = jQuery.datepicker.formatDate( dateFormat, new Date(y, m, d-1) ) ;
	jQuery('#endDueDate').datepicker('setDate', newDate);
</script>
