
<a href="index.action"><h2>$i18n.getString( "registration" )&nbsp;</h2></a>

<ul>
	<li><a href="patient.action">$i18n.getString( "patient_registration" )</a></li>
	<li><a href="anonymousRegistration.action">$i18n.getString( "event_registration" )</a></li>
</ul>

<br>

#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )
