#set( $size = $psDataElements.size() )
{ "dataElements": [
#foreach( $psDataElement in $psDataElements )
  {
    "id": $!{psDataElement.dataElement.id},
    "name": "$encoder.xmlEncode(${psDataElement.dataElement.name} )"
  }#if( $velocityCount < $size ),#end
	#end]
}
