#set( $size = $programs.size() )
{ 
"programs": [
	#foreach( $program in $programs )
	  {
		"id":  ${program.id} ,
		"name": "$!encoder.jsonEncode( ${program.name} )",
		"anonymous": "$program.anonymous"
	  }#if( $velocityCount < $size ),#end
	#end]
}