<?xml version="1.0" encoding="UTF-8"?>
<patient>
  <id>$patient.id</id>  
  <relationshipTypeId>$relationshipTypeId</relationshipTypeId>
  #foreach( $attributeValue in $patient.attributeValues )
  	#if( $attributeValue.patientAttribute )
	     <identifier>    
	     	<identifierTypeId>$attributeValue.patientAttribute.id</identifierTypeId>    
	        <identifierText>$encoder.xmlEncode( $attributeValue.value )</identifierText>
	     </identifier>
     #end
  #end
</patient>
