<table style="margin-bottom:8px">    
	<tr>
		<td>
			<label>$i18n.getString( "registering_unit" )</label>
		</td>
		<td>
			<input type="text" id='orgunitName' readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( "please_select_village" )]" #end style="min-width:350px">
		</td>
		<td>
			<input type="button" class='large-button' id='listPatientBtn' value="$i18n.getString( 'list_all_patients' )" onclick="javascript:listAllPatient();" #if($organisationUnit) #else disabled #end>
		</td>        
	</tr> 
</table>

<table id='advancedSearchTB'>	
	<tbody>
		<tr id='advSearchBox0'>	       
			<td id='searchingAttributeIdTD'>
			  <select id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
				<option value="">$i18n.getString( "search_by_name_identifier" )</option>
				<option value="0">$i18n.getString( "search_by_program" )</option>
				<option value="-1">$i18n.getString( "date_of_birth" )</option>
				<option value="-2">$i18n.getString( "gender" )</option>
				<!-- option value="-3">$i18n.getString( "age" )</option -->
				<option value="-4">$i18n.getString( "phone_number" )</option>
				#foreach( $attribute in $patientAttributes )
					<option value="$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.name )</option>
				#end
			  </select>
			  <em title="$i18n.getString( "required" )" class="required">*</em></label>
			</td>		
			<td>
				<input type="text" id="searchText" name="searchText" value="$!searchText" onkeyup='searchPatientsOnKeyUp( event );' style='margin-right:30px;'>
			</td>	
			<td></td>
			<td><input type="button" class='small-button' value='+' onclick='addAttributeOption();'>
				<td>
					$i18n.getString('search_by_selected_unit')
					<input type='checkbox' id='searchBySelectedOrgunit' name='searchBySelectedOrgunit' value='true' />
				</td>
				<td>
					<input type="button" class='large-button' value='$i18n.getString( "search" )' onclick='validateAdvancedPatients();'>
				</td>
			</td>
		</tr>
	</tbody>
</table>