
#set( $mark = false )
#set( $i = 1 )

#foreach( $row in $grid.getRows() )
	<tr id="tr${i}" class='rowGrid'>
		<td>
			#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
			$nr
		</td>
		#foreach( $col in $row )
			<td>
				$!encoder.htmlEncode( $col )
			</td>
		#end
	</tr>
	#set( $mark = !$mark)
#end
