
#set( $mark = false )
#set( $i = 1 )

#set( $anonymous = "true")
#if( $grid.getVisibleHeaders().size() <  $grid.getHeaders().size() )
	#set( $anonymous = "false" )
#end

#foreach( $row in $grid.getRows() )
	<tr id="tr${i}" class='rowGrid'>
		<td>
			#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
			$nr
		</td>
		#foreach( $col in $row )
			<td>
				#set( $index = ( $velocityCount - 1 ) )
				#if( $anonymous == "false" && ( $index == $row.size() - 1 ) )
					#if($col)
					<a href="javascript:showPatientHistory( '$col' )" title='$i18n.getString( "patient_details_and_history" )'><img src="../images/information.png" alt='$i18n.getString( "patient_details_and_history" )'></a>
					#end
				#else
					$!encoder.htmlEncode( $col )
				#end
			</td>
		#end
	</tr>
	#set( $mark = !$mark)
#end
