<script type="text/javascript">
	jQuery(document).ready(	function(){
		$('#tabs').tabs();
		validation( 'sendSMSForm', function(form){
			sendSMS();
		});
	});
</script>

#if ( $!gatewayMap && $!gatewayMap.size() > 0 )
	<form id="sendSMSForm" name="sendSMSForm" action="sendSMS.action">
		<table>
			<tbody>
				<tr>
					<td>$i18n.getString( "gateway_type" )</td>
					<td>
						#set( $keys = $!gatewayMap.keySet() )
						<select id="gatewayId" name="gatewayId">
							#foreach( $key in $!keys )
							<option value="$gatewayMap.get( $key )">$i18n.getString( $key )</option>
							#end
						</select>
					</td>
				</tr>
				
				<tr>
					<td>$i18n.getString( "message" )</td>
					<td><textarea id="smsMessage" name="smsMessage" style="width:260px;height:100px;" class="{validate:{required:true}}"></textarea></td>
				</tr>
			
				<tr>
					<td></td>
					<td><input type="submit" name="send" value="$i18n.getString( 'send_sms' )" onclick="jQuery('#sendSmsFormDiv').dialog('close')"/></td>
				</tr>
				
			</tbody>
		</table>
	</form>
	<div class='hidden'>
		<input type='hidden' id='currentDate'>
		<script>
			datePickerValid( 'currentDate', true );
		</script>
	</div>
#else
	<p>$i18n.getString('no_sms_service_available')</p>
#end
