<script type="text/javascript">
	jQuery(document).ready(	function(){
		$('#tabs').tabs();
		validation( 'sendSMSForm', function(form){
			sendSMS();
		});
	});
</script>

<form id="sendSMSForm" name="sendSMSForm" action="sendSMS.action">
	<table>
		<tbody>
			<tr>
				<td>$i18n.getString( "message" )</td>
				<td><textarea id="smsMessage" name="smsMessage" style="width:260px;height:100px;" class="{validate:{required:true,maxlength:160}}"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="$i18n.getString( 'send_sms' )"/>
					<input type="button" value="$i18n.getString( 'cancel' )" onclick="jQuery('#sendSmsFormDiv').dialog('close')"/>
				</td>
			</tr>
			
		</tbody>
	</table>
</form>
<div class='hidden'>
	<input type='hidden' id='currentDate'>
	<script>
		datePickerValid( 'currentDate', true );
	</script>
</div>