<script type="text/javascript">
	jQuery(document).ready(	function(){
		validation( 'sendSMSForm', function(form){
			sendSMS();
		});
	});
</script>

#if ( $!gatewayMap && $!gatewayMap.size() > 0 )
<form id="sendSMSForm" name="sendSMSForm" action="sendSMS.action">
	<table id="detailsList">
	    <col width="300px"/>
		<col width="80px"/>
		<tbody>
			<tr>
				<th>$i18n.getString( "gateway_type" )</th>
			</tr>
			<tr>
				<td>
					#set( $keys = $!gatewayMap.keySet() )
					<select id="gatewayId" name="gatewayId">
						#foreach( $key in $!keys )
						<option value="$gatewayMap.get( $key )">$i18n.getString( $key )</option>
						#end
					</select>
				</td>
			</tr>
			
			<tr><th>$i18n.getString( "message" )</th></tr>
			<tr><td><textarea id="smsMessage" name="smsMessage" class="{validate:{required:true}}"></textarea></td></tr>
		
			<tr>
				<td><input type="submit" name="send" value="$i18n.getString( 'send_sms' )"/></td>
			</tr>
			
		</tbody>
	</table>
</form>
	<div class='hidden'>
		<input type='hidden' id='currentDate'>
		<script>
			datePickerValid( 'currentDate', true );
		</script>
	</div>
</div>
#else
<p>No Sms service available</p>
#end