<table>
	<tr>
		<td class='text-column' >$i18n.getString( "search_result_matching_the_search_criteria" ):</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>
		#if($!listAll)
			$i18n.getString( "list_all_patients" )
		#else
			$i18n.getString( "advanced_search_patients" )
		#end
		</td>
	</tr>	
	
	<tr>
		<td class='text-column' >$i18n.getString( "total_result" ):</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$!total</td>
	</tr>
</table>

#if( $patients && $patients.size()>0 )
	<p>#parse( "/dhis-web-caseentry/colorHelp.vm" )</p>
	
	<table class="listTable mainPageTable" id="patientList">
		#set( $mark = false )                 
		#foreach( $patient in $patients )
			#set( $programInstance = '')
			#set( $programInstance = $programInstanceMap.get( $patient ) )
				<tr #alternate( $mark )>
					<td>
						<input type='button' class='patient-object' value='$patient.getFullName()' onclick='javascript:showPatientHistory( "$patient.id" );' title='$i18n.getString( "patient_details_and_history" )'>
					</td>
					#if($!programStageInstanceMap.get($programInstance))
						#set($programStageInstances = $programStageInstanceMap.get($programInstance) )
					<td>
						<table class="stage-container">	
							<tr>
								<td>
									<div class="arrow-left" onclick="moveLeft('flow_$programInstance.id')">&nbsp;</div>
								</td>
								<td class='stage-flow'>
									<div id='flow_$programInstance.id' class='stage-flow'><table class="stage-flow">
										<tr>
										#set( $flag = "false" )
										#foreach( $programStageInstance in $programStageInstances )
											<td>
												<img src='images/rightarrow.png'>
											</td>
											<td>
												<table class='stage-object'>
													<tr>
														<td><input type='button' id='ps_$programStageInstance.id' name='programStageBtn' programStageInstanceId='$programStageInstance.id' programStageId='$programStageInstance.programStage.id' status="$statusMap.get( $programStageInstance.id )" class='stage-object' value='$programStageInstance.programStage.name $format.formatDate( $programStageInstance.dueDate )' onclick='javascript:getOutboundSmsList( $programStageInstance.id, false );'></td>
														<script>
															var status = $statusMap.get( $programStageInstance.id ); 
															var programStageId = '$programStageInstance.programStage.id';
															var dueDate = '$programStageInstance.dueDate';
															var flag = "$flag"
															setEventColorStatus( 'ps_' + $programStageInstance.id ,status);
														
															if( status == getFieldValue('statusEvent') 
																&& programStageId == getFieldValue('programStageAddPatient')
																&& dueDate >= getFieldValue('startDueDate') && dueDate <= getFieldValue('endDueDate') 
																&& flag == "false")
															{
																jQuery("#ps_$programStageInstance.id").addClass("stage-object-selected");
																#set( $flag = "true" )
															}
														</script>
													</tr>
													<tr>
														<td>
															<img src='images/sms.png' title="$i18n.getString('send_sms')" onclick="getOutboundSmsList( $programStageInstance.id, true );" style='cursor:pointer;'/>
															<span id='noMessageDiv_$programStageInstance.id'>$programStageInstance.outboundSms.size()</span> $i18n.getString('messages')
														</td>
													</tr>
												</table>
											</td>
										#end
										</tr>
									</table></div>
								</td>
								
								<td>
									<div class="arrow-right" onclick="moveRight('flow_$programInstance.id')">&nbsp;</div>
								</td>
							</tr>
						</table>
					</td>
					#end
				</tr>
			#if( $mark )
				#set( $mark = false )
			#else
				#set( $mark = true )
			#end 
		#end
	</table>
	
	<div class="paging-container">
		#parse( "/dhis-web-commons/paging/paging.vm" )
	</div>
	
	<div id="detailsInfo"></div>
#end

<script>
	/* #if($!listAll)
	#else
		var programId = jQuery("#programIdAddPatient").val();
		var programStageId = jQuery("#programStageAddPatient").val();
		var status = jQuery('#programStageAddPatientTR [id=statusEvent]').val();
		jQuery("#patientList [programStageId=" + programStageId + "][status=" + status + "]" ).addClass("stage-object-selected");
	#end */
</script>
