<script type="text/javascript">
	jQuery(document).ready(	function(){
		$('#smsManagementForm').tabs();
		validation( 'sendSMSForm', function(form){
			sendSMS();
		});
	});
</script>

<h4>$i18n.getString( "sms_message_management" )</h4>
<input type='hidden' id='currentUsername' name='currentUsername' value='$currentUsername'>
<table class="mainPageTable">
	<tr>            
		<td class="bold">$i18n.getString( "full_name" ):</td>
		<td>$encoder.htmlEncode( $programStageInstance.programInstance.patient.getFullName() )( $programStageInstance.programInstance.patient.gender )<td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString( "date_of_birth" ):</td>
		<td>$format.formatDate( $programStageInstance.programInstance.patient.birthDate ) $programStageInstance.programInstance.patient.getAge()<td>
	</tr>
	<tr>
		<td class="bold" valign='top'>$i18n.getString('comments'):</td>
		<td colspan='2'>
			<div class="comment-table" style='max-height:150px;'>
				<table id='commentTB'>
					#if( $comments.size() > 0 )
						#foreach( $comment in $comments )
							<tr id="comment_$comment.id">
								<td>$format.formatDate($comment.createdDate) - $comment.creator - $comment.commentText</td>
							</tr>
						#end
					#else
						<tr><td>$i18n.getString("no_comment")</td></tr>
					#end
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td class="bold">$i18n.getString('post_comment'):</td>
		<td>
			<input type='textbox' id='commentText' name='commentText' style="width:320px;" onkeypress="keypress(event,'$programStageInstance.id')">
			<input type='button' value="+" class='tiny-button' onclick="addComment('$programStageInstance.id')">
		</td>
	</tr>
</table>

<div id="smsManagementForm">
	<ul>
		<li><a href="#tab-1">$i18n.getString("send_sms")</a></li>
		<li><a href="#tab-2">$i18n.getString("sms_reminder_list")</a></li>
	</ul>
	<div id="tab-1">
		#parse( "/dhis-web-caseentry/sendSmsForm.vm" )
	</div>
	
	<div id="tab-2">
		<table class="mainPageTable">
			<col width="160px"/>
			<col/>
			<tr>
				<th>$i18n.getString( "date" )</th>
				<th>$i18n.getString( "message" )</th>
			</tr>
			<tbody id='smsManagementList'>	
				  #set( $mark = false )
				  #foreach( $sms in $outboundSms )
					<tr id="tr${sms.id}" #alternate($mark) >
						<td>$format.formatDate($!sms.date)</td>
						<td>$sms.message</td>
					</tr>
					#set( $mark = !$mark)
				#end
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(	function(){
		var i18n_color_quick_help = '$encoder.jsEscape( $i18n.getString( "color_quick_help" ) , "'")';
		var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';
		setFieldValue( "programStageInstanceId", "$!programStageInstance.id" );
	});
</script>
