<status>
	<code>$statusCode</code>
	<validations>
		#foreach($validation in $resultValidation)
				<validation>$validation.description</validation>
		#end
	</validations>
	<message>$message</message>
</status>
