<script>
	jQuery(document).ready(	function(){
		validation2( 'reportForm', function(form){
			validateTabularReport();
		}, {
			'beforeValidateHandler' : function()
			{
				listValidator( 'memberDEValidator', 'dataElementIds' );
			}
		} ); 
		
		datePickerInRange( 'startDate' , 'endDate' );	
	});		
</script>

<h3>$i18n.getString( "tabular_report" )</h3>
<form id="reportForm" name="reportForm" method="post">
<p><input type="button" value="$i18n.getString('data')" onclick="showCriteria();" ></p>

<div class="inputCriteria" id='criteriaDiv' style="width:900px;height:590px;margin-bottom:20px;">

<table>	

    <tr>
	  <td><label>$i18n.getString( "orgunit_boundary" )</label></td>
	  <td colspan='2'><input type="text" readonly="readonly" id='orgunitname' name='orgunitname' #if($!orgunit) value="$!orgunit.name" #else value="[$i18n.getString( 'select' )]" #end ></td>
    </tr>
	
    <tr>
		<td>
		   $i18n.getString( "use_data_from_level" )
		</td>
		<td>
			<select id="facilityLB" name="facilityLB">
				<option value="all" selected="selected" >$i18n.getString( "all" )</option>
				<option value="childrenOnly" >$i18n.getString( "children_only" )</option>
				<option value="selected" >$i18n.getString( "selected_boundary" )</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td>
		   $i18n.getString( "include_parent_orgunits_starting_from_level" )
		</td>
		<td>
			<select id="level" name="level">
				#foreach( $level in $levels )
					<option value="$level.level">$i18n.getString( "level" ) $level.level</option>
				#end
			</select>
		</td>
	</tr>
	
	<tr>
        <td><label>$i18n.getString( "start_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
            <input type="text" id="startDate" name="startDate" />
		</td>
    </tr>
    
    <tr>
        <td><label>$i18n.getString( "end_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
            <input type="text" id="endDate" name="endDate" />
        </td>      
    </tr>
	
	<tr>
		<td><label>$i18n.getString( "program" )</label></td>
		<td>
            <select id="programId" name="programId" #if($!programs) #else disabled #end onchange='getTabularParams();'>
				<option value=''>[$i18n.getString('please_select')]</option>
				#foreach( $program in $programs )
				<option value='$program.id' singleevent='$program.singleEvent'>$program.name</option>
				#end
			</select>
        </td>
    </tr>
    
</table>

<p></p>
<table width='100%'>
	<tr onclick='toogleTB("idenTB")' style='cursor:pointer'>
		<th>$i18n.getString( "available_identifier_types" )</td>
		<th>$i18n.getString( "filter" )</th>
		<th>$i18n.getString( "selected_identifier_types" ) <em title="$i18n.getString( 'required' )" class="required">*</em></td>
	</tr>
	
	<tbody id='idenTB' style='display:none;'>
		<tr>
			<td>
				<input type='text' id='searchAvailableIdenText' onkeyup="filterDE(event, this.value, 'searchAvailableIdenText');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchAvailableIdenText', '');" style="width:60px" >
			</td> 
			<td></td>
			<td>
				<input type='text' id='searchSelectedIdenText' onkeyup="filterDE(event, this.value, 'searchSelectedIdenText');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchSelectedIdenText', '');" class="button" >
			</td>		
		</tr>
		
		<tr>
			<td>
				<select id="availableIdenIds" name="availableAttrIds" multiple='true' size='16' ondblclick="moveSelectedById( 'availableIdenIds', 'selectedIdenIds' )" ></select>
			</td>      
			<td> 
				<input type="button" value="$i18n.getString( '>' )" title="$i18n.getString( 'add_selected' )" onclick="moveSelectedById( 'availableIdenIds', 'selectedIdenIds' )" class="button" />
				<input type="button" value="$i18n.getString( '>>' )" title="$i18n.getString( 'add_all' )" onclick="moveAllById( 'availableIdenIds', 'selectedIdenIds' )" class="button" /> <br>
				<input type="button" value="$i18n.getString( '<' )" title="$i18n.getString( 'remove_selected' )" onclick="moveSelectedById( 'selectedIdenIds', 'availableIdenIds' )" class="button" />
				<input type="button" value="$i18n.getString( '<<' )" title="$i18n.getString( 'remove_all' )" onclick="moveAllById( 'selectedIdenIds', 'availableIdenIds' )" class="button" />
			</td>
			<td>
				<select id="selectedIdenIds" name="selectedIdenIds" multiple='true' size='16' ondblclick="moveSelectedById( 'selectedIdenIds', 'availableIdenIds' )" ></select>
			</td> 
			<td>
				<a href="javascript:moveUpSelectedOption('selectedIdenIds')"><img src="../images/move_up.png"/></a><br/><br/>
				<a href="javascript:moveDownSelectedOption('selectedIdenIds')"><img src="../images/move_down.png"/></a><br/><br/>
			</td>  			
		</tr>
	
	</tbody>
	
	<tr onclick='toogleTB("attrTB")' style='cursor:pointer'>
		<th>$i18n.getString( "available_attribute" )</td>
		<th>$i18n.getString( "filter" )</th>
		<th>$i18n.getString( "selected_attribute" ) <em title="$i18n.getString( 'required' )" class="required">*</em></td>
	</tr>
		
	<tbody id='attrTB' style='display:none;'>
		
		<tr>
			<td>
				<input type='text' id='searchAvailableAttrText' onkeyup="filterDE(event, this.value, 'searchAvailableAttrText');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchAvailableAttrText', '');" style="width:60px" >
			</td> 
			<td></td>
			<td>
				<input type='text' id='searchSelectedAttrText' onkeyup="filterDE(event, this.value, 'searchSelectedAttrText');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchSelectedAttrText', '');" class="button" >
			</td>		
		</tr>
		
		<tr>
			<td>
				<select id="availableAttrIds" name="availableAttrIds" multiple='true' size='16' ondblclick="moveSelectedById( 'availableAttrIds', 'selectedAttrIds' )" ></select>
			</td>      
			<td> 
				<input type="button" value="$i18n.getString( '>' )" title="$i18n.getString( 'add_selected' )" onclick="moveSelectedById( 'availableAttrIds', 'selectedAttrIds' )" class="button" />
				<input type="button" value="$i18n.getString( '>>' )" title="$i18n.getString( 'add_all' )" onclick="moveAllById( 'availableAttrIds', 'selectedAttrIds' )" class="button" /> <br>
				<input type="button" value="$i18n.getString( '<' )" title="$i18n.getString( 'remove_selected' )" onclick="moveSelectedById( 'selectedAttrIds', 'availableAttrIds' )" class="button" />
				<input type="button" value="$i18n.getString( '<<' )" title="$i18n.getString( 'remove_all' )" onclick="moveAllById( 'selectedAttrIds', 'availableAttrIds' )" class="button" />
			</td>
			<td>
				<select id="selectedAttrIds" name="selectedAttrIds" multiple='true' size='16' ondblclick="moveSelectedById( 'selectedAttrIds', 'availableAttrIds' )" ></select>
			</td> 
			<td>
				<a href="javascript:moveUpSelectedOption('selectedAttrIds')"><img src="../images/move_up.png"/></a><br/><br/>
				<a href="javascript:moveDownSelectedOption('selectedAttrIds')"><img src="../images/move_down.png"/></a><br/><br/>
			</td>  			
		</tr>
	</tbody>
	
	<tr onclick='toogleTB("deTB")' style='cursor:pointer'>
		<th>$i18n.getString( "available_data_elements" )</td>
		<th>$i18n.getString( "filter" )</th>
		<th>$i18n.getString( "selected_data_elements" ) <em title="$i18n.getString( 'required' )" class="required">*</em></td>
	</tr>
	
	<tbody id='deTB' style='display:none;'>
	
		<tr>
			<td>
				<select id="programStageId" name="programStageId" onchange='loadDataElements();'></select>
			</td>      
		</tr>
		
		<tr>
			<td>
				<input type='text' id='searchAvailableDEText' onkeyup="filterDE(event, this.value, 'availableDataElementIds');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchAvailableDEText', '');" style="width:60px" >
			</td> 
			<td></td>
			<td>
				<input type='text' id='searchSelectedDEText' onkeyup="filterDE(event, this.value, 'dataElementIds');"/>
				<input type="button" value="$i18n.getString( 'clear' )" onclick="setFieldValue('searchSelectedDEText', '');" class="button" >
			</td>		
		</tr>
		
		<tr>
			<td>
				<select id="availableDataElementIds" name="availableDataElementIds" multiple='true' size='16' ondblclick="moveSelectedById( 'availableDataElementIds', 'dataElementIds' )" ></select>
			</td>      
			<td> 
				<input type="button" value="$i18n.getString( '>' )" title="$i18n.getString( 'add_selected' )" onclick="moveSelectedById( 'availableDataElementIds', 'dataElementIds' )" class="button" />
				<input type="button" value="$i18n.getString( '>>' )" title="$i18n.getString( 'add_all' )" onclick="moveAllById( 'availableDataElementIds', 'dataElementIds' )" class="button" /> <br>
				<input type="button" value="$i18n.getString( '<' )" title="$i18n.getString( 'remove_selected' )" onclick="moveSelectedById( 'dataElementIds', 'availableDataElementIds' )" class="button" />
				<input type="button" value="$i18n.getString( '<<' )" title="$i18n.getString( 'remove_all' )" onclick="moveAllById( 'dataElementIds', 'availableDataElementIds' )" class="button" />
			</td>
			<td>
				<select id="dataElementIds" name="dataElementIds" multiple='true' size='16' ondblclick="moveSelectedById( 'dataElementIds', 'availableDataElementIds' )" ></select>
				<select id="memberDEValidator" multiple="multiple" class="{validate:{required:true}} hidden"/>
			</td> 
			<td>
				<a href="javascript:moveUpSelectedOption('dataElementIds')"><img src="../images/move_up.png"/></a><br/><br/>
				<a href="javascript:moveDownSelectedOption('dataElementIds')"><img src="../images/move_down.png"/></a><br/><br/>
			</td>  			
		</tr>
   </tbody>
   
    <tr><td><p></p></td></tr>
	<tr>
    	<td>
			<input type="submit" id='generateBtn' name='generateBtn' #if($!programs) #else disabled #end value="$i18n.getString( 'generate' )" />
    		<input type="button" value="$i18n.getString( 'cancel' )" onclick="hideCriteria();" />
    	</td>
    </tr>	                		
</table>

</div>

</form>

<span id="message"></span>
<div id="detailsInfo"></div>

<div id="contentDiv">
</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<script type="text/javascript">   
    var i18n_report_generation_failed = '$encoder.jsEscape( $i18n.getString( "report_generation_failed" ), "'")';    
	var i18n_please_select_a_program = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_a_program" ), "'")' + ']'; 
	var i18n_reports = '$encoder.jsEscape( $i18n.getString( "reports" ), "'")';    	
	var i18n_please_select = "[" + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'" )' + "]";
	var i18n_show_all_items = "[" + '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'" )' + "]";
	var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
	var i18n_syntax_error_in_search_value = '$encoder.jsEscape( $i18n.getString( "syntax_error_in_search_value" ) , "'")';
	var i18n_remove_selected_data_elements = '$encoder.jsEscape( $i18n.getString( "remove_selected_data_elements" ) , "'")';
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';
	var i18n_please_select_a_program_stage = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_a_program_stage" ), "'")' + ']'; 
</script>   
