<script>
	$(document).ready(function() {
		entryFormContainerOnReady();
	});
</script>

<h3>$!encoder.htmlEncode( $grid.title )</h3>

<div>
<input type="button" value="$i18n.getString( 'get_report_as_xls' )" onclick="exportTabularReport( 'xls' )" class="button" >
<input type="button" value="$i18n.getString( 'get_report_as_pdf' )" onclick="exportTabularReport( 'pdf' )" class="button" >
</div>

<h5>$!encoder.htmlEncode( $grid.subtitle )</h5>

<table class="listTable grid" id='gridTable'>
	<tr>
		<th>#</th>
		#foreach( $dataElement in $dataElements )
			<th>
				$!encoder.htmlEncode( $dataElement.name )
			</th>
		#end
	</tr>
	<tr>
		<td></td>
		#foreach( $dataElement in $dataElements )
			<td>
				<input type='text' id='$dataElement.id' title='$i18n.getString("how_to_search_tabular_report")' onkeypress='searchTabularReport( event );' #if($dataElement.optionSet) options='$dataElement.optionSet.options' #end />
			</td>
		#end
	</tr>
	
	<tbody id="gridContent">
		#parse( "/dhis-web-caseentry/searchTabularReportResult.vm" )
	</tbody>
	
</table>

#parse( "dhis-web-commons/loader/loader.vm" )

<p></p>

<div class="paging-container" id='pagingDiv'>
	#parse( "/dhis-web-commons/paging/paging.vm" )
</div>

<div id='viewRecordsDiv'></div>