<script>
	jQuery(document).ready(	function(){
		validation( 'reportForm', function(form){
			loadGeneratedReport();
		}); 
	});		
</script>

<h3>$i18n.getString( "tabular_report" )</h3>
<form id="reportForm" name="reportForm" method="post">
<p><input type="button" value="$i18n.getString('data')" onclick="showCriteria();" style="width:150px;" ></p>

<div class="inputCriteria" id='criteriaDiv' style="width:550px;height:460px;margin-bottom:20px;">

<table>	
    <tr>
	  <td><label>$i18n.getString( "orgunit_boundary" )</label></td>
	  <td colspan='2'><input type="text" readonly="readonly" id='orgunitname' name='orgunitname' #if($!orgunit) value="$!orgunit.name" #else value="[$i18n.getString( 'select' )]" #end ></td>
    </tr>
	
    <tr>
		<td>
		   $i18n.getString( "orgunit_level" )
		</td>
		<td>
			<select id="facilityLB" name="facilityLB" style="width: 30em">
				<option value="selected" selected="selected">$i18n.getString( "selected" )</option>
				<option value="childrenOnly" >$i18n.getString( "children_only" )</option>
				<option value="all">$i18n.getString( "all" )</option>
			</select>
		</td>
	</tr>
	
	<tr>
        <td><label>$i18n.getString( "start_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
            <input type="text" id="startDate" name="startDate" class="{validate:{required:true}}" />
			<script type="text/javascript">
				datePicker('startDate');
            </script>  	
        </td>
    </tr>
    
    <tr>
        <td><label>$i18n.getString( "end_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
            <input type="text" id="endDate" name="endDate" class="{validate:{required:true}}" />
            <script type="text/javascript">
				datePicker('endDate');
            </script> 				
        </td>      
    </tr>
	
    <tr>
        <td><label for="programId">$i18n.getString( "program" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
            <select id="programId" name="programId" #if($!programs) #else disabled #end class="{validate:{required:true}}" onchange='loadProgramStages();'>
				<option value=''>[$i18n.getString('please_select')]</option>
				#foreach( $program in $programs )
				<option value='$program.id' singleevent='$program.singleEvent'>$program.name</option>
				#end
			</select>
        </td>
    </tr>
        
    
	<tr>
        <td><label>$i18n.getString( "program_stage" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
			<select id="programStageId" name="programStageId" class="{validate:{required:true}}" onchange='loadDataElements();'></select>
        </td>      
    </tr>
	
	<tr>
		<td><label>$i18n.getString( "available_data_elements" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan='2'>
			<select id="availableDataElementIds" name="availableDataElementIds" multiple size='6' ondblclick="moveSelectedById( 'availableDataElementIds', 'dataElementIds' )" ></select>
        </td>      
    </tr>
	
	<tr>
        <td></td>
		<td> <input type="button" value="$i18n.getString( 'add_selected' )" title="$i18n.getString( 'add_selected' )" style="width:120px" onclick="moveSelectedById( 'availableDataElementIds', 'dataElementIds' )" />
            <input type="button" value="$i18n.getString( 'add_all' )" title="$i18n.getString( 'add_all' )" style="width:120px" onclick="moveAllById( 'availableDataElementIds', 'dataElementIds' )" /> <br>
            <input type="button" value="$i18n.getString( 'remove_selected' )" title="$i18n.getString( 'remove_selected' )" style="width:120px" onclick="moveSelectedById( 'dataElementIds', 'availableDataElementIds' )" />
            <input type="button" value="$i18n.getString( 'remove_all' )" title="$i18n.getString( 'remove_all' )" style="width:120px" onclick="moveAllById( 'dataElementIds', 'availableDataElementIds' )" />
        </td>
    </tr>
	
	<tr>
		<td><label>$i18n.getString( "selected_data_elements" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td>
			<select id="dataElementIds" name="dataElementIds" multiple size='6' class="{validate:{required:true}}" ondblclick="moveSelectedById( 'dataElementIds', 'availableDataElementIds' )" ></select>
        </td> 
		<td style="width:30px; text-align:center">
            <a href="javascript:moveUpSelectedOption('dataElementIds')"><img src="../images/move_up.png"/></a><br/><br/>
            <a href="javascript:moveDownSelectedOption('dataElementIds')"><img src="../images/move_down.png"/></a><br/><br/>
        </td>  			
    </tr>
   
	    
	<tr>
    	<td></td>
    	<td><input type="submit" id='generateBtn' name='generateBtn' #if($!programs) #else disabled #end value="$i18n.getString( 'generate' )" />
    		<input type="button" value="$i18n.getString( 'cancel' )" onclick="hideCriteria();" />
    	</td>
    </tr>	                		
</table>

</div>

</form>

<span id="message"></span>
<div id="detailsInfo"></div>

<div id="contentDiv">
	#parse( "dhis-web-commons/loader/loader.vm" )
</div>

<script type="text/javascript">   
    var i18n_report_generation_failed = '$encoder.jsEscape( $i18n.getString( "report_generation_failed" ), "'")';    
	var i18n_please_select_a_program = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_a_program" ), "'")' + ']'; 
	var i18n_reports = '$encoder.jsEscape( $i18n.getString( "reports" ), "'")';    	
	var i18n_please_select = "[" + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'" )' + "]";
	var i18n_show_all_items = "[" + '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'" )' + "]";
	var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
	var i18n_syntax_error_in_search_value = '$encoder.jsEscape( $i18n.getString( "syntax_error_in_search_value" ) , "'")';
	var i18n_remove_selected_data_elements = '$encoder.jsEscape( $i18n.getString( "remove_selected_data_elements" ) , "'")';
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';
</script>   
