<h3>$i18n.getString( "visit_plan" )</h3>

<table>
	<tr>
		<td><label>$i18n.getString( "registering_unit" )</label></td>
		<td>
			<input type="text" readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( "select" )]" #end style="min-width:350px">
		</td>
	</tr>
</table>

<hr style="clear:both">
