<fieldset>
	<legend>$i18n.getString("program")</legend>
	<table>
		<tr>
			<td class='text-column'>$programInstance.program.dateOfEnrollmentDescription:</td>
			<td><input name="enrollmentDate" id="enrollmentDate" readonly value="$!format.formatDate( $programInstance.enrollmentDate )"></td>
		</tr>
		<tr>
			<td class='text-column'>$programInstance.program.dateOfIncidentDescription:</td>
			<td><input name="dateOfIncident" id="dateOfIncident" readonly value="$!format.formatDate( $programInstance.dateOfIncident )"></td>
		</tr>				
	</table>
</fieldset>
<br>
#if( $programStageInstances.size() > 0 )
	<table class='mainPageTable' id='progarmStageListDiv' name='progarmStageListDiv' >
		<col width="10px">
		<col width="200px">
		<col width="200px">
		<col width="160px">
		<col/>
		<col width='60px'/>  
		<tr>
			<th>$i18n.getString( "nr" )</th>
			<th>$i18n.getString( "program_stage" )</th>                   
			<th>$i18n.getString( "reschedule_due_date" )</th>       
			<th>$i18n.getString( "status" )</th>
			<th>$i18n.getString( "message" )</th>
			<th>$i18n.getString( "remove" )</th>
		</tr>
		
	#set( $rowCount = 0 )
	#set( $mark = false )
	#foreach( $programStageInstance in $programStageInstances )
		#set( $rowCount = $rowCount + 1 )   
		<tr id="tr${programStageInstance.id}" #alternate( $mark ) >
			##rowCount
			<td>$rowCount</td>        
			##stage name
			<td>
				$encoder.htmlEncode( $programStageInstance.programStage.name )						
			</td>
			#set( $duedateId = "value_" + $programStageInstance.id + "_date" )        
			#set($status = $statusMap.get( $programStageInstance.id ))
			<td>        
				<input type="text" id="$duedateId" style='width:150px;' value="$!format.formatDate( $programStageInstance.dueDate )" onchange="saveDueDate( $programInstance.id, $programStageInstance.id, '$encoder.jsEncode( $programStageInstance.programStage.name )' )" />
				<script type="text/javascript">
					#if($status==1 || $status==5 )
						disable('$duedateId');
					#else
						datePicker( '$duedateId' );
					#end
				</script> 
			</td> 
			<td>
				<select id="stat_$programStageInstance.id" name="status_$programStageInstance.id" style='width:150px;' onchange="setEventStatus(this, $programStageInstance.id)">
					#if($status==4)
						<option value='4'>$i18n.getString("overdue")</option>
						<option value='5'>$i18n.getString("skipped")</option>
					#elseif($status==3)
						<option value='3'>$i18n.getString("scheduled_in_future")</option>
						<option value='5'>$i18n.getString("skipped")</option>
					#elseif($status==5)
						<option value='4'>$i18n.getString("overdue")</option>
						<option value='3'>$i18n.getString("scheduled_in_future")</option>
						<option value='5'>$i18n.getString("skipped")</option>
					#else
						<option value='1'>$i18n.getString("completed")</option>
						<option value='2'>$i18n.getString("incompleted")</option>
					#end
				</select>
				<script>
					setFieldValue("stat_$programStageInstance.id", $status);
				</script>
			</td>
			<td>
				<input type='text' id='message_$programStageInstance.id' name='message_$programStageInstance.id' style="width:300px;" class="{validate:{required:true,maxlength:160}}">
				<input type='button' value="+" class='tiny-button' title='$i18n.getString("post_comment")' onclick="addComment(byId('message_$programStageInstance.id'),'$programStageInstance.id')">
				<input type="button" value="&raquo;" class='tiny-button' title="$i18n.getString( 'send_sms' )" onclick="setFieldValue( 'programStageInstanceId',$programStageInstance.id);sendSmsOnePatient(byId('message_$programStageInstance.id'),'$programStageInstance.id');"/>
			</td>
			<td>
				#if($programStageInstance.programStage.irregular=='true' && ($status==3 || $status==4 || $status==5 ))
					<a href="javascript:removeEvent($programStageInstance.id, false)" title='$i18n.getString( "remove" )'><img src="../images/delete.png" alt='$i18n.getString( "remove" )'></a>
				#end
			</td>
		</tr>
		#set( $mark = !$mark  )
	#end
	</table>
#end

<script>
	#if( $!programInstance )
		showById('unenrollBtn');
	#end
	#if( $programInstance.completed=='false')
		datePickerInRangeValid( 'dateOfIncident' , 'enrollmentDate' );
	#end
</script>