
.mapButton{
	border: thin gray groove;
	background-color: #FFFFFF;
	cursor: pointer;
}
.mapButton:hover{	
	background-color: #CFCFCF;
}

.closeButton{
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}

.closeButton:hover{
	color: red;
}

#mapDiv{	
	border: medium solid #DFDFDF;
	overflow: auto;		
}
#topMapMenu{	
	background-color: #DFDFDF;
	height: 21px;	
	text-align: right;
	padding-top: 3px;
	padding-right: 5px;		
}
#mapRender , #legend{
	display:none;
	position: absolute;
	border: thin solid #DFDFDF;
	background-color: #EFEFEF;
	top: 110px;		
	padding: 5px;
	padding-top: 20px;	
	width: 350px;	
}
#information{
	border: #FFCB3F thin solid;
	background-color: #FFEEBF;
	position: absolute;
	display: none;
	left: 300px;
	top: 200px;
	padding:5px;
	padding-top:20px;
	z-index:100000;	
	
}
#listMapFile{
	background-color:#FFFFFF;
	width:200px;
	overflow:auto;
	position:absolute;
	top:130px;	
	right:40px;
	border: thin solid #EFEFEF;	
}
#uploadfile{
	background-color:#EFEFEF;	
	overflow:auto;
	position:absolute;
	top:110px;
	right:200px;
	border: thin solid #000000;	
	width:400px;
	display: none;
	text-align: center;
	height: 50px;
	padding-top: 20px;
}
#listChildren , #showAllAssigned{	
	position: absolute;
	border: thin solid #61DF96;
	background-color: #CFFFE3;
	top: 110px;		
	padding: 5px;
	padding-top: 20px;	
	width: 200px;
	max-height:400px;
}