<script langauge="Javascript">

    var VALIDATION_ERRORS = 0;

    function prepSubmit(){
    
      if(VALIDATION_ERRORS > 0){
        alert("$i18n.getString( "sms_command_validation_alert" )");
        return;
      }
 
      var selectedDataOptions = '{"codes":[';      
      $("#codes input").each(function(){
            selectedDataOptions += '{"dataElementId" :' + $(this).attr('name').split('.')[0] +  ',';  
            selectedDataOptions += '"optionId" :' + $(this).attr('name').split('.')[1] + ',';
            selectedDataOptions += '"code" :"' + $(this).val() + '"},';
            $(this).attr('name',''); // avoid error in struts 
      });
      selectedDataOptions += ']}';
     
      $("#codeDataelementOption").val(selectedDataOptions);
      $("#updateSMSCommand").submit(); 

    }
    
    function validate(obj){
        var validationErrorId = "#" + $(obj).attr("name") + "-validation-error";
        validationErrorId = validationErrorId.replace(/\./g,'\\\.');
        if(obj.value != null && obj.value.indexOf(" ") > -1){
          if(!$(validationErrorId).length>0){
            $(obj).after("<span id='" + $(obj).attr("name") + "-validation-error' style='color:red'>* whitespace not allowed</span>");
            VALIDATION_ERRORS++;
          }
        }else{
          if($(validationErrorId).length>0){
            $(validationErrorId).remove();
            VALIDATION_ERRORS--;
          }
        }
    }
    
    $(document).ready(function() {   
        $(".validate").each(function(){
            validate(this);
        });
        $(".validate").change(function() {
            validate(this);
        });
    });
    
</script>


<div>
    </div>
<h3>Edit command</h3>

<form id="updateSMSCommand" name="updateSMSCommand" action="saveEditSMSCommandForm.action" method="post">

	<table>
	<thead>
      <tr>
        <th colspan="2">$i18n.getString( "command_details" )</th>
      </tr>
    </thead>
		<tr>
			<td>
				<input type="hidden" value="$selectedCommandID" name="selectedCommandID" />
			</td>
		</tr>
		
		<tr>
			<td>$i18n.getString( "name" )</td>
			<td><input type="text" name="name" id="name" value="$SMSCommand.name" style="width:20em" class="validate" /></td>
		</tr>
		
		<tr>
		  <td>$i18n.getString( "dataset" )</td>
		  <td>#if($SMSCommand.dataset.name) $SMSCommand.dataset.name #end</td>
		<tr>
			<td>$i18n.getString( "code_value_separator" )</td>
			<td>
				<input type="text"  #if($SMSCommand.separator) value="$SMSCommand.separator" #end name="separator" style="width:20em" class="validate" />
			</td>
		</tr> 
        <tr>
            <td>$i18n.getString( "no_codes_message" )</td>
            <td><textarea cols="35" type="text" name="defaultMessage">#if($SMSCommand.defaultMessage)$SMSCommand.defaultMessage#end</textarea></td>
        </tr>	
	</table>
	
	</br>
	</br>
	
	
    <table id="codes">   
		<col style="width: 450px"/>
    <col/>
    <col style="width: 450px"/>
    <thead>
      <tr>
        <th>Data Element Category Combination</th>
		<th>Code</th>
      </tr>
    </thead>
         #foreach( $dataElement in $dataSetElements)
            #if ($dataElement.categoryCombo && $dataElement.categoryCombo.sortedOptionCombos) 
                   #foreach($x in $dataElement.categoryCombo.sortedOptionCombos)    
                       #set ($str = ""+$dataElement.id+""+$x.id)
                       <tr>
                           <td>
                               $dataElement.name $x.name
                           </td>
                           <td>
                               <input type="text" name="$dataElement.id.$x.id" value='$!codes[$str]' class="validate">
                           </td>
                       </tr>
                   #end
            #else
            <tr>
               <td>$dataElement.name</td>
               <td><input type="text" name="$dataElement.id"></td>   
            </tr>         
            #end  
         #end
    </table>
	<br/>
	
    <input type="hidden" name="codeDataelementOption" id="codeDataelementOption" />
    <input  type="button" style="width: 100px" onclick="prepSubmit()" value="$i18n.getString( "save" )" />
	
</form>