<script langauge="Javascript">
    function prepSubmit(){
 
      var selectedDataOptions = '{"codes":[';      
      $("#codes input").each(function(){
            selectedDataOptions += '{"dataElementId" :' + $(this).attr('name').split('.')[0] +  ',';  
            selectedDataOptions += '"optionId" :' + $(this).attr('name').split('.')[1] + ',';
            selectedDataOptions += '"code" :"' + $(this).val() + '"},';
            $(this).attr('name',''); // avoid error in struts 
      });
      selectedDataOptions += ']}';
     
      $("#codeDataelementOption").val(selectedDataOptions);
      $("#updateSMSCommand").submit(); 
    }
</script>


<div>
    </div>
<h3>Edit command</h3>
<form id="updateSMSCommand" name="updateSMSCommand" action="saveEditSMSCommandForm.action" method="post">

 <!-- 
    * Unik kommando navn
    * OID
 -->
    
	<table>
	<thead>
      <tr>
        <th colspan="2">$i18n.getString( "command_details" )</th>
      </tr>
    </thead>
		<tr>
			<td>
				<input type="hidden" value="$selectedCommandID" name="selectedCommandID" />
			</td>
		</tr>
		
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" value="$SMSCommand.name" style="width:20em" /></td>
		</tr>
		<tr>
			<td>Code and value Separator:</td>
			<td>
				<input type="text"  #if($SMSCommand.seperator) value="$SMSCommand.seperator" #end name="seperator" style="width:20em" />
			</td>
		</tr> 
        <tr>
            <td>Reply message if no codes <br /> are sent (only the command):</td>
            <td><textarea type="text" name="defaultMessage">#if($SMSCommand.defaultMessage)$SMSCommand.defaultMessage#end</textarea></td>
        </tr>	
	</table>
	
	</br>
	</br>
	
	
    <table id="codes">   
		<col style="width: 450px"/>
    <col/>
    <col style="width: 450px"/>
    <thead>
      <tr>
        <th>Data Element Category Combination</th>
		<th>Code</th>
      </tr>
    </thead>
         #foreach( $dataElement in $dataSetElements)
            #if ($dataElement.categoryCombo && $dataElement.categoryCombo.sortedOptionCombos) 
                   #foreach($x in $dataElement.categoryCombo.sortedOptionCombos)    
                       #set ($str = ""+$dataElement.id+""+$x.id)
                       <tr>
                           <td>
                               $dataElement.name $x.name
                           </td>
                           <td>
                               <input type="text" name="$dataElement.id.$x.id" value='$!codes[$str]'>
                           </td>
                       </tr>
                   #end
            #else
            <tr>
               <td>$dataElement.name</td>
               <td><input type="text" name="$dataElement.id"></td>   
            </tr>         
            #end  
         #end
    </table>
	<br/>
	
    <input type="hidden" name="codeDataelementOption" id="codeDataelementOption" />
    <input  type="button" style="width: 100px" onclick="prepSubmit()" value="save" />
	
</form>