<a href="newSMSCommand.action">New command</a>

<br>


<table width="75%" border="1" rules="all">
  
	 #foreach( $command in $SMSCommands )
      <tr>
		<td>$velocityCount</td>
	  
		<td>$command.name </td>
		<td><a href="editSMSCommand.action?selectedCommandID=$command.id">Edit</a></td>
		<td><a href="deleteSMSCommand.action?deleteCommandId=$command.id">Delete</a></td>
	  </tr><br/>
    #end
	
	
    
  </tr>
</table>