
<h3>$i18n.getString( "indicator_map" )</h3>

<form action="buildOlapURL.action" method="post">

<input type="hidden" name="id" value="$!url.id">

<table>
	<colgroup>
		<col width="150">
		<col width="300">
	</colgroup>
    <tr>
    	<td>$i18n.getString( "application_name" )</td>
        <td><input type="text" name="application" value="openhealth-fp" style="width:300px"></td>
    </tr>
    <tr>
        <td>$i18n.getString( "cube_name" )</td>
        <td>
        	<select id="cube" name="cube" style="width:300px">
        	   <option value="ind_ou2">ind_ou2</option>
        	   <option value="ind_ou3" selected>ind_ou3</option>
               <option value="ind_ou4">ind_ou4</option>
               <option value="ind_ou5">ind_ou5</option>
            </select>
        </td>
    </tr>
    <tr>
    	<td>$i18n.getString( "indicator" )</td>
        <td>
        	<select name="indicator" style="min-width:300px">
        		<option value="null">[$i18n.getString( "select_indicator" )]</option>
        		#foreach ( $indicator in $availableIndicators )
        			<option value="$encoder.htmlEncode( $indicator.shortName )">$encoder.htmlEncode( $indicator.name )</option>
		        #end
	        </select>
        </td>
    </tr>
    <tr>
    	<td>$i18n.getString( "period" )</td>
    	<td>
    		<select name="period" style="min-width:300px">
    			<option value="null">[$i18n.getString( "select_period" )]</option>
    			#foreach ( $period in $availablePeriods )
    				<option value="$encoder.htmlEncode( $period.name )">$encoder.htmlEncode( $period.name )</option>
			    #end
		    </select>
	    </td>
    </tr>
    <tr>
        <td>$i18n.getString( "organisation_unit_level" )</td>
        <td>
            <select name="level" style="min-width:300px">
                <option value="null">[$i18n.getString( "select_level" )]</option>
                #foreach ( $level in $availableLevels )
                    <option value="OrgUnit${level.level}">$encoder.htmlEncode( $level.name )</option>
                #end
            </select>
        </td>
    </tr>
    <tr>
    	<td></td>
    	<td>
    		<input type="submit" value="$i18n.getString( 'view' )" style="width:10em">
	    </td>
    </tr>
    
</table>
