<script src="../dhis-web-commons/ouwt/ouwt.js"></script>
<script src="scripts/tracker-capture.js"></script>

<div id="leftBar">
    <div id="orgUnitTree" style="margin-top:20px">
        <ul>
        </ul>
    </div>
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif"/>
</div>
<div class="page" id="mainPage" ng-show="selectedOrgUnit">
    <h1>
        <span ng-if='showSearchDiv || !showRegistrationDiv'>
            {{'search'| translate}} {{selectedProgram.trackedEntity.name}}
        </span>
        <span ng-if='showRegistrationDiv'>
            {{'register'| translate}} {{selectedProgram.trackedEntity.name}}
        </span>          
        <a href ng-click="getHelpContent()" title="{{'help'| translate}}"><i class="fa fa-question-circle"></i></a>
    </h1>

    <input type="text" selected-org-unit ng-model="selectedOrgUnit.name" ng-hide=true>
    <div class="row">        
        <div class="input-group col-md-4">
            <input type="text" placeholder="{{'your_search_input_here'| translate}}" ng-model="searchText" class="form-control" ng-class="{true: 'invalid - input'} [!searchText && emptySearchText]" ng-focus="hideSearch()" ng-disabled="showRegistrationDiv">
            <span class="input-group-btn">
                <button class="btn btn-default trim" type="button" title="{{'advanced_search'| translate}}" ng-click="showSearch()" ng-disabled="showRegistrationDiv"><i class="fa fa-caret-down"></i></button>
            </span>                
        </div>        
        <div class="col-md-3 trim">            
            <button type="button" 
                    class="btn btn-default"
                    ng-disabled="showRegistrationDiv"
                    ng-click="search(searchMode.freeText)">
                {{'search'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-default small-horizonal-spacing"
                    ng-disabled="showRegistrationDiv"
                    ng-click="search(searchMode.listAll)">
                {{'list_all'| translate}}
            </button>
        </div>        
    </div>

    <div class="row vertical-spacing">
        <div class="col-md-4">
            <select class="form-control" ng-model="pr" ng-change="getProgramAttributes(pr)" ng-options="program as program.name for program in programs | orderBy: 'name'">
                <option value="">{{'please_select_a_program'| translate}}</option>
            </select>
        </div>
        <div class="col-md-3 trim"> 
            <button type="button" 
                    class="btn btn-default" 
                    ng-click="showRegistration()">                    
                {{'register'| translate}} {{selectedProgram.trackedEntity.name}}
            </button>
        </div>  
    </div>

    <div class="row vertical-spacing" ng-if="!searchText && emptySearchText">
        <div class="col-md-4">
            <div class="alert alert-danger">{{'search_input_required'| translate}}</div>         
        </div>
    </div>

    <!-- search begins -->
    <div class="row" ng-show="showSearchDiv">
        <div class="col-md-6">
            <div ng-include="'views/search.html'"></div>             
        </div>
    </div>
    <!-- search ends -->

    <!--registration begins -->
    <div class="row" ng-if="showRegistrationDiv">
        <div class="col-md-6">
            <div ng-include="'views/registration.html'" ng-controller="RegistrationController"></div>             
        </div>
    </div>
    <!-- registration ends -->

    <!-- entity grid begins -->
    <div ng-if="showTrackedEntityDiv">
        <div ng-include="'views/trackedEntityList.html'"></div>  
    </div>
    <!-- entity grid ends -->
</div>           


