<script src="../dhis-web-commons/ouwt/ouwt.js"></script>
<script src="scripts/tracker-capture.js"></script>

<div id="leftBar">
    <div id="orgUnitTree" style="margin-top:20px">
        <ul>
        </ul>
    </div>
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif"/>
</div>
<div class="page" id="mainPage" ng-show="selectedOrgUnit">

    <!-- top bar begins -->
    <div class="row top-bar">        
        <div class="col-sm-12">            
            <span ng-if='showSearchDiv || !showRegistrationDiv'>
                {{'search'| translate}} {{selectedProgram.trackedEntity.name}}
            </span>
            <span ng-if='showRegistrationDiv'>
                {{'register'| translate}} {{selectedProgram.trackedEntity.name}}
            </span>        
            <div class="pull-right">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="trackedEntityList.rows.length <= 0">
                        <i class="fa fa-cog" title="{{'settings'| translate}}"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-show="trackedEntityList.rows.length > 0"><a href ng-click="showHideColumns()">{{'show_hide_columns'| translate}}</a></li>
                    </ul>
                </div>
            </div>            
        </div>        
    </div>
    <!-- top bar ends -->

    <!--- selected org unit begins -->
    <input type="text" selected-org-unit ng-model="selectedOrgUnit.name" ng-hide=true>
    <!--- selected org unit ends  -->

    <!--- search and registration menu begins -->
    <div class="row"> 
        <div id="selectDropDownParent" class="input-group col-md-3">            
            <button type="button" class="select-drop-down-button form-control" >{{selectedProgram ? selectedProgram.name : 'please_select_a_program'| translate}}</button>
            <div class="input-group-btn">
                <button class="btn btn-default trim" type="button" title="{{'list_programs'| translate}}" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                <ul id="selectDropDown" select-drop-down-width class="dropdown-menu pull-right">
                    <li>
                        <a href ng-click="getProgramAttributes(null, true)">{{'please_select_a_program'| translate}}</a>
                    </li>
                    <li ng-repeat="program in programs| orderBy: 'name'">
                        <a href ng-click="getProgramAttributes(program, true)">{{program.name}}</a>
                    </li>
                </ul>
            </div>                
        </div>
        <div id="searchDropDownParent" class="input-group col-md-5">
            <input type="text" placeholder="{{'type_your_search_criteria_here'| translate}}" ng-model="searchText" class="form-control expanded" ng-class="{true: 'invalid - input'} [!searchText && emptySearchText]" ng-focus="hideSearch()" ng-disabled="showRegistrationDiv || showSearchDiv">
            <div class="input-group-btn">
                <button class="btn btn-default without-border-radius trim" type="button" title="{{'advanced_search'| translate}}" data-toggle="dropdown" ng-click="showSearch()" ng-disabled="showRegistrationDiv"><i class="fa fa-caret-down"></i></button>
                <button ng-if="!showSearchDiv" class="btn btn-primary trim" type="button" title="{{'search'| translate}}" ng-disabled="showRegistrationDiv" ng-click="search(searchMode.freeText)"><i class="fa fa-search"></i></button>
                <button ng-if="showSearchDiv" class="btn btn-primary trim" type="button" title="{{'search'| translate}}" ng-disabled="showRegistrationDiv" ng-click="search(searchMode.attributeBased)"><i class="fa fa-search"></i></button>
                <div id="searchDropDown" search-drop-down-width class="dropdown-menu pull-right">
                    <form ng-include="'views/search.html'">                       
                    </form>                    
                </div>
            </div>                
        </div>        
        <div class="col-md-4 trim">            
            <button type="button" 
                    class="btn btn-success"
                    ng-disabled="showRegistrationDiv"
                    ng-click="search(searchMode.listAll)">
                {{'list_all'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-primary small-horizonal-spacing" 
                    ng-click="showRegistration()">                    
                {{'register'| translate}} {{selectedProgram.trackedEntity.name}}
            </button>
        </div>
    </div>
    <!--- search and registration menu ends -->

    <!--- Error display for search begins -->
    <div class="row" ng-if="emptySearchAttribute || !searchText && emptySearchText">
        <div class="col-md-8 vertical-spacing">
            <div class="alert alert-danger">{{'search_input_required'| translate}}</div>         
        </div>
    </div>
    <!--- Error display for search ends -->

    <!--registration form begins -->
    <div class="row" ng-if="showRegistrationDiv">
        <div class="col-md-8">
            <div ng-include="'components/registration/registration.html'"></div>             
        </div>
    </div>
    <!-- registration form ends -->

    <!-- entity grid begins -->
    <div class="row" ng-if="showTrackedEntityDiv">
        <img class="col-md-12" src="../images/ajax-loader-bar.gif" ng-if="!teiFetched"/>
        <div class="col-md-12" ng-include="'views/tei.html'"></div>  
    </div>
    <!-- entity grid ends -->
</div>           


