<div class="bordered-div col-md-12">    
    <div class="registration-container">
        <form name="outerForm" novalidate>
            
            <div ng-if='!selectedProgram'>
                <h3>{{'category' | translate}}</h3>
                <table class="dhis2-list-table-striped dhis2-table-hover">
                    <tr>
                        <td>
                            {{'entity_type' | translate}}
                        </td>
                        <td>
                            <select class="form-control" ng-model="trackedEntities.selected" ng-options="trackedEntity.name for trackedEntity in trackedEntities.available | orderBy: 'name'">                                
                            </select>                            
                        </td>
                    </tr>                   
                </table>
                <hr>
            </div>
            
            <h3>{{'profile' | translate}}</h3>
            <table class="dhis2-list-table-striped dhis2-table-hover">
                <tr ng-repeat="attribute in attributes">
                    <td>
                        {{attribute.name}}
                    </td>
                    <td>
                        <div ng-switch="attribute.valueType">
                            <div ng-switch-when="date">
                                <input type="text" class="form-control" ng-date ng-model="attribute.value" />
                            </div>
                            <div ng-switch-when="trueOnly">
                                <input type="checkbox" class="form-control" ng-model="attribute.value" />
                            </div>
                            <div ng-switch-when="bool">
                                <select ng-model="attribute.value" class="form-control">
                                    <option value="">{{'please_select'| translate}}</option>                        
                                    <option value="0">{{'no'| translate}}</option>
                                    <option value="1">{{'yes'| translate}}</option>
                                </select>
                            </div>
                            <div ng-switch-when="combo">
                                <input type="text" 
                                       class="form-control"
                                       ng-model="attribute.value"                                                 
                                       typeahead="option for option in attribute.optionSet.options | filter:$viewValue | limitTo:20" 
                                       typeahead-open-on-focus 
                                       />
                            </div>
                            <div ng-switch-when="number">
                                <input type="number" class="form-control" ng-model="attribute.value"/>
                            </div>
                            <div ng-switch-default>
                                <input type="text" class="form-control" ng-model="attribute.value" />                                        
                            </div>
                        </div>                                                                                                    
                    </td>
                </tr>                        
            </table>
            
            <div ng-if='selectedProgram'>
                <hr>
                <h3>{{'enrollment' | translate}}</h3>
                <table class="dhis2-list-table-striped dhis2-table-hover">
                    <tr>
                        <td>
                            {{selectedProgram.dateOfEnrollmentDescription}}
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-date ng-model="enrollment.incidentDate" />
                        </td>
                    </tr>     
                    <tr ng-if="selectedProgram.displayIncidentDate">
                        <td>
                            {{selectedProgram.dateOfIncidentDescription}}
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-date ng-model="enrollment.enrollmentDate" />
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="btn-group vertical-spacing">                
                <button type="button" class="btn btn-default" ng-click="registerEntity(true)">{{'save_and_continue'| translate}}</button>
                <button type="button" class="btn btn-default" ng-click="registerEntity(false)">{{'save_and_add_new'| translate}}</button>
                <button type="button" class="btn btn-default" ng-click="showRegistration()">{{'cancel'| translate}}</button>
            </div>
        </form>
    </div>
</div>