<div class="bordered-div">    

    <div class="search-container">
        <table class="dhis2-list-table-striped dhis2-table-hover">
            <tr>
                <td>{{'org_unit_mode'| translate}}</td>
                <td>
                    <input type='radio' ng-model='ouMode' value='SELECTED'>{{'use_selected'| translate}}<br/>
                    <input type='radio' ng-model='ouMode' value='CHILDREN'>{{'use_immediate_children'| translate}}<br/>
                    <input type='radio' ng-model='ouMode' value='DESCENDANTS'>{{'use_all_children'| translate}}
                </td>
            </tr>
            <tr>
                <td>
                    {{'program'| translate}}
                </td>
                <td>
                    <select class="form-control" ng-model="pr" ng-change="getProgramAttributes(pr)" ng-options="program as program.name for program in programs | orderBy: 'name'">
                        <option value="">{{'please_select'| translate}}</option>
                    </select>
                </td>
            </tr>      

            <tr ng-repeat="attribute in attributes">
                <td>
                    {{attribute.name}} - {{attribute.valueType}}
                </td>
                <td>
                    <div ng-switch="attribute.valueType">
                        <div ng-switch-when="date">
                            <input type="text" class="form-control" ng-date ng-model="attribute.value" />
                        </div>
                        <div ng-switch-when="trueOnly">
                            <input type="checkbox" class="form-control" ng-model="attribute.value" />
                        </div>
                        <div ng-switch-when="bool">
                            <select multiple ui-select2 ng-model="attribute.value" data-placeholder="{{'please_select'| translate}}" style="width:100%;">
                                <option value="0">{{'no'| translate}}</option>
                                <option value="1">{{'yes'| translate}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="combo">
                            <select multiple ui-select2  ng-model="attribute.value" data-placeholder="{{'please_select'| translate}}" style="width:100%;">
                                <option ng-repeat="option in attribute.optionSet.options" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="number">
                            <input type="number" class="form-control" ng-model="attribute.value"/>
                        </div>
                        <div ng-switch-default>
                            <input type="text" class="form-control" ng-model="attribute.value" />                                        
                        </div>
                    </div>                                                                                                    
                </td>
            </tr>         
        </table>
    </div>
    
    <div class="btn-group">
        <button type="button" 
                class="btn btn-default"
               ng-click="search(searchMode.attributeBased)">
            {{'search'| translate}}
        </button>
        <button type="button" 
                class="btn btn-default" 
                ng-click="closeSearch()">
            {{'cancel'| translate}}
        </button>        
    </div>

</div>

