<div id="print-div" class="not-for-screen">


  <!-- For personal data-->
  <div style="overflow:visible">

    <div class="section">Personal Details</div>

    <table class="table table-bordered">
      <tbody>
        <tr ng-repeat="attribute in selectedTei.attributes" ng-show="attribute.show">
          <td class="bold attritbute-name">
            {{attribute.displayName}}
          </td>
          <td>
            <input type="text" value={{attribute.value}} class="form-control">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- For personal data -->


  <!-- For Enrollment-->

    <div style="overflow:visible">

      <div class="section">Enrollment</div>

      <table class="table table-bordered">

        <tbody>
        <tr>
          <td class="bold attritbute-name">
            {{'enrolling_orgunit' | translate}}
          </td>
          <td>
            <input type="text" value={{selectedEnrollment.orgUnitName}} class="form-control">
          </td>
        </tr>
        <tr>
          <td class="bold attritbute-name">
            {{selectedProgram.enrollmentDateLabel}}
          </td>
          <td>
            <input type="text" value= {{selectedEnrollment.enrollmentDate}} class="form-control">
          </td>
        </tr>
        <tr>
          <td class="bold attritbute-name">
            {{selectedProgram.incidentDateLabel}}
          </td>
          <td>
            <input type="text" value={{selectedEnrollment.incidentDate}} class="form-control">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  <!-- For Enrollment-->

  <table class="table table-bordered" ng-if='currentEvent && !currentStage.programStageSections.length'>
    <thead>
    <tr>
      <th ng-bind="dataElementLabel">
      </th>
      <th class="align-center" ng-bind="valueLabel">
      </th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="prStDe in currentStage.programStageDataElements">
      <td class="bold attritbute-name">
        {{prStDe.dataElement.formname ? prStDe.dataElement.formname : prStDe.dataElement.name}}
      </td>
      <td>
        <input type="text" value={{currentEvent[prStDe.dataElement.id]}} class="form-control">
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if='currentEvent && currentStage.programStageSections.length'>

      <div ng-repeat='section in currentStage.programStageSections'
                       ng-if="!hiddenSections[section.id]" style="overflow:visible">

        <div class="section">{{section.name}}</div>

          <table class="table table-bordered" ng-if="section.programStageDataElements && section.programStageDataElements.length > 0">
          <thead>
            <tr>
              <th ng-bind="dataElementLabel">
              </th>
              <th class="align-center" ng-bind="valueLabel">
              </th>
              <th class="align-center" ng-if="allowProvidedElsewhereExists[currentStage.id]" ng-bind="providedElsewhereLabel">
              </th>
            </tr>
          </thead>
          <tbody id="list">
            <tr ng-repeat="de in section.programStageDataElements">
              <td class="bold attritbute-name">
                {{prStDes[de.dataElement.id].dataElement.formName ? prStDes[de.dataElement.id].dataElement.formName : prStDes[de.dataElement.id].dataElement.name}}
              </td>
              <td>
                <input type="text" value={{currentEvent[prStDes[de.dataElement.id].dataElement.id]}} class="form-control">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

    </div>
    </div>
  </div>
</div>
