<div class="row col-sm-12">
    <div ng-repeat="dhis2Event in allEventsSorted.slice(eventPagingStart, eventPagingEnd)" ng-init="$index = $index + 1">        
        <div class="event-container" ng-click="getEventPage('BACKWARD')" ng-if="$index === 1 && eventPagingStart > 0">
            &nbsp;<br/>
            {{'previous'| translate}}
        </div>
        <div class="event-container" title="[{{'org_unit' | translate}}: {{dhis2Event.orgUnitName}}, {{'program_stage' | translate}}: {{dhis2Event.name}}]" ng-class="getEventStyle(dhis2Event)" ng-click="showDataEntry(dhis2Event, false)">
            {{dhis2Event.sortingDate}}<br/>
            {{dhis2Event.orgUnitName}}<br/>
            {{dhis2Event.name}}
        </div>
        <div class="arrow-container" ng-if="$index < eventPageSize && $index + eventPagingStart < allEventsSorted.length">
            <i class="fa fa-arrow-right"></i>
        </div>
        <div class="event-container" ng-click="getEventPage('FORWARD')" ng-if="$index === eventPageSize && $index < allEventsSorted.length">
            &nbsp;<br/>
            {{'next'| translate}}
        </div>
    </div>

    <div ng-if="allEventsSorted.length < 1">
        <div class="alert alert-warning">{{'no_events_exist'| translate}}</div> 
    </div>
</div>

<hr>
<!--<table class="table table-bordered">
    <thead>
        <tr>
            <th class="active" style="vertical-align:middle" ng-repeat="stage in programStages">                            
                {{stage.name}}
                <span class='pull-right'>
                    <span ng-if="stageNeedsEvent(stage) && selectedEnrollment.status === 'ACTIVE'">
                        <a href title="{{'create_new_event'| translate}}" ng-click="showCreateEvent(stage,eventCreationActions.add)" style="vertical-align:middle">
                            {{'add'|translate}}
                        </a>
                        |
                        <a href title="{{'schedule_new_event'| translate}}" ng-click="showCreateEvent(stage,eventCreationActions.schedule)" style="vertical-align:middle">
                            {{'schedule'|translate}}
                        </a>
                        |
                        <a href title="Make referral" ng-click="showCreateEvent(stage, eventCreationActions.referral)" style="vertical-align: middle" ng-if="showReferral">
                            Referral
                        </a>
                    </span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat="stage in programStages">
                <div class="inline-block" ng-repeat="dhis2Event in eventsByStage[stage.id]">
                    <div class="event-container" 
                         ng-class="getEventStyle(dhis2Event)" 
                         ng-show="!currentPeriod[stage.id] || !filterEvents || currentPeriod[stage.id] && currentPeriod[stage.id].event === dhis2Event.event"
                         ng-click="showDataEntry(dhis2Event, false)">
                        {{dhis2Event.orgUnitName}}<br/>
                        {{dhis2Event.sortingDate}}<br>
                        <span ng-if="eventsByStage[stage.id].length > 1 && !filterEvents">[{{$index + 1}}]</span>
                    </div>
                </div>
                <span ng-if="eventsByStage[stage.id].length > 1 && filterEvents">
                    <span ng-if="currentEvent.programStage !== stage.id">
                        <div class="event-paging">
                            <a href class="event-paging" ng-click="showDataEntryForEvent(eventsByStage[stage.id][0])">{{'show_more'| translate}}</a>
                        </div>
                    </span>
                    <event-paginator ng-if="stage.id === currentEvent.programStage"></event-paginator>                             
                </span>
                <div ng-if="!eventsByStage[stage.id] || eventsByStage[stage.id].length < 1">
                    <div class="alert alert-warning">{{'no_events_exist'| translate}}</div> 
                </div>
            </td>
        </tr>
    </tbody>
</table>-->