<div class="row equal-height-columns">
    <div class="col-sm-12">
        <div ng-repeat="dhis2Event in allEventsSorted.slice(eventPagingStart, eventPagingEnd)" ng-init="$index = $index + 1">        
            <div class="event-container" ng-click="getEventPage('BACKWARD')" ng-if="$index === 1 && eventPagingStart > 0">
                &nbsp;<br/>
                {{'previous'| translate}}
            </div>
            <div class="event-container" title="[{{'org_unit' | translate}}: {{dhis2Event.orgUnitName}}, {{'program_stage' | translate}}: {{dhis2Event.name}}]" ng-class="getEventStyle(dhis2Event)" ng-click="showDataEntry(dhis2Event, false)">
                {{dhis2Event.sortingDate}}<br/>
                {{dhis2Event.orgUnitName.length > 15 ? dhis2Event.orgUnitName.substring(0,15).concat('...') : dhis2Event.orgUnitName}}<br/>
                {{dhis2Event.name.length > 15 ? dhis2Event.name.substring(0,15).concat('...') : dhis2Event.name}}
            </div>
            <div class="arrow-container" ng-if="$index < eventPageSize && $index + eventPagingStart < allEventsSorted.length">
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="event-container" ng-click="getEventPage('FORWARD')" ng-if="$index === eventPageSize && $index < allEventsSorted.length">
                &nbsp;<br/>
                {{'next'| translate}}
            </div>
        </div>    
    </div>
    <div ng-if="allEventsSorted.length < 1">
        <div class="alert alert-warning">{{'no_events_exist'| translate}}</div> 
    </div>
</div>

<hr>