body {
	margin: 0 0 0 60px;
}

h1 {
	font-size: 20px;
	margin: 20px 0;
}

#chart1 {
	width: 1000px;
	height: 600px;
	border: 2px solid #ddd;
    margin-bottom: 100px;
}

#chart2 {
	width: 600px;
	height: 400px;
	border: 2px solid #ddd;
    margin-bottom: 100px;
}

#chart3 {
	width: 1400px;
	height: 700px;
    padding: 50px;
	border: 2px solid #ccc;
    margin-bottom: 100px;
}

/* Tooltip */
.x-tip {
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 5px 2px 0;
    border-width: 2px;
    border-style: solid;
    background-color: #eee;
}

/* Chart tips (tooltip) */
.x-tip .x-tip-header .x-box-item {
    text-align: center;
}

.dv-chart-tips {
    font: normal 13px arial, ubuntu;
    padding: 0 0 3px 3px;
}
