body {
	margin: 0 0 0 60px;
}

h1 {
	font-size: 20px;
	margin: 20px 0;
}

#chart1 {
	height: 250px;
	width: 1400px;
	border: 2px solid #ccc;
    margin-bottom: 100px;
}

#chart2 {
	height: 250px;
	width: 1400px;
	border: 2px solid #ccc;
    margin-bottom: 100px;
}

#chart3 {
	height: 250px;
	width: 1400px;
	border: 2px solid #ccc;
    margin-bottom: 100px;
}
