/****************
 ExtJS overrides
 ****************/

.x-body {
	font-family: arial, ubuntu;
}

/* Combobox empty text */
.x-form-empty-field, textarea.x-form-empty-field {
    font-size: 10px;
    color: #777;
}

/* Combobox text position*/
.x-webkit .x-form-empty-field {
    line-height: 14px;
}

/* Combobox font size */
.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

/* General font */
.x-form-item, .x-form-field, .x-form-display-field  {
	font: normal 10px arial, ubuntu;
}

/* Combobox field label font */
.x-form-item-label {
    font: 11px arial, ubuntu;
    color: #111;
}

/* Splitter column */
.x-splitter {
    display: none;
}

/* Fieldset border */
.x-fieldset {
    border: 1px solid #ddd;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.x-fieldset-header {
    font-size: 11px;
	font-family: arial, ubuntu;
    font-weight: bold;
    color: #000;
    padding: 0 7px 0 5px;
}

.x-fieldset-header .x-fieldset-header-text {
    padding-left: 3px;
}

/* Fieldset trigger icons */
#indicator_fs .x-tool img, #dataelement_fs .x-tool img, #period_fs .x-tool img, #organisationunit_fs .x-tool img {
    background-image: url('../images/tool-sprites.gif');
    width: 25px;
}

    /* Untoggeled */
.x-tool-over .x-tool-toggle {
    background-position: -25px -60px;
}

.x-panel-collapsed .x-tool-over .x-tool-toggle, .x-fieldset-collapsed .x-tool-over .x-tool-toggle {
    background-position: -25px -75px;
}
    /* Toggeled */
.x-tool-down {
    background-position: 0 -75px;
}

.x-tool-over .x-tool-down {
    background-position: -25px -75px;
}

.x-tool-up {
    background-position: 0 -60px;
}

.x-tool-over .x-tool-up {
    background-position: -25px -60px;
}

/* Tree panel font */
.x-grid-row .x-grid-cell {
    font: 10px arial, ubuntu;
    color: #222;
}

/* Tree panel node height */
.x-tree-panel .x-grid-row .x-grid-cell-inner {
    height: 17px;
}

/* (Tree)Panel border */
.x-panel .x-grid-body {
    border-style: none;
}

/* Multiselect inner border */
.x-fit-item {
    border-style: none;
}

/* Boundlist (multiselect, comboboxlist etc) */
.x-boundlist-item {
    color: #333;
    padding: 2px 2px 2px 4px;
}
.x-boundlist-item-over {
    background-color: #eee;
    border-color: #ddd;
}
.x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #b3abaa;
}

/* Checkbox icons */
.x-form-checkbox, .x-form-radio {
    background-image: url('../images/checkbox.gif');
}

/* Checkbox box label */
.x-form-cb-label-after {
    padding-left: 3px;
    font: 11px arial, ubuntu;
}

/* Button chart image */
.x-btn-default-toolbar-small-icon button {
    width: 32px !important;
}

.x-btn-default-toolbar-small-icon .x-btn-icon {
    width: 32px;
    height: 32px;
}

/* Button border */
.x-btn-default-toolbar-small {
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    border-width: 1px;
}

.x-btn-default-toolbar-small-over {
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
}

/* Button font-family */
.x-btn-default-toolbar-small .x-btn-inner {
	font-family: arial, ubuntu;
}

/* Toolbar separator */
.x-toolbar .x-toolbar-separator-horizontal {
    height: 15px;
    border-right: 1px solid #f2f2f2;
}

/* Toolbar background */
.x-toolbar-default {
    border-color: #D0D0D0;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -moz-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -o-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -ms-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: linear-gradient(top, #f1f1f1,#f5f5f5);
}

/* Tooltip */
.x-tip {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
    border-width: 2px;
    border-style: solid;
    background-color: #ddd;
}

/* Chart tips (tooltip) */
.x-tip .x-tip-header .x-box-item {
    text-align: center;
}

/* Grid datatable column header */
.x-column-header {
	font: normal 11px arial, ubuntu;
}

/* Grid datatable column chooser */
.x-column-header-over .x-column-header-trigger, .x-column-header-open .x-column-header-trigger {
    display: none;
}

/****************
 Data Visualizer
 ***************/

body {
    font: normal 11px arial, ubuntu;
}

li {
   font-size: 10px;
   color: #000;
}

/* Second toolbar */
#chartsettings_tb {
    background: #f5f5f5;
    padding: 5px 0 0 8px;
    border-style: none;
    border-top: 1px dashed #ccc;
}

/* Multiselect dock border radius */
#availableIndicators .x-docked-top {    
    -o-border-top-left-radius: 2px;
	-icab-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}

#availableDataElements .x-docked-top { 
    -o-border-top-left-radius: 2px;
	-icab-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}

#selectedIndicators .x-docked-top { 
    -o-border-top-right-radius: 2px;
	-icab-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

#selectedDataElements .x-docked-top { 
    -o-border-top-right-radius: 2px;
	-icab-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

/* Multiselect boundlist */
#availableIndicators .x-boundlist-item-over, #availableDataElements .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
#availableIndicators .x-boundlist-selected, #availableDataElements .x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #b3abaa;
}

#selectedIndicators .x-boundlist-item-over, #selectedDataElements .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
#selectedIndicators .x-boundlist-selected, #selectedDataElements .x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #b3abaa;
}

/* Treepanel contextmenu */
#treepanel-contextmenu {
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}

.x-menu-item-link {
    padding: 3px 5px 4px 35px;
}

.x-menu-item-active .x-menu-item-link {
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}    

/* Fieldset */
.dv-fieldset-title-link {
    color:#000;
    text-decoration:none;
}

/* Multiselect */
.dv-multiselect {
    color: #111;
}

/* Chart tips */
.dv-chart-tips {
    font: normal 13px arial, ubuntu;
    padding: 0 0 3px 3px;
}

/* Window */
.dv-window-title-datatable {
    padding-left: 19px;
    background-image: url('../images/datatable.png');
}

/* Grid datatable */
.dv-datatable .x-grid-header-ct {
    border-style: none;
}

#datatable_g .x-fit-item {
    border-top: 1px solid #d0d0d0;
}

/* Button - toolbar */
.dv-btn-toolbar {
    border-width: 1px;
    padding: 3px;
}

.dv-btn-toolbar-text-1 {
    color: #444;
    font-weight: bold;
}
.dv-btn-toolbar-text-2 {
    color: #555;
}
