<h3>$i18n.getString( "generate_report" ) #openHelp( "excelReportingReport" )</h3>
<form id="exportForm">
<table>	
	<tr>
		<td><label>$i18n.getString('organisation')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><span id="selectedOrganisationUnit"></span></td>
    </tr>
	<tr>
		<td><label>$i18n.getString('group')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td >
			<select type="text" id="group" name="group" style="min-width:300px" onchange="getReportExcelsByGroup()" >
				#foreach($group in $groups)
					<option value='$group' #if( $group == $reportGroup ) selected="selected" #end>$encoder.htmlEncode( $group )</option>				
				#end
			</select>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('reports')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="report" name="report" style="min-width:300px" >

			</select>
		</td>
    </tr>
	<tr>
		<td></td>
		<td>
			<input type="button" value="<<" onclick="getPreviousPeriod()" id="lastPeriod"/>
			<input type="button" value=">>"  onclick="getNextPeriod()" id="nextPeriod"/>
		</td>
    </tr>
	<tr>
		<td><label>$i18n.getString('period')<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select type="text" id="period" style="min-width:300px">
				#set( $i=0)
				#foreach($period in $periods)
					<option value='${i}'>$format.formatPeriod( $period )</option>				
					#set( $i=$i+1)
				#end
			</select>
		</td>
    </tr>
</table>
</form>
<hr/>
<p>
<input type="button" value='$i18n.getString( "preview_report" )' onclick="previewReport();" style="width:150px"/>
<input type="button" onClick="generateReportExcel();" value='$i18n.getString( "generate_report" )' style="width:150px"/>
<input type="button" id="printExcelReportButton" value='$i18n.getString("print")' onclick='printReport()' disabled style="width:150px"/>
</p>
<div id="previewDiv"></div>

<script>

	

	var i18n_value_rounded = '$encoder.jsEscape( $i18n.getString("value_rounded"), "'" )';
	var i18n_specify_report = '$encoder.jsEscape( $i18n.getString("specify_report"), "'" )';

	#if ( $organisationUnit )
		
		$(document).ready(function() {
		
			getReportExcelsByGroup();
		});
	
	#else
		disable("group");
		disable("report");
		disable("period");
		disable("generate_report");
		disable("previewButton");
		disable("nextPeriod");
		disable("lastPeriod");	
	#end
	
	
	
</script>