<?xml version="1.0" encoding="UTF-8"?>
<excelItemValuesByCategory>
#foreach($excelItemValue in $excelItemValues)
	<excelItemValueByCategory>
		<id>$!excelItemValue.excelItem.id</id>
		<name>$encoder.xmlEncode($!excelItemValue.excelItem.name)</name>
		<row>$excelItemValue.excelItem.row</row>
		<expression>$!excelItemValue.excelItem.expression</expression>
		<value>$excelItemValue.value</value>
	</excelItemValueByCategory>
#end
</excelItemValuesByCategory>