<?xml version="1.0" encoding="UTF-8"?>
<importItemValuesByCategory>
#foreach($importItemValue in $importItemValues)
	<importItemValueByCategory>
		<id>$!importItemValue.importItem.id</id>
		<name>$encoder.xmlEncode($!importItemValue.importItem.name)</name>
		<row>$importItemValue.importItem.row</row>
		<expression>$!importItemValue.importItem.expression</expression>
		<value>$importItemValue.value</value>
	</importItemValueByCategory>
#end
</importItemValuesByCategory>