<?xml version="1.0" encoding="UTF-8"?>
#set($index = 0)
<optionCombo>
  <categoryOptions>
    #foreach( $optionComboId in $optionComboIds )
      #set($optionComboName = $optionComboNames.get($index))
      <categoryOption id="$optionComboId">$encoder.xmlEncode( $optionComboName )</categoryOption>
      #set($index = $index + 1)
    #end
  </categoryOptions>
</optionCombo>