var i18n_save = '$encoder.jsEscape($i18n.getString( 'save' ) , "'")';
var i18n_saved = '$encoder.jsEscape($i18n.getString( 'saved' ) , "'")';
var i18n_delete = '$encoder.jsEscape($i18n.getString( 'delete' ) , "'")';
var i18n_deleted = '$encoder.jsEscape($i18n.getString( 'deleted' ) , "'")';
var i18n_update = '$encoder.jsEscape($i18n.getString( 'update' ) , "'")';
var i18n_updated = '$encoder.jsEscape($i18n.getString( 'updated' ) , "'")';
var i18n_register = '$encoder.jsEscape($i18n.getString( 'register' ) , "'")';
var i18n_registered = '$encoder.jsEscape($i18n.getString( 'registered' ) , "'")';
var i18n_add = '$encoder.jsEscape($i18n.getString( 'add' ) , "'")';
var i18n_added = '$encoder.jsEscape($i18n.getString( 'added' ) , "'")';
var i18n_assign = '$encoder.jsEscape($i18n.getString( 'assign' ) , "'")';
var i18n_assigned = '$encoder.jsEscape($i18n.getString( 'assigned' ) , "'")';
var i18n_refresh = '$encoder.jsEscape($i18n.getString( 'refresh' ) , "'")';
var i18n_refreshed = '$encoder.jsEscape($i18n.getString( 'refreshed' ) , "'")';
var i18n_select = '$encoder.jsEscape($i18n.getString( 'select' ) , "'")';
var i18n_selected = '$encoder.jsEscape($i18n.getString( 'selected' ) , "'")';
var i18n_cancel = '$encoder.jsEscape($i18n.getString( 'cancel' ) , "'")';
var i18n_cancelled = '$encoder.jsEscape($i18n.getString( 'cancelled' ) , "'")';

var i18n_boundary = '$encoder.jsEscape($i18n.getString( 'boundary' ) , "'")';
var i18n_level = '$encoder.jsEscape($i18n.getString( 'level' ) , "'")';
var i18n_type = '$encoder.jsEscape($i18n.getString( 'type' ) , "'")';
var i18n_new = '$encoder.jsEscape($i18n.getString( 'new' ) , "'")';
var i18n_edit = '$encoder.jsEscape($i18n.getString( 'edit' ) , "'")';
var i18n_export = '$encoder.jsEscape($i18n.getString( 'export' ) , "'")';
var i18n_map = '$encoder.jsEscape($i18n.getString( 'map' ) , "'")';
var i18n_favorite = '$encoder.jsEscape($i18n.getString( 'favorite' ) , "'")';
var i18n_legend = '$encoder.jsEscape($i18n.getString( 'legend' ) , "'")';
var i18n_legendset = '$encoder.jsEscape($i18n.getString( 'legendset' ) , "'")';

var i18n_indicators = '$encoder.jsEscape($i18n.getString( 'indicators' ) , "'")';
var i18n_dataelements = '$encoder.jsEscape($i18n.getString( 'dataelements' ) , "'")';
var i18n_thematic_map = '$encoder.jsEscape($i18n.getString( 'thematic_map' ) , "'")';
var i18n_polygon_layer = '$encoder.jsEscape($i18n.getString( 'polygon_layer' ) , "'")';
var i18n_point_layer = '$encoder.jsEscape($i18n.getString( 'point_layer' ) , "'")';
var i18n_favorite = '$encoder.jsEscape($i18n.getString( 'favorite' ) , "'")';	
var i18n_indicator_group = '$encoder.jsEscape($i18n.getString( 'indicator_group' ) , "'")';	
var i18n_indicator = '$encoder.jsEscape($i18n.getString( 'indicator' ) , "'")';	
var i18n_period_type = '$encoder.jsEscape($i18n.getString( 'period_type' ) , "'")';	
var i18n_period = '$encoder.jsEscape($i18n.getString( 'period' ) , "'")';	
var i18n_map = '$encoder.jsEscape($i18n.getString( 'map' ) , "'")';
var i18n_in_the_map = '$encoder.jsEscape($i18n.getString( 'in_the_map' ) , "'")';
var i18n_legend_type = '$encoder.jsEscape($i18n.getString( 'legend_type' ) , "'")';	
var i18n_method = '$encoder.jsEscape($i18n.getString( 'method' ) , "'")';	
var i18n_classes = '$encoder.jsEscape($i18n.getString( 'classes' ) , "'")';	
var i18n_low_color = '$encoder.jsEscape($i18n.getString( 'low_color' ) , "'")';	
var i18n_high_color = '$encoder.jsEscape($i18n.getString( 'high_color' ) , "'")';	
var i18n_optional = '$encoder.jsEscape($i18n.getString( 'optional' ) , "'")';	
var i18n_loading = '$encoder.jsEscape($i18n.getString( 'loading' ) , "'")';	
var i18n_automatic = '$encoder.jsEscape($i18n.getString( 'automatic' ) , "'")';	
var i18n_predefined = '$encoder.jsEscape($i18n.getString( 'predefined' ) , "'")';	
var i18n_equal_intervals = '$encoder.jsEscape($i18n.getString( 'equal_intervals' ) , "'")';	
var i18n_equal_group_count = '$encoder.jsEscape($i18n.getString( 'equal_group_count' ) , "'")';	
var i18n_fixed_breaks = '$encoder.jsEscape($i18n.getString( 'fixed_breaks' ) , "'")';	
var i18n_administrator = '$encoder.jsEscape($i18n.getString( 'administrator' ) , "'")';	
var i18n_map_source = '$encoder.jsEscape($i18n.getString( 'map_source' ) , "'")';	
var i18n_base_coordinate = '$encoder.jsEscape($i18n.getString( 'base_coordinate' ) , "'")';	
var i18n_admin_panels = '$encoder.jsEscape($i18n.getString( 'admin_panels' ) , "'")';	
var i18n_longitude_x = '$encoder.jsEscape($i18n.getString( 'longitude_x' ) , "'")';	
var i18n_latitude_y = '$encoder.jsEscape($i18n.getString( 'latitude_y' ) , "'")';	
var i18n_save_coordinate = '$encoder.jsEscape($i18n.getString( 'save_coordinate' ) , "'")';	
var i18n_export_map_as_image = '$encoder.jsEscape($i18n.getString( 'export_map_as_image' ) , "'")';	
var i18n_status = '$encoder.jsEscape($i18n.getString( 'status' ) , "'")';	
var i18n_error_while_retrieving_data = '$encoder.jsEscape($i18n.getString( 'error_while_retrieving_data' ) , "'")';	
var i18n_bounds = '$encoder.jsEscape($i18n.getString( 'bounds' ) , "'")';
var i18n_comma_separated_values = '$encoder.jsEscape($i18n.getString( 'comma_separated_values' ) , "'")';
var i18n_ajax_request_failed = '$encoder.jsEscape($i18n.getString( 'ajax_request_failed' ) , "'")';
var i18n_component_init_not_complete = '$encoder.jsEscape($i18n.getString( 'component_init_not_complete' ) , "'")';
var i18n_error = '$encoder.jsEscape($i18n.getString( 'error' ) , "'")';
var i18n_form_is_not_complete = '$encoder.jsEscape($i18n.getString( 'form_is_not_complete' ) , "'")';
var i18n_filter = '$encoder.jsEscape($i18n.getString( 'filter' ) , "'")';
var i18n_assign_all = '$encoder.jsEscape($i18n.getString( 'assign_all' ) , "'")';
var i18n_auto_assign = '$encoder.jsEscape($i18n.getString( 'auto_assign' ) , "'")';
var i18n_please_select_map = '$encoder.jsEscape($i18n.getString( 'please_select_map' ) , "'")';	
var i18n_auto_assignment = '$encoder.jsEscape($i18n.getString( 'auto_assignment' ) , "'")';	
var i18n_remove_all = '$encoder.jsEscape($i18n.getString( 'remove_all' ) , "'")';
var i18n_remove_all_relations = '$encoder.jsEscape($i18n.getString( 'remove_all_relations' ) , "'")';
var i18n_all_relations_for_the_map = '$encoder.jsEscape($i18n.getString( 'all_relations_for_the_map' ) , "'")';
var i18n_removed = '$encoder.jsEscape($i18n.getString( 'removed' ) , "'")';
var i18n_error_while_deleting_relation_map_and_oranisation_unit = '$encoder.jsEscape($i18n.getString( 'error_while_deleting_relation_map_and_oranisation_unit' ) , "'")';
var i18n_remove_selected = '$encoder.jsEscape($i18n.getString( 'remove_selected' ) , "'")';
var i18n_remove_relation = '$encoder.jsEscape($i18n.getString( 'remove_relation' ) , "'")';
var i18n_please_select_least_one_organisation_unit_in_the_list = '$encoder.jsEscape($i18n.getString( 'please_select_least_one_organisation_unit_in_the_list' ) , "'")';
var i18n_assign = '$encoder.jsEscape($i18n.getString( 'assign' ) , "'")';	
var i18n_organisation_units = '$encoder.jsEscape($i18n.getString( 'organisation_units' ) , "'")';	
var i18n_assigned_to = '$encoder.jsEscape($i18n.getString( 'assigned_to' ) , "'")';
var i18n_database = '$encoder.jsEscape($i18n.getString( 'database' ) , "'")';
var i18n_is_already_assigned = '$encoder.jsEscape($i18n.getString( 'is_already_assigned' ) , "'")';
var i18n_min_size = '$encoder.jsEscape($i18n.getString( 'min_size' ) , "'")';
var i18n_max_size = '$encoder.jsEscape($i18n.getString( 'max_size' ) , "'")';
var i18n_select_a_value = '$encoder.jsEscape($i18n.getString( 'select_a_value' ) , "'")';
var i18n_applying_organisation_units_relations = '$encoder.jsEscape($i18n.getString( 'applying_organisation_units_relations' ) , "'")';
var i18n_assigning = '$encoder.jsEscape($i18n.getString( 'assigning' ) , "'")';
var i18n_no = '$encoder.jsEscape($i18n.getString( 'no' ) , "'")';
var i18n_assigned = '$encoder.jsEscape($i18n.getString( 'assigned' ) , "'")';
var i18n_creating_map = '$encoder.jsEscape($i18n.getString( 'creating_map' ) , "'")';
var i18n_current_selection_no_data = '$encoder.jsEscape($i18n.getString( 'current_selection_no_data' ) , "'")';
var i18n_creating_choropleth = '$encoder.jsEscape($i18n.getString( 'creating_choropleth' ) , "'")';	
var i18n_assign_organisation_unit = '$encoder.jsEscape($i18n.getString( 'assign_organisation_unit' ) , "'")';
var i18n_no_feature_selected = '$encoder.jsEscape($i18n.getString( 'no_feature_selected' ) , "'")';
var i18n_cursor_position = '$encoder.jsEscape($i18n.getString( 'cursor_position' ) , "'")';
var i18n_overview_map = '$encoder.jsEscape($i18n.getString( 'overview_map' ) , "'")';
var i18n_feature_data = '$encoder.jsEscape($i18n.getString( 'feature_data' ) , "'")';
var i18n_map_legend_polygon = '$encoder.jsEscape($i18n.getString( 'map_legend_polygon' ) , "'")';
var i18n_map_legend_point = '$encoder.jsEscape($i18n.getString( 'map_legend_point' ) , "'")';
var i18n_return_to_DHIS_2_dashboard = '$encoder.jsEscape($i18n.getString( 'return_to_DHIS_2_dashboard' ) , "'")';
var i18n_exit_gis = '$encoder.jsEscape($i18n.getString( 'exit_gis' ) , "'")';
var i18n_help = '$encoder.jsEscape($i18n.getString( 'help' ) , "'")';
var i18n_create_predefined_legend_sets = '$encoder.jsEscape($i18n.getString( 'create_predefined_legend_sets' ) , "'")';
var i18n_export_map_as_excel = '$encoder.jsEscape($i18n.getString( 'export_map_as_excel' ) , "'")';
var i18n_favorite_map_views = '$encoder.jsEscape($i18n.getString( 'favorite_map_views' ) , "'")';	
var i18n_show_hide_labels = '$encoder.jsEscape($i18n.getString( 'show_hide_labels' ) , "'")';	
var i18n_zoom_to_visible_extent = '$encoder.jsEscape($i18n.getString( 'zoom_to_visible_extent' ) , "'")';
var i18n_zoom_out = '$encoder.jsEscape($i18n.getString( 'zoom_out' ) , "'")';
var i18n_zoom_in = '$encoder.jsEscape($i18n.getString( 'zoom_in' ) , "'")';
var i18n_assign_organisation_units_to_map = '$encoder.jsEscape($i18n.getString( 'assign_organisation_units_to_map' ) , "'")';
var i18n_map_layers = '$encoder.jsEscape($i18n.getString( 'map_layers' ) , "'")';
var i18n_and = '$encoder.jsEscape($i18n.getString( 'and' ) , "'")';
var i18n_was_saved_as_base_coordinate = '$encoder.jsEscape($i18n.getString( 'was_saved_as_base_coordinate' ) , "'")';
var i18n_error_while_saving_data = '$encoder.jsEscape($i18n.getString( 'error_while_saving_data' ) , "'")';
var i18n_is_saved_as_map_source = '$encoder.jsEscape($i18n.getString( 'is_saved_as_map_source' ) , "'")';
var i18n_is_already_selected = '$encoder.jsEscape($i18n.getString( 'is_already_selected' ) , "'")';	
var i18n_overlays = '$encoder.jsEscape($i18n.getString( 'overlays' ) , "'")';
var i18n_was_registered = '$encoder.jsEscape($i18n.getString( 'was_registered' ) , "'")';
var i18n_is_already_in_use = '$encoder.jsEscape($i18n.getString( 'is_already_in_use' ) , "'")';
var i18n_new_overlay = '$encoder.jsEscape($i18n.getString( 'new_overlay' ) , "'")';
var i18n_name = '$encoder.jsEscape($i18n.getString( 'name' ) , "'")';
var i18n_overlay_form_is_not_complete = '$encoder.jsEscape($i18n.getString( 'overlay_form_is_not_complete' ) , "'")';
var i18n_display_name = '$encoder.jsEscape($i18n.getString( 'display_name' ) , "'")';
var i18n_fill_color = '$encoder.jsEscape($i18n.getString( 'fill_color' ) , "'")';
var i18n_fill_opacity = '$encoder.jsEscape($i18n.getString( 'fill_opacity' ) , "'")';
var i18n_stroke_color = '$encoder.jsEscape($i18n.getString( 'stroke_color' ) , "'")';
var i18n_map_source_file = '$encoder.jsEscape($i18n.getString( 'map_source_file' ) , "'")';
var i18n_please_enter_map_title = '$encoder.jsEscape($i18n.getString( 'please_enter_map_title' ) , "'")';
var i18n_stroke_width = '$encoder.jsEscape($i18n.getString( 'stroke_width' ) , "'")';	
var i18n_delete_overlay = '$encoder.jsEscape($i18n.getString( 'delete_overlay' ) , "'")';
var i18n_overlay = '$encoder.jsEscape($i18n.getString( 'overlay' ) , "'")';
var i18n_was_deleted = '$encoder.jsEscape($i18n.getString( 'was_deleted' ) , "'")';
var i18n_please_select_an_overlay = '$encoder.jsEscape($i18n.getString( 'please_select_an_overlay' ) , "'")';
var i18n_select = '$encoder.jsEscape($i18n.getString( 'select' ) , "'")';
var i18n_title = '$encoder.jsEscape($i18n.getString( 'title' ) , "'")';
var i18n_preview = '$encoder.jsEscape($i18n.getString( 'preview' ) , "'")';
var i18n_queryable = '$encoder.jsEscape($i18n.getString( 'queryable' ) , "'")';
var i18n_description = '$encoder.jsEscape($i18n.getString( 'description' ) , "'")';
var i18n_register_map = '$encoder.jsEscape($i18n.getString( 'register_map' ) , "'")';
var i18n_register_maps = '$encoder.jsEscape($i18n.getString( 'register_maps' ) , "'")';
var i18n_zoom = '$encoder.jsEscape($i18n.getString( 'zoom' ) , "'")';	
var i18n_name_column = '$encoder.jsEscape($i18n.getString( 'name_column' ) , "'")';	
var i18n_organisation_unit_level = '$encoder.jsEscape($i18n.getString( 'organisation_unit_level' ) , "'")';
var i18n_please_render_map_first = '$encoder.jsEscape($i18n.getString( 'please_render_map_first' ) , "'")';
var i18n_please_select_an_overlay = '$encoder.jsEscape($i18n.getString( 'please_select_an_overlay' ) , "'")';
var i18n_select = '$encoder.jsEscape($i18n.getString( 'select' ) , "'")';
var i18n_title = '$encoder.jsEscape($i18n.getString( 'title' ) , "'")';
var i18n_include_legend = '$encoder.jsEscape($i18n.getString( 'include_legend' ) , "'")';
var i18n_include_values = '$encoder.jsEscape($i18n.getString( 'include_values' ) , "'")';
var i18n_export_excel = '$encoder.jsEscape($i18n.getString( 'export_excel' ) , "'")';
var i18n_image_format = '$encoder.jsEscape($i18n.getString( 'image_format' ) , "'")';
var i18n_image_quality = '$encoder.jsEscape($i18n.getString( 'image_quality' ) , "'")';
var i18n_export_image = '$encoder.jsEscape($i18n.getString( 'export_image' ) , "'")';	
var i18n_medium = '$encoder.jsEscape($i18n.getString( 'medium' ) , "'")';	
var i18n_large = '$encoder.jsEscape($i18n.getString( 'large' ) , "'")';
var i18n_add_to_dashboard = '$encoder.jsEscape($i18n.getString( 'add_to_dashboard' ) , "'")';
var i18n_dhis_dashboard = '$encoder.jsEscape($i18n.getString( 'dhis_dashboard' ) , "'")';
var i18n_dashboard_map_view = '$encoder.jsEscape($i18n.getString( 'dashboard_map_view' ) , "'")';
var i18n_added_to_dashboard = '$encoder.jsEscape($i18n.getString( 'added_to_dashboard' ) , "'")';
var i18n_please_select_a_map_view = '$encoder.jsEscape($i18n.getString( 'please_select_a_map_view' ) , "'")';
var i18n_view = '$encoder.jsEscape($i18n.getString( 'view' ) , "'")';
var i18n_delete_map_view = '$encoder.jsEscape($i18n.getString( 'delete_map_view' ) , "'")';
var i18n_new_map_view = '$encoder.jsEscape($i18n.getString( 'new_map_view' ) , "'")';
var i18n_there_is_already_a_map_view_called	 = '$encoder.jsEscape($i18n.getString( 'there_is_already_a_map_view_called' ) , "'")';
var i18n_thematic_map_form_is_not_complete = '$encoder.jsEscape($i18n.getString( 'thematic_map_form_is_not_complete' ) , "'")';	
var i18n_map_view_form_is_not_complete = '$encoder.jsEscape($i18n.getString( 'map_view_form_is_not_complete' ) , "'")';	
var i18n_save = '$encoder.jsEscape($i18n.getString( 'save' ) , "'")';
var i18n_saving_current_thematic_map_selection	 = '$encoder.jsEscape($i18n.getString( 'saving_current_thematic_map_selection' ) , "'")';
var i18n_new_legend_set = '$encoder.jsEscape($i18n.getString( 'new_legend_set' ) , "'")';
var i18n_already_exists = '$encoder.jsEscape($i18n.getString( 'already_exists' ) , "'")';
var i18n_a_legend_set_called = '$encoder.jsEscape($i18n.getString( 'a_legend_set_called' ) , "'")';
var i18n_assign_to_indicator = '$encoder.jsEscape($i18n.getString( 'assign_to_indicator' ) , "'")';
var i18n_assign_to_dataelement = '$encoder.jsEscape($i18n.getString( 'assign_to_dataelement' ) , "'")';
var i18n_please_select_a_legend_set = '$encoder.jsEscape($i18n.getString( 'please_select_a_legend_set' ) , "'")';
var i18n_link_legend_set_to_indicator = '$encoder.jsEscape($i18n.getString( 'link_legend_set_to_indicator' ) , "'")';
var i18n_please_select_at_least_one_indicator = '$encoder.jsEscape($i18n.getString( 'please_select_at_least_one_indicator' ) , "'")';	
var i18n_was_updated = '$encoder.jsEscape($i18n.getString( 'was_updated' ) , "'")';	
var i18n_automatic_legend_sets = '$encoder.jsEscape($i18n.getString( 'automatic_legend_sets' ) , "'")';
var i18n_start_value = '$encoder.jsEscape($i18n.getString( 'start_value' ) , "'")';
var i18n_end_value = '$encoder.jsEscape($i18n.getString( 'end_value' ) , "'")';
var i18n_color = '$encoder.jsEscape($i18n.getString( 'color' ) , "'")';
var i18n_new_legend = '$encoder.jsEscape($i18n.getString( 'new_legend' ) , "'")';
var i18n_please_select_a_legend = '$encoder.jsEscape($i18n.getString( 'please_select_a_legend' ) , "'")';
var i18n_legends = '$encoder.jsEscape($i18n.getString( 'legends' ) , "'")';
var i18n_overlapping_legends_are_not_allowed = '$encoder.jsEscape($i18n.getString( 'overlapping_legends_are_not_allowed' ) , "'")';
var i18n_please_select_at_least_one_legend	 = '$encoder.jsEscape($i18n.getString( 'please_select_at_least_one_legend' ) , "'")';
var i18n_predefined_legend_sets = '$encoder.jsEscape($i18n.getString( 'predefined_legend_sets' ) , "'")';	
var i18n_assignment = '$encoder.jsEscape($i18n.getString( 'assignment' ) , "'")';	
var i18n_geoserver_shapefiles = '$encoder.jsEscape($i18n.getString( 'geoserver_shapefiles' ) , "'")';
var i18n_must_be_a_number = '$encoder.jsEscape($i18n.getString( 'must_be_a_number' ) , "'")';
var i18n_must_be_between_180_and_180 = '$encoder.jsEscape($i18n.getString( 'must_be_between_-180_and_180' ) , "'")';
var i18n_must_be_between_90_and_90 = '$encoder.jsEscape($i18n.getString( 'must_be_between_-90_and_90' ) , "'")';
var i18n_there_is_already_a_map_called = '$encoder.jsEscape($i18n.getString( 'there_is_already_a_map_called' ) , "'")';
var i18n_selected_relations_removed = '$encoder.jsEscape($i18n.getString( 'selected_relations_removed' ) , "'")';
var i18n_the_source_file = '$encoder.jsEscape($i18n.getString( 'the_source_file' ) , "'")';
var i18n_delete_baselayer = '$encoder.jsEscape($i18n.getString( 'delete_baselayer' ) , "'")';
var i18n_please_select_a_baselayer = '$encoder.jsEscape($i18n.getString( 'please_select_a_baselayer' ) , "'")';
var i18n_baselayer = '$encoder.jsEscape($i18n.getString( 'baselayer' ) , "'")';
var i18n_baselayers = '$encoder.jsEscape($i18n.getString( 'baselayers' ) , "'")';
var i18n_url = '$encoder.jsEscape($i18n.getString( 'url' ) , "'")';
var i18n_layer = '$encoder.jsEscape($i18n.getString( 'layer' ) , "'")';
var i18n_new_baselayer = '$encoder.jsEscape($i18n.getString( 'new_baselayer' ) , "'")';
var i18n_baselayer_form_is_not_complete = '$encoder.jsEscape($i18n.getString( 'baselayer_form_is_not_complete' ) , "'")';
var i18n_mapvaluetype = '$encoder.jsEscape($i18n.getString( 'mapvaluetype' ) , "'")';
var i18n_dataelement_group = '$encoder.jsEscape($i18n.getString( 'dataelement_group' ) , "'")';
var i18n_dataelement = '$encoder.jsEscape($i18n.getString( 'dataelement' ) , "'")';
var i18n_organisation_units_assigned = '$encoder.jsEscape($i18n.getString( 'organisation_units_assigned' ) , "'")';
var i18n_the_view = '$encoder.jsEscape($i18n.getString( 'the_view' ) , "'")';
var i18n_parent_orgunit = '$encoder.jsEscape($i18n.getString( 'parent_orgunit' ) , "'")';
var i18n_delete_map = '$encoder.jsEscape($i18n.getString( 'delete_map' ) , "'")';
var i18n_aggregating_map_values = '$encoder.jsEscape($i18n.getString( 'aggregating_map_values' ) , "'")';
var i18n_loading_geojson = '$encoder.jsEscape($i18n.getString( 'loading_geojson' ) , "'")';
var i18n_date_type = '$encoder.jsEscape($i18n.getString( 'date_type' ) , "'")';
var i18n_saved_as_date_type = '$encoder.jsEscape($i18n.getString( 'saved_as_date_type' ) , "'")';
var i18n_start_date = '$encoder.jsEscape($i18n.getString( 'start_date' ) , "'")';
var i18n_end_date = '$encoder.jsEscape($i18n.getString( 'end_date' ) , "'")';
var i18n_fixed_periods = '$encoder.jsEscape($i18n.getString( 'fixed_periods' ) , "'")';
var i18n_start_end_dates = '$encoder.jsEscape($i18n.getString( 'start_end_dates' ) , "'")';
var i18n_please_expand_layer_panel = '$encoder.jsEscape($i18n.getString( 'please_expand_layer_panel' ) , "'")';
var i18n_has_no_orgunits = '$encoder.jsEscape($i18n.getString( 'has_no_orgunits' ) , "'")';
var i18n_highlight_color = '$encoder.jsEscape($i18n.getString( 'highlight_color' ) , "'")';
var i18n_feature_filter = '$encoder.jsEscape($i18n.getString( 'feature_filter' ) , "'")';
var i18n_locate_features = '$encoder.jsEscape($i18n.getString( 'locate_features' ) , "'")';
var i18n_no_coordinates_found = '$encoder.jsEscape($i18n.getString( 'no_coordinates_found' ) , "'")';
var i18n_image_resolution = '$encoder.jsEscape($i18n.getString( 'image_resolution' ) , "'")';

var i18n_max = '$encoder.jsEscape($i18n.getString( 'max' ) , "'")';
var i18n_characters = '$encoder.jsEscape($i18n.getString( 'characters' ) , "'")';