{ "map": 
  [{
    "id": "$!{object.id}",
    "name": "$!encoder.jsEncode( ${object.name} )",
    "mapLayerPath": "$!encoder.jsEncode( ${object.mapLayerPath} )",
    "organisationUnitLevel": "$!{object.organisationUnitLevel.level}",
    "nameColumn": "$!encoder.jsEncode( ${object.nameColumn} )"
  }]
}