#set( $size = $object.size() )
{ "mapLayers": [
#foreach( $mapLayer in $object )
  {
    "id": "$!{mapLayer.id}",
    "name": "$!encoder.jsEncode( ${mapLayer.name} )",
    "type": "$!encoder.jsEncode( ${mapLayer.type} )",
    "mapSource": "$!encoder.jsEncode( ${mapLayer.mapSource} )",
    "fillColor": "$!encoder.jsEncode( ${mapLayer.fillColor} )",
    "fillOpacity": "$!{mapLayer.fillOpacity}",
    "strokeColor": "$!encoder.jsEncode( ${mapLayer.strokeColor} )",
    "strokeWidth": "$!{mapLayer.strokeWidth}"
  }#if( $velocityCount < $size ),#end
#end
] }