{
  "mapView": { 
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsonEncode( ${mapView.name} )",
    "mapValueType": "$!encoder.jsonEncode( ${mapView.mapValueType} )",
    "indicatorGroupId": "$!{mapView.indicatorGroup.id}",
    "indicatorId": "$!{mapView.indicator.id}",
    "dataElementGroupId": "$!{mapView.dataElementGroup.id}",
    "dataElementId": "$!{mapView.dataElement.id}",
    "mapDateType": "$!encoder.jsonEncode( ${mapView.mapDateTypeNullSafe} )",
    "periodTypeId": "$!encoder.jsonEncode( ${mapView.periodType.name} )",
    "periodId": "$!{mapView.period.id}",
    "startDate": "$!encoder.jsonEncode( ${mapView.startDate} )",
    "endDate": "$!encoder.jsonEncode( ${mapView.endDate} )",
    "parentOrganisationUnitId": "$!{mapView.parentOrganisationUnit.id}",
    "parentOrganisationUnitName": "$!encoder.jsonEncode( ${mapView.parentOrganisationUnit.name} )",
    "parentOrganisationUnitLevel": "$!{mapView.parentOrganisationUnit.level}",
    "organisationUnitLevel": "$!{mapView.organisationUnitLevel.level}",
    "organisationUnitLevelName": "$!{mapView.organisationUnitLevel.name}",
    "mapLegendType": "$!encoder.jsonEncode( ${mapView.mapLegendType} )",
    "method": "$!{mapView.method}",
    "classes": "$!{mapView.classes}",
    "bounds": "$!{mapView.bounds}",
    "colorLow": "$!encoder.jsonEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsonEncode( ${mapView.colorHigh} )",
    "mapLegendSetId": "$!{mapView.mapLegendSet.id}",
    "longitude": "$!encoder.jsonEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsonEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  },
  "userSettings": {
    "mapDateType": "$!encoder.jsonEncode( ${mapDateType} )"
  }
}