{ "mapLegendSet":
  [{
    "id": "$!{object.id}",
    "name": "$!encoder.jsEncode( ${object.name} )",
    "method": "$!{object.method}",
    "classes": "$!{object.classes}",
    "colorLow": "$!encoder.jsEncode( ${object.colorLow} )",
    "colorHigh": "$!encoder.jsEncode( ${object.colorHigh} )"
  }]
}