{ "mapvalues": [
#foreach( $value in $object )
  {
    "organisationUnitId": "$!{value.organisationUnitId}",
    "orgUnit": "$!{value.organisationUnitName}",
    "value": "$!{value.value}"
  },
#end
] }