#set( $baseLaysersSize = $baseLayers.size() )
#set( $overlaysSize = $overlays.size() )
{
  "mapView": { 
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsonEncode( ${mapView.name} )",
    "featureType": "$!encoder.jsonEncode( ${mapView.featureType} )",
    "mapValueType": "$!encoder.jsonEncode( ${mapView.mapValueType} )",
    "indicatorGroupId": "$!{mapView.indicatorGroup.id}",
    "indicatorId": "$!{mapView.indicator.id}",
    "dataElementGroupId": "$!{mapView.dataElementGroup.id}",
    "dataElementId": "$!{mapView.dataElement.id}",
    "mapDateType": "$!encoder.jsonEncode( ${mapView.mapDateTypeNullSafe} )",
    "periodTypeId": "$!encoder.jsonEncode( ${mapView.periodType.name} )",
    "periodId": "$!{mapView.period.id}",
    "startDate": "$!encoder.jsonEncode( ${mapView.startDate} )",
    "endDate": "$!encoder.jsonEncode( ${mapView.endDate} )",
    "parentOrganisationUnitId": "$!{mapView.parentOrganisationUnit.id}",
    "parentOrganisationUnitName": "$!encoder.jsonEncode( ${mapView.parentOrganisationUnit.name} )",
    "parentOrganisationUnitLevel": "$!{mapView.parentOrganisationUnit.level}",
    "organisationUnitLevel": "$!{mapView.organisationUnitLevel.level}",
    "organisationUnitLevelName": "$!{mapView.organisationUnitLevel.name}",
    "mapLegendType": "$!encoder.jsonEncode( ${mapView.mapLegendType} )",
    "method": "$!{mapView.method}",
    "classes": "$!{mapView.classes}",
    "bounds": "$!{mapView.bounds}",
    "colorLow": "$!encoder.jsonEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsonEncode( ${mapView.colorHigh} )",
    "mapLegendSetId": "$!{mapView.mapLegendSet.id}",
    "radiusLow": "$!{mapView.radiusLow}",
    "radiusHigh": "$!{mapView.radiusHigh}",
    "longitude": "$!encoder.jsonEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsonEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  },
  "userSettings": {
    "mapDateType": "$!encoder.jsonEncode( ${mapDateType} )"
  },
  "baseLayers": [
#foreach( $baseLayer in $baseLayers )
    {
      "data": {
        "id": "$!{baseLayer.id}",
        "name": "$!encoder.jsonEncode( ${baseLayer.name} )",
        "type": "$!encoder.jsonEncode( ${baseLayer.type} )",
        "mapSource": "$!encoder.jsonEncode( ${baseLayer.mapSource} )",
        "layer": "$!encoder.jsonEncode( ${baseLayer.layer} )",
        "fillColor": "$!encoder.jsonEncode( ${baseLayer.fillColor} )",
        "fillOpacity": "$!{baseLayer.fillOpacity}",
        "strokeColor": "$!encoder.jsonEncode( ${baseLayer.strokeColor} )",
        "strokeWidth": "$!{baseLayer.strokeWidth}"
      }
    }#if( $velocityCount < $baseLaysersSize ),#end
#end
  ],
  "overlays": [
#foreach( $overlay in $overlays )
    {
      "data": {
        "id": "$!{overlay.id}",
        "name": "$!encoder.jsonEncode( ${overlay.name} )",
        "type": "$!encoder.jsonEncode( ${overlay.type} )",
        "mapSource": "$!encoder.jsonEncode( ${overlay.mapSource} )",
        "layer": "$!encoder.jsonEncode( ${overlay.layer} )",
        "fillColor": "$!encoder.jsonEncode( ${overlay.fillColor} )",
        "fillOpacity": "$!{overlay.fillOpacity}",
        "strokeColor": "$!encoder.jsonEncode( ${overlay.strokeColor} )",
        "strokeWidth": "$!{overlay.strokeWidth}"
      }
    }#if( $velocityCount < $overlaysSize ),#end
#end
  ]
}