{ "mapView": 
  [{
    "id": "$!{object.id}",
    "name": "$!encoder.jsEncode( ${object.name} )",
    "mapValueType": "$!encoder.jsEncode( ${object.mapValueType} )",
    "indicatorGroupId": "$!{object.indicatorGroup.id}",
    "indicatorId": "$!{object.indicator.id}",
    "dataElementGroupId": "$!{object.dataElementGroup.id}",
    "dataElementId": "$!{object.dataElement.id}",
    "mapDateType": "$!encoder.jsEncode( ${object.mapDateTypeNullSafe} )",
    "periodTypeId": "$!encoder.jsEncode( ${object.periodType.name} )",
    "periodId": "$!{object.period.id}",
    "startDate": "$!encoder.jsEncode( ${object.startDate} )",
    "endDate": "$!encoder.jsEncode( ${object.endDate} )",
    "mapSourceType": "$!encoder.jsEncode( ${object.mapSourceType} )",
    "mapSource": "$!encoder.jsEncode( ${object.mapSource} )",
    "parentOrganisationUnitName": "$!encoder.jsEncode( ${object.parentOrganisationUnitName} )",
    "mapLegendType": "$!encoder.jsEncode( ${object.mapLegendType} )",
    "method": "$!{object.method}",
    "classes": "$!{object.classes}",
    "bounds": "$!{object.bounds}",
    "colorLow": "$!encoder.jsEncode( ${object.colorLow} )",
    "colorHigh": "$!encoder.jsEncode( ${object.colorHigh} )",
    "mapLegendSetId": "$!{object.mapLegendSet.id}",
    "longitude": "$!encoder.jsEncode( ${object.longitude} )",
    "latitude": "$!encoder.jsEncode( ${object.latitude} )",
    "zoom": "$!{object.zoom}"
  }]
}