#set( $size = $object.size() )
{ "mapViews": [
#foreach( $mapView in $object )
  {
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsEncode( ${mapView.name} )",
    "mapValueType": "$!encoder.jsEncode( ${mapView.mapValueType} )",
    "indicatorGroupId": "$!{mapView.indicatorGroup.id}",
    "indicatorId": "$!{mapView.indicator.id}",
    "dataElementGroupId": "$!{mapView.dataElementGroup.id}",
    "dataElementId": "$!{mapView.dataElement.id}",
    "mapDateType": "$!encoder.jsEncode( ${object.mapDateTypeNullSafe} )",
    "periodTypeId": "$!encoder.jsEncode( ${mapView.periodType.name} )",
    "periodId": "$!{mapView.period.id}",
    "startDate": "$!encoder.jsEncode( ${object.startDate} )",
    "endDate": "$!encoder.jsEncode( ${object.endDate} )",
    "mapSourceType": "$!encoder.jsEncode( ${mapView.mapSourceType} )",
    "mapSource": "$!encoder.jsEncode( ${mapView.mapSource} )",
    "parentOrganisationUnitName": "$!encoder.jsEncode( ${mapView.parentOrganisationUnitName} )",
    "mapLegendType": "$!encoder.jsEncode( ${mapView.mapLegendType} )",
    "method": "$!{mapView.method}",
    "classes": "$!{mapView.classes}",
    "bounds": "$!{mapView.bounds}",
    "colorLow": "$!encoder.jsEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsEncode( ${mapView.colorHigh} )",
    "mapLegendSetId": "$!{mapView.mapLegendSet.id}",
    "longitude": "$!encoder.jsEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  }#if( $velocityCount < $size ),#end
#end
] }