#set( $size = $object.size() )
{ "mapViews": [
#foreach( $mapView in $object )
  {
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsEncode( ${mapView.name} )",
    "indicatorGroupId": $!{mapView.indicatorGroup.id},
    "indicatorId": $!{mapView.indicator.id},
    "periodTypeId": $!{mapView.periodType.id},
    "periodId": $!{mapView.period.id},
    "mapSourceType": "$!encoder.jsEncode( ${object.mapSourceType} )",
    "mapSource": "$!encoder.jsEncode( ${object.mapSource} )",
    "method": $!{mapView.method},
    "classes": $!{mapView.classes},
    "colorLow": "$!encoder.jsEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsEncode( ${mapView.colorHigh} )",
    "longitude": "$!encoder.jsEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  }#if( $velocityCount < $size ),#end
#end
] }