#set( $size = $object.size() )
{
  "type":"FeatureCollection",
  "features":
  [
  #foreach ( $unit in $object )
    {
      "type":"Feature",
      "id":"districts.1",
      "geometry":
        {
          "type":"MultiPolygon",
           "coordinates":$!encoder.jsEncode( $!{unit.validCoordinates} )
        },
      "properties":
        {
          "name":"$!encoder.jsEncode( ${unit.name} )"
        }
    }#if( $velocityCount < $size ),#end
  #end
  ],
  "crs":
    {
      "type":"EPSG",
      "properties":
        {
          "code":"4326"
        }
    }
}