#set( $dollar = '$' ) 
<?xml version="1.0" encoding="UTF-8"?>
<jasperReport xmlns="http://jasperreports.sourceforge.net/jasperreports" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://jasperreports.sourceforge.net/jasperreports http://jasperreports.sourceforge.net/xsd/jasperreport.xsd" name="dpt" pageWidth="595" pageHeight="842" columnWidth="555" leftMargin="20" rightMargin="20" topMargin="20" bottomMargin="20">
	<subDataset name="chart">
		<queryString language="SQL">
			<![CDATA[select * from ${grid.table} where organisation_unit_is_parent='1';]]>
		</queryString>
		#foreach( $header in $grid.getHeaders() )
		<field name="${header.column}" class="${header.type}"/>
		#end
	</subDataset>
	<queryString>
		<![CDATA[select * from ${grid.table} order by organisation_unit_is_parent;]]>
	</queryString>
	#foreach( $header in $grid.getHeaders() )
	<field name="${header.column}" class="${header.type}"/>
	#end
	<background>
		<band splitType="Stretch"/>
	</background>
	<title>
		<band height="326" splitType="Stretch">
			<staticText>
				<reportElement x="12" y="15" width="532" height="41" forecolor="#184F73"/>
				<textElement textAlignment="Center">
					<font size="24"/>
				</textElement>
				<text><![CDATA[${grid.title}]]></text>
			</staticText>
			<bar3DChart>
				<chart evaluationTime="Report">
					<reportElement x="12" y="114" width="532" height="210"/>
					<chartTitle/>
					<chartSubtitle/>
					<chartLegend/>
				</chart>
				<categoryDataset>
					<dataset>
						<datasetRun subDataset="chart"/>
					</dataset>
					<categorySeries>
						<seriesExpression><![CDATA["DPT 1"]]></seriesExpression>
						<categoryExpression><![CDATA[""]]></categoryExpression>
						<valueExpression><![CDATA[${dollar}F{dpt1_doses_given}]]></valueExpression>
					</categorySeries>
					<categorySeries>
						<seriesExpression><![CDATA["DPT 2"]]></seriesExpression>
						<categoryExpression><![CDATA[""]]></categoryExpression>
						<valueExpression><![CDATA[${dollar}F{dpt2_doses_given}]]></valueExpression>
					</categorySeries>
					<categorySeries>
						<seriesExpression><![CDATA["DPT 3"]]></seriesExpression>
						<categoryExpression><![CDATA[""]]></categoryExpression>
						<valueExpression><![CDATA[${dollar}F{dpt3_doses_given}]]></valueExpression>
					</categorySeries>
					<categorySeries>
						<seriesExpression><![CDATA["Measles"]]></seriesExpression>
						<categoryExpression><![CDATA[""]]></categoryExpression>
						<valueExpression><![CDATA[${dollar}F{measles_doses_given}]]></valueExpression>
					</categorySeries>
					<categorySeries>
						<seriesExpression><![CDATA["Fully Imm"]]></seriesExpression>
						<categoryExpression><![CDATA[""]]></categoryExpression>
						<valueExpression><![CDATA[${dollar}F{fully_immunised}]]></valueExpression>
					</categorySeries>
				</categoryDataset>
				<bar3DPlot>
					<plot/>
					<itemLabel color="#000000" backgroundColor="#FFFFFF"/>
					<categoryAxisFormat>
						<axisFormat>
							<labelFont/>
							<tickLabelFont/>
						</axisFormat>
					</categoryAxisFormat>
					<valueAxisFormat>
						<axisFormat>
							<labelFont/>
							<tickLabelFont/>
						</axisFormat>
					</valueAxisFormat>
				</bar3DPlot>
			</bar3DChart>
		</band>
	</title>
	<pageHeader>
		<band height="15" splitType="Stretch"/>
	</pageHeader>
	<columnHeader>
		<band height="51" splitType="Stretch">
			<staticText>
				<reportElement x="170" y="26" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[DPT 1 given]]></text>
			</staticText>
			<staticText>
				<reportElement x="234" y="26" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[DPT 2 given]]></text>
			</staticText>
			<staticText>
				<reportElement x="298" y="26" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[DPT 3 given]]></text>
			</staticText>
			<staticText>
				<reportElement x="362" y="26" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[Measles given]]></text>
			</staticText>
			<staticText>
				<reportElement x="426" y="26" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[Fully imm]]></text>
			</staticText>
			<staticText>
				<reportElement x="12" y="26" width="148" height="20"/>
				<textElement>
					<font size="10" isBold="true"/>
				</textElement>
				<text><![CDATA[Organisation unit]]></text>
			</staticText>
		</band>
	</columnHeader>
	<detail>
		<band height="21" splitType="Stretch">
			<textField>
				<reportElement x="170" y="0" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="9"/>
				</textElement>
				<textFieldExpression class="java.lang.Double"><![CDATA[${dollar}F{dpt1_doses_given}]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="234" y="0" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="9"/>
				</textElement>
				<textFieldExpression class="java.lang.Double"><![CDATA[${dollar}F{dpt2_doses_given}]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="298" y="0" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="9"/>
				</textElement>
				<textFieldExpression class="java.lang.Double"><![CDATA[${dollar}F{dpt3_doses_given}]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="362" y="0" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="9"/>
				</textElement>
				<textFieldExpression class="java.lang.Double"><![CDATA[${dollar}F{measles_doses_given}]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="426" y="0" width="64" height="20"/>
				<textElement textAlignment="Center">
					<font size="9"/>
				</textElement>
				<textFieldExpression class="java.lang.Double"><![CDATA[${dollar}F{fully_immunised}]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="12" y="0" width="148" height="20"/>
				<textElement>
					<font size="9" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[${dollar}F{organisationunitname}]]></textFieldExpression>
			</textField>
		</band>
	</detail>
	<columnFooter>
		<band height="22" splitType="Stretch"/>
	</columnFooter>
	<pageFooter>
		<band height="20" splitType="Stretch"/>
	</pageFooter>
	<summary>
		<band height="42" splitType="Stretch"/>
	</summary>
</jasperReport>
