<div id="topMapMenu">	
	<a style="text-decoration:none" style="CURSOR: hand" href="javascript:assignRootMap();">[$i18n.getString( "assign_root_map" )]</a>
	<a style="text-decoration:none" style="CURSOR: hand" href="javascript:showHideLabel();">[Label]</a>		
	<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomIn();" title="Zoom In">[ + ]</a>
	<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomOut();" title="Zoom Out">[ - ]</a>
	<a style="text-decoration:none" style="CURSOR: hand" href="javascript:retoreZoom();" title="Retore">[ ~ ]</a>
	<a style="text-decoration:none" style="CURSOR: hand" href="#" onclick="showById('listMapFile');" title="$i18n.getString( 'map_render' )">[ < ]</a>	
</div>

<div id="mapDiv" >
	<div id="divMap">
	 <embed id="map" src="map/$mapFile.mapFile" name="map" type="image/svg+xml" align="center"/>
	</div>	
</div>	

<script type="text/javascript">
		
	var paddingTop = document.getElementById( "mapDiv" ).offsetTop;
	
	var windowHeight = window.innerHeight;
	
	var windowWidth = window.innerWidth;
	
	var frameHeight = windowHeight - paddingTop - 10;	
	
	document.getElementById( "mapDiv" ).style.height = frameHeight +"px";		
		
</script>

<div id="listMapFile">
	<table id="list" style="width:100%"> 	
		<tr>			
			<th>$i18n.getString( "file_name" )</th>			
		</tr>		
		#set( $mark = false )
		#foreach( $map in $listMap )	

		  <tr #if( $mark ) style="background-color:#dddddd" #end>			
			<td><input type="radio" name="svgfile" onclick="javascript:previewMap('$map');">$map</input></td>			
		  </tr>		
		#if( $mark )
			#set( $mark = false )
		  #else
			#set( $mark = true )
		  #end
		#end
	</table>
</div>

<span id="message" style="position:fixed;bottom:20px;right:20px;width:200px;" onclick="hideById(this.id)"></span>

<script type="text/javascript">
	var currentSVG;
	
	selection.setListenerFunction( getSVGFileByOrganisation );
	
	function assignRootMap(){
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( assignRootMapReceived );
		request.send( "addMapFile.action?mapFileName=" +  currentSVG);
	}
	function assignRootMapReceived( xmlObject ){
		var message = xmlObject.firstChild.nodeValue;
		setMessage(message);
	}
	
	
</script>

