
<h3>$i18n.getString( "${key}_analysis" ) #openHelp( "${key}Analysis" )</h3>

<form id="analysisForm" method="post" action="getAnalysis.action">

<input type="hidden" id="key" name="key" value="$!key">

<table>
	## Date
	<tr>
		<th>$i18n.getString( "from_date" )</th>
		<th>$i18n.getString( "to_date" )</th>
	</tr>
	<tr>
		<td>
			<input type="text" id="fromDate" name="fromDate" />
			<img src="../images/calendar_icon.gif" width="16" height="16" id="getDateFieldFrom" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
		</td>
		<td>
			<input type="text" id="toDate" name="toDate" />	
			<img src="../images/calendar_icon.gif" width="16" height="16" id="getDateFieldTo" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">			
		</td>
	</tr>  
    <tr>
        <td colspan="2" style="height:10px"></td>
    </tr>
    
	## DATA SET CHOOSER
	<tr>
		<th colspan="2" style="min-width:325px;">$i18n.getString( "select_data_set" )</th>
	</tr>
	<tr>
		<td colspan="2">
			<select name="dataset" id="dataset" style="min-width:325px" onChange="fetchDataElements()">
				<option value="-1">[ $i18n.getString( "select_data_set" ) ]</option>
				#foreach ( $dataSet in $dataSets )
				<option value="$dataSet.id">$dataSet.name</option>
				#end
			</select>
		</td>
	</tr>
	<tr>
        <td colspan="2" style="height:10px">
        </td>
    </tr>
 </table>
 
 <table>    
	## DATA ELEMENTS CHOOSER
	<tr>
		<th style="min-width:325px;">$i18n.getString( "available_data_elements" )</th>
		<td></td>
		<th style="min-width:325px;">$i18n.getString( "selected_data_elements" )</th>
	</tr>
	<tr>
		<td>
			<select id="unselectedDataElements" name="unselectedDataElements" multiple="multiple" style="min-width:325px;height:20em" ondblclick="moveSelectedById( 'unselectedDataElements', 'dataElementsById' )" disabled="true">
			</select>
		</td>
		<td align="center">
			<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:40px" onclick="moveSelectedById( 'unselectedDataElements', 'dataElementsById' )"><br>
			<input type="button" value="&lt;" title="$i18n.getString( 'move_all' )" style="width:40px" onclick="moveSelectedById( 'dataElementsById', 'unselectedDataElements' )"><br>		
			<input type="button" value="&gt;&gt;" title="$i18n.getString( 'remove_selected' )" style="width:40px" onclick="moveAllById( 'unselectedDataElements', 'dataElementsById' )"><br>
			<input type="button" value="&lt;&lt;" title="$i18n.getString( 'remove_all' )" style="width:40px" onclick="moveAllById( 'dataElementsById', 'unselectedDataElements' )">
		</td>
		<td>
			<select id="dataElementsById" name="dataElementsById" multiple="multiple" style="min-width:325px;height:20em" ondblclick="moveSelectedById( 'dataElementsById', 'unselectedDataElements' )" disabled="true">
			</select>
		</td>
	</tr>
    <tr>
        <td colspan="3" style="height:10px">
        </td>
    </tr>
</table>

<table>
	## ORG. UNIT CHOOSER
	<tr>
		<th colspan="2" style="min-width:325px">$i18n.getString( "select_parent_organisation_unit" )</th>
	</tr>
	<tr>
		<td colspan="2">
			<div id="selectionTree" style="width:40em;height:20em;overflow:auto;/*border:1px solid #cccccc*/"></div>
			<script type="text/javascript">

          		selectionTreeSelection.setMultipleSelectionAllowed( false );
          		// selectionTreeSelection.setOnSelectFunction( treeClicked );
          		// selectionTreeSelection.setListenerFunction( selectCompleted );
          		selectionTree.buildSelectionTree();

        	</script>
		</td>
	</tr>
</table>

#if( $key == "stddevoutlier" )
<div id="stddevform">
<table>
	## STANDARD DEVIATION INPUT FIELD	
    <tr>
        <td colspan="2" style="height:20px"></td>
    </tr>
	<tr>
		<th style="min-width:325px">$i18n.getString( "select_std_dev" )</th>
	</tr>
	<tr>
		<td>
			<select id="standardDeviation" name="standardDeviation" style="width:120px">
				<option value="1.0">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0" selected="selected">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4.0</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5.0</option>
			</select>
		</td>
	</tr>
</table>
</div>
#end

<table> 
    <tr>
        <td colspan="2" style="height:10px"></td>
    </tr>
	<tr>
		<td>
			<input type="button" onclick="validateAndSubmit()" value="$i18n.getString( 'start' )" style="width:120px" />
		</td>
	</tr>
</table>

<span id="message"></span>

<script type="text/javascript">
    Calendar.setup({
        inputField     :    "fromDate",          // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getDateFieldFrom"   // trigger for the calendar (button ID)
    });
</script>
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "toDate",          // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getDateFieldTo"   // trigger for the calendar (button ID)
    });
</script>

</form>
