
<span id="message"></span>

<div id="analysisResult"></div>

<script type="text/javascript">
  var i18n_analysing_please_wait = '$encoder.jsEscape( $i18n.getString( "analysing_please_wait" ) , "'")';
  
  getFollowUpAnalysis();
</script>