
<h3>$i18n.getString( "outlier_analysis_search_result" )</h3>

#if ( $outlierValues.size() == 0 )

<span id="info">$i18n.getString( "no_outlier_values_found" ) ($searchTime ms).</span>
	
<p><strong>$i18n.getString( "from_date" ):</strong> $fromDate <strong>$i18n.getString( "to_date" ):</strong> $toDate</p>

#else

<span id="info">$outlierValues.size() $i18n.getString( "values_found" ) ($searchTime ms).</span>

<p><strong>$i18n.getString( "from_date" ):</strong> $fromDate <strong>$i18n.getString( "to_date" ):</strong> $toDate</p>

<table class="mainPageTable" cellpadding="0">
	<tr>
		<th>$i18n.getString( "data_element" )</th>
		<th>$i18n.getString( "organisation_unit" )</th>
		<th>$i18n.getString( "period" )</th>
		<th>$i18n.getString( "min" )</th>
		<th style="width: 100px">$i18n.getString( "value" )</th>
		<th>$i18n.getString( "max" )</th>
	</tr>
	
	#set( $count = 0 )
	#set( $mark = 0 )
	#foreach( $outlierValue in $outlierValues )
	
		#if( $mark == 1 )
			#set( $mark = 0 )
		#else
			#set( $mark = 1 )
		#end
		#set( $count = $count + 1 )
	
	<tr #if( $mark == 0 ) style="background-color:#dddddd" #end>
	
		## data element
		<td>
			<span id="outlier[$count].name">
				$outlierValue.dataElementName
			</span>
		</td>
		
		## organisation unit
		<td>
			$outlierValue.sourceName
		</td>
		
		## period
		<td>
			$format.formatPeriod( $outlierValue.period )
		</td>
		
		## lower bound (min)
		<td>
			<div style="text-align:center">$outlierValue.min</div>
		</td>
		
		## value
		<td style="width:100px">
			<input name="outliervalue" id="outlier[$count].value" value="$outlierValue.value"
				style="width: 95%; text-align: center;" tabindex="$count" type="text" onchange="editOutlierValue( $count )">			
            <input type="hidden" id="outlier[$count].dataElement" value="$outlierValue.dataElementId">
            <input type="hidden" id="outlier[$count].period" value="$outlierValue.periodId">
            <input type="hidden" id="outlier[$count].source" value="$outlierValue.sourceId">
            <input type="hidden" id="outlier[$count].categoryOptionCombo" value="$outlierValue.categoryOptionComboId">
            <input type="hidden" id="outlier[$count].min" value="$outlierValue.min">
            <input type="hidden" id="outlier[$count].max" value="$outlierValue.max">
		</td>
		
		## upper bound (max)
		<td>
			<div style="text-align:center">$outlierValue.max</div>
		</td>
		
	</tr>
	#end
</table>

#end
