            
* 
{
  font-family: tahoma, sans-serif;
  line-height: 125%;
  font-size: 9pt;
}

h3 
{
  font-size: 11pt;
  color: #606060;
}

.listTable
{
  width: 100%;
  border-collapse: collapse;
}

.listTable th 
{
  background-image: url('../images/head.png');
  background-repeat: repeat-x;
  text-align: left;
  color: #3f5d8e;
  border-style: solid;
  border-width: 1px;
  border-color: #99bbe8;
  padding-left: 7px;
  height: 19px;
  font-weight: normal;
}

.listTable td
{
  padding: 2px;
}

.listRow
{
  border-bottom: 1px solid #cad5e5;
  text-align: center;
}

.listAlternateRow
{
  border-bottom: 1px solid #cad5e5;
  background-color: #ebf0f6;
  text-align: center;
}
