/* Gray-extend theme overrides */
.ext-gecko .x-window-body .x-form-item {
	overflow:hidden;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border-top:0px none;
}
.x-panel-body {
	border:0px;
}
.x-panel-tl {
    padding-left: 8px;
}
.x-form-field {
	font:10px lucida sans unicode,arial,tahoma,helvetica,sans-serif;
}
.x-form-item label.x-form-item-label {
    padding:3px 3px 3px 4px;
}
.x-combo-list {
	font:10px lucida sans unicode,arial,tahoma,helvetica,sans-serif;
}
.x-tree-node {
	font:10px lucida sans unicode,arial,tahoma,helvetica,sans-serif;
}
.x-panel-mc {
	font:10px lucida sans unicode,arial,tahoma,helvetica,sans-serif;
}
.x-tree-node a span, .x-dd-drag-ghost a span {
	padding:1px 3px 1px 4px;
}
.x-tree .x-panel-body {
	background-color:#F8F8F8;
}
.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
	background-image:url(../../resources/ext-ux/theme/gray-extend-ux/btn.gif);
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button {
	padding-left:7px;
	padding-right:7px;
}
.x-toolbar .xtb-sep {
    background-image:url(../../resources/ext-ux/theme/gray-extend-ux/grid-split.png);
    height:27px;
}
#map_tb .x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-top:1px solid #bebebe;
    border-left:1px solid #bebebe;
    border-right:1px solid #bebebe;
}
.x-panel-tbar .x-toolbar {
    padding:0;
}
.ux-mselect-item {
	font:10px lucida sans unicode,tahoma,arial,helvetica,sans-serif;
	padding:1px;
}
.x-box-mc {
	font-family:arial,tahoma,helvetica;
	font-weight:normal;
}
.loading-indicator {
	font-size:10px;
	color:#666;
	padding-left:21px;
}
.x-date-picker {
    border-color:#aaaaaa;
}
.x-date-inner .x-date-today a {
    border-color:#999999;
}

/* OpenLayers overrides */
div.olMapViewport {
    border-top:1px solid #bebebe;
}

/* OpenLayers (include in lib)
.olControlOverviewMapElement {
    -moz-border-radius:1em 0 0 0;
    background-color:#aaaaaa;
    padding:0;
}
.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px ridge #333333;
}
.olHandlerBoxZoomBox {
    border: 2px solid black;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
*/

/* Ext Label */
.x-form-item-label {
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}

/* Ext Grid */
.row-assigned  {
	background-color:#90ee90;
}
.row-unassigned  {
	background-color:#FFFFFF;
}
#grid_gp .x-grid3-cell-inner {
	color:#333;
}
.x-grid3-cell-inner, .x-grid3-hd-inner  {
	font:normal 10px lucida sans unicode,arial;
	color:#777;
}
.x-grid3-hd-inner, .x-grid3-hd-organisationUnitId  {
	font-family:normal 11px lucida sans unicode,arial;
	color:#333;
}

/* Ext Button */
.x-btn button {
	font:normal 10px lucida sans unicode,arial;
}
.x-btn .icon-zoomin  {
	background-image:url(../../../images/zoom_in.png);
}
.x-btn .icon-zoomout  {
	background-image:url(../../../images/zoom_out.png);
}
.x-btn .icon-zoommin  {
	background-image:url(../../../images/zoom_world.png);
}
.x-btn .icon-labels {
	background-image:url(../../../images/labels.png);
}
.x-btn .icon-image {
	background-image:url(../../../images/image.png);
}
.x-btn .icon-excel {
	background-image:url(../../../images/excel.gif);
}
.x-btn .icon-pdf {
	background-image:url(../../../images/pdf.png);
}
.x-btn .icon-favorite {
	background-image:url(../../../images/favorite_star2.png);
}
.x-btn .icon-automaticlegendset {
	background-image:url(../../../images/color_swatch2.png);
}
.x-btn .icon-predefinedlegendset {
	background-image:url(../../../images/color_swatch.png);
}
.x-btn .icon-help {
	background-image:url(../../../images/help.png);
}
.aa_dark button  {
	color:#111;
}
.aa_med button  {
	color:#333;
}
.aa_light button  {
	color:#888;
}

/* Ext Loading Mask */
.x-mask-loading2 div  {
	padding:5px 11px 6px 32px;
	background:#fbfbfb url('../../../images/loader.gif') no-repeat 5px 2px;
	line-height:20px;
	font:normal 10px lucida sans unicode, arial;
}

/* Ext Window */
.window-info {
	padding:0 0 8px 0;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}
.window-field-label-first {
	padding:0 0 3px 3px;
	font:normal 11px lucida sans unicode,arial;
	color:#888;
}
.window-field-label {
	padding:6px 0 2px 3px;
	font:normal 11px lucida sans unicode,arial;
	color:#888;	
}
.window-button {
	padding:8px 0 0 0;
}
.window-orgunit-text {
	padding:6px 6px 6px 8px;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}
#window-favorites-title {
	padding:0 0 3px 21px;
	background:url('../../../images/favorite_star2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-automaticlegendset-title {
	padding:0 0 3px 21px;
	background:url('../../../images/color_swatch2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-predefinedlegendset-title {
	padding:0 0 3px 21px;
	background:url('../../../images/color_swatch.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-help-title {
	padding:0 0 3px 22px;
	background:url('../../../images/help.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-image-title {
	padding:0 0 3px 21px;
	background:url('../../../images/image.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-excel-title {
	padding:0 0 3px 21px;
	background:url('../../../images/excel.gif') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-maplayer-title {
	padding:0 0 3px 0px;
	font:bold 11px arial;
	color:#111;
}

/* Ext Panel */
.panel-title {
	font:bold 11px arial;
	color:#111;
}
.panel-fieldlabel {
	padding:5px 0 2px 2px;
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}
.panel-fieldlabel-first {
	padding:0px 0 2px 2px;
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}
.panel-tab-title {
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	padding-left:20px;
}

/* Msg */
.x-msg-hl {
	font-weight:bold;
	color:#444;
}

/* DHIS Help */
#help {
	padding:0px 8px 8px 8px;
}
#help h3 {
	padding:8px 0 0 0;
	font:bold 11px arial;
	color:#333;
	letter-spacing:0px;
}
#help p {
	padding:4px 0 4px 0;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}