/* Ext */
.ext-gecko .x-window-body .x-form-item {
	overflow:hidden;
}

/* Ext theme gray-extend */
.x-btn-right{
	background:url(../../resources/ext-ux/theme/gray-extend-ux/btn-sprite.gif) no-repeat scroll 0 -21px transparent;
}
.x-btn-left {
	background:url(../../resources/ext-ux/theme/gray-extend-ux/btn-sprite.gif) no-repeat scroll 0 0 transparent;
}

/* OpenLayers (include in lib)
.olControlOverviewMapElement {
    -moz-border-radius:1em 0 0 0;
    background-color:#aaaaaa;
    padding:0;
}
.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px ridge #333333;
}
.olHandlerBoxZoomBox {
    border: 2px solid black;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
*/

/* Ext Label */
.x-form-item-label {
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}

/* Ext Grid */
.row-assigned  {
	background-color:#90ee90;
}
.row-unassigned  {
	background-color:#FFFFFF;
}
#grid_gp .x-grid3-cell-inner {
	color:#333;
}
.x-grid3-cell-inner, .x-grid3-hd-inner  {
	font:normal 10px lucida sans unicode,arial;
	color:#777;
}
.x-grid3-hd-inner, .x-grid3-hd-organisationUnitId  {
	font-family:normal 11px lucida sans unicode,arial;
	color:#333;
}

/* Ext Button */
.x-btn button {
	font:normal 10px lucida sans unicode,arial;
}
.x-btn .icon-zoomin  {
	background-image:url(../../../images/zoom_in.png);
}
.x-btn .icon-zoomout  {
	background-image:url(../../../images/zoom_out.png);
}
.x-btn .icon-zoommin  {
	background-image:url(../../../images/zoom_world.png);
}
.x-btn .icon-labels {
	background-image:url(../../../images/labels.png);
}
.x-btn .icon-pdf {
	background-image:url(../../../images/pdf.png);
}
.aa_dark button  {
	font-family:lucida sans unicode,arial;
	font-weight:normal;
	font-size:10px;
	color:#111;
}
.aa_med button  {
	font-family:lucida sans unicode,arial;
	font-weight:normal;
	font-size:10px;
	color:#333;
}
.aa_light button  {
	font-family:lucida sans unicode,arial;
	font-weight:bold;
	font-size:10px;
	color:#888;
}

/* Ext Loading Mask */
.x-mask-loading2 div  {
	padding:2px 11px 3px 32px;
	background:#fbfbfb url('../../../images/loader.gif') no-repeat 5px 2px;
	line-height:20px;
	font-weight:normal;
}

/* Ext Window */
.window-info {
	padding:0 0 8px 0;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}
.window-field-label-first {
	padding:0px 0 3px 3px;
	font:normal 11px lucida sans unicode,arial;
	color:#888;
}
.window-field-label {
	padding:8px 0 3px 3px;
	font:normal 11px lucida sans unicode,arial;
	color:#888;
}
.window-button {
	padding:8px 0 0 0;
}
.window-orgunit-text {
	padding:5px 5px 5px 7px;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}
#window-favorites-title {
	padding:0 0 3px 21px;
	background:url('../../../images/favorite_star2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-legendset-title {
	padding:0 0 3px 21px;
	background:url('../../../images/color_swatch.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-help-title {
	padding:0 0 3px 22px;
	background:url('../../../images/help.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}

/* Ext Panel */
.panel-title {
	font:bold 11px arial;
	color:#111;
}
.panel-fieldlabel {
	padding:5px 0 2px 2px;
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}
.panel-fieldlabel-first {
	padding:0px 0 2px 2px;
	font:normal 11px lucida sans unicode,arial;
	color:#777;
}
.panel-tab-title {
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}

/* Msg */
.x-msg-hl {
	font-style:italic;
	color:#333;
}

/* DHIS Help */
#help {
	padding:0px 8px 8px 8px;
}
#help h3 {
	padding:8px 0 0 0;
	font:bold 11px arial;
	color:#333;
	letter-spacing:0px;
}
#help p {
	padding:4px 0 4px 0;
	font:normal 11px lucida sans unicode,arial;
	color:#333;
}