#parse( "/dhis-web-maintenance-patient/importPatientParams.vm" )

#if( $errPatients.keySet() && $errPatients.keySet().size() > 0 )
<h4>$i18n.getString( 'not_save_patient' )</h4>  
<table width=100%>
	<tr>
		<th>$i18n.getString('patient')</th>
		<th>$i18n.getString('row')</th>
		<th>$i18n.getString('reason')</th>
	</tr>
	 #foreach($row in $errPatients.keySet())
	 #set ($mark = false)
	<tr #alternate( $mark )>
		<td>$errPatients.get($row).getFullName()</td>
		<td>
			#set($index =$row + 1 )
			$index
		</td>
		<td>$errMessage.get($row)</td>
	</tr>
	#set ($mark = !$mark)
	#end
</table>
#end
