<h3>$i18n.getString( "user_management" ) #openHelp( "users" )</h3>
<form id="userForm" method="POST">
#parse( "/dhis-web-maintenance-user/searchUser.vm" )
</form>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_user" ) , "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';

	var i18n_edit = '$encoder.jsEscape( $i18n.getString( "edit" ) , "'")';
	var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ) , "'")';
	var i18n_show_details = '$encoder.jsEscape( $i18n.getString( "show_details" ) , "'")';
	var i18n_username = '$encoder.jsEscape( $i18n.getString( "username" ) , "'")';
	var i18n_name = '$encoder.jsEscape( $i18n.getString( "name" ) , "'")';
	var i18n_operations = '$encoder.jsEscape( $i18n.getString( "operations" ) , "'")';
	var currentUserName = '$currentUserName';
</script>
