
<h3>$i18n.getString( "edit_user_group" )</h3>

<form id="editUserGroupForm" name="editUserGroupForm" action="updateUserGroup.action" method="post" onsubmit="return editValidation();" >
	
  <input type="hidden" name="userGroupId" id="userGroupId" value="$userGroupId" />
  <table id="detailsList">
    <col/> ## Labels
    <col/> ## Input
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "user_group_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" value ="$encoder.htmlEncode( $group.name )" onchange="nameChanged()" style="width:20em" maxlength="150" />
        </td>
      </tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </tbody>
  </table>
    <br/>&nbsp;
<table>
    <tr>
        <th>$i18n.getString( "available_users" )</th><td></td>
        <th>$i18n.getString( "group_members" )
            <select id="memberValidator" multiple="multiple" style="display:none"/>
        </th>
    </tr>
    <tr>        
        <td><input type="text" id="availableUsersFilter" onkeyup="filterList( this.value, 'availableUsers' )" style="width:25em"/></td>
        <td style="text-align:center">&lt; $i18n.getString( "filters" ) &gt;</td>
        <td><input type="text" id="groupMembersFilter" onkeyup="filterList( this.value, 'groupMembers' )" style="width:25em"/></td>
    </tr>
    <tr>
        <td>
            <select id="availableUsers" size="2" multiple="multiple" style="min-width:25em; height:25em" ondblclick="moveSelectedById( 'availableUsers', 'groupMembers' )">
                #foreach( $user in $availableUsers )
                    <option value="$user.id">$encoder.htmlEncode( $user.name )</option>
                #end
            </select>
        </td>
        
        <td style="text-align:center">          
            <input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:50px" onclick="moveSelectedById( 'availableUsers', 'groupMembers' )"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:50px" onclick="moveSelectedById( 'groupMembers', 'availableUsers' )"/><br/>
            <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveAllById( 'availableUsers', 'groupMembers' )"/><br/>
            <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'groupMembers', 'availableUsers' )"/>
        </td>
    
        <td>
            <select id="groupMembers" name="groupMembers" size="2"value = "$group.name" multiple="multiple" style="min-width:25em; height:25em" ondblclick="moveSelectedById( 'groupMembers', 'availableUsers' )" />
             #foreach( $user in $groupMembers )
                    <option value="$user.id">$encoder.htmlEncode( $user.name )</option>
                #end
        </td>
       
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<p><input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/><input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='getAllUserGroups.action'" style="width:10em"/></p>

</form>
<script type="text/javascript">
   function editValidation ()
{
    var k =0 ;
    var xyz=document.getElementById("name");
    var abc =document.getElementById("groupMembers");
    var c  = abc.length ;
	
    if( xyz.value == "") {
    	alert ("please select name ");alert(' xyz.value is empty');
		return false;
    }
    else if ( c <=0 ){
		alert("please select at least one member");
		return false ;
    }else{
    	if (c >0 )
		{
			/* for( k =0;k<=c;k++)
			{alert('k : ' + k);
			alert('abc.options[k] : ' + abc.options[k]);
				abc.options[k].selected = true ;    
			}*/
			
			selectAllById("groupMembers");
		}
	}
   
    return true;
}

</script>
