<h3>$i18n.getString( "user_management" )</h3>

<form id="userForm" method="POST">
#parse( "/dhis-web-maintenance-user/searchUser.vm" )
</form>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_user" ) , "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';

	function orgUnitSelected( orgUnitIds )
	{
		window.location.href = "user.action";
	}

	selection.setListenerFunction( orgUnitSelected );

</script>
