<form action="setConfiguration.action">
<h2>$i18n.getString('configuration')</h2>
$i18n.getString('excel_file_directory')
<input type="text" name="templateDirectory" style="width:400px" value="$templateDirectory"/>
<br><br><br>
<input type="submit" value="$i18n.getString('ok')" />
</form>