<?xml version="1.0" encoding="UTF-8"?>
<report>
	<id>$report.id</id>
	<name>$encoder.xmlEncode( $report.name )</name>
	<excelTemplateFile>$report.excelTemplateFile</excelTemplateFile>	
	<reportType>$report.reportType</reportType>
	<periodRow>#if($report.periodRow!=-1)$report.periodRow#end</periodRow>
	<periodColumn>#if($report.periodColumn!=-1)$report.periodColumn#end</periodColumn>
	<organisationRow>#if($report.organisationRow!=-1)$report.organisationRow#end</organisationRow>
	<organisationColumn>#if($report.organisationColumn!=-1)$report.organisationColumn#end</organisationColumn>
	<group>$report.group</group>
	
	#if($report.getReportType()=='grouplisting')
		<availabelGroups>
			#foreach($group in $organisationUnitGroups)
				<group>
					<id>$group.id</id>
					<name>$encoder.xmlEncode( $group.name )</name>
				</group>
			#end
		</availabelGroups>
		
		<reportOrganisationGroups>
			#foreach($group in $reportOrganisationUnitGroups)
				<group>
					<id>$group.id</id>
					<name>$encoder.xmlEncode( $group.name )</name>
				</group>
			#end
		</reportOrganisationGroups>
	#end
	
	#if( $report.getReportType() == 'category' )
	
		#if ( $availableDataElements.size() != 0 )
			<availableDataElements>
				#foreach($availableElement in $availableDataElements)
					<availableElement>
						<id>$availableElement.id</id>
						<name>$encoder.xmlEncode( $availableElement.name )</name>
					</availableElement>
				#end
			</availableDataElements>
		#end
		#if ( $selectedDataElements.size() != 0 )
			<selectedDataElements>
				#foreach($selectedElement in $selectedDataElements)
					<selectedElement>
						<id>$selectedElement.id</id>
						<name>$encoder.xmlEncode( $selectedElement.name )</name>
					</selectedElement>
				#end
			</selectedDataElements>
		#end
		
		<dataElementGroups>
			#foreach($dataElement in $report.dataElementOrders)
				<dataElementGroup>
					<id>$dataElement.id</id>
					<dataElementGroupId>$dataElement.dataElementGroupId</dataElementGroupId>
					<name>$dataElement.dataElementGroupName</name>
				</dataElementGroup>
			#end
		</dataElementGroups>
		
	#end
	
</report>