<?xml version="1.0" encoding="UTF-8"?>
<xmlObject>
	#foreach($period in $periods)
	<period>
		<id>$period.id</id>
		<name>$format.formatPeriod( $period )</name>
	</period>	
	#end
	
	#foreach($dataSet in $dataSets)
	<dataSet>
		<id>$dataSet.id</id>
		<name>$encoder.xmlEncode( $dataSet.name )</name>
	</dataSet>	
	#end
</xmlObject>