<h3>$i18n.getString( "administration" )</h3>

<form id="adminForm" action="saveReportUserRoles.action" method="post">

<table>
	<tr>
		<th style="width:250px">$i18n.getString( "reports" )</th>
		<td style="width:60px"></td>
		<td style="width:250px"></td>
	</tr>
	<tr>
		<td>
			<select id="reportId" name="reportId" style="width:250px" onchange="selectReportUserRoles()">
			    <option value="-1">[ $i18n.getString( "select_report" ) ]</option>
			    #foreach( $report in $reports )
				<option value="$report.id"#if ( $reportId == $report.id ) selected="selected"#end>$encoder.htmlEncode( $report.name )</option>
			    #end
			</select>
		</td>
	</tr>
	<tr>
		<td height="10px" colspan="3"></td>
	</tr>
	<tr>
		<th>$i18n.getString( "available_user_roles" )</th>
		<td></td>
		<th>$i18n.getString( "selected_user_roles" )</th>
	</tr>
	<tr>
		<td>
			<select multiple id="availableUserRoleId" style="width:250px;height:250px">
            #foreach ( $role in $availableUserRoles )
                <option value="$role.id">$encoder.htmlEncode( $role.name )</option>
            #end                
			</select>
		</td>
        <td align="center">
            <input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="moveSelectedById( 'availableUserRoleId', 'userRoleId' )"><br>
            <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="moveSelectedById( 'userRoleId', 'availableUserRoleId' )"><br>      
            <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:40px" onclick="moveAllById( 'availableUserRoleId', 'userRoleId' )"><br>
            <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="moveAllById( 'userRoleId', 'availableUserRoleId' )">
        </td>
        <td>
        	<select multiple id="userRoleId" name="userRoleId" style="width:250px;height:250px">
            #foreach ( $role in $selectedUserRoles )
                <option value="$role.id">$encoder.htmlEncode( $role.name )</option>
            #end                
	        </select>
        </td>
	</tr>
	<tr>
		<td><input type="button" value="$i18n.getString( "save" )" onclick="saveReportUserRoles()" style="width:100px"></td>
		<td></td>
		<td></td>
	</tr>
</table>

</form>

<span id="message"></span>
