<script type="text/javascript">	
    var i18n_select_min_datatype = '$encoder.jsEscape( $i18n.getString( "select_min_datatype" ), "'" )';
    var i18n_select_min_level = '$encoder.jsEscape( $i18n.getString( "select_min_level" ), "'" )';
    var i18n_select_min_period = '$encoder.jsEscape( $i18n.getString( "select_min_period" ), "'" )';
    var i18n_nr_of_comb = '$encoder.jsEscape( $i18n.getString( "nr_of_comb" ), "'" )';
    var i18n_completed = '$encoder.jsEscape( $i18n.getString( "completed" ), "'" )';	
    var i18n_export_process_started = '$encoder.jsEscape( $i18n.getString( "export_process_started" ), "'" )';
    var i18n_export_saved = '$encoder.jsEscape( $i18n.getString( "export_saved" ), "'" )';
    var i18n_must_select_at_least_one_dataelement_or_indicator = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_dataelement_or_indicator" ), "'" )';
    var i18n_must_select_at_least_one_organisation_unit = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_organisation_unit" ), "'" )';
    var i18n_must_select_at_least_one_period = '$encoder.jsEscape( $i18n.getString( "must_select_at_least_one_period" ), "'" )';
</script>

<h3>$i18n.getString( "generate_data_mart" ) #openHelp( "datamarthowto" )</h3>

<form id="exportForm" name="exportForm" method="post" action="saveDataMartExport.action">

<input type="hidden" id="id" name="id" value="$!id"/>

<table width="730">
	
	<colgroup>
  		<col style="width:325px"/>
  		<col style="width:80px"/>
 		<col style="width:325px"/>
  	</colgroup>

    <!-- Name -->
    
    <tr>
        <th>$i18n.getString( "name" )</th>
        <td colspan="2"></td>
    </tr>
    <tr>
    	<td><input type="text" id="name" name="name" style="min-width:325px" value="$!export.name"/></td>
    	<td colspan="2"></td>
    </tr>
	<tr>
		<td colspan="3" height="5px"></td>
	</tr>
    
	<!-- DataElements -->
	
	<tr>
		<th>$i18n.getString( "available_dataelements" )</th>
		<td></td>
		<th>$i18n.getString( "selected_dataelements" )
			<select id="dataelementsValidator" class="required_select_group {validate:{required_select_group:true}}" style="display:none"/>
		</th>
	</tr>	
	<tr>
		<td>
			<select multiple size="6" id="availableDataElements" name="availableDataElements" style="min-width:325px"></select>
		</td>
		<td align="center">
            <input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'availableDataElements', 'selectedDataElements' )"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedDataElements', 'availableDataElements' )"/><br/>
            <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'availableDataElements', 'selectedDataElements' )"/><br/>
            <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'selectedDataElements', 'availableDataElements' )"/>
		</td>
		<td>
		    <select multiple id="selectedDataElements" name="selectedDataElements" style="min-width:325px;height:115px;margin-top:27px" ondblclick="moveSelectedById( 'selectedDataElements', 'availableDataElements' )">
			    #foreach( $element in $selectedDataElements )
				    <option value="$element.id">$element.name</option>
			    #end
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="5px"></td>
	</tr>
	
	<!-- Indicators -->
	
	<tr>
		<th>$i18n.getString( "available_indicators" )</th>
		<td></td>
		<th>$i18n.getString( "selected_indicators" )
			<select id="indicatorsValidator" class="required_select_group {validate:{required_select_group:true}}" style="display:none"/>
		</th>
	</tr>
	<tr>
		<td>			
			<select multiple size="6" id="availableIndicators" name="availableIndicators" style="min-width:325px"></select>
		</td>
		<td align="center">
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'availableIndicators', 'selectedIndicators' )"/><br/>
			<input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedIndicators', 'availableIndicators' )"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'availableIndicators', 'selectedIndicators' )"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'selectedIndicators', 'availableIndicators' )"/>
		</td>
		<td>
			<select multiple id="selectedIndicators" name="selectedIndicators" style="min-width:325px;height:115px;margin-top:27px" ondblclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )">
			    #foreach ( $indicator in $selectedIndicators )
                    <option value="$indicator.id">$indicator.name</option>
                #end
			</select>
		</td>
	</tr>
    <tr>
        <td colspan="3" height="5px"></td>
    </tr>
	
	<!-- OrganisationUnits -->
	
	<tr>
		<th>$i18n.getString( "available_organisationunits" )</th>
		<td></td>
		<th>$i18n.getString( "selected_organisationunits" )
			<select id="organisationunitsValidator" class="{validate:{required:true}}" style="display:none"/>
		</th>
	</tr>
	<tr>
		<td>
			<select id="organisationUnitLevel" name="organisationUnitLevel" style="min-width:325px" onchange="getOrganisationUnitsAtLevel()">
				<option value="$ALL">[ $i18n.getString( "select_organisationunit_level_all" ) ]</option>
				#foreach ( $level in $levels )
					<option value="$level.level">$level.name</option>
				#end
			</select><br/>
			<select multiple size="6" id="availableOrganisationUnits" name="availableOrganisationUnits" style="min-width:325px"></select>
		</td>
		<td align="center">
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'availableOrganisationUnits', 'selectedOrganisationUnits' )"/><br/>
			<input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedOrganisationUnits', 'availableOrganisationUnits' )"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'availableOrganisationUnits', 'selectedOrganisationUnits' )"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'selectedOrganisationUnits', 'availableOrganisationUnits' )"/><br/>
			<input type="button" value="&gt;&gt;&gt;" title="$i18n.getString('move_children')" style="width:40px" onclick="getOrganisationUnitChildren()"/>
		</td>
		<td>
			<select multiple id="selectedOrganisationUnits" name="selectedOrganisationUnits" style="min-width:325px;height:125px;margin-top:9px" ondblclick="moveSelectedById( 'selectedOrganisationUnits', 'availableOrganisationUnits' )">				
			    #foreach ( $unit in $selectedOrganisationUnits )
                    <option value="$unit.id">$unit.name</option>
                #end
			</select>
		</td>
	</tr>
    <tr>
        <td colspan="3" height="5px"></td>
    </tr>
	
	<!-- Periods -->
	<tr>
		<td colspan='3' class='listAlternateRow'>
			<select id="periodsValidator" class="{validate:{required:true}}" style="display:none"/>
		</td>
	</tr>
	<tr>
		<th>$i18n.getString( "available_periods" )</th>
		<td></td>
		<th>$i18n.getString( "selected_periods" )</th>
	</tr>	
	<tr>
		<td>
			<select id="periodType" name="periodType" style="min-width:224px" onchange="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '0' )">
				<option value="">[ $i18n.getString( "select_period_type_all" ) ]</option>
				#foreach ( $type in $periodTypes )
					<option value="$type.name">$i18n.getString( $type.name )</option>
				#end
			</select>
			<input type="button" style="width:50px" value="$i18n.getString( 'prev' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '-1' )"/><input
				   type="button" style="width:50px" value="$i18n.getString( 'next' )" onclick="getAvailablePeriods( 'periodType', 'availablePeriods', 'selectedPeriods', '1' )"/><br/>
			<select multiple size="6" id="availablePeriods" name="availablePeriods" style="min-width:325px;height:120px" ondblclick="moveSelectedById( 'availablePeriods', 'selectedPeriods' )">
				#foreach ( $period in $periods )
					<option value="$period.externalId">$format.formatPeriod( $period )</option>
				#end
			</select>
		</td>
		<td align="center">
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'availablePeriods', 'selectedPeriods' )"/><br/>
			<input type="button" value="&lt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedPeriods', 'availablePeriods' )"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'availablePeriods', 'selectedPeriods' )"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="dhisAjaxSelect_moveAll( 'selectedPeriods', 'availablePeriods' )"/>
		</td>
		<td>
			<select multiple id="selectedPeriods" name="selectedPeriods" style="min-width:325px;height:115px;margin-top:27px" ondblclick="moveSelectedById( 'selectedPeriods', 'availablePeriods' )">				
			    #foreach ( $period in $selectedPeriods )
                    <option value="$period.externalId">$format.formatPeriod( $period )</option>
                #end
			</select>
		</td>
	</tr>
    <tr>
        <td colspan="3" style="height:5px"></td>
    </tr>
    
    <!-- Relative periods -->
    
	<tr>
		<th colspan="3">$i18n.getString( "relative_periods" )
			<select id="relativesPeriodsValidator" style="display:none"/>
		</th>
	</tr>
	<tr>
		<td colspan="3" id='relativesPeriodsTD'>
		    <label for="reportingMonth">$i18n.getString( "reporting_month" )</label>
			<input type="checkbox" id="reportingMonth" name="reportingMonth" value="true"#if( $!export.relatives.isReportingMonth() ) checked#end/>&nbsp;
			<label for="monthsThisYear">$i18n.getString( "months_this_year" )</label>
			<input type="checkbox" id="monthsThisYear" name="monthsThisYear" value="true"#if( $!export.relatives.isMonthsThisYear() ) checked#end/>&nbsp;
			<label for="quartersThisYear">$i18n.getString( "quarters_this_year" )</label>
			<input type="checkbox" id="quartersThisYear" name="quartersThisYear" value="true"#if( $!export.relatives.isQuartersThisYear() ) checked#end/>&nbsp;
			<label for="thisYear">$i18n.getString( "this_year" )</label>
			<input type="checkbox" id="thisYear" name="thisYear" value="true"#if( $!export.relatives.isThisYear() ) checked#end/><br/><br/>
			
			<label for="monthsLastYear">$i18n.getString( "months_last_year" )</label>
			<input type="checkbox" id="monthsLastYear" name="monthsLastYear" value="true"#if( $!export.relatives.isMonthsLastYear() ) checked#end/>&nbsp;
			<label for="quartersLastYear">$i18n.getString( "quarters_last_year" )</label>
			<input type="checkbox" id="quartersLastYear" name="quartersLastYear" value="true"#if( $!export.relatives.isQuartersLastYear() ) checked#end/>&nbsp;
			<label for="lastYear">$i18n.getString( "last_year" )</label>
			<input type="checkbox" id="lastYear" name="lastYear" value="true"#if( $!export.relatives.isLastYear() ) checked#end/>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height:5px"></td>
    </tr>
    
    <!-- Submit -->
    
	<tr>		
		<td><input type="submit" value='$i18n.getString( "save" )' style="width:120px"/><input
			type="button" value='$i18n.getString( "back" )' onclick="javascript:window.location.href='getDataMartExports.action'" style="width:120px"/></td>
		<td></td>
		<td></td>
	</tr>
	
</table>

</form>

<span id="message"></span>
