<input type="hidden" id="curLocaleCode" value="$locale.getLanguage()_$locale.getCountry()"/>
<hr style="clear:both">
<table>
  <tr>
    <td><input type="button" id="completeButton" name="completeButton" value="$i18n.getString( 'complete' )" onclick="validateCompleteDataSet()"#if( $registration || $periods.size() == 0 ) disabled="disabled"#end></td>
    <td><input type="button" id="undoButton" name="undoButton" value="$i18n.getString( 'undo' )" onclick="undoCompleteDataSet()"#if( !$registration || $periods.size() == 0 ) disabled="disabled"#end></td>
    <td><input type="text" id="dateField" name="dateField" value="$!format.formatDate( $registrationDate )" style="width:160px"#if( $registration || $periods.size() == 0 ) disabled="disabled"#end class="{validate:{required:true,dateISO:true}}"></td>
    <td><div id="dateDiv" name="dateDiv" #if( $registration || $periods.size() == 0 ) style="display:none"#else style="display:inline"#end>
  </tr>
</table>
<span id="message"></span>
<script type="text/javascript">
   jQuery(document).ready(function(){
		datePicker( 'dateField' );
   });
</script>

<script type="text/javascript">
    var calculatedDataElementMap = {
		#set( $count = 1 )
		#foreach( $cde in $calculatedDataElementMap.keySet() )
		  #set( $innerCount = 1 )
		  #set( $factorMap = $calculatedDataElementMap.get($cde) )
		  $cde.id : {
		  #foreach ( $de in $factorMap.keySet() )
			$de.id : $factorMap.get($de) #if ( $innerCount < $factorMap.size() ),#end
			#set( $innerCount = $innerCount + 1 )
		  #end
		  } #if ( $count < $calculatedDataElementMap.size() ),#end
		  #set( $count = $count + 1 )
		#end
    }
</script>
