
#set( $css = "cde cde-${dataEntryForm.style}" )
<div class="${css}">
$customDataEntryFormCode
</div>

<select id="dynselect" class="hidden">
<option value="">[ $i18n.getString( "select_data_element" ) ]</option>
#foreach( $element in $dataElementsNotInForm )
<option value="${element.id}">$encoder.htmlEncode( ${element.displayName} )</option>
#end
</select>