<script type="text/javascript">
	var currentOrganisationUnitId = $!{dataElementHistory.organisationUnit.id};
	var currentDataElementId = $!{dataElementHistory.dataElement.id};
	var currentOptionComboId = $!{dataElementHistory.optionCombo.id};
	
	var i18n_enter_digits = '$encoder.jsEscape( $i18n.getString( "enter_digits" ) , "'")';
	var i18n_max_must_be_greater_than_min = '$encoder.jsEscape( $i18n.getString( "max_must_be_greater_than_min" ) , "'")';
	var i18n_mark_value_for_followup = '$encoder.jsEscape( $i18n.getString( "mark_value_for_followup" ) , "'")';
	var i18n_unmark_value_for_followup = '$encoder.jsEscape( $i18n.getString( "unmark_value_for_followup" ) , "'")';
</script>

#set( $width = 40 * $dataElementHistory.historyLength )
#set( $lastIndex = $dataElementHistory.historyLength - 1 )
#set( $average = $dataElementHistory.historyPoints.get( $lastIndex ).average )

<h3>
    $encoder.htmlEncode( $dataElementHistory.dataElement.name )
    $encoder.htmlEncode( $dataElementHistory.optionCombo.name )
</h3>

<table>
	<tr>		
		<!-- Column 1 - Comment and Followup -->
		<td valign="top">			
			<h4>$i18n.getString( "dataelement_comment" )</h4>
			#if( $showComment == 'true' )
			##comment
			    <select id="value[$dataElementHistory.dataElement.id:$dataElementHistory.optionCombo.id].comments" #if( $auth.hasAccess( "dhis-web-dataentry", "saveComment" ) ) onchange="commentSelected()" #else disabled="disabled" #end #if( $dataValue.comment && !$standardComments.contains( $dataValue.comment ) ) style="display:none; width:100%" #end#if( $locked ) disabled="disabled"#end>
			        <option value="">[$i18n.getString( "no_comment" )]</option>
			        <option value="custom">[$i18n.getString( "custom_comment" )]</option>
			        #foreach( $comment in $standardComments )
			            <option value="$encoder.htmlEncode( $comment )" #if( $encoder.htmlEncode( $comment ) == $encoder.htmlEncode( $dataValue.comment ) ) selected="selected" #end>$encoder.htmlEncode( $comment )</option>
			        #end
			    </select>
			    <input id="value[$dataElementHistory.dataElement.id:$dataElementHistory.optionCombo.id].comment" type="text" value="$!encoder.htmlEncode( $dataValue.comment )" #if( $auth.hasAccess( "dhis-web-dataentry", "saveComment" ))
			        onblur="commentLeft()" #else disabled="disabled" #end style="width:100% #if( !$dataValue.comment || $standardComments.contains( $dataValue.comment )) ;display:none #end"/>
			#end

			<br/><br/>
			<h4>$i18n.getString( "followup" )</h4>
			
		    #if ( $dataValue && $dataValue.isFollowup() )
                <img id="followup" src="../images/marked_large.png" alt="$i18n.getString( 'mark_value_for_followup' )" onclick="markValueForFollowup( '$dataValue.dataElement.id', '$dataValue.period.id', '$dataValue.source.id', '$dataValue.optionCombo.id' )" style="cursor:pointer"/>
			#elseif ( $dataValue )
                <img id="followup" src="../images/unmarked_large.png" alt="$i18n.getString( 'unmark_value_for_followup' )" onclick="markValueForFollowup( '$dataValue.dataElement.id', '$dataValue.period.id', '$dataValue.source.id', '$dataValue.optionCombo.id' )" style="cursor:pointer"/>
			#else
			    <img id="followup" src="../images/unmarked_large.png"/>
			#end
		</td>
		<!-- Column 2 - Min-max -->
        <td valign="top">       
            <h4>$encoder.htmlEncode( $i18n.getString( "min_max_limits" ) )</h4>
            <table>
                <tr>
                    <td style="background-color:#2e4e83; height:26px">&nbsp;</td>
                    <td>$encoder.htmlEncode( $i18n.getString( "max_limit" ) ) </td>
                    <td><input type="text" id="maxLimit" style="width:10em" value="$!{dataElementHistory.maxLimit}" class="{validate:{digits:true}}"
                        #if( $auth.hasAccess( "dhis-web-dataentry", "saveMinMaxLimits" ) && $auth.hasAccess( "dhis-web-dataentry", "removeMinMaxLimits" ))
                            onkeyup="saveMinMaxLimit()"
                        #else disabled="disabled" #end onfocus="this.select()"/>
						<i><span id='maxSpan' style="color:red;"></span></i>
						</td>
                </tr>
                <tr>
                    <td style="background-color:#d54a4a; height:26px">&nbsp;</td>
                    <td>$encoder.htmlEncode( $i18n.getString( "min_limit" ) ) </td>
                    <td><input type="text" id="minLimit" style="width:10em" value="$!{dataElementHistory.minLimit}"
                        #if( $auth.hasAccess( "dhis-web-dataentry", "saveMinMaxLimits" ) && $auth.hasAccess( "dhis-web-dataentry", "removeMinMaxLimits" ))
                           onkeyup="saveMinMaxLimit()"
                        #else disabled="disabled" #end onfocus="this.select()"/>
						<i><span id='minSpan' style="color:red;"></span></i>
					</td>
                </tr>
                <tr>
                    <td style="background-color:#f4f256; height:26px">&nbsp;</td>
                    <td>$encoder.htmlEncode( $i18n.getString( "average" ) ) </td>
                    <td><script type="text/javascript">document.write( ${average}.toFixed(1) );</script></td>
                </tr>
                <tr>
                    <td style="background-color:#75e077; height:26px">&nbsp;</td>
                    <td>$encoder.htmlEncode( $i18n.getString( "interpolation" ) ) </td>
                    <td></td>
                </tr>
                <tr>
                	<td colspan="3"><input type="button" value="$i18n.getString( 'remove' )" onclick="removeMinMaxLimit()" style="width:100px"></td>
                </tr>
            </table>        
        </td>
	</tr>
	<tr>
		<!-- History chart -->
		<td colspan="2">
			<h4>$encoder.htmlEncode( $i18n.getString( "dataelement_history" ) )</h4>
			#if( !$isHistoryValid )			    
			    <h4>$encoder.htmlEncode( $i18n.getString( "history_not_valid" ) )</h4>  
			#end    
			
			<img id="historyChart" src="getHistoryChart.action?dataElementId=${dataElementHistory.dataElement.id}&categoryOptionComboId=${dataElementHistory.optionCombo.id}"/>			
        </td>
    </tr>
	<tr>
		<!-- Data Value History -->
		<td colspan="2">
			<h4>$encoder.htmlEncode( $i18n.getString( "datavalue_history" ) )</h4>
			#foreach( $eachDataValueAudit in $dataValueAudits )
				<p>
					$encoder.htmlEncode( $i18n.getString( "on" ) ) $eachDataValueAudit.timeStamp, 
					$eachDataValueAudit.storedBy 
					$encoder.htmlEncode( $i18n.getString( "change_from" ) ) $eachDataValueAudit.value.
				</p>
			#end					
        </td>
    </tr>

</table>

<p><input type="button" value="$encoder.htmlEncode( $i18n.getString( 'close' ) )" onclick="javascript:self.close()"/></p>
