#set( $size1 = $periods.size() )
{ "periods": [
#foreach( $period in $periods )
  {
    "id": $!{period.id},
    "startDate": "$!format.formatDate( ${period.startDate} )",
    "endDate": "$!format.formatDate( ${period.endDate} )",
    "name": "$!format.formatPeriod( ${period} )",
    "externalId": "$!{period.externalId}"
  }#if( $velocityCount < $size1 ),#end
#end ],
#set( $size2 = $significantZeros.size() )
  "significantZeros": [
#foreach( $dataElement in $significantZeros )
  ${dataElement.id}#if( $velocityCount < $size2 ),#end
#end ],
#set( $size3 = $indicators.size() )
  "indicatorFormulas": {
#foreach( $indicator in $indicators )
  "${indicator.id}": "($!{indicator.explodedNumerator})/($!{indicator.explodedDenominator})"#if( $velocityCount < $size3 ),#end
#end },
  "periodValid": ${periodValid}
}
