
#set( $tabIndex = 1 )
#set( $hasAccess = $auth.hasAccess( "dhis-web-dataentry", "saveValue" ) )

#foreach( $section in $sections )
    #set( $categoryComboId = $sectionCombos.get( $section.id ) )
    #renderSection( $categoryComboId, $section.dataElements, {"title": $section.displayName } )
#end
