<input type="hidden" value="$organisationUnit.id" id="organisationUnitId"/>

#set( $marker = 0 )
#set( $tabIndex = 1 )

#foreach( $section in $sections)

#if( $marker == 1 )
  #set( $marker = 0 )
#else
  #set( $marker = 1 )
#end

<div style="border:thin solid">

<table class="mainPageTable">
<tr>
  <td onclick="openCloseSection( $section.id )" onmouseover="style.backgroundColor='#ebf0f6';" onmouseout="style.backgroundColor='#FFFFFF'">
    <div id="$section.id:name" style="text-align:center"><h3>$encoder.htmlEncode( $section.name )</h3></div>
  </td>
</tr>
<tr>
  <td>
    <div id="$section.id" style="display:block">
      <table class="mainPageTable" cellpadding="0">
      #set( $categoryComboId = $sectionCombos.get( $section.id ) )
      #set( $colCount = $numberOfTotalColumns.get( $categoryComboId ) )
      #set( $categories = $orderedCategories.get( $categoryComboId ) )
      #set( $optionsMap = $orderedOptionsMap.get( $categoryComboId ) )
      #set( $colRepeat = $catColRepeat.get( $categoryComboId ) )
	
      #foreach( $category in $categories )
	  #set( $categoryOptions = $optionsMap.get( $category.id ) )
      #set( $colCount = $colCount / $categoryOptions.size() )
      <tr colspan="$colCount">
        <td></td>
        #set( $cols = $colRepeat.get( $category.id ) )
        #foreach( $col in $cols )
          #foreach( $categoryOption in $categoryOptions )
          #set( $optionName = $categoryOption.name )
          <th colspan="$colCount"> <div align="center"> #if( $optionName != "default" ) $optionName #end </div> </th>
          #end
        #end
      </tr>
      #end

      #set( $count = 0 )
      #set( $mark = 0 )
      #set( $optionCombos = $orderdCategoryOptionCombos.get( $categoryComboId )  )
      #foreach( $optionCombo in $optionCombos )<span id="value[option${optionCombo.id}].name" class="hidden">${optionCombo.name}</span>
      #end
      #foreach( $dataElement in $section.dataElements )
      #if( $mark == 1 )
      #set( $mark = 0 )
      #else
      #set( $mark = 1 )
      #end
      #set( $count = $count + 1 )
      <tr>
        <td #if( $mark == 1 ) style="background-color: #dddddd" #end>
          <span id="value[$dataElement.id].name" title="$!encoder.htmlEncode( $dataElement.description )">$encoder.htmlEncode( $dataElement.name )</span><span id="value[$dataElement.id].type" class="hidden">$dataElement.getDetailedNumberType()</span>
        </td>
        #foreach( $optionCombo in $optionCombos )
        #set( $minMax = false )
        #set( $minMax = $minMaxMap.get( "$dataElement.id:$optionCombo.id" ) )
        #set( $dataValue = false )
        #set( $dataValue = $dataValueMap.get( "$dataElement.id:$optionCombo.id" ) )
        #set( $dataEntryId = "value[$dataElement.id].value:value[$optionCombo.id].value" )
        #set( $greyedField = false )
        #set( $greyedField = $greyedFields.get( "$dataElement.id:$optionCombo.id" ) )        
        #set( $minMaxError = false )
        #if( $dataElement.type == "int" && $dataValue && $minMax )
          #if( $integer.parseInt( $dataValue.value ) < $minMax.min || $integer.parseInt( $dataValue.value ) > $minMax.max )
          #set( $minMaxError = true )
          #end
        #end
        <span id="value[${dataElement.id}:${optionCombo.id}].min" class="hidden">$!minMax.min</span><span id="value[${dataElement.id}:${optionCombo.id}].max" class="hidden">$!minMax.max</span>
        <td>
        #if( $dataElement.type == "bool" )
        <span id="value[option$optionCombo.id].name" style="display:none">$optionCombo.name</span>
        <select name="entryselect" id="$dataEntryId" #if( $auth.hasAccess( "dhis-web-dataentry", "saveValue" ) ) onchange="saveBoolean($dataElement.id,$optionCombo.id, this )"  #else disabled="disabled" #end style="width:100%" tabindex="$tabIndex" #if( $locked ) disabled="disabled"#end #if( $greyedField ) disabled="disabled"#end>
	      <option value="">[$i18n.getString( "no_value" )]</option>
          <option value="true" #if( $dataValue.value == "true" ) selected="selected" #end>$i18n.getString( "yes" )</option>
          <option value="false" #if( $dataValue.value == "false" ) selected="selected" #end>$i18n.getString( "no" )</option>
        </select>
        #elseif( $dataElement.type == "string" )
        #set( $coun = 0 )
          #foreach($customValue in $customValues)
          #if($dataElement.id == $customValue.dataElement.id && $optionCombo.id == $customValue.optionCombo.id)
          #set( $coun = $coun +1 )
          #end
          #end
          #if( $coun > 0 )
          <select name="entryselect" id="$dataEntryId" #if( $auth.hasAccess( "dhis-web-dataentry", "saveValue" ) ) onchange="saveBoolean($dataElement.id,$optionCombo.id, this )"  #else disabled="disabled" #end style="width:100%" tabindex="$tabIndex" #if( $locked ) disabled="disabled"#end #if( $greyedField ) disabled="disabled"#end>
            <option value="">[$i18n.getString( "please_select" )] </option>
            #foreach($customValue in $customValues)
              #if($dataElement.id == $customValue.dataElement.id && $optionCombo.id == $customValue.optionCombo.id)
              <option value="$customValue.customValue" #if( $dataValue.value == $customValue.customValue ) selected="selected" #end>$customValue.customValue</option>
	          #end
            #end
		  </select>
	      #else
          <input name="entryfield" id="$dataEntryId" type="text" value="$!encoder.htmlEncode( $dataValue.value )" #if( $auth.hasAccess( "dhis-web-dataentry", "saveValue") ) onchange="saveVal(${dataElement.id},${optionCombo.id})" ondblclick="viewHist(${dataElement.id},${optionCombo.id})" #else disabled="disabled"#end onkeypress="return keyPress(event,this)" class="entryField #if( $minMaxError ) minmax#end" tabindex="$tabIndex" #if( $locked || $greyedField )disabled="disabled"#end>
          #end
        #else
        <input name="entryfield" id="$dataEntryId" type="text" value="$!encoder.htmlEncode( $dataValue.value )" #if( $auth.hasAccess( "dhis-web-dataentry", "saveValue") ) onchange="saveVal(${dataElement.id},${optionCombo.id})" ondblclick="viewHist(${dataElement.id},${optionCombo.id})" #else disabled="disabled"#end onkeypress="return keyPress(event,this)" class="entryField #if( $minMaxError ) minmax#end" tabindex="$tabIndex" #if( $locked || $greyedField )disabled="disabled"#end>
        #end
      </td>
      #set( $tabIndex = $tabIndex + 1 )
      #end
      </tr>
	#end
	</table>
    </div>
    </td>
  </tr>
  </table>
</div>

<br>

#end

#parse( "/dhis-web-dataentry/completeRegistration.vm" )
