<script type="text/javascript">
jQuery(function() {
	/* make sure that the leftBar is always visible when entering page. */
	leftBar.showAnimated();
        autoUpload();
});
</script>
<div>
    <div style="float:left"><h3>$i18n.getString( "appmanager_go" ) #*openHelp( "appManager" )*#</h3></div>
    <div style="float:right"> 
        <form id="uploadPackageForm" enctype="multipart/form-data" method="post">
        $i18n.getString( "appmanager_upload_app_package" ):<input type="file" id="upload" name="upload" accept="application/zip,.zip" />
        </form>
        <div id="progressbar"></div>
    </div>
</div>
<iframe src="$appStoreUrl" seamless="true" style="width: 100%; height: 500px; border: none;"></iframe> 