
<style>
.heading-column { width : 30.5em;}
td.input-column { width : 30.5em;}
td.input-column input, td.input-column select { width: 28.5em;}
td.error {padding-left:1em}
</style>

## Macro for generating the jQuery validation rules 
#macro( validate $type $require )
  #if( $type == "NUMBER" )
  	{validate:{ number:true #if($require), required:true #end }}
  #elseif( $require )
  	{validate:{required:true}}
  #end
#end

#if($showMsg == "true" )
	<table><tr><td>$i18n.getString( "oucode_must_be_valid" )</td></tr><table>
#else

<script>
	jQuery(document).ready(	function(){
			validation( 'addPatientForm', validateAddPatient );				
			datePickerValid( 'birthDate' );
	});		
</script>

<h3>$i18n.getString( "add_new_patient" )</h3>	
																			
<form id="addPatientForm" action="addPatient.action" method="post">
<input type="hidden" id="representativeId" name="representativeId"/> 
<input type="hidden" id="relationshipTypeId" name="relationshipTypeId"/>
<table>

    <tr><td>&nbsp;</td></tr>
	
	<tr>
		<th colspan="2" class="heading-column">$i18n.getString( "name" )<em title="$i18n.getString( "required" )" class="required">*</em></th>
	</tr>
	<tr>
		<td><label for="firstName">$i18n.getString( "first_name" )</label></td>
		<td class="input-column" ><input type="text" id="firstName" name="firstName"  maxlength="30"  class="required_group {validate:{required_group:true,rangelength:[2,30]}}" ></td>
	</tr>
	<tr>
		<td><label for="middleName">$i18n.getString( "middle_name" ) </label></td>
		<td class="input-column"> <input type="text" id="middleName" name="middleName" maxlength="30"   class="required_group {validate:{required_group:true,rangelength:[2,30]}}"></td>
	</tr>
	<tr>
		<td><label for="lastName">$i18n.getString( "last_name" )</label></td>
		<td class="input-column"><input type="text" id="lastName" name="lastName" maxlength="30"   class="required_group {validate:{required_group:true,rangelength:[2,30]}}"></td>
	</tr>	
	<tr><td>&nbsp;</td></tr>	
	<tr>
		<th colspan="2" class="heading-column">$i18n.getString( "demographics" )</th>
	</tr>
		
	<tr>
		<td><label for="gender">$i18n.getString( "gender" )<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td class="input-column">
			<select id="gender" name="gender" style="min-width:20em" class="{validate:{required:true}}">
				<option value="" selected="selected">[$i18n.getString( "please_select" )]</option>
				<option value="M" >$i18n.getString( "male" )</option>
				<option value="F">$i18n.getString( "female" )</option>
			</select>
		</td>		
	</tr>
	<tr>
		<td><label for="birthDate">$i18n.getString( "date_of_birth" )<em title="$i18n.getString( "required" )" class="required">*</em> </label></td>
		<td>			
			<input type="text" id="birthDate" name="birthDate" style="width:10em"  onchange="bdOnchange()" >
			&nbsp;
			<label for="age">$i18n.getString( "or" )  $i18n.getString( "age" ) </label>
			<input type="text" id="age" name="age" style="width:4em"  onchange="ageOnchange()" class="{validate:{number:true}}">
			&nbsp;&nbsp;&nbsp;
			<label for="estimated">$i18n.getString( "estimated" )</label>
                        <input type="checkbox" id="birthDateEstimated" name="birthDateEstimated" value="true">
        </td>
	   <td></td>
	</tr>
 	<tr>
		<td><label for="bloodGroup">$i18n.getString( "blood_group" )</label></td>
		<td class="input-column">
			<select type="text" id="bloodGroup" name="bloodGroup"  >
				 <option value="">[$i18n.getString( "please_select" )]</option>
				<option value="A+">A+</option>
				<option value="A-">A-</option>
				<option value="AB+">AB+</option>
				<option value="AB-">AB-</option>
				<option value="B+">B+</option>
				<option value="B-">B-</option>
				<option value="O+">O+</option>
				<option value="O-">O-</option>
			</select>
		</td>		
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>	
	<tr><td colspan="2"><input type="button" value="$i18n.getString('check_duplicate')"  onclick="checkDuplicate();"/></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>	
	
	<!-- UNDERAGE -->
	
	<tr>
		<td>$i18n.getString("is_underage")</td>
		<td>
			<input type="checkbox" name="underAge" id="underAge" onclick="toggleUnderAge(this);" value="true"/>
		</td>
	</tr>
	<!--IDENTIFIERS -->
	
	<tr><td colspan="2">&nbsp;</td></tr>	
	<tr><th colspan="2" class="heading-column">$i18n.getString( "patient_identifiers" )</th></tr>
	#foreach ($identifierType in $identifierTypes)
	<tr>
		<td><label>$identifierType.name #if($identifierType.mandatory)<em title="$i18n.getString( "required" )" class="required">*</em> #end</label></td>

        #if($identifierType.format == "State Format")
            <td style="padding-left:1.1em"><input type="hidden" id="iden$identifierType.id" name="iden$identifierType.id"/>
            #if($organisationUnit.code == "null")
                #set($organisationUnit.code = "" );
            #end
				<table>
					<tr align="center" valign="top">
						<td><input type="text" id="orgunitcode" name="orgunitcode" disabled="disabled" value="$organisationUnit.code" maxlength="9" size="10"/> <br/> <font color="red">OrgUnit<br>Code</font></td>
						<td> - <input type="text" id="progcode" name="progcode" maxlength="1" size="1" class='idfield  #validate( "default"  $identifierType.mandatory ) '/> <br/> <font color="red">Prg<br>Code</font></td>
						<td> - <input type="text" id="yearcode" name="yearcode" maxlength="2" size="2" value="$year" class="{validate:{required:true,minlength:2}}"/> <br/> <font color="red">Year</font></td>
						<td> - <input type="text" id="benicode" name="benicode" maxlength="4" size="4" class="{validate:{required:true,minlength:4}}"/> <br/> <font color="red">Benificiary<br>Code</font></td>
						
					</tr>
				</table>
            </td>
        #else
            <td class="input-column"><input type="text" id="iden$identifierType.id" name="iden$identifierType.id"  data="{related:$identifierType.related}"  class='idfield  #validate( "default"  $identifierType.mandatory ) '/></td>
        #end

	</tr>
	#end
	
	<!-- ATTRIBUTES IN GROUPS -->
	
	#foreach ($attributeGroup in $attributeGroups )
		<tr><td>&nbsp;</td></tr>
		<tr><th colspan="2" class="heading-column">$attributeGroup.name</th></tr>
		#foreach($attribute in $attributeGroup.attributes )
			<tr>
				<td><label>$attribute.name #if($attribute.mandatory)<em title="$i18n.getString( "required" )" class="required">*</em> #end</label></td>
				<td class="input-column">
					#if( $attribute.valueType == "YES/NO" )
		                <select id="attr$attribute.id"  name="attr$attribute.id" style="width:100%"  > 
                            <option value="">[$i18n.getString( "please_select" )]</option>
		                    <option value="true">$i18n.getString( "yes" )</option>
		                    <option value="false" selected="selected">$i18n.getString( "no" )</option>
		                </select>                
		            #elseif( $attribute.valueType == "DATE" )
	                	<input type="text" id="attr$attribute.id"  name="attr$attribute.id"  class=' #validate( "default"  $attribute.mandatory )'>
	                    <script type="text/javascript">
							datePickerValid( 'attr$attribute.id' );
	                    </script>                    
					#elseif( $attribute.valueType == "COMBO" )
						<select  id="attr$attribute.id"  name="attr$attribute.id"  class=' #validate( "default"  $attribute.mandatory )' >
							<option value="">[$i18n.getString( "please_select" )]</option>
							#foreach ($option in $attribute.attributeOptions )
								<option value="$option.id" >$option.name</option>
							#end
						</select>
					#else 
						<input type="text"  id="attr$attribute.id"  name="attr$attribute.id"  class=' #validate( $attribute.valueType  $attribute.mandatory )'   >
					#end
				</td>		
			</tr>
		#end
	#end
	
	<!-- ATTRIBUTES NOT IN GROUPS -->
	
	<tr><td>&nbsp;</td></tr>
	#if ( $noGroupAttributes.size() > 0) 	
		<tr><th colspan="2" class="heading-column">$i18n.getString( "other_details" )</th></tr>
		#foreach($attribute in $noGroupAttributes )
			<tr>
				<td><label>$attribute.name #if($attribute.mandatory)<em title="$i18n.getString( "required" )" class="required">*</em> #end</label></td>
				<td class="input-column">
					#if( $attribute.valueType == "YES/NO" )
		                <select id="attr$attribute.id"  name="attr$attribute.id"  style="width:100%" > 
		                	<option value="" >[$i18n.getString( "please_select" )]</option>             
		                    <option value="true">$i18n.getString( "yes" )</option>
		                    <option value="false" >$i18n.getString( "no" )</option>
		                </select>                
		            #elseif( $attribute.valueType == "DATE" )
		                	<input type="text" id="attr$attribute.id"   name="attr$attribute.id"  class=' #validate( "default"  $attribute.mandatory )' >
		                    <script type="text/javascript">
		                       datePickerValid( 'attr$attribute.id' );
		                    </script>                    
					#elseif( $attribute.valueType == "COMBO" )
						<select  id="attr$attribute.id"  name="attr$attribute.id"   class=' #validate( "default"  $attribute.mandatory )'>
							 <option value="">[$i18n.getString( "please_select" )]</option>
							#foreach ($option in $attribute.attributeOptions )
								<option value="$option.id" >$option.name</option>
							#end
						</select>
					#else 
						<input type="text"  id="attr$attribute.id" name="attr$attribute.id"   class=' #validate( $attribute.valueType  $attribute.mandatory )'    >
					#end
				</td>		
			</tr>
		#end
	#end
</table>

<p style="margin-top:10px">
	<input type="submit" value="$i18n.getString( "add" )" style="width:10em">
	<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='patient.action'" style="width:10em">
</p>
</form>
#end

<span id="message"></span>


<div id="hiddenModalContent" style="display:none">
<style> 
div#hiddenModalContent label { font-weight: bold;}  
div#hiddenModalContent td {padding: 2px 5px}
</style>
<span>$i18n.getString( "duplicate_warning" )</span>
<input type="button" value="$i18n.getString( 'create_new_patient' )"  id="btnCreateNew"/>
<script>function edit(this_){window.parent.tb_remove(); window.parent.location.href="showUpdatePatientForm.action?id="+jQuery(this_).attr("id");}
</script>
<div id="thickboxContainer"></div>
</div>

<script>
	var i18n_patient_identifiers = '$encoder.jsEscape( $i18n.getString( "patient_identifiers" ) , "'")';
	var i18n_patient_attributes = '$encoder.jsEscape( $i18n.getString( "patient_attributes" ) , "'")';
	var i18n_patient_fullName = '$encoder.jsEscape( $i18n.getString( "full_name" ) , "'")';
	var i18n_patient_demographics = '$encoder.jsEscape( $i18n.getString( "demographics" ) , "'")';
	var i18n_patient_gender = '$encoder.jsEscape( $i18n.getString( "gender" ) , "'")';
	var i18n_patient_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ) , "'")';
	var i18n_patient_age = '$encoder.jsEscape( $i18n.getString( "age" ) , "'")';
	var i18n_patient_blood_group = '$encoder.jsEscape( $i18n.getString( "blood_group" ) , "'")';
	var i18n_edit_this_patient = '$encoder.jsEscape( $i18n.getString( "edit_this_patient" ) , "'")';
	var i18n_no_duplicate_found = '$encoder.jsEscape( $i18n.getString( "no_duplicate_found" ) , "'")';
	var i18n_patient_system_id = '$encoder.jsEscape( $i18n.getString( "patient_system_id" ) , "'")';
	var i18n_child_representative = '$encoder.jsEscape( $i18n.getString( "child_representative" ) , "'")';
	var checkedDuplicate = false;
    var i18n_oucode_must_have_9_digits = '$encoder.jsEscape( $i18n.getString( "oucode_must_be_valid" ) , "'")';
</script>