<h3>$i18n.getString( "add_new_program_stage" )</h3>
																		
<form id="addProgramStageForm" name="addProgramStageForm" action="addProgramStage.action" method="post" onsubmit="submitForm(this);return validateAddProgramStage();">


<div style="display:inline">
  <input type="hidden" id="id" name="id" value="$program.id">
</div>


<table>

	<tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="nameField" name="nameField"  maxlength="30" style="width:30em"></td>
	</tr>	
	
	<tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" style="width:30em"></td>
	</tr>
		
	<tr>
        <td><label>$i18n.getString( "min_days_from_start" )</label></td>
        <td><input type="text" id="minDaysFromStart" name="minDaysFromStart" maxlength="30" style="width:30em"></td>
    </tr>
    
    <tr>
        <td><label>$i18n.getString( "program" )</label></td>
        <td><input type="text" id="program" name="program" maxlength="30" value="$encoder.htmlEncode( $program.name )" style="width:30em" disabled="disabled">
    </tr>    
      
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>      	  	
</table>

<table id="programStageMembersArea">    
    <thead>
      <tr>        
        <th>$i18n.getString( "available_data_elements" )</th>
        <th></th>
        <th>$i18n.getString( "selected_data_elements" )</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>
            <select size="15" id="availableList" name="availableList" multiple="multiple" style="min-width:20em;height:20em" ondblclick="moveFromAvailableList( )">
                #foreach ( $dataElement in $dataElements )
                    <option value="$dataElement.id">$encoder.htmlEncode( $dataElement.name )</option>
                #end                
            </select>
        </td>
        <td valign="top" align="center">         
            <input type="button" value="&gt;" onclick="moveFromAvailableList()"><br>    
            <input type="button" value="&lt;" onclick="moveItemsFromSelectedList()"><br><br>                    
        <td>
         <div style="overflow:auto; height:20em; width:20em">    
            <ul id="selectedList" style="list-style:none">
            </ul>
            <input type="hidden" id="selectedListSubmit" name="selectedList"/>
         </div>
        </td>
        
      </tr>
      
    </tbody>
</table>

<p>
	<input type="submit" value="$i18n.getString( "add" )" style="width:10em">
	<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='programStage.action'" style="width:10em">
</p>

</form> 	

<span id="message"></span>

<script type="text/javascript">    
    var i18n_invalid_min_max_days = '$encoder.jsEscape( $i18n.getString( "invalid_min_max_days" ) , "'")';
    var i18n_value_must_positive = '$encoder.jsEscape( $i18n.getString( "value_must_positive" ) , "'")';
    var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
    var i18n_compulsory_checkbox_title = '$encoder.jsEscape( $i18n.getString( "compulsory_checkbox_title" ) , "'")';   
</script>
