<h3>$i18n.getString( "add_single_program_validation_rule" )</h3>

<h4>$program.name</h4>

<form id='programValidationForm' name='programValidationForm' method='post' action='addProgramValidation.action'>

<input type='hidden' id='programId' name='programId' value='$program.id'>
<input type='hidden' id='dateType' name='dateType' value='false'>
<table>
	
	<thead>
      <tr>
        <th>$i18n.getString( "program_validation_rule_details" )</th>
      </tr>
    </thead>
    <tbody>
	
	<tr>
		<td>
			<label>$i18n.getString('description')</label>
		</td>
	</tr>
	<tr>
		<td>			
			<input type="text" id='description' name='description' class="{validate:{required:true,minlength:4}}" style='width:320px;'>
		</td>
	</tr>
	<tr>
		<th>
			<label>$i18n.getString('validation')</label>
		</th>
	</tr>
	<tr>
		<td>
			<select id='leftStage' name='leftStage' onchange="getLeftPrgramStageDataElements();" style='width:320px;'>
				<option value=''>[$i18n.getString( "please_select_program_stage" )]</option>
				#foreach($stage in $program.programStages)
				<option value='$stage.id'>$stage.name</option>
				#end
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select id='leftSideDE' name='leftSideDE' size='7' ondblclick="insertDataElement(this, 'leftSide', 'leftStageDescription');" style='width:320px;'>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<input type='button' value="+" title="$i18n.getString( 'plus' )" onclick='insertOperator( "leftStageDescription", "leftSide", "+" );' class="small-button" >
			&nbsp;&nbsp;
			<input type='button' value="<" title="$i18n.getString( 'less_then' )" onclick='insertOperator( "leftStageDescription", "leftSide", "<" );' class="small-button" />
			<input type='button' value="<=" title="$i18n.getString( 'less_then_or_equal_to' )" onclick='insertOperator( "leftStageDescription", "leftSide", "<=" );' class="small-button" />
			<input type='button' value=">" title="$i18n.getString( 'greater_then' )" onclick='insertOperator( "leftStageDescription", "leftSide", ">" );' class="small-button" />
			<input type='button' value=">=" title="$i18n.getString( 'greater_then_or_equal_to' )" onclick='insertOperator( "leftStageDescription", "leftSide", ">=" );' class="small-button" />
			<input type='button' value="=" title="$i18n.getString( 'equals_to' )" onclick='insertOperator( "leftStageDescription", "leftSide", "==" );' class="small-button" />
			<input type='button' value="!=" title="$i18n.getString( 'diff_from' )" onclick='insertOperator( "leftStageDescription", "leftSide", "!=" );' class="small-button"/>
			<input type='button' value="!=NULL" title="$i18n.getString( 'not_null' )" onclick='insertOperator( "leftStageDescription", "leftSide", "=={NOT-NULL-VALUE}" );' class="nornal-button" />
			&nbsp;&nbsp;
			<input type='button' value="$i18n.getString( 'clear' )" title="$i18n.getString( 'clear' )" align='right'  onclick="clearValidation( 'leftSide', 'leftStageDescription' )" style="width:45px;" />
		</td>
	</tr>
	<tr>	
		<td>
			<textarea rows='5' id='leftSide' name='leftSide' class="{validate:{required:true,minlength:4}}" onkeyup="getValidationDescription('leftStageDescription', 'leftSide')" style='width:320px;'></textarea>
			<input type='hidden' id='rightSide' name='rightSide' value='1==1'>
		</td>
	</tr>
	<tr>	
		<td>
			<fieldset>
				<legend>$i18n.getString( "description" )</legend>
				<div id='leftStageDescription' style='width:320px;'></div>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<input type='submit' value="$i18n.getString( 'add' )" >
			<input type='button' value="$i18n.getString( 'cancel' )" onclick="window.location.href='programValidation.action?programId=$program.id'">
		</td>
	</tr>
</table>
