<script>
			
    var holdFocus;
    var intType = '$intType';
    var stringType = '$stringType';
    var dateType = '$dateType';
    var boolType = '$boolType';
    var tableRowCount = 0;
    var programstageDEisMul;
    var programstageDEdatatype;
	var i18n_specify_dataelememt = '$encoder.jsEscape( $i18n.getString( "specify_dataelememt" ) , "'") ';
    var onsubmit = true;
    jQuery(document).ready(	function(){
		
		jQuery.metadata.setType( "attr", "data" );
        getProgramStages();
		
		validation( 'caseAggFrom', function(form){
			if(onsubmit){
				form.submit();
			}
		}, function(){
			if( $('#aggde').val() == null){
				setHeaderMessage(i18n_specify_dataelememt);
				$( '#aggde' ).focus();
				$( '#aggde' ).css( "background-color", "#ffc5c5" );
				onsubmit = false;
			}			
		}); 
			
	});
	
</script>
<h3>$i18n.getString( "case_aggregation_mapping" )</h3>

<form id="caseAggFrom" action="saveCaseAggMapping.action" method="post">

<table>
    <tr valign="top">
        <td>
            
            <table>             
                <tr>
                    <td> $i18n.getString( "dataelement_group_list" )<br>
                        <select id="degroup" name="degroup" style="width:325px" onchange="getAggDataElements()">
                            #foreach( $dataElementGroup in $dataElementGroups )
                            <option value="$dataElementGroup.id">$encoder.htmlEncode( $dataElementGroup.name )</option>
							#end
                        </select>
                        <br/><br/>
                        $i18n.getString( "dataelement_list" )<br>
                        <select id="aggde" name="aggde" style="width:325px" onchange="getCaseAggExpression()">
                        </select>
                    </td>           
                </tr>
                <tr>
                    <td>&nbsp;</td>         
                </tr>
                <tr>
                    <td>
                        $i18n.getString( "program_list" )<br>
                        <select id="program" name="program" style="width:325px" onchange="getProgramStages()">
							#foreach( $program in $programs )
							<option value="$program.id">$encoder.htmlEncode( $program.name )</option>
							#end
                        </select>
                        <br/><br/>
                        $i18n.getString( "program_stage_list" )<br>
                        <select id="programstage" name="programstage" style="width:325px" onchange="getPrgramStageDataElements()">                        
                        </select>
                        <br/><br/>
                        $i18n.getString( "program_stage_de_list" )<br>
                        <select id="programstageDE" name="programstageDE" size="5" style="width:325px" ondblclick="displayPSDEInfo()">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>         
                </tr>                   
                <tr>                    
                    <td>    
                        <table>
                            <tr>    
                                <td>
                                    $i18n.getString( "case_properties" )<br>
                                    <select id="caseProperty" name="caseProperty" size="5" style="width:100px" ondblclick="displayCPInfo()">
                                        <option value="[CP:gender]">$i18n.getString( "gender" )</option>
                                        <option value="[CP:dob]">$i18n.getString( "dob" )</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    $i18n.getString( "case_attributes" )<br>
                                    <select id="caseAttribute" name="caseAttribute" size="5" style="width:205px" ondblclick="displayCAInfo()">
                                    #foreach( $patientAttribute in $patientAttributes )
                                        <option value="[CA:$patientAttribute.id]">$encoder.htmlEncode( $patientAttribute.name )</option>
                                    #end                            
                                    </select>
                                </td>
                            </tr>
                        </table>            
                    </td>
                </tr>
            </table>            
        </td>
        <td>&nbsp;</td>
        <td>            
            $i18n.getString( "expression" )<br>
            <textarea id="expression" name="expression" style="width:415px; height:5em"></textarea> 
            <br><input type="button" onclick="getTableFromQuery()" value="Generate"/><br>
            <input type="radio" id="csRadio0" name="csRadio" value="countRadio" onclick="" checked> $i18n.getString( "count" )
            &nbsp;&nbsp;&nbsp;
            <input type="radio" id="csRadio1" name="csRadio" value="sumRadio" onclick="" > $i18n.getString( "sum" )
            <br>                
            
            <div id="expressionTable" ><!--style="overflow: auto; height: 280px; width: 455px;"-->  
            <table id="tblGrid">
                <tr>
                    <th width="30%">$i18n.getString( "left_expression" )</th>                   
                    <th width="20%">$i18n.getString( "operator" )</th>
                    <th width="30%">$i18n.getString( "right_expression" )</th>
                    <th width="15%">$i18n.getString( "and_or" )</th>
                    <th width="5%">&nbsp;</th>
                </tr>
                <tr>
                    <td><input type="text" id="le0" name="le0" data="{pos:'left'}" onfocus="updateFocus(this)"></td>                    
                    <td>
                        <select id="operator0" name="operator0">
                            <!--0--><option value="NA">$i18n.getString( "select" )</option>
                            <!--1--><option value="<">&lt;</option>
                            <!--2--><option value=">">&gt;</option>
                            <!--3--><option value="<=">&le;</option>
                            <!--4--><option value=">=">&ge;</option>
                            <!--5--><option value="=">=</option>
                            <!--6--><option value="!=">!=</option>
                            <!--7--><option value="in">IN</option>
                            <!--8--><option value="diff">DIFF</option>
                        </select>
                    </td>
                    <td><input type="text" id="re0" name="re0" data="{pos:'right'}" onfocus="updateFocus(this)"></td>
                    <td>
                        <select id="andor0" name="andor0" onchange="addNewRow()">
                            <option value="NA">$i18n.getString( "select" )</option>
                            <option value="AND">$i18n.getString( "AND" )</option>
                            <option value="OR">$i18n.getString( "OR" )</option>
                        </select>                       
                    </td>
                    <td>
                        <a href="#Delete table row" onclick="removeRecord(this,0)" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
                    </td>                   
                </tr>
                
            </table>
            </div>  
            
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>   
    <tr>
        <td colspan="3">
            <input type="submit" value="Save">&nbsp;&nbsp;
            <input type="button" value="Test" onclick="prepareExpression()">&nbsp;&nbsp;
            <input type="button" value="Cancel">&nbsp;&nbsp;
            <input type="hidden" name="delRecTB" id="delRecTB">
        </td>       
    </tr>
            
</table>

</form>
<div id="multiple_option_combo_id" style="display: none;z-index:99;
                border-top:0; border-left:0; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;
                position: absolute; max-height: 150px ">
            <select id="multiple_option_combo_id_box" multiple="multiple" style="min-width: 150px; z-index:99;">
                <option>None</option>
            </select>
            <div align="center">
                <input type="button" value="Select" onclick="select_click()"/>
            </div>
</div>

<script>
	getAggDataElements();
</script>

