<script>
	jQuery(document).ready(
		function()
		{
			validation( 'configurationParamsForm', function(form){ form.submit() })
		}
	);
	
	var i18n_save_successfull = '$encoder.jsEscape( $i18n.getString( "save_successfull" ) , "'" )';
</script>

<h3>$i18n.getString('configuration')</h3>
<form id="configurationParamsForm" action="saveConfiguration.action" method="post">
<table>
	<tr>
		<td>$i18n.getString('patient_xml_template_file')</td>		
	</tr>
	<tr>
		<td><input type="text" id="fileName" name="fileName" style="width:400px" value="$!fileName" class="{validate:{required:true}}"/></td>
	</tr>
	<tr>		
		<td><input type="button" value="$i18n.getString('ok')" style="width:150px" onclick="saveConfiguration();"/>
			<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location='administration.action'" style="width:150px">
		</td>
	</tr>
</table>
</form>

