<h3>$i18n.getString('import_data')</h3>
<form name="importingParam" id="importingParam" action="importPatient.action" method="post" enctype="multipart/form-data">   

<table width="62%">
 <tr>
     <td width="18%" style=" width:25% ">$i18n.getString( 'excel_file' )</td>
      <td width="82%">
          <input type="file" id="upload" name="upload" onChange="enable('uploadButton');"/>
          <input name="uploadButton" id="uploadButton" type="button" value="$i18n.getString( 'upload' )" onclick='validateUploadExcelFile();' />    
	  </td>   
  </tr>
</table>
</form>
<hr/>
