<h3>$i18n.getString( "dhis-web-maintenance-patient" )</h3>

<ul class="introList">
    #introListImgItem( "attribute.action" "attribute" "patient" )
    #introListImgItem( "attributeVisitSchedule.action" "attribute_visit_schedule" "patient" )
    #introListImgItem( "attributeGroup.action" "tracked_entity_attribute_group" "patient" )
    #introListImgItem( "relationshipType.action" "relationship_type" "patient" )
    #introListImgItem( "trackedEntityForm.action" "tracked_entity_form" "pivottable" )
    #introListImgItem( "program.action" "program" "program" )
    #introListImgItem( "caseAggregation.action" "aggregation_query_builder" "caseaggregationmapping" )
	
	#if( $auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduleTasks" ) )
		#introListImgItem( "viewScheduleTasks.action" "schedule_automated_message_reminder" "scheduling" )
	#end
	#if($auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduledCaseAggCondTasks" ) )
		#introListImgItem( "viewScheduledCaseAggCondTasks.action" "schedule_automated_aggregation" "scheduling" )
	#end
	
</ul>