#parse( "/dhis-web-maintenance-patient/patient.vm" )

<table>
	<tr>
		<td>$i18n.getString( "search_result_matching_the_search_criteria" )</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$i18n.getString( $searchText )</td>
	</tr>	
</table>
 
<table class="mainPageTable">
  	
  <tr>
    <td style="vertical-align:top">    
      <table class="listTable">                   
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col width="20">
          <col width="20">
          <col width="20">
          <col width="20">
          <col width="20">
          <col width="20">    
          <thead>
		  <tr>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		  	<td colspan="6" style="text-align:right">			
				<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='patient.action'" style="width:10em">
			</td>
          <tr>
            <th>$i18n.getString( "first_name" )</th>
            <th>$i18n.getString( "middle_name" )</th>
            <th>$i18n.getString( "last_name" )</th>            
            <th>$i18n.getString( "gender" )</th>
            <th>$i18n.getString( "date_of_birth" )</th> 
            <th>$i18n.getString( "age" )</th>
            <th colspan="6" style="text-align:center">$i18n.getString( "operations" )</th>
          </tr>
          </thead>
          <tbody id="list">	
        
          #foreach( $patient in $patients )
          	<tr>
				<td onclick="showPatientDetails( $patient.id )">			
					$encoder.htmlEncode( $patient.firstName )
				</td>
				<td onclick="showPatientDetails( $patient.id )">			
					$encoder.htmlEncode( $patient.middleName )
				</td>
				<td onclick="showPatientDetails( $patient.id )">			
					$encoder.htmlEncode( $patient.lastName )
				</td>				
				<td>			
					$encoder.htmlEncode( $patient.gender )
				</td>
				<td>			
					$format.formatDate( $patient.birthDate )
				</td>
				<td>            
                    $encoder.htmlEncode( $patient.getAge() )
                </td>
				
				<td style="text-align:center">
                  <a href="showProgramEnrollmentForm.action?id=$patient.id" title="$i18n.getString( "manage_program_enrollment" )"><img src="../images/enroll.png" alt="$i18n.getString( "manage_program_enrollment" )"></a>                  
                </td>                
                <td style="text-align:center">                  
                  <a href="showUpdatePatientForm.action?id=$patient.id" title="$i18n.getString( "edit_profile" )"><img src="../images/edit.png" alt="$i18n.getString( "edit_profile" )"></a>
                </td>
                
                <td style="text-align:center">
                  <a href="showUpdatePatientAttributeValueForm.action?id=$patient.id" title="$i18n.getString( "edit_attribute_values" )"><img src="../images/attribute.png" alt="$i18n.getString( "edit_attribute_values" )"></a>
                </td>
                
                <td style="text-align:center">                  
                  <a href="showRelationshipList.action?id=$patient.id" title="$i18n.getString( "manage_relationship" )"><img src="../images/relationship.png" alt="$i18n.getString( "manage_relationship" )"></a>
                </td>                                
 
                <td style="text-align:center">
                  <a href="javascript:removePatient( '$patient.id', '$encoder.jsEncode( $patient.getFullName() )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
                </td>            
                
                <td style="text-align:center">
                  <a href="javascript:showPatientDetails( $patient.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
                </td>
				
			</tr>
    	#end
    	</tbody>
    
	 </table>
    </td>
		<td style="width:20em; padding-left:2em; vertical-align:top">
			<div id="detailsArea" style="display:none">
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
				</div>			    
				<p><label>$i18n.getString( "identifier" ):</label><br><span id="identifierField"></span></p>				    
				<p><label>$i18n.getString( "attributes" ):</label><br><span id="attributeField"></span></p>
				<p><label>$i18n.getString( "enrolled_in_program" ):</label><br><span id="programField"></span></p>
			</div>

		</td>
  </tr>
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_patient" ) , "'" )';
	var i18n_adding_patient_failed = '$encoder.jsEscape( $i18n.getString( "adding_patient_failed" ), "'")';
	var i18n_updating_patient_failed = '$encoder.jsEscape( $i18n.getString( "updating_patient_failed" ), "'")';	
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
</script>

