<tr id="tr${validation.id}">
  <td>$validation.description</td>
  <td>[$validation.leftProgramStageDataElement.programStage.name.$validation.leftProgramStageDataElement.dataElement.name] 
	#if($validation.operator == '-1') <
	#elseif($validation.operator == '0') =
	#else >
	#end
  [$validation.rightProgramStageDataElement.programStage.name.$validation.rightProgramStageDataElement.dataElement.name]</td>
  <td>                  
	<a href="javascript:removeProgramStageDEValidation( '$validation.id', '$encoder.htmlEncode( $validation.description )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
  </td>
</tr>