
<h2><a href="index.action">$i18n.getString( "paitents_and_programs" )&nbsp;</a></h2>
<ul>
	<li><a href="patient.action">$i18n.getString( "patient" )&nbsp;</a></li>		
	<li><a href="patientAttribute.action">$i18n.getString( "patient_attribute" )&nbsp;</a></li>
	<li><a href="relationshipType.action">$i18n.getString( "relationship_type" )&nbsp;</a></li>
	<li><a href="program.action">$i18n.getString( "program" )&nbsp;</a></li>
</ul>

<br>

