<table>
		
	<tr>
		<td><label>$i18n.getString( "registering_unit" )</label></td>
		<td><input type="text" readonly="readonly" value="$encoder.htmlEncode( $organisationUnit.name )" style="min-width:22em"></td>
		<td>&nbsp;</td>
		<td><input type="button" id='listAllPatientsBtn' value="$i18n.getString( 'list_all_patients' )" onclick="loadAllPatients();"></td>
	</tr>
	
	<tr>
		<td></td>
		<td><i><span id='warnmessage' style='color: red;'></span></i> </td>
	</tr>

</table>

<hr style="clear:both">
	
<table>	
	<tr>	       
		<td>
		  <select id="searchingAttributeId" name="searchingAttributeId" style="min-width:20.2em"  #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchingAttributeOnChange()">
			<option value="">$i18n.getString( "search_by_name_identifier" )</option>
			<option value="0" #if( $!searchingAttributeId && $!searchingAttributeId=='0' ) selected="selected" #end>$i18n.getString( "search_by_program" )</option>
				#foreach( $attribute in $patientAttributes )
					<option value="$attribute.id" #if( $!searchingAttributeId && $!attribute.id == $!searchingAttributeId ) selected="selected" #end>$encoder.htmlEncode( $attribute.name )</option>
				#end
		  </select> 
		  <em title="$i18n.getString( "required" )" class="required">*</em></label>
		</td>		
		<td>
			<input type="text" id="searchText" name="searchText" maxlength="30" style="width:20em" value="$!searchText">
			
			<select id="programId" name='programId' style="display:none; width:20.2em" >
				<option value="">[ $i18n.getString('select_program') ]</option>
				#foreach ( $p in $programs )
					<option value="$p.id" #if( $!program && $!p.id == $!program.id ) selected="selected" #end>$p.name</option>
				#end
			</select>
			
		</td>		
		<td><input type="button" value='$i18n.getString( "search" )' onclick='searchPatients();'></td>
		<td>&nbsp;</td>
		<td><input type="button" value='$i18n.getString( "add_new" )' onclick="window.location.href='showAddPatientForm.action'"></td>
		
	</tr>
	
	<tr>
		<td></td>
		<td>
		<select id="sortPatientAttributeId" name="sortPatientAttributeId" maxlength="30" style="width:20.2em" onchange="validateSearchPatient()">
				<option value="">[ $i18n.getString( "sort_by" ) ]</option>
				#foreach( $patientAttribute in $patientAttributes )
					<option value="$patientAttribute.id" #if( $!sortPatientAttributeId && $!patientAttribute.id == $!sortPatientAttributeId ) selected="selected" #end>$encoder.htmlEncode( $patientAttribute.name )</option>
				#end
			</select>
		</td>
	</tr>
	
</table>

<p></p>
<p></p>
<p></p>

<script type="text/javascript">
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
</script>