<div id='identifierTypeList'>
	#parse( "/dhis-web-maintenance-patient/listPatientIdentifierType.vm" )
</div>

#parse( "/dhis-web-commons/loader/loader.vm" )

<div id='editIdentifierTypeForm'></div>
<p></p>


<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_patientIdentifierType" ) , "'" )';
	var i18n_adding_program_failed = '$encoder.jsEscape( $i18n.getString( "adding_patientIdentifierType_failed" ), "'")';
	var i18n_updating_program_failed = '$encoder.jsEscape( $i18n.getString( "updating_patientIdentifierType_failed" ), "'")';	
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
</script>
