<script>
	jQuery( function(){
		addShowDetail( "a.details", 400, function( json ){
			html = "<label>$i18n.getString( 'id' ):</label><span> " + json.id + "</span><br>";
			html += "<label>$i18n.getString( 'name' ):</label><span> " + json.name + "</span><br>";
			html += "<label>$i18n.getString( 'description' ):</label><span> " + json.description + "</span><br>";
			html += "<label>$i18n.getString( 'program_stage_count' ):</label><span> " + json.programStageCount + "</span>";
			
			return html;
		}, 'json');
	});
</script>

<h3>$i18n.getString( "program_management" )</h3>

<table class="listTable">
  <col>          
  <col width="20">
  <col width="20">
  <col width="20">     
  <col width="20">
  <col width="20">
  <col width="20">
  <col width="20">	     		  
  <tr>
	<td></td>
	<td colspan="7" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddProgramForm.action'" style="width:70px"></td>
  </tr>
  <tr>            
	<th>$i18n.getString( "name" )</th>
	<th colspan="7">$i18n.getString( "operations" )</th>
  </tr>

  <tbody id="list">
	#foreach( $program in $programs )
	  <tr id="tr${program.id}">
	  
		<td>$encoder.htmlEncode( $program.name )</td>                
		
		<td style="text-align:center" #alternate( $mark )>
		  <a href="defineProgramAssociationsForm.action?id=$program.id" title="$i18n.getString( "define_associations" )"><img src="../images/assign.png" alt="$i18n.getString( "define_associations" )"></a>
		</td>
		
		<td style="text-align:center" #alternate( $mark )>
		  <a href="defineValidationDEAssociationsForm.action?id=$program.id" title="$i18n.getString( "validationDE_associations" )"><img src="../images/assign_b.png" alt="$i18n.getString( "validationDE_associations" )"></a>
		</td>
		
		<td style="text-align:center" #alternate( $mark )>
		  <a href="showUpdateProgramForm.action?id=$program.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
		</td>
		
		<td style="text-align:center" #alternate( $mark )>
		  <a href="programStage.action?id=$program.id" title="$i18n.getString( "view_stage_management" )"><img src="../images/add_section.png" alt="$i18n.getString( "view_stage_management" )"></a>
		</td>                

		<td style="text-align:center" #alternate( $mark )>
		  <a href="javascript:removeProgram( '$program.id', '$encoder.jsEncode( $program.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
		</td>            
		
		<td style="text-align:center" #alternate( $mark )>				
		  <a class="details" rel="getProgram.action?id=$program.id" href="getProgram.action?id=$program.id" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
		</td>
		
	  </tr>
	#end

  </tbody>

</table>


<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_prorgam" ) , "'" )';
	var i18n_adding_program_failed = '$encoder.jsEscape( $i18n.getString( "adding_program_failed" ), "'")';
	var i18n_updating_program_failed = '$encoder.jsEscape( $i18n.getString( "updating_program_failed" ), "'")';	
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';	
</script>
