<div id='relationshipTypeList'>
	#parse( "/dhis-web-maintenance-patient/relationshipTypeList.vm" )
</div>

#parse( "/dhis-web-commons/loader/loader.vm" )

<div id='editRelationshipTypeForm'></div>
<p></p>

<span id='message'></span>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_relationship_type" ) , "'" )';
	var i18n_adding_relationship_type_failed = '$encoder.jsEscape( $i18n.getString( "adding_relationshipt_type_failed" ), "'")';	
</script>
