<patientIdentifierType>
  <id>$patientIdentifierType.id</id>
  <name>$encoder.xmlEncode( $patientIdentifierType.name )</name>
  <description>$encoder.xmlEncode( $patientIdentifierType.description )</description>  
  <mandatory>$patientIdentifierType.mandatory</mandatory>  
  <related>$patientIdentifierType.related</related>  
  <noChars>$!patientIdentifierType.noChars</noChars>  
  <type>$patientIdentifierType.type</type>  
</patientIdentifierType>