<?xml version="1.0" encoding="UTF-8"?>
<program>
  <id>$program.id</id>
  <name>$encoder.xmlEncode( $program.name )</name>
  <description>$encoder.xmlEncode( $program.description )</description>  
  <programStageCount>$program.programStages.size()</programStageCount>   
</program>