<?xml version="1.0" encoding="UTF-8"?>
<patientIdentifierType>
  <id>$patientIdentifierType.id</id>
  <name>$encoder.xmlEncode( $patientIdentifierType.name )</name>
  <description>$encoder.xmlEncode( $patientIdentifierType.description )</description>  
</patientIdentifierType>