<?xml version="1.0" encoding="UTF-8"?>
<partner> 
  <partnerIsRepresentative>$partnerIsRepresentative</partnerIsRepresentative>
  <id>$partner.id</id>  
  <fullName>$encoder.xmlEncode( $partner.getFullName() )</fullName>
  <gender>$encoder.xmlEncode( $partner.gender )</gender>
  <dateOfBirth>$format.formatDate( $partner.birthDate )</dateOfBirth>
  <age>$encoder.xmlEncode( $partner.getAge() )</age>
  #foreach( $patientIdentifier in $partner.identifiers )
    <identifier>        
        <identifierText>$encoder.xmlEncode( $patientIdentifier.identifier )</identifierText>
     </identifier>
  #end
  #foreach( $attribute in $partner.attributes )
    #set( $attributeValue = false )
    #set( $attributeValue = $patientAttributeValueMap.get( $attribute.id ) )             
    <attribute>
        <name>$encoder.xmlEncode( $attribute.name )</name>
        <value>$encoder.xmlEncode( $attributeValue )</value>
    </attribute> 
  #end  
  #foreach( $program in $partner.programs )
    <program>
        <name>$encoder.xmlEncode( $program.name )</name>
    </program> 
  #end         
</partner>

