<h3>$i18n.getString( "patient_management" )</h3>

<form id="selectPatient" name="selectPatient" method="post" action="patient.action">

	<div id='selectPatientDiv'>
		<table>
			
			<tr>
				<td><label>$i18n.getString( "registering_unit" )</label></td>
				<td><input type="text" id='selectedOrgunitText' readonly="readonly" value="[$i18n.getString( 'please_select_village' )]" style="min-width:22em"></td>
				<td>&nbsp;</td>
				<td><input type="button" id='listAllPatientsBtn' value="$i18n.getString( 'list_all_patients' )" disabled></td>
			</tr>
			
			<tr>
				<td></td>
				<td><i><span id='warnmessage' style='color: red;'></span></i> </td>
			</tr>

		</table>

		<hr style="clear:both">
	</div>

	<div id='patientListDiv'></div>

</form>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id='contentDiv'></div>

<script>
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
	var i18n_can_not_register_patient_for_orgunit = '$encoder.jsEscape( $i18n.getString( "can_not_register_patient_for_orgunit" ), "'")';	
	var i18n_please_select_village = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_village" ), "'")' + ']';
</script>