<h3>$i18n.getString( "patient_management" )</h3>

<form id="selectPatient" name="selectPatient" method="post" action="patient.action">

<table>
	
	<tr>
		<td><label>$i18n.getString( "registering_unit" )</label></td>
		<td><input type="text" readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( "please_select_village" )]" #end style="min-width:350px"> </td>
	</tr>
	
	<tr>
		<td></td>
		<td> <span class='warnmessage'> $i18n.getString( $!message ) </span> </td>
	</tr>

</table>

</form>

<hr style="clear:both">
