
<html> 
<head> 
<title>$i18n.getString( "selectdataelement" )</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="../dhis-web-commons/util/jquery.js"></script>
<script type="text/javascript" src="../dhis-web-commons/util/jquery.metadata.js"></script>
<script type="text/javascript" src="javascript/ajaxUtil.js"></script>


<script>
// -----------------------------------------------------------------------------
// Get DataElement  of a selected ProgramStage
// -----------------------------------------------------------------------------

function getDataElements()
{
  var request = new Request();
  request.setResponseTypeXML( 'programStage' );
  request.setCallbackSuccess( getDataElementsCompleted );
  
  var programStageSelector = document.getElementById( 'programStageSelector' );
  var programStageId = programStageSelector.options[programStageSelector.selectedIndex].value;
  
  // Clear the dataElement list
  var dataElementSelector = document.getElementById( 'dataElementSelector' );
  dataElementSelector.options.length = 0;
  
  // Clear the OptionCombo list
  var optionComboList = document.getElementById( 'optionComboSelector' );
  optionComboList.options.length = 0;

  var requestString = 'getSelectedDataElements.action';
  
  var params = 'associationId=' + programStageId;  
          
  request.sendAsPost( params );
  request.send( requestString );

  return false;
}

function getDataElementsCompleted( dataElementResponse )
{
  var dataElements = dataElementResponse.getElementsByTagName( 'dataElements' )[0];
  var dataElementList = dataElements.getElementsByTagName( 'dataElement' );

  var dataElementSelector = document.getElementById( 'dataElementSelector' );
  
  for ( var i = 0; i < dataElementList.length; i++ )
  {
   
	var dataElement = dataElementList[i];
    var name = dataElement.firstChild.nodeValue;
    var id = dataElement.getAttribute( 'id' );	
    var shortName = dataElement.getAttribute( 'shortName' );
    var type = dataElement.getAttribute( 'type' );
	var option = new Option( name, id );
	jQuery(option).attr({data:"{name:\""+name+"\", shortName:\""+shortName+"\", type:\""+type+"\"}"});
	dataElementSelector.add( option, null );
  }
  
  var messageContainer = document.getElementById('message');
  if( dataElementList.length <=0 )
  {
  	messageContainer.innerHTML = "$i18n.getString( "no_more_elements_to_select" )";  	
  	window.parent.SetOkButton( false ) ;
  }
  else
  {
  	messageContainer.innerHTML = " ";  	
  	window.parent.SetOkButton( true ) ;
  }
}

// -----------------------------------------------------------------------------
// Get OptionCombos of a selected DataElement
// -----------------------------------------------------------------------------
function getOptionCombos()
{
  var request = new Request();
  request.setResponseTypeXML( 'optionCombo' );
  request.setCallbackSuccess( getOptionCombosCompleted );
  
  var dataElementSelector = document.getElementById( 'dataElementSelector' );
  var dataElementId = dataElementSelector.options[dataElementSelector.selectedIndex].value;
  
  // Clear the OptionCombo list
  var optionComboList = document.getElementById( 'optionComboSelector' );
  optionComboList.options.length = 0;

  var requestString = 'getOptionCombos.action';
  
  var params = 'dataElementId=' + dataElementId;  
          
  request.sendAsPost( params );
  request.send( requestString );

  return false;
}

function getOptionCombosCompleted( optionComboElement )
{
  var categoryOptions = optionComboElement.getElementsByTagName( 'categoryOptions' )[0];
  var optionsList = optionComboElement.getElementsByTagName( 'categoryOption' );

  var optionComboSelector = document.getElementById( 'optionComboSelector' );
  
  for ( var i = 0; i < optionsList.length; i++ )
  {
    var categoryOption = optionsList[i];
    var name = categoryOption.firstChild.nodeValue;
    var id = categoryOption.getAttribute( 'id' );	
		
	var option = new Option( name, id );
	if( name = "default" ) option.selected =true;
    optionComboSelector.add( option, null );
  }
  
  var messageContainer = document.getElementById('message');
  if( (optionsList.length ==1 &&  optionsList[0]=="NULL") || (optionsList.length ==0) )
  {
  	messageContainer.innerHTML = "$i18n.getString( "no_more_categories_to_select" )";  	
  	//window.parent.SetOkButton( false ) ;
  }
  else
  {
  	messageContainer.innerHTML = " ";  	
  	window.parent.SetOkButton( true ) ;
  }
}

</script>

<script type="text/javascript"> 
	var oEditor = window.parent.InnerDialogLoaded(); 
	var FCK = oEditor.FCK;
	var FCKConfig = oEditor.FCKConfig; 
	var FCKSelectProgramStageElement = oEditor.FCKSelectProgramStageElement; 
	
	var htmlCode = "";
	
	function onloadFunction()
	{ 
		htmlCode = FCK.GetXHTML( FCKConfig.FormatSource );
		
	} 

	
	function Ok() 
	{ 
		var programStageSelector = document.getElementById( 'programStageSelector' );
		var dataElementSelector = document.getElementById( 'dataElementSelector' );
	  	var optionComboSelector = document.getElementById( 'optionComboSelector' );
       
	    var selectedOptionComboIds = new Array();
	    var selectedOptionComboNames = new Array();
	    var count = 0;
	      	
        if( (dataElementSelector.selectedIndex < 0) || (optionComboSelector.selectedIndex < 0) ) 
        {
        	alert("Please select all options (DataElement / OptionCombo)");
        	return false;
        }
	  	
	  	var programStageId = programStageSelector.options[programStageSelector.selectedIndex].value;
	  	
  		var selectedDataElement = dataElementSelector.options[dataElementSelector.selectedIndex];
  		var data = jQuery( selectedDataElement ).metadata({type:'attr',name:'data'});
   		var dataElementId = selectedDataElement.value;
		var dataElementName = data.name;
        var dataElementShortName = data.shortName;
        var dataElementType = data.type;
        
        for( k=0; k < optionComboSelector.options.length; k++ )
    	{
    		if( optionComboSelector.options[k].selected )
    		{
    			selectedOptionComboIds[count] = optionComboSelector.options[k].value;
    			selectedOptionComboNames[count] = optionComboSelector.options[k].text;
    			count++;
    		}
        } // for loop end
        
        var viewBy = document.getElementById( 'viewBySelector' );
        var viewByValue = viewBy.options[viewBy.selectedIndex].value;
        
        
        if(viewByValue == "deid")
        	dispName = "[ "+dataElementId;
        else if(viewByValue == "deshortname")
        	dispName = "[ "+dataElementShortName;
        else
           	dispName = "[ "+dataElementName;
           	
        //var titleValue = "-- "+dataElementId + ". "+ dataElementName+" "+optionComboId+". "+optionComboName+" ("+dataElementType+") --";   	
		//var dataEntryId = "value[" + dataElementId + "].value:value[" + optionComboId + "].value";
        FCKSelectProgramStageElement.Add( programStageId, dataElementId, dataElementName, dataElementType, dispName, viewByValue, selectedOptionComboIds, selectedOptionComboNames);
		// dataElementId, dataElementName, dataElementType, dispName, viewByValue, selectedOptionComboIds, selectedOptionComboNames
		return false ; 
	}		
</script>
<style type="text/css">
h4 {
	font-family: arial, sans-serif;
	font-size: 12px;
	margin: 15px 0 5px 0;
	}
</style>
</head>
<body onload="onloadFunction()">
	<table border="0" cellpadding="0" cellspacing="5" style="border-collapse: collapse" width="100%">
		<tr>
			<td>
				<h4>$i18n.getString( "selectprogramstage" )</h4>
				<select name="programStageSelector" id="programStageSelector" onchange="getDataElements()" style="width:300px;height:150px" multiple>
					#if ( !$programStages || $programStages.size() == 0 )
						<option value=""> $i18n.getString( "no_programStage_available" ) </option>
					#else 
						#foreach ( $programStage in $programStages )
							<option value="$programStage.id">  $i18n.getString( $programStage.name )  </option>
						#end
					#end
					
				</select>
				<div id="message" name="message">&nbsp;</div>
			</td>
			<td id="dataElementSelectorContainer">
				<h4>$i18n.getString( "selectdataelement" )</h4>
				<select name="dataElementSelector" id="dataElementSelector" onchange="getOptionCombos()" style="width:300px;height:150px" multiple>
				</select>
				<div id="message" name="message">&nbsp;</div>
			</td>
			<td>
				<h4>$i18n.getString( "select_optioncombo" )</h4>
				<select name="optionComboSelector" id="optionComboSelector" style="width:300px;height:150px" multiple>
				</select>
				<div id="message" name="message">&nbsp;</div>
			</td>
		</tr>						
		<tr>
			<td style="height:20px" colspan="3"></td>
		</tr>
		<tr>
		<td>
			<h4>$i18n.getString( "view_as" )</h4>
			<select name="viewBySelector" id="viewBySelector" style="width:150px">		
				<option value="deid">$i18n.getString( "id" )</option>
				<option value="dename">$i18n.getString( "name" )</option>
				<option value="deshortname" selected>$i18n.getString( "short_name" )</option> 	
			</select>
		</td>
		<td></td>
	</tr>		
		
		<input type="hidden" name="programStageId" id="programStageId" value="" />
</body>
</html>
