<div id='validationCriteriaList'>
	#parse( "/dhis-web-maintenance-patient/validationCriteriaList.vm" )
</div>

#parse( "/dhis-web-commons/loader/loader.vm" )

<div id='editValidationCriteriaForm'></div>

<script>
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_validation_criteria" ) , "'" )';
	
	jQuery(document).ready(function(){	
		tableSorter( 'listTable' );
	});

</script>
