## Email account invite message 2 of 2
$object.i18n.getString( 'email_invite_2_1st_paragraph' ) ${object.rootPath}.
$object.i18n.getString( 'email_invite_2_2nd_paragraph' )


${object.code}


$object.i18n.getString( 'email_invite_2_3rd_paragraph' )
