## Email account recovery message 1 of 2
$object.i18n.getString( 'email_restore_1_1st_paragraph' ) ${object.rootPath}.
$object.i18n.getString( 'email_restore_1_2nd_paragraph' )


${object.restorePath}?username=${object.username}&token=${object.token}


$object.i18n.getString( 'email_restore_1_3rd_paragraph' )
